/*$Id$*/
html {
  
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height:1.2;
}
html,
body,
table tr td,
table tbody tr td a,
p {
  color: #000;
}
html, table {
  font-size: var(--fs-13);
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}
body {
	padding: 0px;
	margin: 0px;
	background: #fff;
}
table tbody tr td a {
	text-decoration: none;
}
*form {
	margin: 0px;
	border: none;
}
label {
	cursor: var(--sdpcursor-default);
}
fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	background-color: #fff;
}
fieldset legend {
	background-color: #5670A9;
	font-weight: bold;
	color: #fff;
	text-align: right;
	vertical-align: middle;
	text-decoration: none;
	padding: 2px 8px 5px 8px;
}
label input {
	margin-bottom: -2px;
}
.fontNormal {
	font-weight: normal !important;
}
.tableComponent td {
	color: #000;
	font-weight:normal;
}
.tableComponent a:link, .columnChooser a:link, .columnChooser a:visited {
	font-weight:normal;
}

.earlyNotification
{
background: #B94A48;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: var(--fs-10);
	font-weight: bold;
    margin-top: -3px;
    line-height:15px;
    padding: 1px 5px !important;
    float:left;
}
.earlyNotification
{
background: #B94A48;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    font-size: var(--fs-10);
	font-weight: bold;
    margin-top: -3px;
    line-height:15px;
    padding: 1px 5px !important;
    float:left;
}
.fontWhitebold, .fontwhiteBold, .fontWhiteBold {
	font-weight: bold;
	color: #fff
}
.formStyleDisabled, .formstyledisabled, .formStyledisabled {
	font-size: var(--fs-11);
	font-weight: normal;
	color: #999;
	background: #ECE9D8;
	border: 1px solid #aaa;
}
.TFDisabled, .tfdisabled {
	background: url('/images/form_field_bg.gif') repeat-x scroll 50% 0 #fff;
	border-color: #999 #C3C3C3 #DDD;
	border-style: solid;
	border-width: 1px;
	font-weight: normal;
	color: #000; 
}
.formStyle-dropdown {
	background: url('/images/form_field_bg.gif') repeat-x scroll 50% 0 #fff;
	border:1px solid #C3C3C3;
	height:22px;
}
td>.formStyle-dropdown {
	font-size: var(--fs-11);
	font-weight: normal;
}
.TFDisabled, .tfdisabled{
	height:22px;
}
.TFDisabled, .tfdisabled{
	height:auto;
	
}
input:focus, textarea:focus, select:focus {
	outline: 0;
}
.sumtab, .viewsCellheadingLink {
	font-weight: bold;
	display: block;
	width: 100%
}
.fontBlackBoldLink {
	font-weight: bold;
	color: #000;
	display: block;
	width: 90%
}
.mandatory, #ui-framework-design1 .mandatory 
{
	font-weight: bold;
	color: red
}
.fontHeader {
	font-size: var(--fs-16) !important;
	font-weight: bold;
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.fontHead #normaltext {
	font-size: var(--fs-11);
	font-weight: normal;
	color: #000
}
.hide {
	display: none!important
}
.whitebg , #whitebg {
	background-color: #fff !important;
	background: #fff !important;
}
.fontBigBold, .fontbigBold, .fontbigbold {
	font-size: var(--fs-14) !important;
	font-weight: bold;
}
.fontBigBold10 {
	font-size: var(--fs-11) !important;
	font-weight: bold;
}
.fontgray, .tableComponent .fontgray a,  .tableComponent .fontGray a, .fontGray {
	color: #999!important
}
.fontblue3 {
	color: #006697;
	font-size: var(--fs-10);
	font-weight: bold;
}
.fontblueh {
	color: #008ddd;
  	color:var(--link_tab_line_color, #008ddd);
	font-weight: bold;
	padding: 0px 5px;
	background: #ECF3F8;
	height: 22px;
}
.fntgrysmall {
	color: #929292;
}
.fontBoldBlack13 {
	font-size: var(--fs-14);
	font-weight: bold;
}
.fontBlueBold12 {
	font-size: var(--fs-13);
	font-weight: bold;
	color: #008ddd;
  	color:var(--link_tab_line_color, #008ddd);
}
.noteTxt1 {
	color: #e40000;
}
.noteTxt2 {
	color: #909090;
}
.notelabel1 {
	color: #fd6b00;
}
.bgWhite {
	background-color: #fff;
}
.bgGray-ecec {
	background-color: #ececec;
}
.bgGraye4e4 {
	background-color: #e4e4e4;
}
.mtop0 {
	margin-top: 0px;
}
.mtop1 {
	margin-top: 1px;
}
.mtop2 {
	margin-top: 2px;
}
.mtop3 {
	margin-top: 3px;
}
.mtop4 {
	margin-top: 4px;
}
.mtop5 {
	margin-top: 5px;
}
.mtop6 {
	margin-top: 6px;
}
.mtop7 {
	margin-top: 7px;
}
.mtop8 {
	margin-top: 8px;
}
.mtop9 {
	margin-top: 9px;
}
.mtop10 {
	margin-top: 10px;
}
.mtop12 {
	margin-top: 12px;
}
.mtop23 {
	margin-top: 23px;
}
.mtop25 {
	margin-top: 25px;
}
.ptop1 {
	padding-top: 2px;
}
.ptop2 {
	padding-top: 1px;
}
.ptop3 {
	padding-top: 3px;
}
.ptop4 {
	padding-top: 4px;
}
.ptop5 {
	padding-top: 5px!important;
}
.ptop6 {
	padding-top: 6px;
}
.ptop7 {
	padding-top: 7px;
}
.ptop8 {
	padding-top: 8px;
}
.ptop10 {
	padding-top: 10px!important;
}
.ptop11 {
	padding-top: 11px;
}
.ptop14 {
	padding-top: 14px;
}
.ptop15 {
	padding-top: 15px;
}
.mbottom4 {
	margin-bottom: 4px;
}
.mbottom5 {
	margin-bottom: 5px;
}
.mbottom8 {
	margin-bottom:8px;
}
.pbottom1 {
	padding-bottom: 1px;
}
.pbottom2 {
	padding-bottom: 2px;
}
.pbottom5 {
	padding-bottom: 5px;
}
.pbottom7 {
	padding-bottom: 7px;
}
.pbottom10 {
	padding-bottom: 10px !important;
}
.pbottom15 {
	padding-bottom:15px;
}
.p2px0px {
	padding: 2px 0px;
}
.p7px0px {
	padding: 7px 0px;
}
.p8px11px {
	padding: 8px 11px;
}
.p10px0px {
	padding: 10px 0px;
}
.p0px10px {
	padding: 0px 10px;
}
.p30px10px {
	padding: 30px 10px;
}
.p5px5px5px30px {
	padding: 5px 5px 5px 30px;
}
.lineh12 {
	line-height: 12px !important;
}
.lineh14 {
	line-height: 14px !important;
}
.lineh18 {
	line-height: 18px !important;
}
.lineh21 {
	line-height: 21px;
}
.lineh25 {
	line-height: 25px;
}
.noBorderBottom {
	border-bottom: none !important;
}
.noBorderTop {
	border-top: none !important;
}
.noBorderLeft {
	border-left: none !important;
}
.bgGrayLight {
	background: #E7E7E7;
}
.bgGrayLight2 {
	background: #ECF3F8;
}
.grayTxt {
	color: #6f6c6e;
}
.p10{
padding:10px;	
}
.ptop30{
	padding-top:42px;
}
.mbottom14{
	margin-bottom:14px;	
}
.p15px0 {
	padding:15px 0;	
}
.top-6 {
	top:-6px;       
}
.mtop-4 {
	margin-top:-4px;	
}
.mtop15 {
	margin-top:15px;	
}
.top-6 {
	top:-6px;	
}
.mtop10 {
	margin-top: 10px;
}
.mtop5 {
	margin-top: 5px;
}
.p0px20px {
	padding: 0px 20px;
}
.lineh29 {
	line-height: 29px;
}
.mtop5 {
	margin-top: 5px;
}
.ptop12 {
	padding-top: 12px;
}
.p0px16px {
	padding:0px 16px;
}
.mtop20 {
	margin-top:20px;
}
.mtop-7 {
    margin-top:-7px;
}
.mtop13 {
	margin-top: 13px;
}
.ptop17 {
	padding-top:17px;
}
.m5px0px {
	margin:5px 0px;
}
.m2px4px0px4px {
	margin:2px 4px 0px 4px;
}
.fontgray-4d {
	color:#4d4d4d;
}
.fontblue-214{
	color:#214FAD;
}
.ptop16{
	padding-top:16px!important;
}
.ptop5 {
	padding-top: 5px;
}
.p22px18px {
	padding: 22px 18px;
}
.pbottom3 {
	padding-bottom:3px;
}
.MsoNormal{
	margin:0;
}
.trouble-head{
	background: #122136;
}