/*$Id$*/
.stagetxt {
	background: #f5f5f5;
	width: 72px;
	float: right;
	height: 22px;
	line-height: 22px;
	text-align: center;
	text-transform: uppercase;
	border:solid 1px #fff;
}
.stagehdr {
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-14);
	font-weight: bold;
	text-decoration:none;
	text-transform:uppercase;
}
.tableComponent .listNormal2 {
	border-bottom: 1px solid #DBDBDB;
	padding: 7px 3px;
}
.stagests {
	font-weight: bold;
	cursor: var(--sdpcursor-pointer);
}
.stgacnnm {
	padding-top: 5px;
}
.fntbig11 {
	font-size: var(--fs-12);
	font-weight: normal;
}
.stgedit {
	color: #7f7f7f;
	font-size: var(--fs-12);
	font-weight: normal;
	padding-right: 22px;
}
.stgedit {
	background: url('/images/notesicn2.gif') no-repeat;
}
.stgedit:hover {
	color: #000;
}
.stsdefpaddbtnrow {
	padding: 8px 86px 10px 0px;
}
.stgedithdr {
	background: #3467a9;
	line-height: 25px;
	font-size: var(--fs-12);
	color: #fff;
	padding-right: 10px;
}
.stgeditboxbg {
	background: #FBFBFB;
}
.stgLabel {
	color: #214fad;
	font-size: var(--fs-12);
	font-weight: normal;
}
.chgmanager-icn {
	background: url('/images/chgmanager-icn.gif') no-repeat;
	width: 18px;
	height: 16px;
	border: 0;
	cursor: var(--sdpcursor-pointer);
}

.stgboxbg {
	background: #fbfbfb;
}
.sceditpos {
	float: right;
	margin: 0px 7px;
}
.convar {
	position: relative;
	top: -6px;
	right: 5px;
}
.stghdrbig {
	font-size: var(--fs-15);
	font-weight: bold;
	line-height:24px;
	color: #000;
	float: right;
}
.cnttabpn2txt {
	padding: 0px 0px 20px 20px;
	line-height: 20px;
	font-size: var(--fs-12);
}
.shdbgblgrd {
	background:#efefef;
	padding:7px 0;
}
.shdbgblgrd .stagetxt {
	margin: 0px 7px;
	background:#f7f7f7;
}

.chtmpaddbtnrow {
	padding: 14px 68px 14px 0px;
}
.fontBigBoldM {
	font-size: var(--fs-14) !important;
	font-weight: bold;
	color: #000;
}
.fontbigBoldS {
	font-weight: bold;
	color: #008ddd !important;
  	color: var(--link_tab_line_color, #008ddd) !important;
	white-space: nowrap;
}
#TemplateFilter {
	margin-right: 4px;
}
table#filterDropMenu {
	font-size: var(--fs-12);
	border: 1px #8eadd5 solid
}
table#filterDropMenu tr td {
	background: #e5f2f5;
	border-bottom: 1px #BBCEE2 solid
}
table#filterDropMenu tr td a {
	color: #000;
	display: block;
	width: 180px;
	text-decoration: none!important;
	padding: 3px 8px 3px 6px
}
table#filterDropMenu tr td a:hover {
	color: #000;
	background: #eff9fe;
	border: 1px solid #305086;
	display: block;
	width: 188px;
	border-width: 0 6px;
	padding: 3px
}
table#filterDropMenu tr td>a:hover {
	width: 176px
}
.descfix {
	display: block;
	width: 250px;
}
.borderBottom-c2e {
	border-bottom: 1px #c2e1f6 solid;
}
.pleft56 {
	padding-right: 56px;
}
.padleft66 {
	padding-right: 66px;
}
.labelfnt1 {
}
.listviewbbdr {
	background: #f7f7f7;
	padding-left:15px;
}
.change-container .menubar1{
	padding-top:1px;
	}
.changeact-seperator, .changeact-seperator-active{
	border-left:solid 1px #ddd;
	border-right:solid 1px #fff;
	height:25px;
	padding:2px 10px 0 10px;
	white-space:nowrap;
	}
.changeact-seperator-active{
	background:#fff;
	}
.first-td{
	border-left:solid 1px #fff;
	}
.last-td{
	border-right:solid 1px #ddd;
	}
.action-div{
	position:relative;
	z-index:5;
	}
.action-div a{
	color: #515151;
	font-weight: bold;
	}
.action-div a:hover{
	color: #008ddd;
    color: var(--link_tab_line_color, #008ddd);
	text-decoration:none;
	}
.action-div .sdmenu-dd-ui1{
	right:-12px;
	top:21px;
	border-top:0;
	z-index:1000;
	}
.action-div em {
	background:url('/images/change-menu-arrow.png') no-repeat;
	width:7px;
	margin-right:5px;
	padding:0 5px;
	background-position:0 8px;
	}
/* added for workflow */
.header3 {
	background: #B3DAF9;
	font-weight: bold;
	border-bottom: 1px #fff solid;
	padding-right: 10px;
	line-height: 26px;
	height: 27px;
}
.cnttabpanel {
	background: #E7E7E7;
	padding:15px 15px 10px 10px;
}
.cnttabbox {
	background: #fff;
}
.cnttabpnl {
	padding: 10px;
}
.cnttabpnltxt {
	padding: 15px 15px 0 0;
	line-height: 20px;
	font-size: var(--fs-12);
	background:#fff;
	color:#737373;
}
.subhead2 {
	font-weight: bold;
	background: #efefef;
	height: 28px;
	line-height: 28px;
	padding-right: 24px;
}
.txtlnk2 {
	font-size: var(--fs-12);
	font-weight: bold;
	color: #f00;
	text-decoration: underline;
}
.txtlnk3 {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-14);
	font-weight: bold;
}
.txtlnk3:hover {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.txtlnk4 {
	font-size: var(--fs-12);
	font-weight: bold;
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	text-decoration: underline;
}
.tablistcol1, .tablistcol2, .tablistcol3, .tablistcol3c, .tablistcol4, .tablistcol5, .tablistcol6, .tablistcol7 {
	font-size: var(--fs-12);
	font-weight: normal;
	color: #707070;
	padding: 28px 20px 20px 0;
	line-height: 20px;
}
.tablistcol1 {
	background: url('/images/stepthruarwr2-rtl.gif') left  43px no-repeat;
	padding:40px 20px 20px 39px;
}
.tablistcol2 {
	background: #fafafa url('/images/notesicn2.gif') 5px 43px no-repeat;
	padding: 26px 26px 20px 40px;
}
.tablistcol3 {
	background: url('/images/stepthruarwr2-rtl.gif') right  43px no-repeat;
	padding-top: 29px;
	padding-right: 50px;
}
.tablistcol3c {
	background: #fefef5 url('/images/stepthruarwr2-rtl.gif') right  43px no-repeat;
	text-align: center;
	color: #b5b5b5;
	padding: 0px 40px 0px 0px;
}
.tablistcol3c a {
	color: #fc8200;
	text-decoration: none;
}
.tablistcol3c a:hover{
	text-decoration: underline;
}
.tablistcol4 {
	background: url('/images/notesicn2.gif') right 26px no-repeat;
	padding-top: 24px;
}
.tablistcol5 {
	padding: 24px 0px 20px 0px !important;
	background-color: #fcfcfc;
	background-image: none
}
.tablistcol5div {
	padding-left: 20px;
	border-left: 1px #bbd7f1 solid;
}
.tablistcol6div {
	padding-right: 40px;
	border-right: 1px #fff solid;
}
.tablistcol6 {
	background: #fcfcfc url('/images/stepthruarwr1-rtl.gif') right  39px no-repeat;
	padding: 26px 0px 0px 0px !important;
}
.tablistcol7 {
	background: #fcfcfc url('/images/stepthruarwr1-rtl.gif') left 39px no-repeat;
	padding-top: 39px !important;
	padding-left: 40px;
}
.marginlr5 {
	margin: 0px 5px;
}
.lh10 {
	line-height: 10px;
}
.tablistcols1, .tablistcols2, .tablistcols3, .tablistcols3c, .tablistcols4, .tablistcols5, .tablistcols6, .tablistcols7 {
	font-size: var(--fs-12);
	font-weight: normal;
	color: #707070;
	padding: 14px 20px 16px 20px;
	line-height: 20px;
}
.tablistcols1 {
	background: url('/images/stepthruarwr1s-rtl.gif') left  19px no-repeat;
	padding-top: 14px;
	padding-left: 40px;
}
.tablistcols2 {
	background: #f5f5f5 url('/images/notesicn2.gif') 5px 19px no-repeat;
	padding: 6px 26px 6px 40px;
}
.tablistcols3 {
	background: url('/images/stepthruarwr1s-rtl.gif') right  19px no-repeat;
	padding-top: 6px;
	padding-right: 40px;
}
.tablistcols3c {
	background: #fff;
	text-align: center;
	color: #b5b5b5;
	padding-right: 40px;
	visibility: hidden
}
.tablistcols3ch {
	background: #fefef5;
	text-align: center;
	color: #b5b5b5;
	padding-right: 20px;
	visibility: visible
}
.tablistcols3c a, .tablistcols3ch a {
	color: #fc8200;
	text-decoration:none;
}
.tablistcols3c a, .tablistcols3ch a:hover {
	text-decoration:underline;
}
.rowHi .txtlnksp {
	visibility: visible;
}
.rowNorm .txtlnksp {
	visibility: hidden;
}
.tablistcols4 {
	background: url('/images/notesicn2.gif') right 9px no-repeat;
	padding-top: 6px;
}
.tablistcols5 {
	padding: 10px 0px 6px 0px !important;
	background-color: #fcfcfc;
	background-image: none
}
.tablistcols5div {
	padding-left: 20px;
	border-left: 1px #bbd7f1 solid;
}
.tablistcols6div {
	padding-right: 40px;
	border-right: 1px #fff solid;
}
.tablistcols6 {
	background: #fcfcfc url('/images/stepthruarwr1s-rtl.gif') right 25px no-repeat;
	padding: 10px 0px 0px 0px !important;
}
.tablistcols7 {
	background: #fcfcfc url('/images/stepthruarwr1s-rtl.gif') left 25px no-repeat;
	padding-top: 15px !important;
	padding-left: 40px;
}
.tablistform, .tablistform .tablistcols1 {
	background: #eff8ff url('/images/stepthruarwr1s-rtl.gif') left 15px no-repeat;
}
.tablistbdrs {
	background-color: #efefef;
	color: #D5D5D5;
	height: 1px;
	padding: 0px;
	margin: 1px 0px;
	border: 0px;
}
.ie .tablistbdrs {
	background-color: #D5D5D5;
	color: #D5D5D5;
	height: 0px;
	padding: 0px;
	margin: -7px 0 -7px 0;
	clear: both;
	display: block;
}
.tablistcols1 em {
	color: #000;
}
.tablistcol1 em {
	color: #000;
}
.hilitetxt1 {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-14);
	font-weight: bold;
}
.hilitetxt2 {
	color: #5e5e5e;
	font-size: var(--fs-12);
	font-weight: bold;
}
.tablistform, .tablistform .tablistcol1 {
	background: #eff8ff url('/images/stepthruarwr1.gif') left 29px no-repeat;
}
.tablistform td {
	font-size: var(--fs-12);
	font-weight: normal;
	color: #707070;
	padding: 28px 20px 20px 20px;
}
.notesicn2 {
	background: url('/images/notesicn2.gif') no-repeat;
	width: 16px;
	height: 14px;
}
.TFDisabled2 {
	background-color: #fff;
	border: 1px solid #9dc3e9;
	color: #707070;
	width: 130px;
	cursor: var(--sdpcursor-default);
	font-size: var(--fs-11);
	font-weight: bold;
}
.TFDisabled2pl {
	padding: 2px 29px 2px 2px;
	height: 110px;
}
.TFDisabled2pl2 {
	padding: 2px 4px 2px 2px;
	height: 62px;
}
.drpMnuTmp {
	width: 190px;
	max-width: 270px;
    display: inline-table;
    white-space: nowrap;
}
.drpMnuTmp ul {
	margin: 0px;
	padding: 0px;
}
.drpMnuTmp ul li {
	position: relative;
	cursor: var(--sdpcursor-default);
	list-style: none;
	width: 100%;
	text-align: right;
	padding-left: 32px;
}
.drpMnuTmp ul li a.dropmenu {
	padding: 0px;
	height: 20px;
	width: 100%;
	background: url('/images/filterdropbg.gif') repeat-x;
	display: block;
	line-height: 20px;
	text-align: right;
}
.drpMnuTmp ul li a.dropmenu:hover {
	color: #000;
}
.drpMnuTmp ul li a.dropmenu em {
	width: 1px;
	height: 20px;
	display: block;
	float: right;
	background: url('/images/filterdropbgl-rtl.gif') no-repeat;
	padding-left: 3px;
}
.drpMnuTmp ul li a.dropmenu i {
	background: url('/images/filterdroparw-rtl.gif') no-repeat;
	width: 24px;
	height: 20px;
	display: block;
	float: left;
}
.drpMnuTmp ul li ul {
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
.drpMnuTmp ul li ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #DDDFE1;
	width: 100%;
	border-bottom: 1px #DDDFE1 solid;
}
.drpMnuTmp ul li ul li a {
	display: block;
	text-decoration: none;
	margin: 0px 1px;
	width: 100%;
	white-space: nowrap;
}
.drpMnuTmp ul li .dropMnuTmpCnt {
	font-size: var(--fs-11);
	background: #fff;
	position: absolute;
}
.drpMnuTmp ul li .dropMnuTmpCnt ul li a {
	color: #000;
	background: #f7f7f7;
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 3px;
}
.drpMnuTmp ul>li .dropMnuTmpCnt ul li a {
	width: calc( 100% - 8px);
}
.drpMnuTmp ul li .dropMnuTmpCnt ul li a:hover {
	color: #000;
	background: #e9e9e9;
	display: block;
}
.drpMnuTmp ul li.mnuNormal .dropMnuTmpCnt {
	visibility: hidden;
}
.drpMnuTmp ul li.mnuActive .dropMnuTmpCnt {
	display: block;
}
.tblpl10 td {
	padding-right: 10px;
	height: 24px;
	border-bottom: 1px #ccc solid;
	background: #fff;
	font-size: var(--fs-12);
	font-weight: normal;
}
.tblpl10 td.bl {
	border-right: 1px #ccc solid;
}
.tblpl10 td.br {
	border-left: 1px #ccc solid;
}
.cssdropdown-ui1 ul {
	margin: 0px;
	padding: 0px;
}
.cssdropdown-ui1 ul li {
	position: relative;
	cursor: var(--sdpcursor-default);
	list-style: none;
	width: 100%;
}
.cssdropdown-ui1 ul li a.dropmenu {
	padding: 1px 2px;
	background: #fff url('/images/formshdw.gif') no-repeat -4px -4px;
	display: block;

	text-decoration: none;
	border: 1px solid #9dc3e9;
	font-size: var(--fs-11);
	font-weight: bold;
	color: #707070;
	width: 85%;
	height: 14px;
}
.cssdropdown-ui1 ul>li a.dropmenu {
	width: 84%;
}
.cssdropdown-ui1 ul li a.dropmenu:hover {
	color: #000;
}
.cssdropdown-ui1 ul li a.dropmenu em {
	background: url('/images/def-drop-left.gif') no-repeat;
	width: 17px;
	height: 14px;
	display: block;

	float: left;
}
.cssdropdown-ui1 ul>li a.dropmenu em {
	margin-top: -1px;
}
.cssdropdown-ui1 ul li ul {
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
.cssdropdown-ui1 ul li .mnucontent {
	height: 200px;
	overflow: auto;
	overflow-x: hidden;
	border-right: 1px solid #b2b2b2;
	border-top: 1px solid #b2b2b2;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #fff;
	position: absolute;
	width: 85%
}
.cssdropdown-ui1 ul>li .mnucontent {
	width: 84%;
}
.cssdropdown-ui1 ul li.mnuNormal .mnucontent {
	display: none;
}
.cssdropdown-ui1 ul li.mnuActive .mnucontent {
	display: block;
}
.cssdropdown-ui1 ul li ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}
.cssdropdown-ui1 ul li ul li ul li a {
	font-weight: normal;
	padding: 2px 10px 2px 0px;
}
.cssdropdown-ui1 ul li ul li a {
	display: block;
	text-decoration: none;
	padding: 2px 2px 2px 0px;
	font-size: var(--fs-11);
	font-weight: bold;
	margin: 0px 1px;
	width: 100%;
	white-space: nowrap;
}
.cssdropdown-ui1 ul li ul a:hover, .cssdropdown-ui1 ul li ul li.current {
	background: #008ddd;
	color: #fff;
	background: var(--primary_button_color, #008ddd);
	color: var(--primary_button_text, #fff);
}
.cssdropdown-ui1 ul li ul li ul, ul.dropcontent li ul li ul, .cssdropdown-ui1 ul li ul li ul li ul li ul, .cssdropdown-ui1 ul li ul li ul li ul li ul li ul {
	margin: 0px;
	padding: 0px;
}
.cssdropdown-ui1 ul li ul li ul li, .cssdropdown-ui1 ul li ul li ul li ul li, .cssdropdown-ui1 ul li ul li ul li ul li ul li, .cssdropdown-ui1 ul li ul li ul li ul li ul li ul li {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}
/* Change Details Page - Submission */
.change-container {
	margin:10px 0 0 10px;
}
.change-container .top, .change-container .bottom {
	position: relative;
	height: 9px;
	background: #ebebeb;
}
.change-container .content {
	height: auto;
	border-right: 9px #ebebeb solid;
	background: #ebebeb;
	border-left: 9px #ebebeb solid;
	padding: 12px;
}
.change-content {
	padding: 25px 25px 51px 25px;
	background: #fff;
}
.change-cntstathdr {
	background: #d6edff;
	padding: 14px 20px;
}
.ie .change-cntstathdr {
	width: 100%;
}
.change-cntstathdr .hdr {
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-15);
	font-weight: bold;
}
.change-cntstathdr .hdrinfo {
	padding: 2px 1px;
	line-height: 15px;
	font-size: var(--fs-12);
}
.change-cntstathdr .hdrinfo .label {
	color: #7b7b7b;
}
a.chgaprvbtnm {
	background: url('/images/chgaprvbtnm.gif') repeat-x;
	color: #fff;
	width: auto;
	text-align: center;
	display: block;
	line-height: 23px;
	font-size: var(--fs-12);
	font-weight: bold;
}
a.chgaprvbtnm:hover {
	color: #fff;
}
a.chgaprvbtnm {
	background: url('/images/chgaprvbtnm.gif') repeat-x;
	color: #fff;
	width: auto;
	padding: 0px 4px;
	text-align: center;
	display: block;
	line-height: 23px;
	font-size: var(--fs-12);
	font-weight: bold;
}
a.chgaprvbtnm:hover {
	color: #fff;
}
a.chgrejbtnm {
	background: url('/images/chgrejbtnm.gif') repeat-x;
	color: #636363;
	width: auto;
	padding: 0px 4px;
	text-align: center;
	display: block;
	line-height: 23px;
	font-size: var(--fs-12);
	font-weight: bold;
}
a.chgrejbtnm:hover {
	color: #636363;
}
.change-cntdesc {
	padding: 14px 0;
	overflow:auto;
}
.ie .change-cntdesc {
	width: 100%;
}
.change-cntdesc .hdr {
	font-weight: normal;
	background: url('/images/blackdotborder.gif') bottom repeat-x;
	padding-bottom: 8px;
	border-bottom:none;
	margin:0 10px;
}
.change-cntdesc .cntdesccnt {
	line-height: 21px;
	font-weight: normal;
	padding:6px 10px 4px 2px;
}
.change-cntdesc strong {
	font-weight: bold;
}
.change-formhdr {
	margin-top: 25px;
	border-bottom: 1px #b9b9b9 solid;
	padding-bottom: 7px;
	padding-right: 2px;
}
.change-formhdr strong.formhdr {
	color: #3a3a3a;
	font-size: var(--fs-14);
	font-weight: bold;
	margin-left: 12px;
}
.change-formhdr .edit {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-12);
	text-decoration: underline;
}
.change-formdata1 {
	margin: 10px 0px;
}
.change-formdata1 .change-formsptr {
	background: #fff url('/images/change-formsptr.gif') center repeat-y;
}
.change-formdata2 {
	margin: 3px 0px;
}
.change-formdata2 .rowData {
	padding: 10px 26px 10px 10px;
}
.FormLabel3 {
	padding: 3px 3px 3px 10px;
	height: 26px;
}
.formListBgGray {
	background-color: #F7F7F7;
}
.rowData {
	line-height: 18px;
}
.rowData .name, .rowData .name2{
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.rowData .spt {
	color: #e80000;
}
.rowSubmit {
	padding: 7px 10px 3px 0px;
}
.showHideLnk {
	float: left;
	margin-left: 42px;
	color: #a3a3a3;
}
.showHideLnk strong {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.showHideLnk a.showHide {
	color: #e80000;
	text-decoration: underline;
}
.showHideLnk a.chk {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
img.helptool-icon-thumb-small {

	width: 14px;
	height: 14px;
}
table tr> td img.helptool-icon-thumb-small {
	background: url('/images/helptool-icon-thumb-small.png') no-repeat
}
.pleft19 {
	padding-right: 19px;
}
.ie div.wi100percent {
	width: 100%
}
.ctrllinks {
	color: #999;
	margin-right:30px;
}
.content .ctrllinks a, .ctrllinks a  {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	text-decoration: underline;
	font-size: var(--fs-12);
	font-weight: normal;
}
.content .ctrllinks a:hover {
	color: #000;
	text-decoration: none;
}
.chngnotisum {
	background: url('/images/dbrd-summary-bbtmbg.gif') top repeat-x;
	margin-top: 5px;
	padding-top: 5px;
	padding-right: 19px;
	width: 630px;
	overflow: hidden;
}
.chngtoggleqn {
	background: url('/images/attrib-showicon-plus.gif') no-repeat;
	padding-right: 19px;
}
.chngtoggleqnhide {
	background: url('/images/attrib-hideicon-minus.gif') no-repeat;
	padding-right: 19px;
}
.change-headerblue14 {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-14);
	font-weight: bold;
}
.change-viewshadebg {
	background:#fff;
	height: 37px;
	border-bottom:1px solid #c3c3c3;
	padding-right: 8px;
}
.ptop10 {
	padding-top: 10px;
}
.ptop14 {
	padding-top: 14px;
}
.mtop3 {
	margin-top: 3px;
}
.mtop4 {
	margin-top: 4px;
}
.mtop8 {
	margin-top: 8px;
}
.mright8 {
	margin-left: 8px;
}
.mtop12 {
	margin-top: 12px;
}
.mtop13 {
	margin-top: 13px;
}
.mleft18 {
	margin-right: 18px;
}
.pleft12 {
	padding-right: 12px !important;
}
.pright55 {
	padding-left: 55px;
}
div.content .change-subtab-active, div.content table tr td a.change-subtab-active:hover {
	display: inline-block;
	font-size: var(--fs-12);
	font-weight: normal;
	text-decoration: none;
	padding: 2px 10px;
	background: #ebebeb;
	border:1px solid #c8c8c8;
	border-radius:7px;
	color: #575757;
	position: relative;
}
.change-container div.content a.change-subtab-active, .change-container div.content a.change-subtab-active:hover, .change-container div.content a.change-subtab-normal, .change-container div.content a.change-subtab-normal:hover {
	font-weight:normal;	
	color: #575757;
	font-size: var(--fs-12);
}
.change-subtab-active strong { 
	right: 50%;
	margin-right: -4px;
}
.change-subtab-normal {
	display: inline-block;
	font-size: var(--fs-12);
	font-weight: normal;
	text-decoration: none;
	padding: 2px 10px;
	background: #fff;
	border-radius:6px;
	color: #575757;
}
table tr td a.change-subtab-normal:hover {
	background: #008ddd;
	color:#fff;
	background: var(--primary_button_color, #008ddd);
	color: var(--primary_button_text, #fff);
	border-radius:6px;
}
label.change-add-button-ui1-label {
	display:inline-block;
	line-height:19px;
	height:19px;
	width:auto;
	padding:0;
	margin:0;
}
input.change-add-button-ui1 {
	padding:0; 
	overflow:visible; 
	height:19px;
	line-height:19px;
	white-space:nowrap;
	border:none;
	font-weight:normal;
	cursor: var(--sdpcursor-pointer);
	background:none;
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.change-cnt-subheader {
	background: #f5f5f5;
	border-bottom:1px solid #e9e9e9;
	color:#3a3a3a;
	font-size: var(--fs-14);
	font-weight: bold;
	padding:8px 10px;
}
.change-cnt-subheader .fontgray {
	font-weight:normal;	
	font-size: var(--fs-12);
	white-space:nowrap;
}
.change-cnt-clear1 {
	height: 17px;
}
.change-cnt-rowattach {
	border-top: 1px #fff solid;
	background: #fff;
	padding: 0 0 60px 0;
}
.change-cnt-downtime-rowattach {
	padding: 8px 9px 10px 0px;
}
.ie .change-cnt-attach-filerow .servicecat-delete-visible {
	margin: 0px;
}
.change-cnt-clear2 {
	height: 45px;
}
.change-cnt-attach-filerow, tr.change-cnt-attach-filerow td {
	border-bottom: 1px #e9e9e9 solid;
	padding: 5px 0px;
}
tr.change-cnt-attach-filerow td {
	padding: 9px 0px;
}
.change-cnt-desc-attach {
	padding: 5px 10px 30px 10px;
}

.change-cnt-desc-attachrow {
	border-bottom: 1px #e9e9e9 solid;
	margin-top: 10px;
	color:#6f6f6f;
	font-weight: bold;
}
.change-cnt-desc-attachrow table {
	top: 2px;
	position: relative;
	background: #fff;
	padding-left: 5px;
}
.change-cnt-desc-attachrow td {
	margin: 0px;
	padding: 0px;
}
#AttForm .change-cnt-attachlnk {
	position:absolute;
	top:-2px;
}
.attachimg{
	background:url('/images/attachment.gif') no-repeat;
	height:15px;
	width:15px;
	float:right;
	cursor: var(--sdpcursor-pointer);
	margin-top:2px;
	}
.attachicon-pdf, .attachicon-bmp, .attachicon-doc, .attachicon-gif, .attachicon-jpg, .attachicon-png, .attachicon-txt, .attachicon-common {
	height: 21px;
	width: 18px;
}
#attachlink .txt-link-ui1{
	display:block;
	white-space:nowrap;
	}
.iconstbl:hover .change-cnt-attachlnk, .iconstbl:hover #attachlink2 .txt-link-ui1, .iconstbl:hover .sep-icon{
	display:block;
	}		
.attachicon-pdf {
	background: url('/images/attachicon-pdf.gif') no-repeat;
}
.attachicon-bmp {
	background: url('/images/attachicon-bmp.png') no-repeat;
}
.attachicon-doc {
	background: url('/images/attachicon-doc.png') no-repeat;
}
.attachicon-gif {
	background: url('/images/attachicon-gif.png') no-repeat;
}
.attachicon-jpg {
	background: url('/images/attachicon-jpg.png') no-repeat;
}
.attachicon-png {
	background: url('/images/attachicon-png.png') no-repeat;
}
.attachicon-txt {
	background: url('/images/attachicon-txt.png') no-repeat;
}
.attachicon-common {
	background: url('/images/attachicon-common.png') no-repeat;
}
.change-cnt-fileattach, #AttForm .change-cnt-fileattach, #attFileName .change-cnt-fileattach  {
	color: #3467a8;
	font-size: var(--fs-12);
}
#AttForm .change-cnt-fileattach ,#attFileName .change-cnt-fileattach{
	background:url('/images/flow-chart.png') right no-repeat;
	padding-right:20px;
	display:inline-block;
	height:20px;
	line-height:21px;
	float:left;
}
#att_td{
	float:right;
	}
.font-gray-7d {
	color: #7d7d7d;
}
.change-cnt-filelist-fix {
	display: block;
	height: 21px;
	line-height: 21px;
	position: relative;
	top: -3px;
	white-space:nowrap;
	padding-left:10px;
}
td .change-cnt-filelist-fix {
	top: auto
}
.change-cnt-btnseperator {
	width: 12px;
	height: 12px;
}
.change-cnt-downtimetable {
	border-top: 1px #eee solid;
	width: 100%;
}
.change-cnt-downtimetable table th {
	background: #f3f3f3;
	height: 26px;
	text-align: right;
	color: #000;
	font-weight: bold;
}
.change-cnt-downtimetable table td {
	border-bottom: 1px #eee solid;
	vertical-align:top;
}
.change-cnt-downtimetable table td td {
	border: none;
	padding: 0px;
}
.change-cnt-downtimetable table td.pr10 {
	padding-left: 10px;
}
.pbottom8 {
	padding-bottom: 8px;
}
.pbottom10 {
	padding-bottom: 10px;
}
.pbottom11 {
	padding-bottom: 11px;
}
.ptop11 {
	padding-top: 11px;
}
.change-cnt-adddowntime {
	background: #f9f9f9;
}

.nobordercell td {
	border: none !important;
}
.change-cnt-downtimetablesubmit td {
	border-bottom: 1px #eee solid;
}
.change-cnt-downtimetablesubmit td td {
	border-bottom: none;
	padding: 0px;
}
.fontNormal {
	font-weight: normal;
}
.pad10px0px {
	padding: 10px 0px;
}
/* Change - Approval Tab UI */
.mleft18 {
	margin-right: 18px;
}
.change-approved-icon {
	background: url('/images/change-approved-icon.gif') center top no-repeat;
	padding-top: 36px;
}
.change-rejected-icon {
	background: url('/images/change-rejected-icon.gif') center top no-repeat;
	padding-top: 36px;
}
.change-pending-icon {
	background: url('/images/change-pending-icon.gif') center top no-repeat;
	padding-top: 36px;
}
.mbottom5 {
	margin-bottom: 5px;
}
.mbottom10 {
	margin-bottom: 10px;
}
.fontgray-4c {
	color: #4c4c4c;
}
.p3px0px7px0px {
	padding: 3px 0px 7px 0px;
}
.change-approvlist td {
	padding: 12px 0px;
	border-bottom: 1px #c2ddfe solid;
}
.change-approvlist td.pleft13 {
	padding-right: 13px;
}
.change-approvlist td.change-approvlist-seperator {
	background: #C2DDFE;
	border-top: 12px #fff solid;
	border-bottom: 12px #fff solid;
}
.p0px13px {
	padding: 0px 13px;
}
.fixmtpo3 {
	margin-top: 3px;
	display: block;
}
.listNormal3 {
	background: #fff;
}
.listHover3 {
	background: #f5f5f5;
	cursor: var(--sdpcursor-default);
}
.change-approvlist .listHover3 td.change-approvlist-seperator {
	border-top: 12px #fdffd1 solid;
	border-bottom: 12px #fdffd1 solid;
}
.listHover3 .servicecat-delete {
	visibility: visible;
}
.change-approval-control {
	margin-top: 8px;
}
a.change-approve-control, a.change-approve-control-disable , a.change-reject-control, a.change-reject-control-disable {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	text-decoration: underline;
	margin-left: 14px;
	padding-right: 14px;
}
div.content a.change-approve-control, div.content a.change-approve-control-disable, div.content a.change-reject-control, div.content a.change-reject-control-disable {
	font-weight: normal;
}
.change-approve-control, .change-approve-control-disable {
	background: url('/images/sdp-icons-pack1.gif') -840px -432px no-repeat;
}
.change-reject-control, .change-reject-control-disable {
	background: url('/images/sdp-icons-pack1.gif') -840px -451px no-repeat;
}
.change-approve-control-disable, .change-reject-control-disable {
	background: #fff;
	opacity: .3;
	zoom: 1;
}
.change-approve-control-disable:hover, .change-reject-control-disable:hover {
	text-decoration: underline;
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
.change-comment-form {
	padding: 8px;
	background: #fff;
	width: 70%;
	display: none;
	margin-top: 7px;
}
.change-commentbox {
	border: 1px solid #BDC7D8 !important;
}
.ptop10 {
	padding-top: 10px;
}
.pbottom10 {
	padding-bottom: 10px;
}
.nopaddingimp {
	padding: 0px !important;
}
.nopaddingbottom {
	padding-bottom: 0px !important;
}
.bgblue-eaf {
	background: #f5f5f5;
}
.noBorderBottom {
	border-bottom: none !important;
}
.change-incidentpreview-tl {
	background: url('/images/change-incidentpreview-tl.gif') no-repeat;
	width: 10px;
	height: 10px;
}
.change-incidentpreview-tr {
	background: url('/images/change-incidentpreview-tr.gif') no-repeat;
	width: 10px;
	height: 10px;
}
.change-incidentpreview-tm {
	background: url('/images/change-incidentpreview-tm.gif') repeat-x;
}
.change-incidentpreview-ml {
	background: url('/images/change-incidentpreview-ml.gif') repeat-y;
}
.change-incidentpreview-mr {
	background: url('/images/change-incidentpreview-mr.gif') repeat-y;
}
.change-incidentpreview-bl {
	background: url('/images/change-incidentpreview-bl.gif') no-repeat;
	width: 10px;
	height: 10px;
}
.change-incidentpreview-br {
	background: url('/images/change-incidentpreview-br.gif') no-repeat;
	width: 10px;
	height: 10px;
}
.change-incidentpreview-bm {
	background: url('/images/change-incidentpreview-bm.gif') repeat-x;
}
.change-incident-previewblock {
	padding: 20px 30px 50px 30px;
	border-left: 1px #e0e0e0 solid;
	border-right: 1px #e0e0e0 solid;
	border-bottom: 1px #e0e0e0 solid;
	background: #f5f5f5;
}
.disable-opacity3{
	opacity: 0.3;
	cursor: var(--sdpcursor-default);
	display:inline-block;
}	
label.disable-opacity3 input {
	cursor: var(--sdpcursor-default) !important
}
.change-approvebtn-label, .change-approvebtn, .change-rejectbtn-label, .change-rejectbtn, .change-skipbtn {
	display:inline-block;
	margin-left: 6px;
}
.change-approvebtn {
	background: url('/images/change-approvebtnbg.gif') right center no-repeat;
}
.change-rejectbtn {
	background: url('/images/change-rejectbtnbg.gif') right center no-repeat;
}
.change-skipbtn{
	background: url('/images/change-skip.png') right center no-repeat;
}
.change-approvebtn, .change-rejectbtn, .change-skipbtn{ 
	color:#585858;
	padding: 0 25px 0 7px;
	margin:0; /* Required to specify for Chrome browser */
	overflow:visible; /* IE default horizontal (double) padding removal fix */
	font-size: var(--fs-12);
	font-weight: bold;
	text-decoration:none;
	border:0 none;
	vertical-align:middle;
	cursor: var(--sdpcursor-pointer);
	height:20px;
	line-height:20px;
}
.change-approvebtn::-moz-focus-inner, .change-rejectbtn::-moz-focus-inner, .change-skipbtn::-moz-focus-inner {
	border:0;
	padding:0;
}
label.change-planningsubtab-label {
	display: inline-block;
	line-height: 22px;
	height: 22px;
	width: auto;
	padding: 0;
	margin: 0;
	margin-left: 0px;
	background: url('/images/buttons-ui.gif') 0px -99px;
}
.ie label.change-planningsubtab-label {
	margin-left: 4px;
}
input.change-planningsubtab {
	padding: 0 7px;
	overflow: visible;
	height: 22px;
	line-height: 22px;
	white-space: nowrap;
	border: none;
	font-size: var(--fs-12);
	font-weight: bold;
	cursor: var(--sdpcursor-pointer);
	background: url('/images/change-analysisbtnleft.gif') top left no-repeat;
	color: #000;
}
input.change-planningsubtab::-moz-focus-inner {
	border: 0;
	padding: 0;
}
span.change-attachmentspan {
	padding-left: 5px;
	background: #fff;
	height: 24px;
	display: inline-block;
	position: relative;
	top: 3px;
}
.ie .ie-width-100fix {
	width: 100%;
}
.marg20{
	margin:0 20px;
	}
label.change-attachmentbtn-label {
	display: inline-block;
	line-height: 23px;
	height: 23px;
	width: auto;
	padding: 0;
	margin: 0;
	background: url('/images/buttons-ui.gif') 0px -51px;
}
input.change-attachmentbtn {
	padding: 0 7px;
	overflow: visible;
	height: 23px;
	line-height: 22px;
	white-space: nowrap;
	border: none;
	font-size: var(--fs-12);
	font-weight: bold;
	cursor: var(--sdpcursor-pointer);
	background: url('/images/change-attachbtnleft.gif') top left no-repeat;
	color: #000;
}
input.change-attachmentbtn::-moz-focus-inner {
	border: 0;
	padding: 0;
}
tr.pad6px0px td, .pad6px0px {
	padding: 6px 0px;
}
tr.pad6px0px td.FormLabel3 {
	padding: 6px 10px 6px 3px
}
.addeduserslist tr td {
	border-bottom: 1px #ECECEC solid;
}
div.addeduserslist {
	border-bottom: 1px #ECECEC solid;
	margin: 0px 5px;
	padding: 4px 0px;
}
.addusrlstblock {
	height: 130px;
	overflow-y: scroll;
}
.addusrbdrrtF8 {
	border-left: 1px #F8B028 solid;
}
.tech-delete {
	background: url('/images/servicecat-delete.gif') no-repeat;
	width: 12px;
	height: 12px;
	display: block;
	margin: 0px 9px;
	float: right;
}
.usraddhdr {
	border: 1px #F6B126 solid;
	background: #FBEC97;
	line-height: 27px;
	height: 27px;
	padding: 0px 10px;
	font-weight: bold;
	margin: 6px 0px 10px 0px;
}
.closetxtlnkfltr {
	font-size: var(--fs-12);
	font-weight: normal;
	float: left;
}
.addusrbdrrtF8 {
	border-left: 1px #F8B028 solid;
}

#actiontable, #statusactionmenu{
	float:left;
	}
.statusList {
	z-index: 10000;
	margin: 0;
	padding: 0;
	margin-top: 6px;
	list-style: none;
}
.statusList a {
	width: auto;
	display: block;
	text-decoration: none
}

.statusList a.one {
	border: 1px solid #dfdfdf;
	background:url('/images/change-status-bg.gif') repeat-x;
	height:28px;
	width:auto;
	border-radius:5px;
}
.statusList ul {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	z-index: 10;
	list-style: none;
}
.statusList .mact {
	white-space: nowrap;
	width: auto;
	display: inline-block;
	height: 28px;
	border: none !important;
	line-height: 28px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 8px;
	color: #585858;
}
.statusList .mact span {
	white-space: nowrap;
}
.statusList .statusval {
	color:#585858;
	overflow: hidden;
	white-space: nowrap;
	padding-left:10px;
}
.statusList li {
	float: right;
	background:1px solid #D6E9FF;
}
.statusList li.f {
	position: relative;
	display: block;
	width: 100%;
}
.statusList ul {
	position: absolute;
	width: 200px;
	top: 24px;
	display: block;
	border: 1px #C5C5C5 solid;
	left: 0;
	z-index: 100;
	padding:0 10px;
	background: #fff;
}
.statusList li ul a, .change-container div.content .statusList ul a {
	color: #000;
	width:186px;
	text-align:right;
	font-weight: normal;
	padding: 8px 5px;
	border-bottom:1px solid rgba(0, 141, 221, 0.3);
	border-bottom:1px solid var(--input_border_shadow, rgba(0, 141, 221, 0.3));
}
.statusList li ul a:hover, .change-container div.content .statusList ul a:hover {
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
	font-weight: normal;
}
.statusList li li a.sub {
	background: #e5f2f5 url('/images/autocompleteitembullet.gif') 95% no-repeat !important;
}
.statusList li li a.sub:hover {
	background-color: #eff9fe !important;
}
.statusList ul ul {
	top: auto;
}
.statusList li ul ul {
	margin: 0px;
	right: 200px;
}
.statusList li a:hover ul ul, .statusList li a:hover ul ul ul, .statusList li a:hover ul ul ul ul {
	display: none;
}
.statusList li a:hover ul, .statusList li li a:hover ul, .statusList li li li a:hover ul, .statusList li li li li a:hover ul {
	display: block;
}
.statusList em {
	width: 5px;
	height: 19px;
	display: block;
}
.statusList em {
	width: 25px;
	height: 19px;
	display: block;
}
.statusList em {
	background: url('/images/toplinks-drop-right.gif') left top no-repeat;
}
.statusList em {
	width: 32px;
	height: 27px;
	display: block;
	background: url('/images/change-statusbox-arrow.gif') no-repeat;
}
.statusList.change-statusbox-arrowhover {
	background: url('/images/change-statusbox-arrowhover.gif') no-repeat;
}
.statusList li li a.sub {
	background: #e5f2f5 url('/images/autocompleteitembullet.gif') 95% no-repeat !important;
}
.grayBorderBotton-e7 {
	border-bottom: 1px #e7e7e7 solid;
}
.pright8 {
	padding-left: 8px;
}
.pleft8 {
	padding-right: 8px;
}
.lineh18 {
	line-height: 18px;
}
.servicelist-infoicn {
	margin:0px 2px !important;
}
.change-cnt-fileattachlink {
	color: #3467a8;
	font-size: var(--fs-12);
	font-weight: bold;
	display:inline-block;
	width:auto;
	padding-right:22px;
	float:right;
	background-position: right;
}
.change-reviewDateInfo {
	margin-top:20px;	
	padding-top:3px;
	border-top:1px #f7f7f8 solid;
}
.risk-addboxpos {
	margin-right:53px;	
	width:90%;
}
.workflow-addboxpos {
	margin-right:57px;	
}

.change-container .requestdetailsbgright {
	border-left:1px solid #7992B8;
	border-top:1px solid #7992B8;
}
.change-container .sb a:not(.nobold), .change-container .normalbold, .change-container div.content a:not(.nobold) {/*106572 - nobold added for attachment Download all option*/
	font-weight: bold;	
}
.change-container div.content a.customMenu-ui1 {
	line-height: 21px;
	font-size: var(--fs-12);
	font-weight: normal;
}
.change-container div.content .sdmenu-dd-ui1 a {
	font-weight:normal;	
}
.sdmenu-dd-ui1 #actionsubhead {
	display:block;
	padding:6px 4px;
	font-weight: bold;	
	background:#eee;
}
.change-container .addservicebtnmiddle {
	color:#fff;	
}
.rowNorm .servicecat-edit {
	display:inline-block;
	margin-left:7px;
}
.whitebgBorder3, .whitebgborder3{
	border:1px solid #e0e0e0;
	border-bottom:none;
}
.notes1{
	color:#707070;
}
span.chgprogbtnarw {
	margin: 0px 2px 0px 5px;
	background: url('/images/chgprogbtnarw.png') center right no-repeat;
	width: 21px;
	height: 34px;
	display:inline-block;
	position:absolute;
	left:-29px;
	top:-5px;
}
.change-formhdr {
	padding-right: 2px;
}
.change-formhdr strong.formhdr {
	margin-left: 12px;
}
.change-formdata2 .rowData {
	padding: 10px 26px 10px 10px;
}
.uicomponent{
	width:100%;
	}
.change-container div.content .subtaboff a, .change-container div.content .subtabon a {
	font-weight:normal;
}
.tableComponent .vtopfix {
	padding:16px 0px 17px 0px;
  	display:block;
}

/* sdStyle.css overwritten */
.requestdetailsbg100 {
	background:#fff;	
}

.fontgray-81 {
	color: #818181;
}
.change-tabview {
	font-weight: bold;
	line-height:22px;
	text-decoration: none;
	color: #000;
	border-left:1px solid #e5e5e5;
	padding: 11px 10px;
	background:#fff;
}
.change-tabview em {
	background: url('/images/workflow-tabview.gif') right 9px no-repeat;
	padding: 14px;
}
.change-singleview{
	font-weight: normal;
	line-height:22px;
	text-decoration: none;
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	border-left:1px solid #e5e5e5;
	padding: 11px 10px;
}
.change-singleview a{ text-decoration:none;font-weight: normal;}
.change-singleview em {
	background: url('/images/workflow-singleview.gif') right 9px no-repeat;
	padding: 14px;
	margin-right:6px;
}
.change-info-view{
	background: url('/images/infoicon.png') right 17px no-repeat;
	padding:19px 0px;
	width:16px;
	height:16px;
	margin:0px 15px;
}
.bluebrLR{
	border-left:1px solid #8CBAE8;
	border-right:1px solid #8CBAE8;
}
.wo-view-bg-sep-btm{ border-bottom:1px solid #E5E5E5;}
.cnttabpanel .txtlnk3 { white-space:nowrap; }
#secondtable div>ul.openticketul li, #secondtable div>ol.openticketul li, .formTable, .search_curve_cnt, .solutions_curve_cnt, .status_curve_cnt, .approvedComment_curve_cnt, .techview_curve_cnt {
	border-left:none!important;
}
#displayMembers a table td{color: #008ddd; color: var(--link_tab_line_color, #008ddd);}

.change-tabs{
	margin-top:15px;
	}
.change-tabs .subtabon {
	background:none;
	border-left:none;	
}
.change-container div.content .change-tabs .subtabon a {
	font-weight: bold;
}
.change-container div.content .change-tabs .subtaboff a {
	background:none;	
	font-weight: bold;
}
.changedetails-incidents {
    color:#555;
	font-weight: bold;
	padding-bottom:2px;
}
.addstatusform {
	border-right:1px #ccc solid;	
	margin-right:6px;
	padding-right:10px;
}
.changestatuslink {
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
	font-weight: bold;
	text-decoration:none;	
	background:url('/images/cmdb-show-plus.gif') right 0px no-repeat;
	padding-right:23px;
	display:inline-block;
	margin-right:5px;
	height:20px;
}
.listNormal4 .link, .listNormal4 .linkshow {
	display:none;		
}
.stagestatus-editform {	
	border-right:1px solid #ECECEC;
	border-top:1px solid #CCC;
	background:#FBFBFB;
	position:relative;
	top:-3px;
}
.stagestatus-editform-h, .tableComponent td.stagestatus-editform-h {
	background:#f1f1f1;
	font-weight: bold;
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
	padding:9px 8px 9px 4px;
}
.stagestatus-editform-subh, .tableComponent td.stagestatus-editform-subh {
	background:url('/images/blackdot-bdr.gif') bottom repeat-x;
	padding-bottom:5px;
	padding-right:9px;	
	font-weight: bold;
}
.stagesubmitbg, .tableComponent td.stagesubmitbg {
	border:none;
	border-bottom:1px #ccc solid;
}
.tableComponent tr td .notes1 {
	color:#969595;
	line-height:16px;
	display:block;
	text-align:right;
	padding-bottom:3px;
}
.tableComponent tr td .notes2 {
	color:#969595;
	line-height:16px;
	display:block;
	text-align:right;
	padding-left:40px;
	padding-right:5px;
}
.tableComponent tr td .tag {
	color:#555;
	background:#F4F4F4;
	padding:3px 2px;
}
.change-tabs tr.subtab-bg td{
	background:#f6f6f6;
}
#changesubtab td.bdrnone{
	border-left:0;
	}
#changesubtab td.bdrlnone{
	border-right:0;
	}
.change-tabs tr.subtab-bg td.chg-subtaboff.sub:hover, 
.change-tabs tr.subtab-bg td.chg-subtabon {
	background:#E1E1E1;
}
#changesubtab .subtaboff.sub, #changesubtab .subtabon.sub {
	border-left:0 none;
	border-right:0 none;
}
#changesubtab .subtaboff.cur-def {
	border:1px solid #dedede;
}
#changesubtab tr.subtab-bg td:nth-child(7) {
	border-left:0 none;
}
.prgs-tr:before, 
.prgs-tr:after {
	box-sizing:content-box;
}
.prgs-tr td{
	vertical-align:middle;
	position:relative;
}
.prgs-tr td:nth-child(8):before {
	border-radius:0 10px 10px 0;
}
.progress-middle:before,
.progress-lcurve:before,
.progress-rcurve:before,
.progress-act-lcurve:before,
.progress-act-rcurve:before,
.progress-act-middle:before {
	content:"";
	display:block;
	height:6px;
	position:relative;
	top:-9px;
}
.progress-middle:before{
	background:#e4e4e4;
	border-color:#d4d4d4 currentcolor #d4d4d4 currentcolor;
	border-style:solid none solid none;
	border-width:1px 0 1px 0;
}
.progress-lcurve:before{
	background:#e4e4e4 none repeat scroll 0 0;
	border-color:#d4d4d4 currentcolor #d4d4d4 #d4d4d4;
	border-style:solid none solid solid;
	border-width:1px 0 1px 1px;
	border-radius:10px 0 0 10px;
}
.progress-rcurve:before{
	background:#e4e4e4 none repeat scroll 0 0;
	border-color:#d4d4d4 #d4d4d4 #d4d4d4 currentcolor;
	border-style:solid solid solid none;
	border-width:1px 0px 1px 1px;
}
.progress-act-lcurve:before{
	background:#c8e3f7 none repeat scroll 0 0;
	border-color:#84c4f3 currentcolor #84c4f3 #84c4f3;
	border-style:solid none solid solid;
	border-width:1px 1px 1px 0px;
	border-radius:0px 10px 10px 0px;
}
.progress-act-rcurve:before{
	background:#c8e3f7 none repeat scroll 0 0;
	border-color:#84c4f3 currentcolor #84c4f3 currentcolor;
	border-style:solid none solid none;
	border-width:1px 0 1px 0;
}
.progress-act-middle:before{
	background:#c8e3f7 none repeat scroll 0 0;
	border-color:#84c4f3 currentcolor #84c4f3 currentcolor;
	border-style:solid none solid none;
	border-width:1px 0 1px 0;
}
.prgs-complete, .in-prgs, .prgs-reject, .prgs-skip{
	width:19px;
	height:17px;
	position:absolute;
	top:-14px;
	float:left;
	left:50%;
	margin-left:-10px;
	cursor: var(--sdpcursor-pointer);
	z-index:1;
}
.prgs-complete{
	background:url('/images/progress-complete.png') no-repeat;
	}
.prgs-reject{
	background:url('/images/progress-reject.png') no-repeat;
	}
.prgs-skip{
	background:url('/images/progress-skip.png') no-repeat;
	}
.in-prgs{
	background:url('/images/prgs-active.gif') no-repeat;
	cursor: var(--sdpcursor-default);
	}
.hide-prgs{
	background:#e4e4e4;
	border-color:#d4d4d4 #d4d4d4 #d4d4d4 currentcolor;
	border-style:solid solid solid none;
	border-width:1px 0 1px 0;
	content:"";
	display:none;
	height:6px;
	width:50%;
	position:absolute;
	top:-9px;
	left:-1px;
	box-sizing:border-box;
	}
.prgs-edge {
	background:url('/images/prgs-edge.png') left no-repeat;
	display:inline-block;
	width:4px;
	height:16px;
	position:absolute;
	left:-1px;
	top:-14px;
}
.chg-subtaboff,
.chg-subtabon {
	height:35px;
	padding:0 10px;
	color:#000;
	text-decoration:underline;
}
.chg-subtaboff.sub,
.chg-subtabon.sub { 
	white-space:nowrap;
}
.progress-act-rcurve:not(.unclose) .hide-prgs {
	background:#c8e3f7 none repeat scroll 0 0;
	border-color:#84c4f3 #84c4f3 #84c4f3 currentcolor;
	border-style:solid none solid solid;
	border-width:1px 0 1px 1px;
}
#changesubtab .subtab-bg a.history{
	color:#000;
	font-weight:normal;
	
	}
.stage-div, .stage-div-over{
	background-color:#fafafa;
	text-align:right;
	border:solid 1px #ccc;
	width:280px; 
	}
.stage-div label, .stage-div-over label{
	margin:12px 10px 10px 0;
	}
#stagemsg .stage-content, #ChangeHeader .stage-content{
	width:225px;
	}
.stage-content{
	line-height: 18px;
	margin:8px 0px 10px 10px;
	color:#797979;
	}
.stage-div-over{
	position:absolute;
	z-index:3000;
	}
.stagearrow{
	background:url('/images/stage-arrow.gif') no-repeat;
    height: 15px;
    width: 23px;
	position:relative;
	bottom:-15px;
	left:136px;
	clear:both;
	}
.stage-prgs{
	position:absolute;
	text-align:center;
	color:#929292;
	font-weight:normal;
	display:none;
	top:-32px;
	white-space:nowrap;
	width:100%;
	}
.stage-desc{
	border-top:dotted 1px #858585;
	color:#797979;
	margin:0 10px;
	padding:10px 0 0 0;
	clear:both;
	}
.pos-rel{
	position:relative;
	}
.pl0{
	padding-right:0;
	}
.status-comment{
	width:100%;
	height:80px;
	}
.bt0{
	border-top:0;
	}
#ShowChangeTemplate_NAME{
	width:20%;
}
.backtotop{
	position:fixed;


	bottom:30px;
	left:10px;
	padding:7px 10px 5px 10px;
	background:#888;
	float:left;
	width:auto;
	color:#fff;
	opacity:0.5;
	border-radius:4px;
	cursor: var(--sdpcursor-pointer);
	display:none;

	transition: 1s;
	}
.backtotop strong {
	background:url('/images/gototop.png') no-repeat;
	width:12px;
	height:12px;
	float:left;
	margin:0 5px 0 0;
	display:block;
	}
.backtotop span{
	float:left;
	font-weight: bold;
	}
.backtotop:hover{
	color:#fff;
	background:#888;
	opacity:1;

	}
.stage-addboxpos{
	margin-right:20px;
	}
.f11{
	font-size: var(--fs-12);
	}
.notespadding{
	padding-left:20px;
	}
.infomsg{
	font-size: var(--fs-12);
	color:#777;
	}
.uploadmask {
    display: block;
    margin-left: 5px;
	overflow:hidden;
    position: relative;
	height:30px;
}
#attachlink2.uploadmask{
	float:right;
	height:14px;
	}
.uploadmask input {
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    opacity: 0;

    z-index: 2;
    cursor: var(--sdpcursor-pointer);
    font-size: var(--fs-200);
}

.uploadmask .button {
    line-height:24px;
    padding:2px 2px 2px 50px;
    display:block;
}
.uploadmask .button a{
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	text-decoration:underline;
}

.attachicon{
	background:url('/images/flow-chart.png') no-repeat;
	height: 21px;
	width: 18px;
	margin:0 3px 0 2px;
	cursor: var(--sdpcursor-pointer);
	float:left;
	}
.deletediv{
	width:60px;
	height:20px;
	position:absolute;
	z-index:0;
	}
.attachdel{
	background:url('/images/attach-delete.png') no-repeat;
	margin-left:10px;
	cursor: var(--sdpcursor-pointer);
	}

.tablecomponent .change-cnt-fileattach:hover{
	text-decoration:underline;
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	}
.addedatt {
	position:relative;
	right:-25px;
	margin-top:5px;
}
.change-appvlsummary-rit-icon{
    background: url('/images/pending-tick-mark-grn.png') no-repeat left center transparent;
    height: 9px;
    width: 12px;
    margin:0px 10px;
        border:0px
}
.change-appvlsummary-del-icon{
    background: url('/images/del-icon.png') no-repeat left center transparent;
    height: 11px;
    width: 11px;
	margin:0px 10px;
	border:0px
}
#NewCommonList_TABLE .sortedTableHeader{
	padding-right:0
}
.arrow_box, .deselect_arrow {
	display: inline-block;
    margin: 7px 0;
    padding: 3px 4px;
	position: relative;
	background: #f1f1f1;
	border: 1px solid #cdcccc;
	font-weight: bold;
}
.deselect_arrow {
	background: #fff;
	border: 1px solid #fff;
	}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(241, 241, 241, 0);
	border-top-color: #f1f1f1;
	border-width: 5px;
	left: 50%;
	margin-left: -2px;
}
.arrow_box:before {
	border-color: rgba(205, 204, 204, 0);
	border-top-color: #cdcccc;
	border-width: 6px;
	left: 50%;
	margin-left: -3px;
}
.approvalsummary .change-cnt-subheader{
	background:#f5f5f5;
    color: #000000;
    font-size: var(--fs-13);
	font-weight: bold;
    padding: 4px;
	}
.tableComponent td.listNormal3 a, .tableComponent td.listNormal2 .stagests, .tableComponent td.listNormal a{
	color: #333;	
	}
.tableComponent td.listHover2 .stagests,
.tableComponent tr.hover a{
	color: #008ddd;	
	color:var(--link_tab_line_color, #008ddd);
}
.ctypebox{
	border: #000000 1px solid; 
	width: 11px;
	height: 11px;
		
	float:left;
	margin-left:5px;
	font-size: var(--fs-0);
	margin-bottom:-2px;
	}
.ctypetext{
	white-space:nowrap;
	display:inline;
	}
#newchangeform table td{
	white-space:normal;
	}
.textalign{
	text-align:left;
	}
.shadow {
	box-shadow: -2px 0px 6px #777;
	}
#change-container #ui-framework-design1 .ui-button1 input, #change-container #ui-framework-design1 .ui-button2 input, #change-container #ui-framework-design1 .ui-button3 input, #change-container #ui-framework-design1 .ui-button5 input, #change-container #ui-framework-design1 .formsubmitbtn-ui1, #change-container #ui-framework-design1 .formcancelbtn-ui1{
	width:auto;
	}
#ChangeDetailsTable_NAV .pad8{
	padding:0;
	}
div.nonlogin{
	margin-right:10px;
	}
#SampleContent .tableComponent td{
	white-space:normal;
	}
.sla-minutes{
	padding-left: 25px;
}
.tableHead2-highlight td {
    background: #666 url('/images/header_grbg.gif') repeat-x;
    color: #000;
}
.cal-week-table > tbody > tr, 
.cal-week-table > thead {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.cal-week-table > tbody {
    display: block;
    height: 470px;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
 }
.cal-week-table * {
    box-sizing: border-box;
}
.chncalsidebar .task-list-sb .task-items {
    overflow: auto;
}
.cal-week-table  td.calendarcellweek1, 
.cal-week-table  th.headerweek1 {
    width: 74%;
}
.cal-week-table .headerweek {
	padding: 7px 3px;
}
.cal-week-table td.calendarcellweek1 {
    line-height: 16px;
    text-align: left;
    padding: 10px;
}
.cal-week-table td.calendarcellweek1 a {
    white-space: pre-line;
	word-wrap: break-word;
	display:block;
}
.cal-week-table div > .rightcurve,
.cal-week-table div > .leftcurve {
	top:3px;
	background-size: 21px;
}
@media (max-width: 1360px) {
	.cal-week-table  td.calendarcellweek1, 
	.cal-week-table  th.headerweek1 {
		width: 43%;
	}
}
a.change-subtab-active:focus{
    color: #fff;
}
#change_stage .over-block{
	width: 15px;
    height: 15px;
    position: absolute;
    right: 25px;
    top: 7px;
    border-radius: 50%;
    z-index: 3001;
}
#change_stage .stage-div-over {
    background-color: #ffffff;
    border-color: #ddd;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
	padding-bottom: 10px;
}
#change_stage .stagearrow{
	display:none;
}
#change_stage .stage-div-over:after, #change_stage .stage-div-over:before {
    border: 10px solid transparent;
    border-left-color: #fff;
    position: absolute;
    content: '';
    left: 100%;
    top: 8px;
}
#change_stage .stage-div-over:before {
	border-left-color: #ddd;
	border-width: 12px;
    margin-top: -2px;
}