/* $Id$ */
.box {
	background-color: #F5F5F5;
	border: 1px solid #999;
	font-weight: normal;
}
.box2 {
	font-weight: normal;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	border-left: 4px solid #eee;
	border-right: 4px solid #eee;
	color: #000;
	padding: 2px;
	display: block;
	margin-right: 0px;
	width: 130px;
}
.boxnoborder {
	font-weight: normal;
	color: #000;
	padding: 2px;
	display: block;
	margin-right: 0px;
	width: 130px;
}
.boxdis {
	font-weight: normal;
	color: #555;
	padding: 2px;
	display: block;
	margin-right: 0px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	border-left: 4px solid #eee;
	border-right: 4px solid #eee;
	background-color: #fff;
	width: 130px;
}
.boldtext {
	color: #000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	border-left: 4px solid #bbb;
	border-right: 4px solid #bbb;
	background-color: #EFF4FA;
	font-weight: normal;
	padding: 2px;
	display: block;
	margin-right: 0px;
	cursor: var(--sdpcursor-pointer);
	width: 130px;
}
.boxnoborderdis {
	font-weight: normal;
	color: #CCC;
	padding: 2px;
	margin-right: 0px;
	display: block;
}
.fontname, .fontsize {
	margin-right: 3px;
	background-image: url('/images/htmlarea/fontface-active.gif');
	background-repeat: no-repeat;
	background-position: left;
	font-weight: normal;
	width: 25px;
	height: 25px;
	cursor: var(--sdpcursor-pointer);
}
.fontsize {
	background-image: url('/images/htmlarea/fontsize-active.gif');
}
