/* $Id$ */
/* Navigation SelectType Buttons Styles Created by MGopi on 30-Jan-2008 */
img.pagenav-first-off, input.pagenav-first-off, span.pagenav-first-off {
	background-image: url('/images/ui-common-view.svg?15140');
    background-position: -155px -360px;
	width: 24px;
	height: 18px;
	opacity: 0.3;
}
img.pagenav-previous-off, input.pagenav-previous-off, span.pagenav-previous-off {
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -118px -360px;
	width: 24px;
	height: 18px;
	opacity: 0.3;
}
img.pagenav-next-off, input.pagenav-next-off, span.pagenav-next-off {
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -128px -360px;
	width: 24px;
	height: 18px;
	opacity: 0.3;
}
img.pagenav-lastpage-off, input.pagenav-lastpage-off, span.pagenav-lastpage-off {
	background-image: url('/images/ui-common-view.svg?15140');
    background-position: -181px -360px;
	width: 24px;
	height: 18px;
	opacity: 0.3;
}
img.pagenav-first, input.pagenav-first, span.pagenav-first {
	background-image: url('/images/ui-common-view.svg?15140');
    background-position: -155px -360px;
	width: 24px;
	height: 18px;
}
img.pagenav-previous, input.pagenav-previous, span.pagenav-previous {
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -118px -360px;
	width: 19px;
	height: 18px;
}
img.pagenav-next, input.pagenav-next, span.pagenav-next {
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -128px -360px;
	width: 19px;
	height: 18px;
}
img.pagenav-lastpage, input.pagenav-lastpage, span.pagenav-lastpage {
	background-image: url('/images/ui-common-view.svg?15140');
    background-position: -181px -360px;
	width:19px;
	height: 18px;
}
img.filterstart {
	height: 14px;
	width: 5px;
}
img.admin_scannowicon {
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -96px -931px;
	width: 16px;
	height: 16px;
}
img.admin_stopscanicon {	
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -153px -931px;
	width: 16px;
	height: 16px;
}
img.admin_usersicon {
	background: url('/images/common-images.png') no-repeat -17px 0px;
	width: 32px;
	height: 32px;
}
img.bt_dashboard_more_arrow {
	background: url('/images/common-images.png') no-repeat -2px -24px;
	width: 9px;
	height: 6px;
}
a.bt_dashboard_max {
	background: url('/images/common-images.png') no-repeat -52px -5px;
	width: 29px;
	height: 22px;
	float: right;

}
#Dashboard .content div.controls strong.morearrow {
	background: url('/images/common-images.png') no-repeat -2px -24px;
	position: absolute;
	z-index: 2;
	width: 9px;
	height: 6px;
	right: 7px;
	top: 10px;
	display: block;
}
.icon_asset_scansuccessful {
	background: url('/images/common-images.png') no-repeat -112px 0px;
	width: 79px;
	height: 50px;
}
.icon_asset_scanfailed {
	background: url('/images/common-images.png') no-repeat -193px 0px;
	width: 79px;
	height: 50px;
}
.icon_asset_nextscan {
	background: url('/images/common-images.png') no-repeat -355px 0px;
	width: 79px;
	height: 50px;
}
img.alert-warn-icon {
	background: url('/images/common-images.png') no-repeat -110px -54px;
	width: 22px;
	height: 22px;
}
/* Warning Icon */
img.alert-green-icon {
	background: url('/images/common-images.png') no-repeat -110px -78px;
	width: 22px;
	height: 22px;
}
/* Info Icon */
img.alert-greenicon-yes {
	background: url('/images/common-images.png') no-repeat -135px -78px;
	width: 22px;
	height: 22px;
}
/* Success Icon */
img.alert-redicon-no {
	background: url('/images/common-images.png') no-repeat -135px -54px;
	width: 22px;
	height: 22px;
}
/* Failure Icon */
span.admin_agentsettings {
	background-image: url('/images/common-images.png') !important;
	background-position: -167px -53px;
}
span.admin_swlicensetype {
	background-image: url('/images/common-images.png') !important;
	background-position: -167px -86px;
}
span.admin_agree_addnl {
	background-image: url('/images/common-images.png') !important;
	background-position: -202px -53px;
}
span.admin_import_licn_csv {
	background-image: url('/images/common-images.png') !important;
	background-position: -204px -85px;
}
span.admin_import_asset_csv {
	background-image: url('/images/common-images.png') !important;
	background-position: -240px -53px;
}
span.admin_generalsettings {
	background-image: url('/images/common-images.png') !important;
	background-position: -238px -84px;
}
span.admin_site24x7 {
	background-position: -310px -426px;
}
span.admin-zreportcnfg-icon {
	background-position:-270px -426px;
}
span.admin_proxy_icon {
	background-position: -351px -426px;
}
.agtscnchk {
	background: url('/images/common-images.png') no-repeat -113px -104px;
	width: 19px;
	height: 20px;
}
.agtscnunchk {
	background: url('/images/common-images.png') no-repeat -139px -104px;
	width: 19px;
	height: 20px;
}
.btnbgrd-nl {
	background: url('/images/common-images.png') no-repeat -6px -128px;
	width: 5px;
	height: 30px;
}
.btnbgrd-nr {
	background: url('/images/common-images.png') no-repeat 0px -128px;
	width: 5px;
	height: 30px;
}
.helpcardtoptile {
	background: url('/images/helpcardtoptile.gif') repeat-x;
}
.helpcardtile {
	background: url('/images/helpcardtile.gif') repeat-x;
}
.helpcardbottile {
	background: url('/images/helpcardbottile.gif') repeat-x;
}
.helpcardleftcap {
	background: url('/images/helpcardleftcap-rtl.gif') no-repeat;
	width: 30px;
	height: 27px;
}
.helpcardbottomcap {
	background: url('/images/helpcardbottomcap-rtl.gif') no-repeat;
	width: 23px;
	height: 27px;
}
.helpcardcap {
	background: url('/images/helpcardrightcap-rtl.gif') left no-repeat;
	width: 23px;
	height: 27px;
}
.helpcardcorner {
	background: url('/images/helpcardltcorner-rtl.gif') 0px 0px no-repeat;
	width: 30px;
	height: 27px;
}
.helpcardlefttile {
	background: url('/images/helpcardrighttile.gif') right repeat-y;
	width: 15px;
}
.helpcardrighttile {
	background: url('/images/helpcardlefttile.gif') left repeat-y;
	width: 15px;
}
img.helpcardlbcorner {
	background: url('/images/helpcardrbcorner.gif') right no-repeat;
	width: 26px;
	height: 14px;
	vertical-align:top;
}
img.helpcardrbcorner {
	background: url('/images/helpcardlbcorner.gif') 0px 0px no-repeat;
	width: 15px;
	height: 14px;
	vertical-align:top;
}
.wizard-toptile {
	border-top: 1px #90afd4 solid;
}
.wizard-lefttopcorner {
	background: url('/images/wizard_righttop.gif') no-repeat;
	width: 9px;
	height: 9px;
}
.wizard-righttopcorner {
	background: url('/images/wizard_lefttopcorner.gif') no-repeat;
	width: 9px;
	height: 9px;
}
.wizard-lefttile {
	border-right: 1px #90afd4 solid;
}
.wizard-righttile {
	border-left: 1px #90afd4 solid;
}
.wizard-leftbottomcorner {
	background: url('/images/wizard_rightbottomcorner.gif') no-repeat;
	width: 9px;
	height: 9px;
}
.wizard-rightbottomcorner {
	background: url('/images/wizard_leftbottomcorner.gif') no-repeat;
	width: 9px;
	height: 9px;
}
.wizard-bottomtile {
	border-bottom: 1px #90afd4 solid;
}
.closebtnr3 {
	background: url('/images/closebtnr3.gif') no-repeat;
	width: 14px;
	height: 14px;
	cursor: var(--sdpcursor-pointer);
}
.closebtnr3-inline {
	background: url('/images/closebtnr3.gif') no-repeat;
	width: 14px;
	height: 14px;
	display:inline-block;
}
img.siteicon-s {
    background:url('/images/site-icon-small.png') no-repeat;
    width:16px;
    height:16px;
}
img.siteicon-m {
    background:url('/images/site-icon-medium.png') no-repeat;
    width:32px;
    height:32px;
}
img.admin_contractType {
	background: url('/images/common-images.png') -349px -56px no-repeat;
	width:32px;
	height:32px;
}
img.admin_contractadditionalfields {
	background: url('/images/common-images.png') -384px -56px no-repeat;
	width:32px;
	height:32px;
}
.Adminlinks span.admin_contractType {
	background-image: url('/images/common-images.png');
	background-position:-349px -56px;
}
img.admin_stopscanicon {
    background: url('/images/common-images.png') no-repeat -118px -132px;
    width: 15px;
    height: 13px;
}
.header-chat-iconpos {
    margin:0 5px;   
}
img.chat-online, img.chat-offline {
    width:14px;
    height:14px;
    border:0;   
}
img.chat-online {
    background:url('/images/common-images.png') -67px -62px no-repeat;
}
img.chat-offline {
    background:url('/images/common-images.png') -86px -62px no-repeat;
}

/* admin SDP icon section*/
.admin-section ul li a span{
	background-image: url('/images/common-images.png');
	background-repeat: no-repeat;
	width: 32px;
    height: 32px;
	display: block;
}
.admin-standalone-icon{
    background-position: -109px -212px;
}
.admin_rcsettings{
    background-position: -190px -210px;
}
.admin-import-csv-icon{
    background-position: -26px -240px;
}
.service-affected-icon{
   background-position: -89px -250px;
}
.admin-orgsatn-icon{
    background-position: -217px -247px;
}
.admin-role-icon{
   background-position: -348px -249px;
}
.admin-ldap-icon{
    background-position: -66px -282px;
}
.admin-impact-icon{
   background-position: -215px -280px;
}
.purchase-addfield-icon{
   background-position: -287px -283px;
}
.purchase-dfltvle-icon{
   background-position: -324px -286px;
}
.contracts-addlfields-icon{
   background-position:-354px -287px;
}
.admin_contractType {
	background-position:-349px -56px;
}
/* admin SDP icon section*/
.admin_rformcustomizer {
	background-position: 0px -355px;
}
.admin_emailicon {
	background-position: -102px -282px;
}
.admin_locationicon {
	background-position: -250px -246px;
}
.admin_siteicon {
	background-position: -284px -246px;
}
.admin_departmenticon {
	background-position:  -315px -250px;
}
.admin_queue {
	background-position: -351px -354px;
}
.admin_rule {
	background-position: -130px -355px;
}
.admin_notification {
	background-position: -141px -280px;
}
.admin_license_add_fields {
	background-position: -186px -243px;
}
.admin_agentsettings {
	background-position: -167px -53px;
}
.admin_swlicensetype {
	background-position: -167px -86px;
}
.admin_agree_addnl {
	background-position: -202px -53px;
}
.admin_import_licn_csv {
	background-position: -204px -85px;
}
.Change_Stage {
	background-position: -174px -388px;
}
.admin_producttypes {
	background-position: -222px -214px;
}
.admin_product {
	background-position: -255px -216px;
}
.admin_vendorsicon {
	background-position: -292px -214px;
}
.admin_vendorservicesicon {
	background-position: -439px -259px;
}
.admin_workstationudf {
	background-position: -326px -218px;
}
.admin_assetudf {
	background-position: 4px -240px;
}
.admin_domainscanicon {
	background-position: 3px -208px;
}
.admin_networkscanicon {
	background-position: -34px -208px;
}
.admin_categoryicon {
	background-position: -72px -212px;
}
.admin_requestorudf {
	background-position: -320px -355px;
}
.admin_usersicon {
	background-position: -356px -219px;
}
.admin_technicianudf {
	background-position: -96px -181px;
}
.admin_techicon {
	background-position: 2px -271px;
}
.admin_adsettings {
	background-position: -35px -276px;
}
.admin_schedulesurvey {
	background-position: -463px -388px;
}
.admin_survey {
	background-position: 2px -426px;
}
.admin_general {
	background-position: -30px -426px;
}
.backupschedule {
	background-position: -181px -284px;
}
.admin_assetscan {
	background-position: -150px -212px;
}
.admin_softwaretype {
	background-position: -121px -249px;
}
.admin_softwarecategory {
	background-position: -152px -246px;
}
.admin_resourcestate {
	background-position: -55px -242px;
}
.admin_relationshipType {
	background-position: -274px -87px;
}
.admin_costcenter {
	background-position: -250px -282px;
}
.admin_glcode {
	background-position: -121px -249px;
}
.admin_contractType {
	background-position:-349px -56px;
}
.admin_api_icon {
	background-position: -152px -426px;
}
.admin_dataarchive {
	background-position: -108px -426px;
}
.admin_defineconfigicon {
	background-position: -152px -426px;
}
.admin_translationicon {
	background-position: -232px -426px;
}
.changeroles {
	background-position: -91px -516px;
}
.stageandstatus {
	background-position:-466px -222px;
}
.change-template {
	background-position: -431px -223px;
}
.admin_css {
	background-position: -66px -426px;	
}
.risk {
	background-position: -57px -513px;
}
.reasonforchange {
	background-position: -158px -516px;
}
.closurecode {
	background-position: -194px -518px;
}
.changestage {
	background-position: -400px -257px;
}
.admin_defineconfigicon {
	background-position: -195px -428px;
}
span.admin_citype {
	background-position:-273px -56px;
}
span.admin_credentials {
	background-position:-233px -515px;
}
span.admin_currencyicon {
	background-position:-124px -517px;
}
span.admin_pr-settings-icon{
    background-position: -365px -518px;
}
span.admin_pr-advfield-icon{
    background-position: -406px -517px;
}
.admin_securitysettings{
	background-position: -372px -610px;
}
span.admin_privacyicon {
	background-position: -10px -570px;
}
span.admin_sccmicon {
	background-position: -34px -309px;
}

/* support icon section */

.support-form{background-position: 4px -469px;}

table.tableComponent td.admin_scannowicon {
	width:18px;
}
table.tableComponent td.admin_scannowicon a {
	margin:0 10px;
	display:block;
	width: 18px;
	height: 13px;
}
img.admin_stopscanicon {
    background: url('/images/common-images.png') no-repeat -118px -132px;
    width: 15px;
    height: 13px;
}
#ui-framework-design1 .close-icon, .close-icon:hover, .tooltip-arrow, .installicon, .companywideicon, .ae-icon04, .ae-icon04:hover, .ae-icon05, .ae-icon06, .ae-icon07, .ae-icon08, .ae-icon09{
	background:url('/images/ae-icons-pack1.png') no-repeat;
}
.ae-icon04{
    background-position:-219px -3px; width:10px; height:10px;
    }
.ae-icon04:hover{
    background-position:-234px -3px; width:10px; height:10px; cursor: var(--sdpcursor-pointer);
    } 
.ae-icon05{
    background-position:-36px -57px; width:16px; height:16px; cursor: var(--sdpcursor-pointer); 
    }
.ae-icon06{background-position:-60px -57px; width:14px; height:14px; cursor: var(--sdpcursor-pointer);}
.ae-icon07{background-position:-84px -57px; width:14px; height:14px; cursor: var(--sdpcursor-pointer);}
.ae-icon08{background-position:-103px -54px; width:24px; height:22px; cursor: var(--sdpcursor-pointer);}
.ae-icon09{background-position:-125px -52px; width:24px; height:22px; cursor: var(--sdpcursor-pointer);}
span.vip-requester-xs {
  background:url('/images/vip-requester-xs.svg') center no-repeat;
  display:inline-block;
  width:16px;
  height:16px;
}
.vip-name-xs {
	background:url('/images/vip-requester-xs.svg') center left no-repeat;
  display:inline-block;
  padding:2px 0 2px 20px;
}
.vip-requester-xs.cell {
	position:relative;
	top:-2px;
	margin-right:3px;
}
div.autocomplete ul li span.vip-requester-xs {
	display:inline-block;
	margin-right:5px;
}
.pipeline.cell {
	color:#ccc;
	font-weight:normal;
	display:inline-block;
	position:relative;
	top:-4px;
	margin:0 10px 0 0;
}
.vip-requester-lg {
  background:url('/images/vip-requester-lg.png') center no-repeat;
  display:inline-block;
  width:24px;
  height:24px;
}
.details-tab-section .pipeline {
	color:#ccc;
	font-weight:normal;
	display:inline-block;
	padding:0 10px;
}
#topbg .vip-requester-lg { 
 margin-right:5px;
 vertical-align:top;
 position:relative;
 top:-5px;
}
#topbg .vip-requester-lg { 
 margin-left:5px;
}
.node-assetContainer .vip-requester-lg {
 position:absolute;
 z-index:99;
 top:17px;
}
.desc_title .vip-requester-lg {
 position:absolute;
 z-index:99;
 top:32px;
}
.node-assetContainer .vip-requester-lg {
  left:30px;
}
.desc_title .vip-requester-lg {
 left:45px;
}
.rightarrow{background:url('/images/right_arrow-rtl.png') no-repeat; width:10px; height:10px;}
.plus-icon, .minus-icon, .chbox-off, .chbox-on, .deletekey, .sdpicon124, .sricon{
	background:url('/images/sdp-icons-pack1.png') no-repeat;
}
.plus-icon{
    background-position:-666px -459px;
    width:16px; height:16px; cursor: var(--sdpcursor-pointer);
    }
.minus-icon{
    background-position:-638px -459px;
    width:16px; height:16px; cursor: var(--sdpcursor-pointer);
    }
.chbox-off{
    background-position:-593px -459px;
    width:16px; height:16px;
    }
.chbox-on{
    background-position:-613px -459px;
    width:16px; height:16px;
    }
.deletekey
{ 
background-position:-687px -463px;
width:13px; height:10px; display:inline-block; float:right; 
} 
 
.deletekey:hover
{
	background-position:-699px -463px;
text-decoration:none; color:#000000;  
width:13px; height:10px; 
}

.sdpicon124{
   width:30px; height:34px; background-position:-753px -459px;
    }
.sricon{width:14px; height:13px; background-position:-792px -462px;}  

span.admin_cusacnicon {
      background-position: -401px -291px
}
span.admin_custrigger {
    background-position: -441px -294px;
}
.popup-icon1-sm {
    background:url('/images/common-images.png') no-repeat -483px -310px;
    width:16px;
    height:16px;
    display:inline-block;
}
.mTLi .mArw, .tmpthdr .mArw{
	background: url('/images/common-images.png') no-repeat -335px -524px; 
	width:16px; 
	height:13px; 
	margin:3px 6px 0px 3px; 
	cursor: var(--sdpcursor-pointer);
}
span.extclose img{
	background: url('/images/common-images.png') no-repeat -278px -523px; 
	width:12px; 
	height:13px; 
	margin:-6px 3px 0px 6px; 
	cursor: var(--sdpcursor-pointer);
}
/*Field & Form Rules*/
.ffrm-add-logic, .ffrm-automate, .ffrm-validate {
    background: url('/images/common-images.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.ffrm-add-logic {
    background-position: -325px -554px;
    height: 52px;
    width: 52px;
}
.ffrm-automate {
    background-position: -386px -554px;
    height: 52px;
    width: 52px;
}
.ffrm-validate {
    background-position: -446px -554px;
    height: 52px;
    width: 52px;
}
/*Field & Form Rules*/

.close-icon4 {
	background:url('/images/common-images.png') no-repeat -155px -132px;
	width:14px;
	height:14px;
	display:inline-block;
	cursor: var(--sdpcursor-pointer);
}
.muasset-viewasset{
	 background: url('/images/common-images.png') no-repeat -439px -67px; 
	 height:12px;
	 width:12px;
	 display:inline-block;
	 cursor: var(--sdpcursor-pointer);
}
.remotedesktop{
	position:relative;
	 background: url('/images/common-images.png') no-repeat -460px -64px;
	 height:14px;
	 width:17px;
	 display:inline-block;
	 cursor: var(--sdpcursor-pointer);
}
/* Recent Items Icons */
#recentitems .ri_purchase_icon {
	background: url('/images/sdp-icons-pack1.png') -43px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_asset_icon {
	background: url('/images/sdp-icons-pack1.png') -162px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_contracts_icon {
	background: url('/images/sdp-icons-pack1.png') -181px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_reports_icon {
	background: url('/images/sdp-icons-pack1.png') -203px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_workstation_icon, .ri_workstation_icon {
	background: url('/images/sdp-icons-pack1.png') -224px -75px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
span.pagenav-first, span.pagenav-previous, span.pagenav-next, span.pagenav-lastpage,
span.pagenav-first-off, span.pagenav-previous-off, span.pagenav-next-off, span.pagenav-lastpage-off { 
	display:inline-block;
}