/*$Id$*/
.share {
	width: 500px;
	background-color: #F5F5F5;
	border: 3px solid #999;
	margin: 0 0 5px 200px;
}
.share h4 {
	color: #0049be;
	padding: 4px;
	border-bottom: 1px solid #CCC;
	margin: 5px 0 10px 0;
}
#shareInfo {
	font-size: var(--fs-12);
	font-weight: bold;
	background-color: #ff9900;
	color: #000000;
	border-left: 1px solid #ffa348;
	border-right: 1px solid #cc6600;
	border-top: 1px solid #ffa348;
	border-bottom: 1px solid #cc6600;
	padding: 2px;
	text-align: center;
}
#wo_email_div, #wo_blog_div, #wo_customblog_div {
	width: 500px;
	background-color: #F5F5F5;
	border: 3px solid #999;
	margin: 0 0 5px 200px;
}
#wo_email_div h4, #wo_blog_div h4, #wo_customblog_div h4 {
	color: #0049be;
	margin: 0;
	padding: 4px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}
#wo_upload_div {
	width: 500px;
	background-color: #F5F5F5;
	border: 3px solid #999;
	margin: 0 0 5px 200px;
}
#wo_upload_div h4 {
	color: #0049be;
	margin: 0;
	padding: 4px;
	border-bottom: 1px solid #CCC;
	margin-bottom: 10px;
}
.sysinfo {
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.sysinfo td {
	font-size: var(--fs-12);
	color: #666;
	border-width: 1px;
	border-style: inset;
	border-color: #EEE;
}
.autosave {
	font-size: var(--fs-9);
	color: #666;
	display: inline;
}
.slider {
	background-color: #EEE;
	margin: 0;
	border: 7px solid #bbb;
}
.slider table {
}
.slidebutton {
	background-color: #00CCCC;
	color: #FFFFFF;
	border-left: 1px solid #51D6D6;
	border-right: 1px solid #00A4A4;
	border-top: 1px solid #51D6D6;
	border-bottom: 1px solid #00A4A4;
	font-weight: bold;
}
a.toplinksel:link, a.toplinksel:active, a.toplinksel:visited {
	font-size: var(--fs-12);
	color: #000;
	background-color: #bbb;
	padding-top: 4px;
}
a.toplinksel:hover {
	color: #999;
}
.actionDiv {
	width: 500px;
	background-color: #F5F5F5;
	border: 3px solid #999;
	margin: 0 0 5px 200px;
}
.settab {
	background-color: #fff;
	text-decoration: none;
}
.smalltabssel {
	display: inline;
	cursor: var(--sdpcursor-pointer);
	padding: 3px;
	background: #F5F5E1;
}
.smalltabs {
	display: inline;
	cursor: var(--sdpcursor-pointer);
	padding: 3px;
}

.topdiv {
	background-color: #FFFFFF;
	margin: 0;
	border: 7px solid #bbb;
}
/*.msg {
	background-color: #CAE1FF;
	color: #778899;
	font-size: var(--fs-12);
	text-align: center;
	font-weight: bold;
	padding: 3;
	border: 1px outset #1E90FF;
}*/
.sucess {
	color: #009900;
	font-weight: bold;
}
/*.search {
	font-size: var(--fs-12);
	font-weight: normal;
	border-top: 1px solid #72B54F;
	border-bottom: 1px solid #72B54F;
	border-left: 0;
	border-right: 0;
	height: 24px;
	padding: 4px;
	margin: 0;
}*/
.impwiztd{
    padding:0 0 50px 50px;
}
.imp-wiz-header {
	width: 700px;
	margin-top: 70px;	
	}
.imp-wiz-header .imp-nav {
	margin: -41px 0 45px 0;
	position: relative;
	}
.imp-wiz-header hr {
	border: 0;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #ffffff;
	margin: 0;
	padding: 2px;
	}

.imp-wiz-header td div {
	line-height: 27px;
        *line-height: 20px;
	}
.imp-wiz-header .already-sel, .imp-wiz-header .not-sel {
	color: #909090;
	text-align: center;
	vertical-align: top;
	min-height: 50px;
    
	}
.imp-wiz-header .already-sel span, .imp-wiz-header .not-sel span, .imp-wiz-header .selected span{
	background:url('/images/import-wizard.png') no-repeat;
	color: #ffffff;
	padding: 4px 10px 8px 8px;
	height: 16px;
	width: 8px;
    font-size: 13px; //No need for font customization
	}
.imp-wiz-header .selected {
	color: #cf817f;
	text-align: center;
	vertical-align: top;
	min-height: 50px;
	
	}
.imp-wiz-header .not-sel {
	color: #909090;
	text-align: center;
	vertical-align: top;
	min-height: 50px;
	
	}
.imp-wiz-header .not-sel span {
	background-position: -35px -3px;
	}
.imp-wiz-header .already-sel span {
	background-position: -69px -3px;
	}
.imp-wiz-header .selected span{
	background-position: -3px -3px;
	}
.imp-wiz-content{
	width: 650px;
	padding-left: 50px;
	clear: both;
	color: #595959;
	}
.paddingBottom50 {
	padding-bottom: 50px;
	}
.upload-rgt, .upload-lft {
	background:url('/images/import-wizard.png') no-repeat;
	}
.upload-rgt {
	background-position: 0 -36px;
	color: #414141;
	float: left;
	font-weight: bold;
	height: 28px;
	margin: 3px 0 0;
	padding: 6px 5px 0 32px;
	text-shadow: -2px 1px #ffffff;
	}
.upload-lft {
	background-position: -486px -36px;
	float: left;
	margin-top: 3px;
	position: relative;
	width: 25px;
	height: 28px;

	}
.upload-div {
	cursor: var(--sdpcursor-pointer);
	margin: -35px 0 0;
	overflow: hidden;
	position: absolute;
	width: 164px;
	z-index: 99;
	height: 50px;
	}
input.upload-file {
	cursor: var(--sdpcursor-pointer);
	height: 30px;
	font-size: var(--fs-32);
	margin-left: -85px;
	opacity: 0;

	position: absolute;
	z-index: 100;
	}
.cap-txt {
	clear: both;
	margin-top: 33px;
	position: absolute;
	font-size: var(--fs-12);
	color: #b2b2b2;
	}
.impwizard2{
	padding:0 0 50px 50px;
	}
.fblack {
	color: #000000;
	}
.browsebutton{
    height:35px;
    float:left;
    margin-right: 10px;
}
.imp-wiz-content .browsebutton{
	height: auto;
	margin-left: 10px;
    padding: 5px 10px;
    border-radius: 2px;
    font-size: var(--fs-13);
    float: left;
    color: #333333;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    cursor: var(--sdpcursor-pointer);
    font-weight: bold;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.imp-wiz-content .bubbletooltip{
	margin-top: 30px; 
}
.imp-but-div{
	background-color: #f5f5f5;

	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeecec), to(#ffffff));

	background-image: linear-gradient(to bottom, #eeecec, #ffffff);
	background-repeat: repeat-x;

	height: 42px;
	width: 700px;
	padding: 10px 0 0 50px;
	margin-top: 30px;
	float: left;
	}

td.implabel, .impfield{
	text-align:left;
	padding: 0;
	white-space:nowrap;
	vertical-align:text-top;
	}
.implabel{
	padding:6px 0 20px 10px;
	}
.impfield select,
.impfield input{
	background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 220px;
	border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: var(--fs-14);
    height: 30px;
    margin-bottom: 10px;
    padding: 4px 6px;
	}
.imp-formheader td{
	background:#ececec;
	padding:10px;
	}	
.imp-warning{
	background:#feffdf;
	padding:10px;
	border:solid 1px #eaeaea;
	border-radius:4px;
	}
.imp-error-disp, .imp-error-disp td{
	border:solid 1px #dcdcdc;
	border-collapse:collapse;
	border-color:#dcdcdc;
	}
.impfieldname{
	color:#510101;
	}
.imp-confirm-msg{
	background:#eee;
	padding:10px;
	margin-top:15px;
	border-radius:4px;
	}
.success-header, .failure-header{
	background:#e3f4c3;
	color:#83a14a;
	font-size: var(--fs-18) ;
	border-bottom:solid 1px #d3d3d3;
	padding:10px;
	}
.failure-header{
	background:#f2dede;
	color:#b94a48;
	}
.imp-status-msg td{
	border-bottom:solid 1px #d3d3d3;
	font-size: var(--fs-14);
	}
.status-arrow{
    background: url('/images/ui-common-view.svg?15140') no-repeat -535px -298px;
    height: 12px;
    width: 13px;
    margin-left: 10px;
    vertical-align: middle;
}
#loadingDIV {
    left: 50%;
    position: fixed;
    top: 50%;
    z-index: 1000;
    
}
.mcLoaded {
    display: none;
}        
.showLoaded {
    display: block;
}
.status-window-table {
    background: none repeat scroll 0 0 #333333;
    border-color: #696969 #000000 #000000 #696969;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    font-weight: bold;
    padding: 3px;
}
.waitGIF {
    background-image: url('/images/progressbarsmall.gif');
    background-repeat: no-repeat;
    border: 0 none;
}
.fontWhite, .fontWhite a {
    color: #FFFFFF;
    font-size: var(--fs-9);
    text-decoration: none;
} 
 #RequestsOpenMenu .customMenu-ui5 em {
    border-left:solid 1px #bbb;
    top:0;
    right:0;
    background-position:3px 8px;
    height:20px;
    width:15px;
    cursor: var(--sdpcursor-pointer);
}
.pt2{
	padding-top:1px;
	}

#importreq em {
	background: url('/images/import-request.png') no-repeat; 
	width: 17px;
	height: 15px; 
}
.unit {
    color: rgba(0, 0, 0, 0.4);
    margin-left: 5px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.ie #impwz .btn, .ie .tab-content-wrapper .btn,.ie .fixedbtn .btn , .ie  .DialogBox  .btn,.zrept-integrationbg .btn{
  border:solid 1px #ccc;
  background-image:none;
}
.ie #impwz .btn-primary, .ie .tab-content-wrapper .btn-primary, .ie .fixedbtn .btn-primary, .ie  .DialogBox  .btn-primary, .zrept-integrationbg .btn-primary{
    border-color: #0044cc #0044cc #002a80;
} 
.solutions_content #statusfixtable tr td{ white-space:normal;}
