/* $Id$ */ 

/* EXTRAS */
/* ----------------------------------------------- */

.ui-formdate-cnt .form-control, .ui-formdate-cnt2 .form-control {
	display:inline-block;
	height:16px;
	padding-left:0;
}
.ui-formdate-cnt .form-control[readonly], .ui-formdate-cnt2 .form-control[readonly] {
	opacity:1;
}
.ui-combo1-list .setting-icon, .ui-combo1-list .common-filter-icon1-sm {
	margin:1px 6px;
	padding:0 !important;
}
.tableComponent .grid-icon-off {
	opacity:.3;

}
.tableComponent .icon-sm {
	margin-right:4px;
}
.tableComponent .icon-sm {
	display:inline-block;
}
.tableComponent a.common-edit-icon1 {
	opacity:.5;

}
.tableComponent a.common-edit-icon1:hover {
	opacity:1;

}
.tableComponent .convcount {
	font-size: var(--fs-12);
	position:relative;
	top:-2px;
}

/*-----------Conflict Fix------------*/

a:not(.text-link) { 
  /*
  If added, causing the issue: 
  1. Request reply button on default state text is black 
  2. Request -> Task tab: Content links are black 
  3. Change -> Planning Tab: analytics button on default state text is black & content links are grey
  4. Community -> Build Info section in sidebar: 'Details' link is in black
  5. Admin -> API: 'Documentation' button is in black
  6. Admin -> Incident Template: 'Undo', 'Redo', 'View list' links are in black
  */
  /*color: #000;
  text-decoration: none;*/
}
a:not(.text-link):hover,
a:not(.text-link):focus { 
  /* 
  If added, causing the issue:
  1. header evalband buttons on hover state text is black
  2. admin sidebar search result list on hover state text is black
  */
  /*color: inherit;
  text-decoration: inherit;*/
}

.brpdtxdtf .attachment, img.attachment {
	margin:0;
}
.scatWizseperator .breadcrumb {
	background-color:transparent;
	margin:0;
	padding:0;
}
select {
  width: auto;
  display: inline-block;
  vertical-align: initial;
  padding: inherit;
}
select.formStyleTechnician {
  padding:0;
}
.btn {
	border-radius:2px;	
}
.roweven .btn, .rowEven .btn,
.submit-row .btn, .submit-row .btn, .submit-row .btn,
.FormSubmitBG2 .btn, .formSubmitBG2 .btn {
	margin-right:5px;
}
input[type="radio"],
input[type="checkbox"] {
	margin:3px 3px 3px 4px;
}
.radio-inline input[type="radio"],
.checkbox-inline input[type="checkbox"] {
	margin:1px 0 0;
	margin-left:-20px;
	position:absolute;
}
fieldset {
  padding: 10px;
}
legend {
  margin-top: 0px;
}
p.form-control-static {
	margin-top:0;
}
.h4 hr, h4 hr, .h5 hr, h5 hr, .h6 hr, h6 hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	margin-top: 6px;
	margin-bottom: 18px;
	border: 0;
	border-top: 1px solid #eeeeee;
}
label {
  font-weight: 400;
}
label.fontHead, label.fonthead,
td.fontHead, td.fonthead,
td.fontHead label, td.fonthead label {
	font-weight: bold;
}
.textareadesc a:hover, #history a:hover, 
.change-cnt-desc-attach a:hover, .ze_body a:hover, 
.repliesbox a:hover, .chngnotisum ol li a:hover, 
.chngnotisum ul li a:hover, .ui-detailed-desc ol li a:hover, 
.ui-detailed-desc ul li a:hover,
.textareadesc a:focus, #history a:focus, 
.change-cnt-desc-attach a:focus, .ze_body a:focus, 
.repliesbox a:focus, .chngnotisum ol li a:focus, 
.chngnotisum ul li a:focus, .ui-detailed-desc ol li a:focus, 
.ui-detailed-desc ul li a:focus {
	color: #008ddd;
	color:var(--link_tab_line_color, #008ddd);
	text-decoration:underline;
}
a.addservicebtnmiddle:hover, a.formsubmitbtn-ui1:hover,
a.addservicebtnmiddle:focus, a.formsubmitbtn-ui1:focus {
	color:#fff;
}
b,
strong {
  font-weight: bold;
}
.fontBlack b > label, .fontblack b > label { font-weight: bold; }
.h5,
h5 {
  background-color: transparent;
  padding:0 !important;
}
.usermenu strong,
.accordion-log.accordion-timeline .sb,
.accordion-log.accordion-timeline strong,
.accordion-log.accordion-timeline strong {
  font-weight: bold;
  font-weight:400;
}
.top-header *, .top-subheader * {
	box-sizing:border-box;
}
.top-header .navbar-nav > li > a {
  line-height:18px;
}
.top-subheader .input-group-addon {
  padding:4px 10px;
}
.top-subheader .dd-globalsearch .input-group-addon {
  min-width:20px;
}
.top-evalband > div {
	color:#515151;
}
.admin-panel .h3,
.admin-panel h3 {
	font-size: var(--fs-17);
	font-weight:500;
	height:21px;
}
.admin-sidebar .nav-accordion.nav .nav > li > a {
	padding:6px 15px;
}
.feature-cnt .jumbotron-content h2 {
	font-weight:500;
	margin-bottom:9px;
}
.icon-xs {
	width:12px;
	height:12px;
}
ol.bullet-badge li:before {
	padding:5px 6px;
}
.uicomponent .table {
	margin-bottom:auto;
	width:auto;
}
.uicomponent .table > tbody > tr > th, 
.uicomponent .table > tbody > tr > td {
	border:none;
	padding:0;
	vertical-align:middle;
}
div#_DIALOG_LAYER .ui-delicon { 
    top: 0px;
}
/*** Chat css file added ***/
.chat-bar * p.chatname {
	font-size: var(--fs-13);
}
.chat-bar * .btn {
	border-radius: 0;
}
.chatmain-column .chat-dropdownbtn .sdmenu-toggle {
	border: none;
	padding: 4px 10px 5px 2px;
}
.chat-bar * {
    box-sizing: border-box;
	
}
/*** Chat css file added ***/
.btn-toggle *,
.btn-toggle *:before,
.btn-toggle *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.hdr-usermenu span.user-offline, .hdr-usermenu span.user-offline-p, 
.hdr-usermenu span.user-online, .hdr-usermenu span.user-online-p
{
	width: 10px;
    height: 10px;
    box-sizing: border-box;
} 
div#_DIALOG_LAYER .ui-delicon { 
    top: 0px;
}
.accordion-log.accordion-timeline * {
	box-sizing:border-box;
}
/* #96459 7091793 */
.accordion-log.accordion-timeline *:not(.sdp-glyph):not(.atp-container *) {		
	font-size: var(--fs-13);
}
.accordion-log.accordion-timeline *:not(button):not(a):not(.text-muted):not(.panel-heading *):not(.atp-container *):not(.translate-anim):not(.a-tag-sdmenu):not(.sd-bulk-select *) {
	color:#515151;
}
.accordion-log.accordion-timeline *:not(.sdp-glyph):not(.sb):not(b):not(strong):not(.atp-container *) {
	font-weight: normal;
}
/* #96459 7091793 */
.accordion-log.accordion-timeline b i, .accordion-log.accordion-timeline b u {
	font-weight: bold !important;
}
.accordion-log.accordion-timeline .label.label-primary {
	text-align:center;
}
.panel-body > p {
	margin:0 0 9px;
}
h5.new-header{
    font-weight: bold;
    background-color: #eeeeee;
    padding: 9px 15px !important;
    font-size: var(--fs-13);
}
h4.new-header{
	font-weight: bold;
    line-height: 1.1;
    font-size: var(--fs-14);
}
/* Request Resolution Attachments */
.attachment div.file:not(#attachedfiles){
  display: inline-block !important;
}
.attachment .file .sdp-glyph-close{
  padding-bottom: 11px;
  box-sizing: border-box;
}

.tableComponent td,
.alert-nodata {
	box-sizing:border-box;
}
a.text-link:hover {
	text-decoration:underline;
}
/*.cus-input em {
	box-sizing:border-box;
}
.cus-input input, .cus-input em {
	top:unset;
}*/