/*$Id$ */
.swdbhr {
	font-size: var(--fs-15);
	font-weight: bold;
	white-space: nowrap;
	color: #000;
}
.swdbfilter {
	color: #000;
	font-weight: normal;
	white-space: nowrap;
}
.swdbindexh {
	background: url('/images/swdbindexhbg-rtl.gif') right  no-repeat;
	color: #000;
	font-size: var(--fs-15);
	font-weight: bold;
	line-height: 29px;
	padding-right: 12px;
}
.swdbindexl {
	line-height: 17px;
	margin-right: 30px;
	background: url('/images/graydot-bdr.gif') 35% 65% repeat-x;
}
#Right-Section table tr>td.swdbindexl {
	background: url('/images/graydot-bdr.gif') 20% 65% repeat-x;
}
.swdbindexl span {
	background: #fff;
	color: #4b4b4b;
	padding-left: 1px;
}
.swdbindexc, .swdbindexcr {
	font-size: var(--fs-15);
	font-weight: bold;
	text-decoration: none;
}
.swdbindexc {
	color: #376CA2;
}
.swdbindexcr {
	color: #f30000;
}
.swdbindexl  strong {
	color: #000;
	font-size: var(--fs-15);
	font-weight: bold;
}
a.swdblinks-dropmenu {
	color: #000;
	height: 24px;
	line-height: 24px;
	text-decoration: none;
	display: block;
	float: right;
	margin-right: 9px;
	font-weight: bold;
	white-space: nowrap;
	word-break: break-none;
}
strong.swdblinks-drop-left {
	width: 4px;
	height: 24px;
	background: url('/images/swdblinks-drop-right.gif') top left no-repeat !important;
	display: block;
	float: right;

}
span.swdblinks-drop-center {
	backgrowund: url('/images/swdblinks-drop-center.gif') repeat-x;
	height: 24px;
	line-height: 24px;
	float: right;
	padding: 0px 6px;

}
strong.swdblinks-drop-right {
	background: url('/images/swdblinks-drop-left.gif') no-repeat !important;
	width: 20px;
	height: 24px;
	float: right;

}
.ie #Dashboard .content h3 {
	top: -1px;
}
#Dashboard .content h3 table tr td.h3leftbg {

	width: 7px;
	height: 30px;
}
#Dashboard .content .component .color_vdb {
	background: #fff;
}
#Dashboard .content h3 table tr td.h3rightbg {

	width: 13px;
	height: 30px;
}
#Dashboard .content h3 table tr td.h3middlebg {

	width: 153px;
	height: 30px;
	padding: 8px 1px 6px 0px;
	text-align: right;
	font-size: var(--fs-14);
	font-weight: bold;
	color: #333;
}
#Dashboard .content .component {
	margin: 25px 0 0;
}
.gecko #Dashboard .content .container .paddingLeft {
	padding-right: 0px;
}
#Dashboard .content .component div.graph {
	background: url('/images/bg_shadow.gif') center 10% no-repeat #fff;
	text-align: center;
}
#Dashboard .content .component .cIn .col {
	background: #fff;
}
#Dashboard .content .component .cIn .graph {
	background: #fff !important;
}
#Dashboard .content .component .noL {
	position: relative;
	margin-top: 5px;
}
#Dashboard .content .component .noL .color_vdb {
	background: #fff;
}
#Dashboard .content .component .noL .info_graph {
	border-color: #4277AD;
	display: none;
}
#Dashboard .content .component .singleL .cIn .cb1, #Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3, #Dashboard .content .component .singleL .cIn .cb4 {
	display: block;
	overflow: hidden;
}
#Dashboard .content .component .singleL .cIn .cb1, #Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3 {
	height: 1px;
}
#Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3, #Dashboard .content .component .singleL .cIn .cb4 {
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb1 {
	margin: 0 5px;
	background: #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .singleL .cIn .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .singleL .cIn .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .singleL .cIn .cb2, #Dashboard .content .component .singleL .cIn .cb3, #Dashboard .content .component .singleL .cIn .cb4 {
	border-color: #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb1 {
	background: #F3F3F3
}
#Dashboard .content .component .singleL .cBox .cb1, #Dashboard .content .component .singleL .cBox .cb2, #Dashboard .content .component .singleL .cBox .cb3, #Dashboard .content .component .singleL .cBox .cb4 {
	display: block;
	overflow: hidden;
}
#Dashboard .content .component .singleL .cBox .cb1, #Dashboard .content .component .singleL .cBox .cb2, #Dashboard .content .component .singleL .cBox .cb3 {
	height: 1px;
}
#Dashboard .content .component .singleL .cBox .cb2, #Dashboard .content .component .singleL .cBox .cb3, #Dashboard .content .component .singleL .cBox .cb4 {
	border-left: 1px solid #B6D7EF;
	border-right: 1px solid #B6D7EF;
}
#Dashboard .content .component .singleL .cBox .cb1 {
	margin: 0 5px;
	background: #B6D7EF !important;
}
#Dashboard .content .component .singleL .cBox .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .singleL .cBox .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .singleL .cBox .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .singleL .cBox .color_vdb {
	background: #fff  !important;
}
#Dashboard .content .component .singleL .color_vdb {
	background: #fff  !important;
}
#Dashboard .content .component .singleL .info_graph {
	padding-top: 6px;
}
#Dashboard .content .component .singleL .color_vdb {
	margin-top: -4px;
}
#Dashboard .content .component .singleL>.info_graph {
	padding-top: 10px;
}
#Dashboard .content .component .singleL>.color_vdb {
	margin-top: -24px;
}
#Dashboard .content .component .doubleL {
	top: -15px;
}
#Dashboard>.content .component .doubleL {
	top: 0px;
}
#Dashboard .content .component .doubleL .cIn .cb1, #Dashboard .content .component .doubleL .cIn .cb2, #Dashboard .content .component .doubleL .cIn .cb3 {
	height: 1px;
}
#Dashboard .content .component .doubleL .cIn .cb2, #Dashboard .content .component .doubleL .cIn .cb3, #Dashboard .content .component .doubleL .cIn .cb4 {
	border-left: 1px solid #F3F3F3;
	border-right: 1px solid #F3F3F3;
}
#Dashboard .content .component .doubleL .cIn .cb1 {
	margin: 0 5px;
	background: #F3F3F3;
}
#Dashboard .content .component .doubleL .cIn .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .doubleL .cIn .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .doubleL .cIn .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .doubleL .cIn .cb2, #Dashboard .content .component .doubleL .cIn .cb3, #Dashboard .content .component .doubleL .cIn .cb4 {
	border-color: #F3F3F3;
}
#Dashboard .content .component .singleL .cIn .cb1 {
	background: #F3F3F3
}
#Dashboard .content .component .doubleL .cBox .cb1, #Dashboard .content .component .doubleL .cBox .cb2, #Dashboard .content .component .doubleL .cBox .cb3, #Dashboard .content .component .singleL .cBox .cb4 {
	display: block;
	overflow: hidden;
}
#Dashboard .content .component .doubleL .cBox .cb1, #Dashboard .content .component .doubleL .cBox .cb2, #Dashboard .content .component .doubleL .cBox .cb3 {
	height: 1px;
}
#Dashboard .content .component .doubleL .cBox .cb2, #Dashboard .content .component .doubleL .cBox .cb3, #Dashboard .content .component .doubleL .cBox .cb4 {
	border-left: 1px solid #B6D7EF;
	border-right: 1px solid #B6D7EF;
}
#Dashboard .content .component .doubleL .cBox .cb1 {
	margin: 0 5px;
	background: #B6D7EF !important;
}
#Dashboard .content .component .doubleL .cBox .cb2 {
	margin: 0 3px;
	border-width: 0 2px;
}
#Dashboard .content .component .doubleL .cBox .cb3 {
	margin: 0 2px;
}
#Dashboard .content .component .doubleL .cBox .cb4 {
	height: 2px;
	margin: 0 1px;
}
#Dashboard .content .component .doubleL .cBox .color_vdb {
	background: #F3F3F3  !important;
}
#Dashboard .content .component .doubleL .color_vdb {
	background: #F3F3F3  !important;
}
#Dashboard .content .component .doubleL .info_graph {
	padding-top: 10px;
}
#Dashboard .content .component .doubleL .color_vdb {
	margin-top: -44px;
}
#Dashboard .content .component .doubleL>.info_graph {
	padding-top: 2px;
}
#Dashboard .content .component .doubleL>.color_vdb {
	margin-top: -2px;
}
#Dashboard .content .component .doubleLscn .info_graph {
	border-color: #d3d3d3;
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -2px;
}
#Dashboard .content .component .doubleL .info_graph {
	border-color: #B6D7EF;
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -15px;
}
#Dashboard .content .component .doubleLscn {
	position: relative;
	margin-top: -2px;
}
#Dashboard .content .component .doubleLscn {
	position: relative;
	margin-top: 0;
}
#Dashboard .content .component .doubleLscn span {
	height: 38px !important;
}
#Dashboard .content .component .doubleLscn>span {
	height: 30px !important;
}
#Dashboard .content .component .doubleLscn .info_graph strong {
	width: 38% !important;
}
#Dashboard .content .component .doubleLscn .info_graph>strong {
	width: 36% !important;
}
.form_curve .cBox {
	display: block;
	background: transparent;
	font-size: var(--fs-1);
}
#Dashboard .content .component .content {
	height: 242px;
	margin-top: 0px;
}
#Dashboard .content .component .content .lgbdrboxast {
	border: 1px #B6D7EF solid;
	border-top: none;
}
#Dashboard .content .component .lgbdrboxastnone {
	border: 1px #B6D7EF solid;
	border-top: none;
	margin-top: 0px;
	height: 240px !important;
}
#Dashboard .content .component>.lgbdrboxastnone {
}
#Dashboard .content td>.component .content .graph {
	height: 220px;
}
#Dashboard div.content table.container div.component>div.controls {
	display: none;
}
#Dashboard .content .component .graybdr {
	border: 1px #b4b4b4 solid;
}
#Dashboard .content .component .imgpad {
	height: 277px;
}
#Dashboard .content td>.component .imgpad {
	height: 260px !important;
}
#Dashboard .content .component .graybdr2 {
	height: 260px;
	border: 1px #b4b4b4 solid;
}
#Dashboard .content .component .graybdr3 {
	border: 1px #b4b4b4 solid;
	height: 255px !important;
	background: #efefef url('/images/swdb-chartbg.gif') right bottom repeat-x !important;
}
#Dashboard .content .component .graybdr3 img {
	background: url('/images/bg_shadow2.gif') center center no-repeat;
}
#Dashboard .content td .component .imgpad img, #Dashboard .content .component .graybdr2 img {
	margin: 10px 0px;
}
.ptop0px {
	padding-top: 0px;
}
#Dashboard .content .component .content h4 {
	height: 10px;
	margin: 0px;
}
#Dashboard .content .component .info {
	color: #656565;
	padding: 10px 0px;
}
#Dashboard .content .component .info a {
	font-weight: bold;
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
}
#Dashboard .content .component .info strong {
	font-weight: normal;
}
.color_lb {
	background: #fff;
	color: #656565;
}
table.summary td a {
	color: #000;
	font-weight: normal;
	text-decoration: none;
}
.color_lb .cb2, .color_lb .cb3, .color_lb .cb4 {
	border-color: #B6D7EF !important;
}
.color_lb .cb1 {
	background: #B6D7EF !important;
}
#Dashboard .content .component .cIn .color_vdb {
	background: #fff;
}
.lbcurve {
	background: #fff !important;
	color: #656565 !important;
}
.lbcurve img {
	background: #fff !important;
}
.lbcurve a {
	color: #3566ab !important;
}
.lbcurve .cb2, .lbcurve .cb3, .lbcurve .cb4 {
	border-color: #B6D7EF !important;
}
.lbcurve .cb1 {
	background: #B6D7EF !important;
}
#Dashboard .content .component .singleL .lbcurve .cb4, #Dashboard .content .component .singleL .lbcurve .cb3, #Dashboard .content .component .singleL .lbcurve .cb2 {
	background: #fff !important;
}
#Dashboard .content .component .doubleL .lbcurve .cb4, #Dashboard .content .component .doubleL .lbcurve .cb3, #Dashboard .content .component .doubleL .lbcurve .cb2 {
	background: #fff !important;
}
#Dashboard .content .component .singleL, #Dashboard .content .component div>.singleL {
	position: relative
}
#Dashboard .content .component .singleL span {
	height: 15px!important;
	padding-top: 7px
}
#Dashboard .content .component .singleL>span {
	height: 19px!important;
	padding-top: 5px
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -2px;
}
#Dashboard .content .component .doubleL {
	position: relative;
	margin-top: -50px;
}
#Dashboard .content .component .doubleL span {
	height: 58px !important;
}
#Dashboard .content .component .doubleL>span {
	height: 50px !important;
}
#Dashboard .content .component #complianceGraph img {
	margin-top: 30px;
}
.nocurve {
	display: none !important;
}
#Dashboard .content td .component .cntast {
	border: 1px #d3d3d3 solid;
}
#Dashboard .content .component .cntscn {
	height: 224px;
}
#Dashboard .content .component .cntast {
	height: 218px;
}
#Dashboard .content td>.padr5 {
	padding-left: 5px;
}
#Dashboard .content td>.padl5 {
	padding-right: 5px;
}
#Dashboard .content .component .grbg .cb2, #Dashboard .content .component .grbg .cb3, #Dashboard .content .component .grbg .cb4 {
	border-color: #b4b4b4;
}
#Dashboard .content .component .grbg .cb1 {
	background: #b4b4b4
}
#Dashboard .content div.controls {
	top: 23px;
	background: url('/images/swdb-ctrlbg.gif') repeat-x;
	height: 23px;
	width: 99.8%;
	border-right: 1px #4277AD solid;
}
#Dashboard .content .component h4 {
	visibility: hidden !important;
}
#Dashboard .content div>.controls {
	top: 51px;
	border-right: 1px #4277AD solid;
	width: 99.6%;
	z-index: 10 !important
}
#Dashboard .content div.controls img {
	border: 0px;
	margin-right: 3px;
}
#Dashboard .content div.controls a.more {
	background: none;
	border: none;
	width: 170px;
	padding: 5px 8px 5px 28px;
	font-weight: normal;
}
#Dashboard .content div.controls a:hover.more {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	background: none;
}
#Dashboard .content div.controls strong.morearrow {
	background: url('/images/swdbmorearrow.gif') no-repeat !important;
	width: 15px !important;
	height: 14px !important;
	top: 5px !important;
}
.ast-scansum td {
	height: 44px;
	border-bottom: 1px #e5e5e5 solid;
	font-weight: normal;
	color: #616161;
}
.ast-scansum td div.label {
	padding: 0 18px 0 0;
	font-size: var(--fs-13);
}
.ast-scansum td em {
	padding: 0px 5px;
}
.assumbdrr {
	border-left: 1px #e5e5e5 solid;
}
.assumbdrl {
	border-right: 1px #e5e5e5 solid;
}
.scansumcnt, .scansumcnti {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-weight: bold;
	text-decoration: none;
}
.scansumcnti {
	color: #F00;
}
.scansumedit, .scansumedit2 {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-weight: normal !important;
}
.scansumedit2 {
	text-decoration: underline;
	font-weight: bold;
}
.scansumenc {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	font-weight: normal;
}
.dayselect {
	font-weight: bold;
	text-decoration: none;
}
.astgrpctrl {
	height: 51px;
	background: url('/images/astgrpctrlbg.gif') repeat-x;
}
.astgrpctrl3 {
	height: 39px;
	margin-top: 0px;
	background: url('/images/astgrpctrlbg.gif') bottom right repeat-x;
	display: block;
}
.dbborder {
	border:1px solid #e9e9e9;	
}
div.content .astgrpctrl table tr td strong,div.content .astgrpctrl3 table tr td strong,div.content .astgrpctrlh {
	color: #717171;
	font-weight: bold;
	white-space: nowrap;
	text-decoration: none;
	margin-right:6px;
}
div.content .astgrpctrlh {
	position:relative;
	top:12px;
}
#Dashboard .content .component ul.grouplist {
	margin: 0px;
	padding: 0px 14px;
	height: 222px;
	overflow: auto;
	margin-top: 12px;
}
#Dashboard .content .component div>ul.grouplist {
	margin-top: 10px;
}
#Dashboard .content .component ul.grouplist li {
	height: 27px;
	list-style: none;
	float: none;
	border-bottom: 1px #D9EAF8 solid;
	margin: 0px;
	background: url('/images/grouplistblt.gif') 5px 16px no-repeat;
	padding: 8px 0 8px 25px;
}
#Dashboard .content .component ul.grouplist li.dynamic {
	height: 27px;
	list-style: none;
	float: none;
	border-bottom: 1px #D9EAF8 solid;
	margin: 0px;
	background: url('/images/Dynamic-Group.gif') 2px 14px no-repeat;
	padding: 8px 25px 8px 0;
}
#Dashboard .content .component ul.grouplist li a {
	font-weight: normal;
	line-height: 27px;
	color: #616161;
	display: block;
	text-decoration: none;
}
#Dashboard .content .component ul.grouplist li a:hover {
	text-decoration: underline;
}
.aeaudittrialicn {
	background: url('/images/common-images.png') no-repeat -407px -64px;
	width: 22px;
	height: 17px;
}
.scandropuparw, #Dashboard .content .component .graybdr3 img.scandropuparw {
	background: url('/images/scandropuparw.gif') no-repeat;
	width: 12px;
	height: 6px;
}
.scandroparw, #Dashboard .content .component .graybdr3 img.scandroparw {
	background: url('/images/scandroparw.gif') no-repeat;
	width: 12px;
	height: 13px;
}
.displaychartscroll {
	width: 360px;
	height: 221px;
	overflow-x: auto;
}
div>div.displaychartscroll {
	height: 226px;
}

a.bt_dashboard_max {
	background: url('/images/bt_dash_max.gif') no-repeat !important;
	width: 17px !important;
	height: 15px !important;
	display: block !important;
	float: none !important;

	font-weight: normal !important;
	text-decoration: none !important;
	white-space: nowrap;
	padding-right: 22px;
}
.ie .allassets {
	padding: 5px 15px;
}
.gecko .allassets {
	padding: 0px 15px;
}
.allassets td a {
	font-weight: normal;
}
.allassets {
	border-right: 1px #d7d7d7 solid;
}
#Dashboard .content .component h2 {
	padding-top: 9px !important;
	color: #333 !important;
	font-size: var(--fs-18) !important;
	font-weight: normal !important;
	height: 17px !important;
}
#Dashboard .content .component .content>h2 {
	padding-top: 6px !important;
}
.color_db {
	background: #fff !important;
}
.gbdr {
	background: #fff !important;
	color: #656565 !important;
}
.gbdr img {
	background: #fff !important;
}
.gbdr a {
	color: #3566ab !important;
}
.gbdr .cb2, .gbdr .cb3, .gbdr .cb4 {
	border-color: #dedede !important;
}
.gbdr .cb1 {
	background: #dedede !important;
}
.gbdr strong.b {
	font-weight: normal;
	color: #000;
}
#Dashboard .content .nogroupmsg {
	color: #616161;
	height: 98px;
	padding-top: 90px;
	text-align: center;
}
.ie #Dashboard .content .component .content .nogroupmsg {
	height: 190px;
}
.dbrdcontent {
	padding: 10px;
	background: #f7f7f7;
}
.dbrdcontent-selfservice {
	padding: 26px 30px 40px 30px !important;
}
.dbrdchartpanel {
	background: #fff;
}
.dbrdchart-bl {
	background: url('/images/dbrdchart-br.gif') no-repeat;
	width: 8px;
	height: 10px;
}
.dbrdchart-br {
	background: url('/images/dbrdchart-bl.gif') no-repeat;
	width: 8px;
	height: 10px;
}
.dbrdchart-bm {
	background: url('/images/dbrdchart-bm.gif') repeat-x;
	height: 10px;
}
.dbrdcht-pieboxbg {
	background: url('/images/dbrdcht-pieboxbg.gif') repeat-x;
	height: 192px;
}
.dbrdchtnotesh {
	color: #727272;
	font-weight: bold;
	white-space: nowrap;
}
.dbrdchtnotescnt1 {
	color: #f00;
	font-size: var(--fs-15);
	font-weight: bold;
}
.dbrdchtnotescnt2 {
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
	font-size: var(--fs-15);
	font-weight: bold;
}
.dbrdchtindic1 {
	background-image: url('/images/dbrdchtindicbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ff0000;
	width: 11px;
	height: 11px;
}
.dbrdchtindic2 {
	background-image: url('/images/dbrdchtindicbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #f3aa00;
	width: 11px;
	height: 11px;
}
.dbrdchtindic3 {
	background-image: url('/images/dbrdchtindicbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: #ede741;
	width: 11px;
	height: 11px;
}
.dataCountTable {
	width: 100%
}
.dataCountTable td {
	border-bottom: 1px #e4e4e4 solid;
	padding: 2px 2px 2px 3px;
	font-weight: normal;
	text-align: right;
}
.dataCountTable td.col2 a, .dataCountTable td.col3 a {
	color: #000;
	font-weight: normal;
}
.dataCountTable td.td-col-red a {
	color: #f00;
	font-weight: normal;
}
.dataCountTable td.col2 a:hover, .dataCountTable td.col3 a:hover, .dataCountTable td.td-col-red a:hover {
	color: #f00;
}
.dataCountTable td.col1 {
	padding-left: 10px;
	width: auto;
	text-align: left;
	color: #000;
	font-weight: normal;
}
.dataCountTable td.col2 {
	padding-right: 15px;
}
.dataCountTable td.col3 {
	padding-right: 18px;
}
.dataCountTable td.td-col-red {
	padding-right: 24px;
	color: #f00;
}
.dataCountTable tr th {
	text-align: center;
	background: #e4e4e4;
	font-weight: bold;
	padding-right: 0px;
}
.dataCountTable a {
	width: 100%;
}
.dataCountTable td.coltot {
	font-weight: bold;
	width: auto;
}
.dataCountTable td.coltot a {
	font-weight: bold;
	text-decoration: none;
	color: #f00;
}
.dbrdchtslt {
	width: 38%;
	float: left;
	position: relative;
	margin-top: -16px;
	text-align: left;
}
table tr>td .dbrdchtslt {
	margin-top: -16px;
}
.txtlnk3 {
	color: #2f56b1;
	font-weight: normal !important;
	text-decoration: underline;
}
.LicenseAgreementMenus, .assetDBMenus {
	width: 210px;
	padding: 0px;
	margin: 0px;
	border: 1px solid #7F7F7F;
	background: #fff;
	position: absolute;
	z-index: 10;
}
.LcnAgreeDropPos {
	position:relative;	
	display:inline-block;
	width:auto;
	float:left;
}
.LicenseAgreementMenus {
	top:22px;
	left:0;
}
.LicenseAgreementMenus li, .assetDBMenus li {
	list-style: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
.LicenseAgreementMenus li a, .assetDBMenus li a {
	display: block;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #fff;
	border-left: 4px solid #eee;
	border-right: 4px solid #eee;
	height: auto;
	color: #666;
	text-decoration: none;
	font-weight: normal;
	
}
.LicenseAgreementMenus li a:hover, .assetDBMenus li a:hover {
	color: #000;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #eee;
	border-left: 4px solid #008ddd;
	border-right: 4px solid #008ddd;
	border-left: 4px solid var(--link_tab_line_color, #008ddd);
	border-right: 4px solid var(--link_tab_line_color, #008ddd);
	background: #f5f5f5 transparent url('/images/autocompleteitembullet-rtl.gif') no-repeat 96% 5px;
	text-decoration: none;
}
.assetDBMenus {
	top: 59px;
	right: 12px;
}
.component23 {
	position: relative;
}
.LicenseAgreementMenus li a, .assetDBMenus li a {
	background: #fff url('/images/autocompleteitembullet-rtl.gif') no-repeat 96% 5px;
	padding: 1px 15px 1px 1px;
}
.dashboard-site-dropdown {
	position: relative;
	z-index: 10;
}
.dashboard-site-dropdown ul {
	margin: 0px;
	padding: 0px;
}
.dashboard-site-dropdown ul li {
	position: relative;
	cursor: var(--sdpcursor-default);
	list-style: none;
	width: 239px;
	text-align: right;
}
.dashboard-site-dropdown ul li a.dropmenu {
	padding: 0px;
	height: 21px;
	width: 100%;
	background: url('/images/dboardviewdropmiddle.gif') repeat-x;
	display: block;
	line-height: 21px;
	text-align: right;
}
.dashboard-site-dropdown ul li a.dropmenu:hover {
	color: #000;
}
.dashboard-site-dropdown ul li a.dropmenu em {
	width: 5px;
	height: 21px;
	display: block;
	float: right;
	background: url('/images/dboardviewdropleft-RTL.gif') no-repeat;
}
.dashboard-site-dropdown ul li a.dropmenu i {
	width: 21px;
	height: 21px;
	display: block;
	float: left;
	background: url('/images/dboardviewdropright-RTL.gif') no-repeat;
}
.dashboard-site-dropdown ul li ul {
	margin: 0px;
	padding: 0px;
	z-index: 99;
	position: absolute;
	width: 239px;
	height: 201px;
	overflow-x: hidden;
	overflow-y: auto;
}
.dashboard-site-dropdown ul li ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
	background: #DDDFE1;
	width: 100%;
	border-bottom: 1px #DDDFE1 solid;
}
.dashboard-site-dropdown ul li ul li a {
	display: block;
	text-decoration: none;
	margin: 0px 1px;
	white-space: nowrap;
	color: #000;
	background: #f7f7f7;
	width: 237px;
	padding: 3px;
}
.dashboard-site-dropdown ul>li ul li a {
	width: 231px;
}
.dashboard-site-dropdown ul li ul li a:hover {
	color: #000;
	background: #e9e9e9;
	display: block;
}
.scansumenc .fntsize11{font-size: var(--fs-12)!important}
.dbrdchtindic1, .dbrdchtindic2, .dbrdchtindic3 {
	display:inline-block;
}
