/* dhtmlXScheduler overwrite */


.dhx_cal_event_line {
	line-height: 14px !important;
	font-weight: bold !important;
	border: 0px;
	z-index:1;
}
.dhx_scheduler_month .dhx_marked_timespan {
	display: block;
}
.dhx_scale_bar.dhx_second_scale_bar {
    padding-top: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
}
.dhx_second_cal_header .dhx_scale_bar {
    font-size: var(--fs-11);
}
.dhx_scale_bar {
    color: #333;
    line-height: 27px;
    padding-top: 2px;
    font-size: var(--fs-12);
    font-weight: bold !important;
}
.dhx_cal_container {
    border: 1px solid #cecece;
	z-index:100;
}
.dhx_matrix_line .dhx_cal_event_line {
    z-index: 3;
}
.dhx_year_tooltip {
	z-index:100;
}
.dhtmlXTooltip.tooltip{
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
	padding: 0px;
	width: auto;
	height: auto;
	text-align: left;
	box-shadow:none;
	position: absolute;
	z-index:100;
}
.dhx_scell_name label.sdp-toggle-switch.sdp-toggle-switch-small {
    display: block;
    min-height: 20px;
}
.dhx_scell_name .rtm_total_time_show {
    text-align: left;
}
.dhx_scell_name .sdp-toggle-label
{
	font-size: var(--fs-12);
    color: #4b4b4b;
}
.dhx_cal_date {
    padding-left: 12px;
    font-size: var(--fs-17);
}
.dhx_in_move{
 	background-color:#666 !important;
}
.dhx_matrix_cell {
     background: transparent !important;
	 z-index: 2;
}
.sch-displaydate-container .dhx_cal_date {
    font-size: var(--fs-17) !important;
}
#scheduler_container .dhx_cal_next_button,#scheduler_container .dhx_cal_prev_button,.dhx_cal_navline .dhx_cal_date  {
    position:static !important;
    border:0;
    display: inline-block;
    vertical-align: middle;
}
.dhx_cal_header {
    width: 100% !important;
}
.dhx_cal_data table {
    width: 100%;
}
.dhx_cal_container, .dhx_cal_header, .dhx_cal_data, .dhx_matrix_cell, .dhx_matrix_scell {
    border-color: #e1e1e1;
}

.dhx_matrix_scell.item {
    vertical-align: top;
    padding-top: 10px;
}

.dhx_cal_date input {
    visibility: hidden;
}
.dhx_cal_event_line.readonly-bar.readonly-bar-width {
    top: -1px !important;
}
.dhx_cal_navline {
    background-repeat: repeat-x;
    background-position: bottom left;
    background-color: #f3f3f3;
    width: 100% !important;
}

.dhx_cal_navline .dhx_cal_date {
    width: 100%;
}
.dhx_cal_navline .dhx_cal_date, 
.res-filter-left, 
.res-filter-right, 
.dhx_cal_navline div, 
#scheduler_container .dhx_expand_icon {
    top: 1px;
}

.dhx_cal_date span.date {
    vertical-align: middle !important;
}
#scheduler_container .dhx_expand_icon {
    top: 10px;
    right: 15px;
    background-image: url(/images/ui-common-view.svg?15140);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: sub;
    width: 16px;
    cursor: var(--sdpcursor-pointer);
    height: 16px;
    position: absolute;
    background-position: -265px -75px !important;
    opacity: 0.5;
    transform: scale(1);
    transition: opacity 0.3s;
}

#scheduler_container .dhx_expand_icon:hover {
    opacity: 0.7;
}
.dhx_cal_container div {
    -moz-user-select: none;
    -moz-user-select: -moz-none;
}
.dhx_expand_icon {
    top: -3px;
}

.dhtmlx_modal_box *, .dhx_cal_data, .dhx_cal_data div, .dhx_cal_data table *, .dhx_cal_header, .dhx_cal_header div, .dhx_cal_light .dhx_cal_lsection, .dhx_cal_light .dhx_wrap_section, .dhx_cal_navline div, .dhx_cal_quick_info, .dhx_cal_quick_info div, .dhx_multi_day, .dhx_multi_day div, .dhx_tooltip_line div {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.dhx_matrix_cell, .dhx_matrix_scell {
    border-bottom: 1px solid #cecece !important;
    border-right: 1px solid #cecece !important;
}
.dhx_cal_prev_button,
.dhx_cal_next_button {
  width: auto;
}


/* dhtmlXScheduler overwrite */

.dhx_cal_event_line.readonly-bar {
    cursor: var(--sdpcursor-default);
}

.load-util-blue,.load-util-text-blue,.load-util-red,.load-util-text-red {
    cursor: var(--sdpcursor-pointer);
}

.dhx_cal_date {
    padding-left: 0px;
}

.working_time {
      background-color: #f7f7f7;
    z-index: 1;
}

.zooming-label{
    list-style: none;
    margin:0px;
    padding:0px;
    color:#9a9a9a;
    font-size: var(--fs-11);
    margin-left: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 350px;
}

.zooming-label li{
    float:left;
    font-size: var(--fs-11);
    width:16%;
}

.zooming-label li.zli3{
    text-align: left;
    width:32%;
}

.zooming-label li.zli4{
    text-align: center;
    width:37%
}

.zooming-label li.zli5{
    text-align: right;
    width: 31%;
}


.zooming-label .selected{
    color:#444;
}


.event-options-menu .menu-pointer{
    top:-3px;
    right:10px;
}

.sch-checkbox{
	cursor: var(--sdpcursor-pointer);
	top:0px;
}

.event-form{
    font-size: var(--fs-13);
}

.event-form h1{
    font-size: var(--fs-14);
    font-weight: 100;
    color: #474747;
    margin: 0px;
    padding: 8px 7px;
    border-bottom: 1px dotted #D1D1D1;
}

.sch-bar-date{
    background: url('../images/sprite.png') -326px -478px no-repeat;
    width:15px;
    height:14px;
    border: 1px solid white;
    outline:none;
    vertical-align: text-bottom;
    display:inline-block;
    background-color: white;
    margin-right : 10px;
}
.filter-by{
    padding: 10px 5px;
    width: 250px;
    position: relative;
}
.filter-by .filter-title{
	font-size: var(--fs-13);
	font-weight: bold;
	padding-left:12px;
	line-height:normal;
}
.filter-by .filter-title-condition{
	font-size: var(--fs-8);
	padding-left:10px;
	display:grid;
    margin: -2px 0px 10px 0px;
    color: #777;
}
.rtm-filter-content ul.select2-choices {
    background: #fff;
}
span.res-group_max_count {
    margin: 6px 0px;
}
.select-task-module{
	display:block;
}
.select-task-module span{
	display:block;
	padding-left:20px;
	font-size: var(--fs-12);
	line-height: 25px;
}
.select-task-module span input[type=checkbox] {
    cursor: var(--sdpcursor-pointer);
    top: .5px;
}
.rtm-filter-content {
    padding:0px 10px;
    margin:2px 0px 10px 0px;
}
.select-task-module .select-all{
	padding: 0px ;
}
.sch-filter-menu-separator{
	display: block;
    border-bottom: 1px solid #ebebeb;
    margin: 5px -5px;
}
.filter-button > .formstylebutton{
	width:45%;
	height:30px;
	font-size: var(--fs-11);
	text-shadow:none;
	padding:0px;
	margin-top:10px;
}

.rtm-filter-parent .menu-pointer {
    left: 4px;
    margin-top: 4px;
}

.scheduler_legends
{
	padding-bottom:8px;
}
.filter-button > .active-button{
	text-align:center;
	color:white;
}
.rtm-filter-content .gantt-display.pname-holder strong {
    float: right;
    margin-top: 5px;
}
.group-select,.res-select{
	font-size: var(--fs-12);
}
.res-group_max_count{
    font-size: var(--fs-11);
    color: #a9b1b7;
}
.rtm-filter-content.select-component-new .select2-container a.select2-choice {
   box-sizing: border-box;
    width: 100%;
    min-width: unset;
    margin-left: 0;
}

.filter-button input.newui-button
{
	padding: 6px 10px;
    min-width: 83px;
    text-align: center;
}
.gantt-display.group-select,.gantt-display.res-select {
    max-height: 100px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}
span.rtm-user-name {
      font-size: var(--fs-13);
    color: #333;
    display: block;
    max-width: 110px;
    padding-bottom: 5px;
}

.rtm_total_time_show span {
    display: inline-block;
    font-size: var(--fs-13);
}

.rtm_total_time_show .rtm_right_move {
    color: #333;
    float: right;
    margin-right: 20px;
}


.unscheduled_bar_shaded:before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(127deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 5px, rgba(255, 255, 255, .2) 6px, rgba(255, 255, 255, .2) 10px);
}

.bar-drag{
  	background-color:#666;
 }

 .divide-column{
 	-webkit-column-count: 4;
	 column-count: 4;
	 column-rule-style: solid;
 }

.readonly-bar{
	z-index:0;
	padding-left : 0px !important;
	padding-right : 0px !important;
	left: 0px !important;
	background : transparent !important;
	
	right : 0px;
	border-right-width : 0px !important;
	border-left-width : 0px !important;
	font-size: var(--fs-10);
}
.readonly-bar:before{
	background: transparent !important;
}


/* project RTM css start*/
.date-value {
    padding: 15px 10px;
}
.zooming-for-timeline {
    padding: 5px 25px 15px 10px;
}
.project-menu-pos span,.zooming-icon ,.date-row,.gantt-date-icon,.event-option-sch,.filter-text,
.project-sch-footer-heading, .project-sch-footer-txt, .sch-color-holder{
    display: inline-block;
    vertical-align: middle;
}
.sch-displaydate-container
{
	position:absolute;
}

.event-option-sch
{
	border-radius: 2px;
    font-size: var(--fs-13);
    padding:2px 8px;
    z-index:100;
}
.event-option-sch input[type=checkbox]{
	top:0px;
}
.rtm-filter-content .event-option-selector {
    width: 100%;
    box-sizing: border-box;
}
.event-option-selector, .event-option-selector-selected, .sch-filter-menu, .daterange-filter, .event-option-sch, .mcsizecalc{
    position: relative;
    border-radius: 3px;
    float: left;
    padding: 8px 5px;
    cursor: var(--sdpcursor-pointer);
    font-size: var(--fs-13);
}
.date-row{
    background-image: url(/images/sprite.png);
    background-repeat: no-repeat;
    background-position: -149px -150px;
    width: 11px;
    height: 8px;
    margin-left: 2px;
    opacity: 0.8;
    margin-top: 2px;
    
}
.zooming-icon,.gantt-time-icon,.gantt-date-icon,.date-row
{
    background-image: url("/images/sprite.png");
    background-repeat: no-repeat;
    width:16px;
    height:16px;
}
.zooming-icon{
   
    background-position: -412px -792px;
}
.gantt-time-icon{
    background-position: -471px -791px;
}
.gantt-date-icon{
    background-position: -342px -790px;
}
.date-row{
    background-position: -149px -150px;
    width: 11px;
    height: 8px;
    margin-left: 2px;
    opacity: 0.8;
    margin-top: 2px;
}
.scheduler-calendar-input{
	border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
.event-option-sch .sep-pipe{
    margin: 2px 6px 0px 6px;
}
.load-util-legend{
	display: inline-block;
    font-size: var(--fs-12);
    border: 1px solid rgb(184, 171, 171);
    border-bottom-right-radius: 8px;
}

.load-util-red{
	width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-top: 10px solid #f00;
    display: inline-block;
}
.load-util-text-red{
    color : #f00;
}

.load-util-blue{
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-top: 10px solid #1a84ff;
    display: inline-block;
}

.load-util-text-blue{
    font-size: var(--fs-12);
    padding: 0px 0px;
    font-weight: 400;
}

.rtm_total_time_show .text-danger,.load-util-text-red {
    color: #cc0000;
}

.res-filter-right-expand,.res-filter-left-expand
{
	position : absolute;
	z-index : 101;
    top: -198px;
}
.res-filter-left-expand {
	left: -5px;
}
span.sch-filter-menu {
    padding: 9px 5px;
}
span.sch-filter-menu + span.sep-pipe,.res-filter-right-expand  span.sep-pipe{
    margin-top: 10px;
}
.res-filter-right-expand {
    right: 30px;
}
.projects-tabs{
	border: 1px solid #dfdede;
    height: 30px;
    box-sizing: border-box;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    font-size: var(--fs-0);
    right: 0px;
}
.menu-view-selected,.menu-view
{
	border-bottom: 2px solid #ffffff00;
    padding: 0px 15px;
    font-size: var(--fs-13);
    height: 100%;
    line-height: 26px;
    box-sizing: border-box;
    background: white;
    display: inline-block;
    vertical-align: top;
    cursor: var(--sdpcursor-pointer);
    border-right: 1px solid #dadada;
    color: #727171;

}
.menu-view:last-child,.menu-view-selected:last-child {
    border-right: 1px solid #ff0;
}
.menu-view-selected{
	color: #333;
    border-bottom: 2px solid #2993e4;
}
span.filter-icon,span.unshceduled-icon {
    height: 16px;
    width: 16px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(/images/sprite.png);
}
span.filter-icon
{
 	background-position:-233px -72px;
}
span.unshceduled-icon {
    background-position:-256px -72px;
}
.event-option-sch span.sep-pipe {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-top:0px !important;
}
.res-filter-left{
    left: 15px;
}
.res-filter-left,.res-filter-right
{
	position: absolute;
    z-index: 13;
}
.res-filter-right{
   right: 45px;
}
.res-filter-left span.sep-pipe, .res-filter-right span.sep-pipe {
    margin-top: 10px;
}
 .sdp-gantt-tooltip .edit-ico,.delete-ico,.smartview-ico{
    vertical-align:top;
 } 
.sch-filter-menu.filter-selected span.filter-icon {
    background-position: -211px -72px;
}
.sch-filter-menu.filter-selected span.date-row {
    transform: rotate(180deg);
    margin-bottom: 6px;
}

.project-sch-container {
    height: 771px;
    width: 100%;
    z-index: 12;
    box-sizing: border-box;
    border-width: 0px;
}
.project-sch-container .dhx_timeline_scale_header{
    border-width: 0px;
}
.project-sch-footer {
    padding-top: 10px;
}
.project-sch-footer-heading, .project-sch-footer-txt, .sch-color-holder {
    font-size: var(--fs-13);
    margin: 0px 15px;
}
.sch-color-holder {
    margin: 0px 0px;
}
.project-sch-footer-heading
{
	font-weight: 600;
    color: #434343;
}
.project-sch-footer-txt
{
	color: #333;
}


/* project RTM css end*/
.rtm-hour-det-parent .sdpquickdialog {
   min-width: 150px;
   width:auto;
    padding: 10px 10px 5px 10px;
}

span.rtm-wh-heading {
    font-size: var(--fs-14);
    display: block;
    padding-bottom: 10px;
    color: #1a84ff;
}

.rtm-wh-row {
    width: 100%;
}

span.rtm-wh-label,span.rtm-wh-value {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 5px;
    color: #888;
    font-size: var(--fs-13);
}

span.rtm-wh-value {
    color: #777;
}

span.rtm-wh-label {
    min-width: 70px;
}

.sdp-toggle-switch-small span.sdp-toggle-slider.sdp-toggle-round {
    transform: scale(0.8);
}
.inside-toggle-switch .sdp-toggle-slider {
    width: 32px;
    height: 21px;
}
.sdp-toggle-slider.sdp-toggle-round {
    border-radius: 34px;
}
.sdp-toggle-slider {
    position: relative !important;
    cursor: var(--sdpcursor-pointer) !important;
    display: inline-block !important;
    width: 30px !important;
    height: 13px !important;
    background-color: #d7d9dd !important;
    vertical-align: middle !important;
}

.sdp-toggle-switch {
    position: relative;
}
input:checked + .sdp-toggle-slider:before {
    background-color: #ffffff;
    box-shadow: 0px 1px 4px 0px rgb(147, 147, 147);
    left: 12px;
}
inside-toggle-switch .sdp-toggle-slider:before {
    content: "";
    bottom: 2px;
}
.sdp-toggle-slider.sdp-toggle-round:before {
    border-radius: 50%;
}
.sdp-toggle-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: -1.5px;
    background-color: rgb(255, 255, 255);
    transition: .001s;
    box-shadow: 0px 2px 4px 0px rgb(147, 147, 147);
}

.sdp-toggle-label {
    display: inline-block;
    vertical-align: middle;
}

.event-option-sch input[type=checkbox] {
    top: 0;
}
.sdp-toggle-switch input[type="checkbox"] {
    display: none;
}

.event-option-selector, .event-option-selector-selected, .sch-filter-menu, .daterange-filter, .event-option-sch, .mcsizecalc {
    position: relative !important;
    border-radius: 3px !important;
    float: left;
    padding: 8px 5px !important;
    cursor: var(--sdpcursor-pointer);
    font-size: var(--fs-13) !important;
}

.event-option-sch {
    border-radius: 2px;
    font-size: var(--fs-13);
    padding: 2px 8px;
    z-index: 100;
}
.project-menu-pos span, .zooming-icon, .date-row, .gantt-date-icon, .event-option-sch, .filter-text, .project-sch-footer-heading, .project-sch-footer-txt, .sch-color-holder {
    display: inline-block;
    vertical-align: middle;
}

.inside-toggle-switch input:checked + .sdp-toggle-slider {
    background-color: #2993e4 !important;
}

.res-filter-left span.sep-pipe, .res-filter-right span.sep-pipe {
    margin-top: 10px;
}

.sep-pipe {
    float: left;
    display: block;
    height: 16px;
    border-left: 1px solid #cacaca;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
}

date-row {
    background: url('../images/ui-common-view.png') no-repeat -268px -6px;
	width: 10px;
	height: 7px;
    margin-left: 2px;
    opacity: .8;
    margin-top: 2px;
}

.zooming-icon, .gantt-time-icon, .gantt-date-icon, .date-row {
    background: url('../images/ui-common-view.png') no-repeat -268px -6px;
	width: 10px;
    height: 7px;    
    background-repeat: no-repeat;
}

span.filter-icon, span.unshceduled-icon {
    display: inline-block;
    vertical-align: middle;
    background: url('../images/ui-common-view.png') no-repeat -52px -93px;
	width: 16px;
	height: 13px;
}

#daterange-filter .zooming-icon {
    background: url('../images/ui-common-view.png') no-repeat -38px -3px;
	width: 14px;
	height: 13px;
    display: inline-block;
    vertical-align: middle;

}
.usr-img {
    box-shadow: 0 0 3px 0 rgba(50,50,50,0.75);
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-image: url(/images/user-thumbnail.png);
    background-repeat: no-repeat;
}
.usr-img, .usr-site, .usr-dep {
    float: left;
}
.photo-holder {
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: 1px solid #D1D1D1;
    float: left;
    margin-right: 8px;
}

.working_time {
    background-color: #f7f7f7;
    z-index: 1;
}

.project-sch-footer-heading {
    font-weight: 600;
    color: #434343;
}

.project-sch-footer-heading, 
.project-sch-footer-txt, 
.sch-color-holder {
    font-size: var(--fs-13);
    margin: 0 0px;
}
.project-menu-pos span, 
.zooming-icon, 
.date-row, 
.gantt-date-icon, 
.event-option-sch, 
.filter-text, 
.project-sch-footer-heading, 
.project-sch-footer-txt, 
.sch-color-holder {
    display: inline-block;
    vertical-align: middle;
}


.project-sch-footer-txt {
    margin-right: 15px !important;
}


.project-sch-footer-heading, 
.project-sch-footer-txt, 
.sch-color-holder {
    font-size: var(--fs-13);
    margin: 0 0px;
}

.load-util-red {
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-top: 10px solid #f00;
    display: inline-block;
}

.load-util-blue {
    width: 0;
    height: 0;
    border-right: 11px solid transparent;
    border-top: 10px solid #1a84ff;
    display: inline-block;
}

.project-sch-footer {
    padding-top: 10px;
}

.res-filtername {
    font-size: var(--fs-14);
}

.sch-color-holder {
    margin: 0 2px;
}
.project-menu-pos span, 
.zooming-icon, 
.date-row, 
.gantt-date-icon, 
.event-option-sch, 
.filter-text, 
.project-sch-footer-heading, 
.project-sch-footer-txt, 
.sch-color-holder {
    display: inline-block;
    vertical-align: middle;
}
.wo-color-priority {
    width: 12px;
    height: 12px;
    border-radius: 1px;
    margin-right: 3px;
    /*border: 1px solid #000;*/
}
.project-sch-footer-heading {
    font-weight: 600;
    color: #434343;
}

.sch-color-holder {
    margin: 0 0px !important;
}
.project-menu-pos span, 
.zooming-icon, 
.date-row, 
.gantt-date-icon, 
.event-option-sch, 
.filter-text, 
.project-sch-footer-heading, 
.project-sch-footer-txt, 
.sch-color-holder {
    display: inline-block;
    vertical-align: middle;
}
.scheduler_legends {
    line-height: 1.6;
    padding-bottom: 8px;
}
.rtm-hour-det-parent .date-time-period {
	min-width: 150px;
	width: auto;
	padding: 5px 10px 5px 10px;
}
.date-time-period, .event-options-menu {
	background-color: #FFF;
}

span.rtm-wh-heading {
	font-size: var(--fs-14);
	display: block;
	padding-bottom: 10px;
}

.rtm-wh-row {
	width: 100%;
}

span.rtm-wh-value {
	color: #777;
}

.rtm-under-util {
	color: #333 !important;
}

.sdp-gantt-tooltip {
	min-width: 335px;
	max-width: 500px;
	border: 1px solid #b4b4b4;
	border-radius: 5px;
	box-shadow: rgba(0,0,0,0.5) 0 0 12px;
	padding: 8px;
	background-color: #fff;
}
.textleft {
	text-align: left;
}

/* hover tooltip */
.tt-row01 {
	height: 20px;
}

.tt-id {
	float: left;
	color: #999;
	font-size: var(--fs-11);
}

.tt-actions {
	float: right;
}
/*icon {
	margin-left: 0;
}*/

.task-print-icon {
	background: url('../images/ui-request-module.png') no-repeat -369px -62px;
	width: 22px;
	height: 26px;
	/* background: url(../images/task-icon.png) no-repeat 0 0;
	width: 42px;
	height: 47px; */
	display: block;
	float: left;
	margin-left: 10px;
	margin-right: 5px;
}
.project-tooltip .project-print-icon,
.milestone-tooltip .milestone-print-icon,
.task-tooltip .task-print-icon {
    margin-left: 0;
}
.tt-main-info {
    float: left;
}
.tt-main-info h1 {
    font-size: var(--fs-13);
    color: #666;
    margin: 0;
    padding: 0;
    max-width: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    word-break: break-word;
}
.tt-color {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    vertical-align: baseline;
    border-radius: 3px;
    top: 3px;
    margin-left: 3px;
}

.tt-row02 .tt-label,
.tt-row03 .tt-label {
    font-size: var(--fs-12);
    color: #888;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.tt-row02 .tt-value,
.tt-row03 .tt-value {
    color: #333;
    font-size: var(--fs-12);
}

.tt-main-info .tt-status .tt-value.stagevalue {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.tt-value.svalue,.tt-value.pvalue {
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.sdp-gantt-tooltip .sep-pipe {
    float: none;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 5px;
    margin-top: 7px;
}

.sdp-gantt-tooltip .tt-row03 .sep-pipe {
    margin-top: 0;
}

.sdp-gantt-row-sep {
    border-bottom: 1px dotted #D1D1D1;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rtm-over-util {
    color: #cc0000 !important;
}
.week-day {
    border-left: 0 !important;
    border-right: 0 !important;
    border-top: 0 !important;
}
.week-end {
    border-left: 0 !important;
    border-top: 0 !important;
}
.week-start {
    border-right: 0 !important;
    border-top: 0 !important;
}

.sdp-toggle-slider {
    transition: All 0.1s ease; !important;
}

.time-settings, .bar-settings {
	min-width: 110px !important;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.resutil-content {
	background-color: #f5f5f5;
	padding-bottom: 1px;
}
.resmgmt-nav {
	color: #5b5b5b;
    cursor: var(--sdpcursor-pointer);
    display: inline-block;
    font-size: var(--fs-14);
    margin: -2px 10px 0 0;
    width: auto;
    height: 23px;
    padding: 3px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-bottom: 1px #a2a2a2 solid;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.resmgmt-nav em {
	background: url(/images/resmgmt_icon.svg) center no-repeat;
    display: inline-block;
    width: 26px;
    height: 23px;
}

.readonly-bar-width{
    width : 100px;
}

.task-print-icon {
    background: url('../images/task-icon-ui1.png') no-repeat !important;
    background-repeat: no-repeat;
    width: 28px;
    height: 47px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
}
.agprogress {
	position: absolute;
	width: 100%;
	height: 3px;
	overflow: hidden;
	top: 35px;
	z-index: 10001;
}

.agprogress .loading_line {
	position: absolute;
	background: #008ddd;
	background: var(--primary_button_color, #008ddd);
	width: 100%;
	height: 2px;
}

.dot1 {
	-moz-animation: loadingbar 3s infinite;
	animation: loadingbar 3s infinite;
}

.loading_break {
	position: absolute;
	background: #fff;
	width: 20px;
	height: 2px;
	left: -21px;
}

.dot3 {
	-moz-animation: loadingbar 3s 1s infinite;
	animation: loadingbar 3s 1s infinite;
}

.dot2 {
	-moz-animation: loadingbar 3s .5s infinite;
	animation: loadingbar 3s .5s infinite;
}

.dot4 {
	-moz-animation: loadingbar 3s 1.5s infinite;
	animation: loadingbar 3s 1.5s infinite;
}

.agprogress .loading_line {
	position: absolute;
	background: #008ddd;
	background: var(--primary_button_color, #008ddd);
	width: 100%;
	height: 2px;
}


@-webkit-keyframes loadingbar {
	from {
		left: 0
	}

	to {
		left: 100%
	}
}

@-moz-keyframes loadingbar {
	from {
		left: 0
	}

	to {
		left: 100%
	}
}

@-o-keyframes loadingbar {
	from {
		left: 0
	}

	to {
		left: 100%
	}
}

@keyframes loadingbar {
	from {
		left: 0
	}

	to {
		left: 100%
	}
}

.agprogress.inactive {
	display: none;
}
.agprogress.active {
	transform: translate3d(0,0,0);
}
/** Begin: Custom Styles **/
.dhx_scell_name .usr-icon-block {
    width: 40px;
    height: 40px;
}
.dhx_scell_name .usr-icon-block .user-circle {
    transform: scale(0.8);
    background-position: 0px;
    left: -4px;
}
.btn-grp-lit .btn-default,
.btn-dd-lit.btn-default {
    background-color: #fafafa;
    border-color: #cccccc;
}
.btn-grp-lit .btn-default:hover,
.btn-dd-lit.btn-default:hover {
    background-color: #ffffff;
    border-color: #c5c4c3;
    color: #000000;
    box-shadow: none;
}
.resource-mgmt {
    margin-bottom: 62px;
}
.project-sch-footer {
    position: fixed;
    bottom: 0px;
    z-index: 48;
    width: 100%;
    border: 1px solid #b2afaf;
    background-color: #f6f6f6;
    bottom: 35px;
}
.dhx_cal_date .calendar-sm {
    margin-top: -2px;
    border: 0;
    outline: none;
}
.resourcemgmt-container .caret {
    border-top: 4px solid !important;
    border-right: 4px solid transparent !important;
    border-left: 4px solid transparent !important;
    margin-left: 2px;
    border-bottom: 0px !important;
}

.h-sep {
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
}
.h-sep:before {
    content: '';
    display: block;
    width: 1px;
    background-color: #989393;
    height: 18px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.rtm-filter-content .select2-container-multi .select2-choices .select2-search-field input {
    font-size: var(--fs-13);
}

.res-filtername {
    max-width: 123px;
}

.res-drag-info {
	background-color: white;
	padding : 5px;
	border-radius: 5px;
    border: 1px solid #f1f1f1;
    box-shadow: rgba(0,0,0,0.3) 0 0 3px;
	font-size: var(--fs-12);
}

@media(min-width: 1600px) {
    .res-filtername {
        max-width: 250px;
    }
}

.dhx_timeline_label_row {
    line-height: unset !important;
}
/** End: Custom Styles **/

/* Maintenance Scheduler Start */
.nextscheduler, .scheduled-bg-mini{
    background-color:#CADDFF !important;
    border: 1px solid #B4C4E1 !important;
  }
  .beforescheduler, .beforescheduler_hidden, .req-bg-mini{
    background-color:#DBF3BD !important;
    border: 1px solid #B6D88E !important;
  }
  .scheduler-outline {
    height:420px;
    margin-top: 10px;
  }
.scheduler-outline .week_view_event, .scheduler-outline .day_view_event, .scheduler-outline .month_view_event{
  padding-left: 0px !important;
  top: 3px !important;
  height: 20px !important;
} 
  .minicalendar_container .pagenav-previous{
    right: 30px;
    left: auto !important;
    background: none;
  }
  .minicalendar_container .pagenav-next{
    background: none;
    right: 8px !important;
  }
  .minicalendar_container .dhx_calendar_click{
    border-radius: 0;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_year_event {
    border-radius: 0px;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_year_month {
    padding-left: 8px;
    text-align: left;
    line-height: 28px;
    height: 34px;
    font-weight: bold;
    color: #767676;
    font-size: var(--fs-16);
  }
  .minicalendar_container .dhx_cal_container.dhx_mini_calendar {
    padding: 0px;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 0px;
    z-index: 0;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_year_week {
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    height: 30px !important;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_scale_bar {
    color: #767676;
    height: auto !important;
    padding-top: 0;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_year_body table{
    table-layout: fixed;
    width:100%;
  }
  .minicalendar_container .dhx_year_body{
    border: 0;
  }
  .minicalendar_container .dhx_year_body tr:nth-child(even){
    background-color: #f7f9fa;
  }
  .minicalendar_container   .dhx_month_body,
  .minicalendar_container   .dhx_month_head {
    background: transparent;
  }
  .minicalendar_container .dhx_now {
    border: 1px solid #999999 !important;
  }
  .miniCalEventOnFocus {
    border : 1px solid #497eb7 !important;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_year_body table td {
    border: 1px solid transparent;
    border-left-color: #e6e6e6;
    padding: 5px;
      box-sizing: border-box;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_year_body table td:first-child{
    border-left: transparent;
  }
  .minicalendar_container .dhx_mini_calendar .dhx_month_head {
    height: auto;
    height: 30px;
    line-height: 28px;
  }
  .scheduler-outline .dhx_cal_event_line{
    padding: 0;
  }
  .scheduler-outline .dhx_bottom_scale_container .dhx_scale_bar{
    height: 23px !important;
    background-color: #f5f5f5;
    margin-top: -1px;
  }
  .scheduler-outline .dhx_matrix_scell{
    font-family: inherit;
  }
  .scheduler-outline .dhx_matrix_scell>table{
    height: 100%;
  }
/* .scheduler-outline .dhx_timeline_data_wrapper{
  left: auto;
  right: 0; 
 } */
 .dhx_mini_calendar .dhx_year_month{
    font-family: inherit !important;
 }
 .dhx_mini_calendar .dhx_month_head{
    cursor: var(--sdpcursor-default);
 }
 .dhx_mini_calendar .req-bg-mini{
    cursor: var(--sdpcursor-pointer);
  }
 .minicalendar_container .dhx_mini_calendar .req-bg-mini, .minicalendar_container .dhx_mini_calendar .scheduled-bg-mini{
    border-radius: 4px;
 }
/* Maintenance Scheduler End */
/* Overwrite the dhx default navigation */
.dhx_cal_prev_button, .dhx_cal_next_button{
    background-image: none;
}