/*$Id$ */
.fields {
	height: 204px;
	overflow: auto;
	border-bottom: 2px #8BBCE7 solid;
	padding: 2px 0px;
	width: 100%;
}
.field-icons {
	margin: 0px;
	padding: 0px;
}
.fields ul.field-icons li {
	list-style: none;
	margin-top: 0px;
	white-space: nowrap;
	font-weight: bold;
	cursor: var(--sdpcursor-move);
	display: block;
	border: 1px #fff solid;
	width: 191px;
	margin-bottom: 3px;
}
.fields>ul.field-icons li {
	margin-bottom: 6px;
}
.fields ul.fields-icons li.field-icons-active {
	color: #344792;
}
ul li.field-icons-active table {
	background: #F2F5FC;
}
ul li.field-icons-hover {
	list-style: none;
	width: 100%;
}
ul li.field-icons-hover table {
	background-color: #FFFE97;
	cursor: var(--sdpcursor-move);
	width: 100%;
	border: 1px #A4A36D dashed;
}
ul.field-icons li table tr td {
	padding-left: 6px;
}
table.dragItem {
	border: 1px #A1C8EE dashed;
	background: #fff;
	text-decoration: none;
}
table.dragItem tr td {
	line-height: 24px;
	color: #0362BE;
}
.field-outer-container-hover .editfldicnbg, .field-outer-container-drag .editfldicnbg {
	background: #F8C86A;
}
.padralr8 {
	padding-right: 8px;
	text-align: right;
}
a.editfieldicon {
	background: url('/images/editicon-orange.gif') no-repeat;
	text-decoration: none;
	vertical-align: top;
	width: 17px;
	cursor: var(--sdpcursor-pointer);
	height: 30px;
	display: block;
	float: right;
	visibility: hidden;
}
a.closefieldicon {
	background: url('/images/clostbtn-orange.gif') no-repeat;
	text-decoration: none;
	vertical-align: top;
	width: 10px;
	cursor: var(--sdpcursor-pointer);
	height: 11px;
	display: block;
	float: right;
	visibility: hidden;
}
.fontblue3 {
	color: #006697;
	font-weight: bold;
}
.field-outer-container-drag a.editfieldicon, .field-outer-container-hover a.editfieldicon {
	visibility: visible;
}
.field-outer-container-drag a.closefieldicon, .field-outer-container-hover a.closefieldicon {
	visibility: visible;
}
.field-outer-container {
	width: 98%;
	background-color: #fff;
	border: 1px dashed white;
	cursor: var(--sdpcursor-move);
	padding: 0px -2px 1px 0px;
	margin: 0px 2px 3px 2px;
}
.field-outer-container-action, .field-outer-container-hover {
	width: 98%;
	padding: 0px -2px 5px 0px;
	margin: 0px 0px 3px 2px;
	border: 1px solid #E3805E;
	background-color: #FFC;
}
.field-outer-container-hover {
	cursor: var(--sdpcursor-move);
}
.field-outer-container-drag {
	width: 97%;
	padding: 0px;
	margin: 0px 0px 10px 0px;
	cursor: var(--sdpcursor-move);
	background-color: #FFFFCC;
	border: 1px solid #E3805E;
}
.bluehbg {
	background: #C9E3FE;
	color: #1E57C0;
	font-weight: bold;
	height: 25px;
	padding-left: 5px;
}
.bluehbg2 {
	color: #325084;
	font-weight: bold;
	border-bottom: 1px #f1f2f2 solid;
	height: 27px;
}
.attrib-system-icon {
	background: url('/images/attrib-system-icon.gif') no-repeat;
	width: 22px;
	height: 18px;
}
.attrib-singleline-icon {
	background: url('/images/attrib-singleline-icon.gif') no-repeat;
	width: 22px;
	height: 18px;
}
.attrib-multiline-icon {
	background: url('/images/attrib-multiline-icon.gif') no-repeat;
	width: 22px;
	height: 18px;
}
.attrib-picklist-icon {
	background: url('/images/attrib-picklist-icon.gif') no-repeat;
	width: 22px;
	height: 18px;
}
.attrib-date-icon {
	background: url('/images/attrib-date-icon.gif') no-repeat;
	width: 22px;
	height: 18px;
}
.attrib-datetime-icon {
	background: url('/images/attrib-datetime-icon.gif') no-repeat;
	width: 22px;
	height: 20px;
}
.attrib-field-rarrow {
	background: url('/images/attrib-field-rarrow.gif') no-repeat;
	width: 11px;
	height: 11px;
}
.attrib-showicon-plus {
	background: url('/images/attrib-showicon-plus.gif') no-repeat;
	width: 13px;
	height: 13px;
}
.attrib-hideicon-minus {
	background: url('/images/attrib-hideicon-minus.gif') no-repeat;
	width: 13px;
	height: 13px;
}
.attribheadertxt1 {
	height: 34px;
	padding-bottom: 8px;
	padding-top:32px;
}
.attribheadertxt2 {
	background: url('/images/attrib-bottomshade2.gif') bottom left no-repeat;
	height: 34px;
	padding-bottom: 8px;
	padding-top:32px;
}
.attribheadertxt1 a, .attribheadertxt2 a {
	color: #000;
	font-size: var(--fs-14);
	font-weight: bold;
	text-decoration: none;
}
.attribheadertxt1 a.serviceCatHeader, .attribheadertxt2 a.serviceCatHeader {
	display:block;
	padding-bottom:0px;
}
span.attrib-bottomshade2 {
	position: absolute;
	z-index: 10;
	margin-top: 19px;
}
img.attrib-bottomshade2 {
	background: url('/images/attrib-bottomshade2.gif') bottom left no-repeat;
	width: 155px;
	height: 3px;
}
#ServerAttrib .RightPadding, #DefAttrib .RightPadding, #ConfItemAttrib .RightPadding {
	padding-right: 8px;
}
#ServerAttrib .TopPadding, #DefAttrib .TopPadding, #ConfItemAttrib .TopPadding {
	padding-top: 8px;
}
.LeftPanelNotes {
	color: #7483A4;
	line-height: 18px;
	padding: 18px 4px 0px 8px;
}
.attrib-helpicon {
	background: url('/images/attrib-helpicon.gif') no-repeat;
	width: 41px;
	height: 32px;
}
.dropPanel {
	border: 1px #7F7F7F dotted;
	height: 375px;
}
#DropFieldsInfo {
	font-size: var(--fs-16);
	font-weight: normal;
	height: 370px;
	text-align: center;
}
.cmdb-submit-activeleft {
	background: url('/images/cmdb-submit-activeleft.gif') no-repeat;
	width: 5px;
	height: 24px;
}
.cmdb-submit-activeright {
	background: url('/images/cmdb-submit-activeright.gif') no-repeat;
	width: 5px;
	height: 24px;
}
.cmdb-submit-activebg {
	background: url('/images/cmdb-submit-activebg.gif') repeat-x;
	height: 24px;
	cursor: var(--sdpcursor-pointer);
	padding: 0px 10px;
	font-weight: bold;
	border: none;
}
.cmdb-submit-normalleft {
	background: url('/images/cmdb-submit-normalleft.gif') no-repeat;
	width: 5px;
	height: 24px;
}
.cmdb-submit-normalright {
	background: url('/images/cmdb-submit-normalright.gif') no-repeat;
	width: 5px;
	height: 24px;
}
.cmdb-submit-normalbg {
	background: url('/images/cmdb-submit-normalbg.gif') repeat-x;
	height: 24px;
	cursor: var(--sdpcursor-pointer);
	padding: 0px 10px;
	font-weight: normal;
	border: none;
}
.sysattribnotes {
	padding: 18px 9px;
	color: #7E7E7E;
	line-height: 15px;
}
.sysattrib-hstyle1 {
	color: #0067cb;
	font-weight: bold;
}
img.attrib-tl-curve {
	background: url('/images/attrib-tl-curve.gif') no-repeat;
	width: 6px;
	height: 6px;
}
img.attrib-tr-curve {
	background: url('/images/attrib-tr-curve.gif') no-repeat;
	width: 6px;
	height: 6px;
}
img.attrib-bl-curve {
	background: url('/images/attrib-bl-curve.gif') no-repeat;
	width: 6px;
	height: 6px;
}
img.attrib-br-curve {
	background: url('/images/attrib-br-curve.gif') no-repeat;
	width: 6px;
	height: 6px;
}
.cmdb-attrib-pop-hbg {
	background: url('/images/cmdb-attrib-pop-hbg.gif') repeat-x;
	height: 29px;
	font-weight: bold;
}
img.cmdb-show-plus2 {
	background: url('/images/cmdb-show-plus2.gif') no-repeat;
	width: 17px;
	height: 17px;
}
img.cmdb-hide-minus2 {
	background: url('/images/cmdb-hide-minus2.gif') no-repeat;
	width: 17px;
	height: 17px;
}
.attrib-curve-cnt {
	padding: 0px;
	position: absolute;
	margin-top: 44px;
	margin-left: -216px;
}
.attrib-curve {
	background: transparent;
	width: 216px;
	height: 221px;
}
.attrib-curve .attrib-content h1 {
	margin: 0;
	font-size: var(--fs-12);
	padding: 0px 3px 3px 4px;
}
.attrib-curve .attrib-content {
	display: block;
	border: 0 solid #fcc799;
	border-width: 0px 0px 0px 1px;
	padding: 2px 0px 2px 11px;
}
.attrib-curve .atBox {
	display: block;
	background: transparent;
	font-size: var(--fs-1);
}
.attrib-curve .atcolor {
	background: #FFF;
	border-color: #81C1E5;
}
.atb1, .atb2, .atb3, .atb4 {
	display: block;
	overflow: hidden;
}
.atb1, .atb2, .atb3 {
	height: 1px;
}
.atb2, .atb3, .atb4 {
	border-left: 1px solid #81C1E5;
	border-right: 1px solid #fff;
	background: #FFF;
}
.atb1 {
	margin: 0 0px 0px 5px;
	background: #81C1E5;
}
.atb2 {
	margin: 0 0px 0px 3px;
	border-width: 0 0px 0px 2px;
}
.atb3 {
	margin: 0 0px 0px 2px;
}
.atb4 {
	height: 2px;
	margin: 0 0px 0px 1px;
}

/* change roles in template ---- style start */
.dropfild-cbox{ 
    background:#fff;
    padding:5px 10px;
    position:relative;
    border-right:none;
}
.toptabsection{ 
    background: url('/images/tabs-hedr-bg.png') repeat-x; 
    height:33px; 
    border-bottom:1px solid #d1d1d1!important;
}
.toptabsection dl.sdtabs dd{
	border-style: none solid;
	border-width: 0 1px;
	border-color: -moz-use-text-color #b3b3b5;
	height: 100%;
	margin: 0 -1px 0 0;
}
.toptabsection dl.sdtabs dd:first-child {
    border-left: medium none;
}
.toptabsection{
	border-top:1px solid #d1d1d1!important;
}
.changetemp-tab-details-fields {
	padding: 15px 0;
}
.changetemp-tab-details-toptabsection dl.sdtabs dd.active a{
	height: 103%;
}
#changetemp-tab-details .changetemp-tab-left-panel-brdr,#changetemp-tab-roles .changetemp-tab-left-panel-brdr{
	border-right:1px solid #cdcdcd; 
	border-top:1px solid #cdcdcd;
}
.temp-changrole tr td{ 
    padding:8px;
}
ul.dragItemList {
    list-style-type: none;
		margin:0;
		padding:0;
}
ul.dragItemList li {
	margin:0;
    padding: 6px;
    padding-bottom: 4px;
}
ul.formCanvas {
    float: left;
    list-style-type: none;
    min-height: 200px;
		margin:0;
		padding:0;
}
ul.formCanvas>li {
	margin:0;
    padding: 4px;
    width: 100%;
}
ul.formCanvas>li.placeholder {
    height: 45px;
}
ul.formCanvas li .dragItem table {
    background-color: white;
    border: 1px solid white !important;
}
ul.formCanvas li .dragItem .deleteButton .icon {
    display: none;
}
ul.formCanvas li .dragItem .deleteButton .spacer {
    display: block;
}
ul.formCanvas li .dragItem:hover {
    cursor: var(--sdpcursor-move);
}
ul.formCanvas li .dragItem:hover table {
    border: 1px solid #DBDBDB !important;
}
ul.formCanvas li .dragItem:hover table tr td {
    background-color: #f5f5f5;
}
ul.formCanvas li .dragItem:hover table tr td.onHoverBgWhite {
    background-color: white;
}
ul.formCanvas li .dragItem:hover .deleteButton .icon, ul.formCanvas li .dragItem .deleteButton:hover .icon {
    display: block;
}
ul.formCanvas li .dragItem:hover .deleteButton .spacer, ul.formCanvas li .dragItem .deleteButton:hover .spacer {
    display: none;
}

/* change roles in template ---- style end */
/* change Template drag section */
.fieldlist-ph{
	border-left:1px #7E966D solid;
	border-bottom:1px #7E966D solid;
}
.add-newfield-icon{
	background: url('/images/addnewitem.png') no-repeat; 
    height:13px;
	width:13px;
	display:inline-block;
	position:relative;
	top:1px;
	margin: 0 4px 0 0;
}
/* change Template drag section */
#changetemp-tab-details .ui-formsubmit,#changetemp-tab-roles .ui-formsubmit {
	background: url('/images/ui-fw-formsubmitbg.png') top repeat-x;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
.undo-icon-grey-arrow1 {
    background-position: -360px -485px;
}
.redo-icon-grey-arrow1 {
    background-position: -343px -485px;
}
/* SD-78761 issue fix */
#mnuNorm.disable-opacity3{
	pointer-events: none;
}