/*$Id :$ */
.ItemAnchor {
	width: 12px;
	line-height: 6px;
	overflow: hidden;
	padding-left: 12px;
	background-image: url('/images/htmlarea/anchor_symbol.gif');
	background-position: bottom;
	background-repeat: no-repeat;
}