/* This file used in Purchase Order Print Preview Page */
body[theme="dark-mode"] {
    background: #121212;
}
body[theme="dark-mode"],
[theme="dark-mode"] table tr td,
[theme="dark-mode"] table tbody tr td a, 
[theme="dark-mode"] p { 
	color: #b0b0b0; 
} 
[theme="dark-mode"] b { 
	color: #e2e2e2; 
} 
[theme="dark-mode"] a{ 
	color: #2990c9;
} 
[theme="dark-mode"] table[bgcolor="#F3F3F3"]{
	background-color: #222324;
} 
[theme="dark-mode"] table[bgcolor="#E4E4E4"]{
	background-color: #2e2f31;
} 
[theme="dark-mode"] div[style*="background: rgb(245, 245, 245)"],
[theme="dark-mode"] blockquote[style*="background-color: rgb(245, 245, 245)"],
[theme="dark-mode"] blockquote[style*="background-color:"]{
	background-color: #222324 !important; 
	border-color: #424242 !important;
}
[theme="dark-mode"] hr { 
	border-color: #424242; 
}
[theme="dark-mode"] span[style*="background-color: yellow;"]{
	background-color: #675203 !important;
}
[theme="dark-mode"] .greybgf2{
	background: #222324;
}
[theme="dark-mode"] .whitebgBorder, [theme="dark-mode"] .whitebgborder{
	border-color: #313131;
}
[theme="dark-mode"] span[style*="color: rgb(0, 0, 255);"], [theme="dark-mode"] span[style*="color: rgb(48, 80, 134)"]{
	color: #60ABD5 !important;
}
[theme="dark-mode"] .greybgf2 img[src="/images/separator.gif"]{
	width: 0px;
	margin-left: 10px;
	border-right: 2px solid #313131;
}
[theme="dark-mode"] .formStylebutton,
[theme="dark-mode"] .formstyleButton,
[theme="dark-mode"] .formstylebutton,
[theme="dark-mode"] .formStyleButton {
  color: #b0b0b0;
  background-color: #2e2f31;
  border-color: #414141;
}
[theme="dark-mode"] H3{
	color: #fff;
}
[theme="dark-mode"] .whitebgBorder,
[theme="dark-mode"] .whitebgborder,
[theme="dark-mode"].whitebgBorder {
  border-color: #313131;
  background-color: #121212;
}
[theme="dark-mode"] .blueHbg11{
	background: #222324;
}
[theme="dark-mode"] font[color="#FF1111"], [theme="dark-mode"] span[style*="color:rgb(153, 0, 0)"], [theme="dark-mode"] font[style*="color:rgb(153, 0, 0)"], [theme="dark-mode"] .mandatory, [theme="dark-mode"] span[style*="color:#990000"]{
	color: #ff8888 !important;
}
[theme="dark-mode"] font[color="#11DD11"]{
	color: #00c555 !important;
}
[theme="dark-mode"] span[style*="color:blue"]{
	color: #60abd5 !important;
}
[theme="dark-mode"] select{
	background: #121212;
	border-color: #4e4e4e;
	color: #b0b0b0;
}
[theme="dark-mode"] .btn-primary {
 background-color: #3a6099;
 border-color: transparent;
 color: #b0b0b0;
}
[theme="dark-mode"] .btn-primary:hover,
[theme="dark-mode"] .btn-primary:focus,
[theme="dark-mode"] .btn-primary:active,
[theme="dark-mode"] .btn-primary.active {
 background-color: #204782;
 border-color: transparent;
 color: #e2e2e2;
}
[theme="dark-mode"] span[style*="border: 1px solid rgb(153, 153, 153);"]{
	border-color: #4e4e4e !important;
}
[theme="dark-mode"] span[style*="color:rgb(102, 102, 102)"]{
	color: #b0b0b0 !important;
}
[theme="dark-mode"] strong{
	color: #fff;
}
[theme="dark-mode"] font strong{
	color: inherit;
}
[theme="dark-mode"] td[style*="color: rgb(0, 0, 0);"]{
	color: #b0b0b0 !important;
}
[theme="dark-mode"] .border2{
	border-color: #313131;
}
[theme="dark-mode"] .border-bottom{
	border-bottom-color: #313131;
}
[theme="dark-mode"] .border-right{
	border-right-color: #313131;
}
[theme="dark-mode"] td[bgcolor="#f1f1f1"]{
	background-color: #222324;
}
[theme="dark-mode"] tr[bgcolor="#ffffff"] td{
	background-color: #121212;
}
[theme="dark-mode"] table[style*="background-color: rgb(255, 255, 255);"]{
	background-color: #121212 !important;
	border-color: #4e4e4e !important;
}
[theme="dark-mode"] table[style*="background-color: rgb(255, 255, 255);"] td{
	border-color: #4e4e4e;
}
[theme="dark-mode"] span[style*="color:rgb(0, 0, 0)"]{
	color: #b0b0b0 !important;
}
[theme="dark-mode"] table[style*="background:#FFF"]{
	background-color: #121212 !important;
}
[theme="dark-mode"] table[style*="color:#2F5993"] td,   [theme="dark-mode"] table[style*="color:#2F5993"] b{
	color: #2990c9 !important;
}
[them="dark-mode"] div[style*="border-bottom: 1px solid #EEE"], [them="dark-mode"] div[style*="border: 1px solid #EEE"]{
	border-color: #4e4e4e !important;
}
[theme="dark-mode"] div[style*="background: #f5f5f5"]{
	background: #222324 !important;
	border-color: #424242 !important;
}
[theme="dark-mode"] span.highlight[style*="background-color:"], 
[theme="dark-mode"] ol[style*="background-color:"],
[theme="dark-mode"] span.highlight[style*="background-color:"] b, 
[theme="dark-mode"] ol[style*="background-color:"] b{
	color: #000 !important;
}
[theme="dark-mode"] table td[bgcolor="#f5f5f5"]{
	background: #222324;
}
[theme="dark-mode"] .headerboldfont{
	color: #fff !important;
}
[theme="dark-mode"] .border1, [theme="dark-mode"] .border-top{
	border-color: #424242;
}
[theme="dark-mode"] .template-icon{
	background-color: #222324 !important;
}
[theme="dark-mode"] .bbtmGry2ccc{
	border-color: #424242;
}
[theme="dark-mode"] table.TechnicianReqDetails[bgcolor="#FFFFFF"]{
	background-color: #121212;
}
[theme="dark-mode"] .greyBdrLeft3px, 
[theme="dark-mode"] .greyBdrRight3px, 
[theme="dark-mode"] .greyBdrTop3px,
[theme="dark-mode"] .greyBdrBottom3px{
	border-color: #424242;
}
[theme="dark-mode"] .calendar-req-blcurve,
[theme="dark-mode"] .calendar-req-tlcurve,
[theme="dark-mode"] .calendar-req-trcurve,
[theme="dark-mode"] .calendar-req-brcurve{
    background-image: none;
    background-color: transparent;
}
[theme="dark-mode"] .calendar-req-blcurve{
    border-left: 3px solid #424242;
    border-bottom: 3px solid #424242;
    border-bottom-left-radius: 50%;
}
[theme="dark-mode"] .calendar-req-tlcurve{
    border-left: 3px solid #424242;
    border-top: 3px solid #424242;
    border-top-left-radius: 50%;
}
[theme="dark-mode"] .calendar-req-trcurve{
    border-right: 3px solid #424242;
    border-top: 3px solid #424242;
    border-top-right-radius: 50%;
}
[theme="dark-mode"] .calendar-req-brcurve{
    border-right: 3px solid #424242;
    border-bottom: 3px solid #424242;
    border-bottom-right-radius: 50%;
}
[theme="dark-mode"] table.TechnicianReqDetails tr td table tr td.grayRightBorder{
	border-color: #424242;
}
[theme="dark-mode"] .calendar-req-innertl, 
[theme="dark-mode"] .calendar-req-innertr, 
[theme="dark-mode"] .calendar-req-innerbl, 
[theme="dark-mode"] .calendar-req-innerbr{
	background-image: none;
	background-color: #2e2f31
}

@media print{
  [theme="dark-mode"] .headerboldfont{
  	color: #000 !important;
  }
  [theme="dark-mode"] strong {
	color: #000;
  }
  [theme="dark-mode"] .border-bottom, [theme="dark-mode"] .border2, [theme="dark-mode"] .border-right{
  	border-color: #ccc;
  }
  body[theme="dark-mode"], [theme="dark-mode"] table tr td, [theme="dark-mode"] table tbody tr td a, [theme="dark-mode"] p{
  	color: #333;
  }
  body[theme="dark-mode"]{
	background: #fff;
  }
  [theme="dark-mode"] table[bgcolor="#F3F3F3"] {
	background-color: #f3f3f3;
  }
  [theme="dark-mode"] .bgGraye4e4{
	background-color: #e4e4e4;
  }
  [theme="dark-mode"] .TechnicianReqDetails[bgcolor="#FFFFFF"]{
	background-color: #FFF;
  }
}
/* Custom scroll bar CSS */
html:not(.mac-os) :hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: background-color 15s ease-in-out;
    background-color: #b3b3b3;
}

html:not(.mac-os) :hover::-webkit-scrollbar-thumb:hover {
    transition: background-color 15s ease-in-out;
    background-color: #b3b3b3;
}

html:not(.mac-os) body[theme=dark-mode] :hover::-webkit-scrollbar-thumb {
    transition: background-color 15s ease-in-out;
    background-color: #909092;
}

html:not(.mac-os) body[theme=dark-mode] :hover::-webkit-scrollbar-thumb:hover {
    transition: background-color 15s ease-in-out;
    background-color: #909092;
}

html:not(.mac-os) ::-webkit-scrollbar {
    display: inherit;
    width: 9px;
    height: 9px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:active {
    background-color: #535353 !important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
    border-radius: 10px;
}

@-moz-document url-prefix() {
  html:not(.mac-os) {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os) * {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os) *:hover {
      scrollbar-color: #b3b3b3 transparent;
  }

  html:not(.mac-os):hover {
      scrollbar-color: #b3b3b3 transparent;
  }

  html:not(.mac-os)[theme=darkmode] {
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os)[theme=darkmode] * {
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os)[theme=darkmode] *:hover {
      scrollbar-color: #909092 transparent;
  }

  html:not(.mac-os)[theme=darkmode]:hover {
      scrollbar-color: #909092 transparent;
  }
}
body{
	font-variant-ligatures: none;
}
