/* Custom scroll bar CSS */
html:not(.mac-os) :hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    transition: background-color 15s ease-in-out;
    background-color: #b3b3b3;
}

html:not(.mac-os) :hover::-webkit-scrollbar-thumb:hover {
    transition: background-color 15s ease-in-out;
    background-color: #b3b3b3;
}

html:not(.mac-os) body[theme=dark-mode] :hover::-webkit-scrollbar-thumb {
    transition: background-color 15s ease-in-out;
    background-color: #909092;
}

html:not(.mac-os) body[theme=dark-mode] :hover::-webkit-scrollbar-thumb:hover {
    transition: background-color 15s ease-in-out;
    background-color: #909092;
}

html:not(.mac-os) ::-webkit-scrollbar {
    display: inherit;
    width: 9px;
    height: 9px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb:active {
    background-color: #535353 !important;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #919191;
    border-radius: 10px;
}

@-moz-document url-prefix() {
  html:not(.mac-os) {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os) * {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os) *:hover {
      scrollbar-color: #b3b3b3 transparent;
  }

  html:not(.mac-os):hover {
      scrollbar-color: #b3b3b3 transparent;
  }

  html:not(.mac-os)[theme=darkmode] {
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os)[theme=darkmode] * {
      scrollbar-color: transparent transparent;
  }

  html:not(.mac-os)[theme=darkmode] *:hover {
      scrollbar-color: #909092 transparent;
  }

  html:not(.mac-os)[theme=darkmode]:hover {
      scrollbar-color: #909092 transparent;
  }
}
body{
	font-variant-ligatures: none;
}
