/*$Id$*/
html, body{
    height: 100%;
}
.error-bgcolor{        
    background-color:#b7b7b7;
    margin:0 auto;
    padding:0;  
}
.error-page{        
    background-color:#b7b7b7;
    margin:0 auto;
    padding:0;   
}
.table-wrap{
    display: table;
    width: 100%;
    height:100%;
}
.table-cell-wrap{
    display: table-cell;
    vertical-align: middle;
}
.error-content{
    width: 680px;
    background-color: #FFF;
    display: table;
    margin: 0 auto;
    border: 1px solid #B9B9B9;
    box-shadow: 0px 0px 15px 0px #8E8E8E;
}
.error-attention{
	background-image: url('/images/error-sprite.png');
    width: 106px;
    height: 95px;
    position: relative;
    margin-left: 42%;
    top: 33px;
}
.error-attention{
    direction: rtl;
    margin-right: 42%;
}
.error-message,.error-inputmessage{
    font-weight: bold;
    text-align: center;
}
.error-message{
    font-size: var(--fs-30);
    color: #E13B0E;
    padding: 36px 30px 13px 30px;
}
.error-inputmessage{
    font-size: var(--fs-17);
    color: #969595;
    padding: 0px 30px 46px 30px;
}
.error-privilegemessage{
    font-size: var(--fs-14);
    color: #626262;
    padding: 0px 30px 46px 30px;
	text-align: center;
}
.error-bottomreturn{
	height: 77px;
    background-color: #EFEFEF;
    border-top: 1px solid #BABABA;
    position: relative;
    display: table;
    width: 100%;
}
.error-returnback,.error-returnhome{
    font-size: var(--fs-14);
    font-weight: bold;
    color: #636363;
}
.error-returnback{
	float: left;
    padding: 29px 0px 0px 40px;
}
.error-returnhome{
	float: right;
    padding: 29px 25px 0px 0px;
}
.error-returnback em,.error-returnhome em {
    background-image: url('/images/error-sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 6px;
}
.error-returnback em,.error-returnhome em {
    direction: rtl;
    margin-left: 6px;
}
.error-returnback em {
    background-position:  -119px -36px;
    width: 12px;
    height: 19px;
    margin-bottom: -5px;
}
.error-returnhome em {
    background-position: -114px -1px;
    width: 22px;
    height: 20px;
    margin-bottom: -4px;
}
.error-info-image em {
    background-image: url('/images/error-sprite.png');
    background-repeat: no-repeat;
    background-position:-335px 4px;
    width:180px;
    height: 275px;
    position: absolute;
    margin-top: 30px;
}
.error-info {
    color: #7b7b7b;
    font-size: var(--fs-22);
    padding: 20px 0 0 26px;
    line-height: 30px;
}
a{
	text-decoration: none;
}

/*404 error page css*/

.error-text,.error-image{
    padding-bottom: 20px; 
}
.error-text{
    width: 472px;
    float: left;
}
.error-image{
    width: 205px;
    float: right;
}
.error-image em {
    background-image: url('/images/error-sprite.png');
    background-repeat: no-repeat;
    background-position: -144px 3px;
    width: 192px;
    height: 191px;
    position: absolute;
    margin-top: 50px;
}
.error-errorname{
    padding: 29px 0px 0px 26px;
    font-size: var(--fs-57);
    color: #e7623e;
}
.error-text .error-request{
    font-size: var(--fs-31);
    padding: 0px 0px 0px 26px;
    color: #E13B0E;
    font-weight: bold;  
}
.error-text ul{
    padding: 24px 16px 0px 40px;
    line-height: 21px;
    color: #626262;
    font-size: var(--fs-14);
    list-style-type: none;
}
.error-list li:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #E13B0E;
    border-radius: 24px;
    margin-left: -15px;
    margin-top: 7px;
}
.error-list li:before{
    direction: rtl;
    margin-right: -15px;
}

/*Forgot Password page css*/
.mtop10{
    margin-top: 10px;
}
.forgot-password-content form{
    padding: 0 40px
}
.header-logo-bg{
    background:#f8f9fa ;
    border-bottom: 1px solid #eee;
    padding:10px 20px;
}
.header-logo{
    background:url('/images/msp-logo.png') no-repeat; 
    height:36px;
    width:166px;
}
.forgot-message{
    padding:30px 25px;
    line-height: 20px;
    color: #8d8d8d;
}
.mandatory {
    color: red;
    font-weight: bold;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.error-bgcolor input[type="text"], .error-bgcolor input[type="password"]{
    background-color: #fff;
    border: 1px solid #ccc;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
.error-bgcolor input[type="text"]:focus, .error-bgcolor input[type="password"]:focus{
    border: 1px solid #70c6ec;
    box-shadow: 0 0 3px 0 #c3e0ed;
}
.forgot-inputsection{
    padding: 0px 40px 20px;
    position: relative;
    display: table;
    width: 88%;
}
.forgot-inputsection label{
    font-weight: bold;
    color: #535353;
    display: inline-block;
    padding-top: 7px;
}
.lablediv{
    text-align: right;
    width: 33%
}
.inputdiv{
    width: 65%
}
.error-bgcolor .form-control{
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    height: 23px;
    margin: 0;
    width: 238px;
    padding: 2px 5px;
}
.submit-row .btn {
    margin-right: 5px;
}
.error-bgcolor .btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
    color: #fff;
    margin-right: 15px;
}
.error-bgcolor .btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: var(--sdpcursor-pointer);
    display: inline-block;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.error-bgcolor .btn-primary:hover{
    background-color: #3071a9;
    border-color: #285e8e;
    color: #fff;
}
.update-butn, .back-butn{
    padding: 10px 15px 40px;    
}
.update-butn{
   text-align: center;
}
.backto-login{
    color:#1c63a6;
    margin-left: 10px;
}
.input-error-border {
    border: 1px solid #f00 !important;
}
.errorMsg {
    left: 25%;
    margin:20px 0 0px;    
}
.page-header{
    padding-bottom: 10px;
    color: #535353;
}
.error-bgcolor h3{
    font-size: var(--fs-17);
}
.forgot-resetlink{
    color: #535353;
}
.forgot-logintext{
    color: #03659d;
    text-decoration: none;
    position: relative;
    top: 18px;
}
.sucssMsg {
    background: #e0f7e1;
    border: 1px solid #67c385;
    border-radius: 0 0 6px 6px;
    left: 25%;
    padding: 14px 10px;
    position: absolute;
    width: 335px;
    z-index: 99;
}
.copyright-text{
    color: #888;
    text-align: center;
    position: relative;
    top:50px;
}
.alert-danger {
    background-color: #ffecec;
    border:1px solid #ffdde2;
    color: #a74f4f;
	z-index:9 !important;
}
.alert {
    padding: 5px 10px;
}
.link-expired{
    color: #a74f4f;
}
ul.ui-alertbox1 button.close{
    top:8px;
}
/*Forgot Password page css End*/
