/*$Id$*/
html, body{
    height: 100%;
}
.error-page{        
    background-color:#b7b7b7;
    margin:0 auto;
    padding:0;   
}
.table-wrap{
    display: table;
    width: 100%;
    height:100%;
}
.table-cell-wrap{
    display: table-cell;
    vertical-align: middle;
}
.error-content{
    width: 680px;
    background-color: #FFF;
    display: table;
    margin: 0 auto;
    border: 1px solid #B9B9B9;
    box-shadow: 0px 0px 15px 0px #8E8E8E;
}
.error-attention{
	background-image: url('/images/error-sprite.png');
    width: 106px;
    height: 95px;
    position: relative;
    margin-right: 42%;
    top: 33px;
}
.error-message,.error-inputmessage{
    font-weight: bold;
    text-align: center;
}
.error-message{
	  font-size: var(--fs-30);
    color: #E13B0E;
    padding: 36px 30px 13px 30px;
}
.error-inputmessage{
    font-size: var(--fs-17);
    color: #969595;
    padding: 0px 30px 46px 30px;
}
.error-privilegemessage{
    font-size: var(--fs-14);
    color: #626262;
    padding: 0px 30px 46px 30px;
	text-align: center;
}
.error-bottomreturn{
    height: 77px;
    background-color: #EFEFEF;
    border-top: 1px solid #BABABA;
    position: relative;
    display: table;
    width: 100%;
}
.error-returnback,.error-returnhome{
    font-size: var(--fs-14);
    font-weight: bold;
    color: #636363;
}
.error-returnback{
	float: right;
    padding: 29px 40px 0px 0px;
}
.error-returnhome{
	float: left;
    padding: 29px 0px 0px 25px;
}
.error-returnback em,.error-returnhome em {
    background-image: url('/images/error-sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 6px;
}
.error-returnback em {
    background-position:  -119px -60px;
    width: 12px;
    height: 19px;
    margin-bottom: -5px;
}
.error-returnhome em {
    background-position: -114px -1px;
    width: 22px;
    height: 20px;
    margin-bottom: -4px;
}
a{
	text-decoration: none;
}

/*404 error page css in rtl*/

.error-text,.error-image{
    padding-bottom: 20px; 
}
.error-text{
    width: 472px;
    float: right;
}
.error-image{
    width: 205px;
    float: left;
}
.error-image em {
    background-image: url('/images/error-sprite.png'); 
    background-repeat: no-repeat;
    background-position: -144px 3px;
    width: 192px;
    height: 191px;
    position: absolute;
    margin-top: 50px;
}
.error-errorname{
    padding: 29px 26px 0px 0px;
    font-size: var(--fs-57);
    color: #E7623E;
}
.error-text .error-request{
    font-size: var(--fs-31);
    padding: 0px 26px 0px 0px;
    color: #E13B0E;
    font-weight: bold;  
}
.error-text ul{
    padding: 24px 40px 0px 0px;
    line-height: 21px;
    color: #626262;
    font-size: var(--fs-14);
    list-style-type: none;
}
.error-list li:before {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #E13B0E;
    border-radius: 24px;
    margin-right: -15px;
    margin-top: 7px;
}
.mandatory {
    color: red;
    font-weight: bold;
}