/*$Id$*/
/* Advanced search filter styles */
ol.filterwrapper *::before, ol.filterwrapper *::after, ol.filterwrapper * {
    box-sizing:border-box;
}
ol.filterwrapper {
    list-style: none;
    padding: 4px 0;
    margin: 0
}
ol.filterwrapper li {
    list-style: none;
    padding: 6px 3px;
    margin: 0
}
ol.filterwrapper .drag-handle {
    position: relative;
  width: 2%;
  min-height: 26px;
    padding-left: 15px;
    padding-right: 15px;
   cursor: var(--sdpcursor-grab);
}
ol.filterwrapper .drag-handle strong {
    background-image:url('/images/ui-common-view.png');
    background-position: -83px 6px;
    background-repeat    : no-repeat;
    display:inline-block;
    width:6px;
    height:26px;
}
ol.filterwrapper .operatorsdiv {
    position: relative;
    width: 8.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
ol.filterwrapper .actionsdiv {
    position: relative;
    width: 8.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    top: 4px
}
ol.filterwrapper .columnnamediv {
    position: relative;
    width: 20%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
ol.filterwrapper .criteriadiv {
    position: relative;
    width: 20%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
ol.filterwrapper .criteriavaldiv {
    position: relative;
    width: 30.33333333%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
ol.filterwrapper .select2-container {
    width: 100%
}
ol.filterwrapper .singlefilterwrapper label.tags {
    background: #ececec;
    padding: 5px;
    margin: 3px;
    display: inline-block;
    border-radius: 5px;
    color: #5d5d5d;
}
ol.filterwrapper .singlefilterwrapper div p {
    padding: 6px 0;
    text-align: center
}
ol.filterwrapper .select2-search-hidden {
    display: none !important
}
ol.filterwrapper.ui-sortable li:hover {
    background-color:#f5f5f5;
    cursor: var(--sdpcursor-grab);
}
ol.filterwrapper .ui-state-highlight {
    background:#fffff1;
    border:1px dotted #d7d3d3;
    color:#363636;
    visibility:visible;
}
ol.filterwrapper .advsearch-input-cal{ 
    width:100% !important; 
    background:url('/images/cal-icon-new.png') no-repeat 97% #f7f7f7; 
}
.select-switch {
    min-width: 75px;
    height: 28px;
    cursor: var(--sdpcursor-default);
}
.select-switch > span {
    line-height: 25px;
    padding-left: 5px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

