/*$Id$*/

.datefilters span {
	height: 20px;
	line-height: 20px;
	margin: -7px 0px 0px 0px;
	vertical-align: middle;
}
.datefilters img {
	vertical-align: text-bottom;
	position: relative;
}
.formradio {
	width: 12px;
	vertical-align: text-bottom;
	display: inline;
}
table tr> td .formradio {
	width: 14px;
}
.requestbg {
	border: 1px solid #8fbbdb;
	background-color: #fffec7;
	width: 100%;
	padding: 10px;
	margin: 0px;
}
#newrequests, .pending, .completed, .violation {
	font-size: var(--fs-12);
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
}
#newrequests span {
	margin: 0px 10px 0px 10px;
}
#newrequests img {
	vertical-align: middle;
	margin: 0px 5px 0px 5px;
}
#newrequests .pending strong {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	margin: 0px 2px 0px 2px;
}
#newrequests .completed strong {
	color: #42a506;
	margin: 0px 2px 0px 2px;
}
#newrequests .violation strong {
	color: #ff0000;
	margin: 0px 2px 0px 2px;
}
.reqarrowimage {
	background: url('/images/req-arrow.gif') center 0px no-repeat;
	z-index: 10;
	position: absolute;
	width: 955px;
	height: 28px;
	margin-top: 22px;
}
.totalrequest {
	font-size: var(--fs-18);
	color: #24509e;
	text-align: left;
	width: 50%;
	font-weight: bold;
	padding-top: 5px;
}
