/* $Id$ */

a.icon_buynow {
	border-left: 0px !important;
}
.jumpto {
	margin-left: 4px;
}
a.userslookup {
	float: right;
}
div.admin_wizardicon {
	background: url('/images/sdp-icons-pack1.png') -416px -189px no-repeat;
}
.wizard_lefttopcorner {
	background: url('/images/sdp-icons-pack1.png') -1px -215px no-repeat;
}
.wizard_righttop {
	background: url('/images/sdp-icons-pack1.png') -21px -215px no-repeat;
}
.wizard_startbuttonleft {
	background: url('/images/sdp-icons-pack1.png') -32px -218px no-repeat;
}
.wizard_startbuttonright {
	background: url('/images/sdp-icons-pack1.png') -44px -218px no-repeat;
}
.wizard_leftbottomcorner {
	background: url('/images/sdp-icons-pack1.png') -1px -235px no-repeat;
}
.wizard_rightbottomcorner {
	background: url('/images/sdp-icons-pack1.png') -21px -235px no-repeat;
}
img.wizard_righttile {
	background: url('/images/sdp-icons-pack1.png') -21px -225px no-repeat;
}
img.wizard_lefttile {
	background: url('/images/sdp-icons-pack1.png') -1px -225px no-repeat;
}
td.wizard_righttile {
	border-right: 1px #b2b2b2 solid;
}
td.wizard_lefttile {
	border-left: 1px #b2b2b2 solid;
}
.dropList em {
	background: url('/images/sdp-icons-pack1.png') -101px 0 no-repeat;
}
.dropList em {
	background: url('/images/sdp-icons-pack1.png') no-repeat -300px -453px transparent;
}
.dropList em.new-incident-icons-yellow {
	background: url('/images/sdp-icons-pack1.png') no-repeat -301px -453px transparent;
}
.dropList span em {
	background: url('/images/sdp-icons-pack1.png') no-repeat -301px -453px transparent;
}
#dropList2 em {
	background: url('/images/sdp-icons-pack1.png') -683px 0 no-repeat;
}
#dropList2 em.new-incident-icons-yellow {
	background:url('/images/sdp-icons-pack1.png') no-repeat -301px -453px transparent;
}
#dropList3 em, #dropList4 em {
	background: url('/images/addservicebtnleft.gif') no-repeat;
}
#dropList3 em, #dropList4 em {
	background: url('/images/manageservicedropright.gif') no-repeat;
}
#dropList3 strong.mact span {
	padding-left: 20px;
}
.dropList li li a.sub {
	background: #fff url('/images/autocompleteitembullet.gif') 96% 14px no-repeat !important;
}
table#reminder .leftedge {
	background: url('/images/sdp-icons-pack1.png') -785px 0px no-repeat;
}
.gecko table#reminder .leftedge, .opera table#reminder .leftedge {
	background: url('/images/sdp-icons-pack1.png') -785px 0px no-repeat;
}
.schmsrcitmtbg2 {
	background: url('/images/sdp-icons-pack1.png') -444px -347px no-repeat;
}
.schmsrcitmsch2 {
	background: url('/images/sdp-icons-pack1.png') -686px -346px no-repeat;
}
.schhm-pgnavl {
	background: url('/images/sdp-icons-pack1.png') -652px -51px no-repeat;
}
.schhm-pgnavl-act {
	background: url('/images/sdp-icons-pack1.png') -652px -64px no-repeat;
}
.schhm-pgnavr {
	background: url('/images/sdp-icons-pack1.png') -662px -51px no-repeat;
}
.schhm-pgnavr-act {
	background: url('/images/sdp-icons-pack1.png') -662px -64px no-repeat;
}
.abutbgimg {
	background: url('/images/about-pagebg.jpg') no-repeat;
}
img.sdlogo {
    background: url('/images/me-logo-b.svg?15140') no-repeat center;
	width: 230px;
	height: 61px;
}
[theme="dark-mode"] img.sdlogo{
	background: url('/images/me-logo-w.svg?15140') no-repeat center;
}
#dropList3 strong.mact span {
	background: url('/images/manageservicedropbullet.gif') no-repeat;
}
.treenodelink a {
	background: #fff url('/images/bullets-pack1.png') -2px -80px no-repeat;
}
a.actionitems_expand, img.actionitems_expand {
	background: url('/images/hideuparrow1.png') 0px 0px no-repeat;
	margin:-1px 0px 0px 0px;
}
a.actionitems_collapse, img.actionitems_collapse{
	background: url('/images/showdownarrow1.png') 0px 0px no-repeat;
	margin:-1px 0px 0px 0px;
}
#dropListDC1 em {
	background: url('/images/sdp-icons-pack1.png') no-repeat -301px -453px transparent;
}
.dbrd-solnsrchbg1 {
	background: url('/images/sdp-icons-pack1.png') -445px -346px no-repeat;
}
.dbrd-solnsrchbtn1 {
	background: url('/images/sdp-icons-pack1.png') -686px -346px no-repeat;
	width: 37px;
}

/* common additional fields */
.common-addinalfild{
    margin-left: 2px;
}
.common-compre-align{
    right: 4px;
}
/* common additional fields */
