/* $Id$ */

a.icon_buynow {
	border-right: 0px !important;
}
.jumpto {
	margin-right: 4px;
}
a.userslookup {
	float: left;
}
div.admin_wizardicon {
	background: url('/images/sdp-icons-pack1_RTL.png') -416px -189px no-repeat;
}
.wizard_lefttopcorner {
	background: url('/images/sdp-icons-pack1_RTL.png') -1px -215px no-repeat;
}
.wizard_righttop {
	background: url('/images/sdp-icons-pack1_RTL.png') -21px -215px no-repeat;
}
.wizard_startbuttonleft {
	background: url('/images/sdp-icons-pack1_RTL.png') -32px -218px no-repeat;
}
.wizard_startbuttonright {
	background: url('/images/sdp-icons-pack1_RTL.png') -43px -218px no-repeat;
}
.wizard_leftbottomcorner {
	background: url('/images/sdp-icons-pack1_RTL.png') -1px -235px no-repeat;
}
.wizard_rightbottomcorner {
	background: url('/images/sdp-icons-pack1_RTL.png') -21px -235px no-repeat;
}
img.wizard_righttile {
	background: url('/images/sdp-icons-pack1_RTL.png') -21px -225px no-repeat;
}
img.wizard_lefttile {
	background: url('/images/sdp-icons-pack1_RTL.png') -1px -225px no-repeat;
}
td.wizard_righttile {
	border-left: 1px #b2b2b2 solid;
}
td.wizard_lefttile {
	border-right: 1px #b2b2b2 solid;
}
.dropList em {
	background: url('/images/sdp-icons-pack1_RTL.png') -101px 0 no-repeat;
}
.dropList em {
	background: url('/images/sdp-icons-pack1_RTL.png') no-repeat -299px -453px transparent;
}
.dropList span em {
	background: url('/images/sdp-icons-pack1_RTL.png') no-repeat -299px -453px transparent;
}
#dropList2 em {
	background: url('/images/sdp-icons-pack1_RTL.png') -683px 0 no-repeat;
}
#dropList2 em.new-incident-icons-yellow {
	background:url('/images/sdp-icons-pack1_RTL.png') no-repeat -298px -453px transparent;

}
#dropList2 em {
	background: url('/images/sdp-icons-pack1_RTL.png') -692px 0px no-repeat;
}
#dropList3 em, #dropList4 em {
	background: url('/images/addservicebtnright.gif') no-repeat;
}
#dropList3 em, #dropList4 em {
	background: url('/images/manageservicedropright-rtl.gif') no-repeat;
}
#dropList3 strong.mact span {
	padding-right: 20px;
}
.dropList li li a.sub {
	background: #fff url('/images/autocompleteitembullet-rtl.gif') 4% 14px no-repeat !important;
}
table#reminder .leftedge {
	background: url('/images/sdp-icons-pack1_RTL.png') -787px 0px no-repeat;
}
.gecko table#reminder .leftedge, .opera table#reminder .leftedge {
	background: url('/images/sdp-icons-pack1_RTL.png') -787px 0px no-repeat;
}
.schmsrcitmtbg2 {
	background: url('/images/sdp-icons-pack1_RTL.png') -464px -347px no-repeat;
}
.schmsrcitmsch2 {
	background: url('/images/sdp-icons-pack1_RTL.png') -686px -346px no-repeat;
}
.schhm-pgnavl {
	background: url('/images/sdp-icons-pack1.png') -662px -51px no-repeat;
}
.schhm-pgnavl-act {
	background: url('/images/sdp-icons-pack1.png') -662px -64px no-repeat;
}
.schhm-pgnavr {
	background: url('/images/sdp-icons-pack1.png') -652px -51px no-repeat;
}
.schhm-pgnavr-act {
	background: url('/images/sdp-icons-pack1.png') -652px -64px no-repeat;
}
.abutbgimg {
	background: url('/images/about-pagebg-rtl.jpg') no-repeat;
}
img.sdlogo {
    background: url('/images/me-logo-b.svg?15140') no-repeat center;
	width: 230px;
	height: 61px;
}
[theme="dark-mode"] img.sdlogo{
	background: url('/images/me-logo-w.svg?15140') no-repeat center;
}
#dropList3 strong.mact span {
	background: url('/images/manageservicedropbullet.gif') no-repeat right;
}
.treenodelink a {
	background: #fff url('/images/bullets-pack1.png') 101% -476px no-repeat;
}
a.actionitems_expand, img.actionitems_expand {
	background: url('/images/hideuparrow1.png') 0px 0px no-repeat;
		margin:-1px 0px 0px 0px;
}
a.actionitems_collapse, img.actionitems_collapse {
	background: url('/images/showdownarrow1.png') 0px 0px no-repeat;
	margin: -1px 0px ;
}
#dropListDC1 em {
	background: url('/images/sdp-icons-pack1_RTL.png') no-repeat -299px -453px transparent;
}
.dbrd-solnsrchbg1 {
	background: url('/images/sdp-icons-pack1_RTL.png') -453px -346px no-repeat;
}
.dbrd-solnsrchbtn1 {
	background: url('/images/sdp-icons-pack1_RTL.png') -685px -346px no-repeat;
	width:28px;
}
.dependency-info-icon {
	border-left:0 none;
	border-right:1px #ccc solid;
	padding-left:0;
	padding-right:10px;
	margin-left:0;
	margin-right:16px;
	height:20px;
	position:relative;
	top:-2px;
}
.dependency-info-icon img {
      position:relative;
      top:3px;
}

/* common additional fields */
.common-addinalfild{
    margin-right: 2px;
}
.common-compre-align{
    left: 4px;
}
/* common additional fields */
