/*$Id$*/
/* Admin Page CSS Icons Map */

span.admin_credentials {
	background-position:-703px -115px;
}
img.member-icon {
	background: url('/images/sdp-icons-pack1.png') -257px -293px no-repeat;
	width: 25px;
	height: 33px;
}
.import-now {
	background: url('/images/sdp-icons-pack1.png') -101px -69px no-repeat;
	width: 21px;
	height: 13px;
}
img.admin_scannowicon {
	background-image: url('/images/ui-common-view.svg?15140');
	background-position: -96px -931px;
	width: 16px;
	height: 16px;
}
div.admin_wizardicon {
	width: 66px;
	height: 50px;
	display: block;
}
.wizard_lefttopcorner {
	width: 9px;
	height: 9px;
}
.wizard_righttop {
	width: 9px;
	height: 9px;
}
.wizard_startbuttonbg {
	background:url('/images/wizard_startbuttonbg.gif') center repeat-x;
	color:#039;
}
.wizard_startbuttonleft {
	width: 5px;
	height: 23px;
}
.wizard_startbuttonright {
	width: 19px;
	height: 23px;
	display: block;
}
.wizard_leftbottomcorner {
	width: 9px;
	height: 9px;
}
.wizard_rightbottomcorner {
	width: 9px;
	height: 9px;
}
.wizard_righttile {
	width: 9px;
	height: 9px;
}
.wizard_lefttile {
	width: 9px;
	height: 9px;
}
td.wizard_toptile {
	border-top: 1px #b2b2b2 solid;
}
td.wizard_bottomtile {
	border-bottom: 1px #b2b2b2 solid;
}
table#reminder .leftedge {
	border: 0px;
	width: 31px;
	height: 237px;
}
.gecko table#reminder .leftedge, .opera table#reminder .leftedge {
	border: 0px !important;
	width: 31px;
	height: 237px;
}
/* Top and Left blocks CSS Icons Map Created on 24-aug-2007 */

a.icon_buynow {
	background: transparent url('/images/sdp-icons-pack1.png') -132px 0px  no-repeat;
	width: 87px;
	height: 15px;
	display: block;
	border-left: 0px !important;
}
table tr td>a.icon_buynow {
	width: 78px;
}
.jumpto {
	background: url('/images/sdp-icons-pack1.png') -13px -23px no-repeat;
	margin-left: 4px;
	margin-top: 1px;
	border: none !important;
	width: 37px;
	height: 20px;
	display: block;
}
.jumpto_admanager,.jumpto_ADManager {
	background: url('/images/sdp-icons-pack1.png') -92px -24px no-repeat;
	width: 16px;
	height: 16px;
	top:3px;
	display:inline-block;
	position:relative;
}
a.actionitems_expand, img.actionitems_expand {
	width: 17px;
	height: 22px;
	display: block;

}
a.actionitems_expand {
	margin: 0px 1px;
}
a.actionitems_collapse, img.actionitems_collapse {
	width: 17px;
	height: 17px;
	display: block;
	margin: 0px 1px;
}
a.userslookup {
	background: url('/images/sdp-icons-pack1.png') -69px -24px no-repeat;
	width: 23px;
	height: 15px;
	float: right;
	margin-top: -17px;
}
.mytask_taskundone {
	background: url('/images/sdp-icons-pack1.png') -110px -24px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
.mytask_taskdone {
	background: url('/images/sdp-icons-pack1.png') 0px -62px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
/* My Reminders Popup Block */
a.reminderclosebtn {
	background: url('/images/sdp-icons-pack1.png') -20px -62px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
a.mytask_taskdelete {
	background: url('/images/sdp-icons-pack1.png') -200px -51px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
a.reminder_taskdone {
	background: url('/images/sdp-icons-pack1.png') -162px -52px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
a.reminder_stop {
	background: url('/images/sdp-icons-pack1.png') -181px -51px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
td.leftalign {
	text-align: left !important;
}
span.summary_overdue_icon {
	background: url('/images/sdp-icons-pack1.png') -127px -17px no-repeat;
	margin: 0px 7px;
	width: 32px;
	height: 32px;
	display: block;
}
span.summary_duetoday {
	background: url('/images/sdp-icons-pack1.png') -157px -17px no-repeat;
	margin: 0px 7px;
	width: 32px;
	height: 32px;
	display: block;
}
span.summary_open {
	background: url('/images/sdp-icons-pack1.png') -188px -17px no-repeat;
	margin: 0px 7px;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_overdue_icon, img.summary_overdue_icon_3 {
	background: url('/images/sdp-icons-pack1.png') -127px -17px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_duetoday, img.summary_duetoday_3 {
	background: url('/images/sdp-icons-pack1.png') -157px -17px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_open, img.summary_open_3 {
	background: url('/images/sdp-icons-pack1.png') -188px -17px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_overdue_icon_5 {
	background: url('/images/sdp-icons-pack1.png') -234px -220px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_duetoday_5 {
	background: url('/images/sdp-icons-pack1.png') -261px -220px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_open_5 {
	background: url('/images/sdp-icons-pack1.png') -285px -220px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_overdue_icon_7 {
	background: url('/images/sdp-icons-pack1.png') -312px -224px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_duetoday_7 {
	background: url('/images/sdp-icons-pack1.png') -334px -224px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_open_7 {
	background: url('/images/sdp-icons-pack1.png') -354px -224px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.approved_changes_3 {
	background: url('/images/sdp-icons-pack1.png') 0px -345px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.unapproved_changes_3 {
	background: url('/images/sdp-icons-pack1.png') -34px -347px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.open_problems_3 {
	background: url('/images/sdp-icons-pack1.png') -69px -348px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.unassigned_problems_3 {
	background: url('/images/sdp-icons-pack1.png') -101px -348px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.approved_changes_5 {
	background: url('/images/sdp-icons-pack1.png') -4px -383px no-repeat;
	width: 24px;
	height: 24px;
	display: block;
}
img.unapproved_changes_5 {
	background: url('/images/sdp-icons-pack1.png') -38px -385px no-repeat;
	width: 24px;
	height: 24px;
	display: block;
}
img.open_problems_5 {
	background: url('/images/sdp-icons-pack1.png') -73px -385px no-repeat;
	width: 24px;
	height: 24px;
	display: block;
}
img.unassigned_problems_5 {
	background: url('/images/sdp-icons-pack1.png') -105px -385px no-repeat;
	width: 24px;
	height: 24px;
	display: block;
}
img.approved_changes_7 {
	background: url('/images/sdp-icons-pack1.png') -7px -419px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.unapproved_changes_7 {
	background: url('/images/sdp-icons-pack1.png') -41px -419px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.open_problems_7 {
	background: url('/images/sdp-icons-pack1.png') -76px -419px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.unassigned_problems_7 {
	background: url('/images/sdp-icons-pack1.png') -108px -419px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_onhold_icon_3 {
	background: url('/images/sdp-icons-pack1.png') -583px -219px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_completed_icon_3 {
	background: url('/images/sdp-icons-pack1.png') -616px -219px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_allrequests_icon_3 {
	background: url('/images/sdp-icons-pack1.png') -647px -219px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_overdue_icon_3 {
	background: url('/images/sdp-icons-pack1.png') -679px -219px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_pendingreq_icon_3 {
	background: url('/images/sdp-icons-pack1.png') -711px -219px no-repeat;
	width: 32px;
	height: 32px;
	display: block;
}
img.summary_onhold_icon_5 {
	background: url('/images/sdp-icons-pack1.png') -583px -252px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_completed_icon_5 {
	background: url('/images/sdp-icons-pack1.png') -616px -252px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_allrequests_icon_5 {
	background: url('/images/sdp-icons-pack1.png') -647px -252px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_overdue_icon_5 {
	background: url('/images/sdp-icons-pack1.png') -679px -252px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_pendingreq_icon_5 {
	background: url('/images/sdp-icons-pack1.png') -711px -252px no-repeat;
	width: 23px;
	height: 24px;
	display: block;
}
img.summary_onhold_icon_7 {
	background: url('/images/sdp-icons-pack1.png') -583px -279px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_completed_icon_7 {
	background: url('/images/sdp-icons-pack1.png') -616px -279px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_allrequests_icon_7 {
	background: url('/images/sdp-icons-pack1.png') -647px -279px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_overdue_icon_7 {
	background: url('/images/sdp-icons-pack1.png') -679px -279px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
img.summary_pendingreq_icon_7 {
	background: url('/images/sdp-icons-pack1.png') -711px -279px no-repeat;
	width: 18px;
	height: 18px;
	display: block;
}
/* Recent Items Icons */
#recentitems .ri_change_icon {
	background: url('/images/sdp-icons-pack1.png') -87px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_purchase_icon {
	background: url('/images/sdp-icons-pack1.png') -43px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_problem_icon {
	background: url('/images/sdp-icons-pack1.png') -64px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_request_icon {
	background: url('/images/sdp-icons-pack1.png') -109px -46px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_asset_icon {
	background: url('/images/sdp-icons-pack1.png') -162px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_contracts_icon {
	background: url('/images/sdp-icons-pack1.png') -181px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_reports_icon {
	background: url('/images/sdp-icons-pack1.png') -203px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_solution_icon {
	background: url('/images/sdp-icons-pack1.png') -224px -58px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_workstation_icon, .ri_workstation_icon {
	background: url('/images/sdp-icons-pack1.png') -224px -75px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
/* CSS Image Map for Request Pages by Lakshmanan October 23, 2007*/
img.separator {
	background: url('/images/sdp-icons-pack1.png') -413px -49px no-repeat;
	width: 8px;
	height: 20px;
}
.filter img.separator {
	width: 3px;
}
img.userslookup {
	background: url('/images/ui-common-view.svg?15140') -379px -693px no-repeat;
    width: 23px;
    height: 23px;
	filter: grayscale(1);
}
img.add-items, span.add-items {
	background: url('/images/ui-common-view.svg?15140') -306px -75px no-repeat;
	width: 21px;
	height: 15px;
	cursor: var(--sdpcursor-pointer);
}
[theme="dark-mode"] img.add-items, [theme="dark-mode"] span.add-items{
	background: url('/images/ui-common-view-dark.svg?15140') -306px -75px no-repeat;
}
span.add-items { 
	display:inline-block;
}
/* My View Page */
.mycalendar-viewicon {
	background: url('/images/sdp-icons-pack1.png') -569px -2px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
a.mark_leave, img.mark_leave {
	background: url('/images/sdp-icons-pack1.png') -590px -2px no-repeat;
	width: 16px;
	height: 16px;
}
a.mark_leave {
	display: block;
}
.new_reminder {
	background: url('/images/sdp-icons-pack1.png') -545px -23px no-repeat;
	width: 17px;
	height: 16px;
}
.new_task {
	background: url('/images/sdp-icons-pack1.png') -570px -22px no-repeat;
	width: 16px;
	height: 16px;
}
img.backbtn-icon {
	background: url('/images/sdp-icons-pack1.png') -444px -48px no-repeat;
	width: 16px;
	height: 16px;
}
img.solutions_categorysearchico {
	background: url('/images/sdp-icons-pack1.png') -7px -255px no-repeat;
	width: 34px;
	height: 34px;
}
img.calendar_week_icon {
	background: url('/images/sdp-icons-pack1.png') -182px -433px no-repeat;
	width: 18px;
	height: 18px;
}
img.calendar_month_icon {
	background: url('/images/sdp-icons-pack1.png') -201px -433px no-repeat;
	width: 18px;
	height: 18px;
}
table#MyViewTabSelect table#NormalTab tr td.LeftTab {
	background: url('/images/sdp-icons-pack1.png') -590px -21px no-repeat;
	width: 5px;
	height: 24px;
	display: block;
}
table#MyViewTabSelect table#NormalTab tr td.RightTab {
	background: url('/images/sdp-icons-pack1.png') -598px -21px no-repeat;
	width: 5px;
	height: 24px;
	display: block;
}
table#MyViewTabSelect table#ActiveTab tr td.LeftTab {
	background: url('/images/sdp-icons-pack1.png') -606px -21px no-repeat;
	width: 5px;
	height: 24px;
	display: block;
}
table#MyViewTabSelect table#ActiveTab tr td.RightTab {
	background: url('/images/sdp-icons-pack1.png') -614px -21px no-repeat;
	width: 5px;
	height: 24px;
	display: block;
}
/* My View Announcements */
img.ann_publicicon {
	background: url('/images/sdp-icons-pack1.png') -465px -3px no-repeat;
	width: 19px;
	height: 14px;
}
img.ann_privateicon {
	background: url('/images/sdp-icons-pack1.png') -491px -3px no-repeat;
	width: 19px;
	height: 14px;
}
img.ann_publiciconun {
	background: url('/images/sdp-icons-pack1.png') -517px -3px no-repeat;
	width: 19px;
	height: 14px;
}
img.ann_privateiconun {
	background: url('/images/sdp-icons-pack1.png') -545px -3px no-repeat;
	width: 19px;
	height: 14px;
}
img.ann_restricticon {
	background: url('/images/sdp-icons-pack1.png') -693px -51px no-repeat;
	width: 19px;
	height: 14px;
}
img.ann_ugpublicicon {
	background: url('/images/sdp-icons-pack1.png') -674px -51px no-repeat;
	width: 19px;
	height: 14px;
}
/* My Tasks Popup Page Stylesheet Created by MGopi */
.deleteicon a {
	background: url('/images/sdp-icons-pack1.png') -358px -78px no-repeat;
	width: 15px;
	height: 14px;
	display: block;
}
.deleteicon a:hover {
	background: url('/images/sdp-icons-pack1.png') -358px -78px no-repeat;
	width: 15px;
	height: 14px;
	border: 1px solid #616F45;
	display: block;
}
img.viewreqstrdet {
	background: url('/images/sdp-icons-pack1.png') -383px -74px no-repeat;
	width: 16px;
	height: 16px;
}
img.requests {
	background: url('/images/sdp-icons-pack1.png') -382px -48px no-repeat;
	width: 21px;
	height: 22px;
}
img.date {
	background: url('/images/ui-common-view.svg?15140') -267px -758px no-repeat;
	width: 18px;
	height: 18px;
	opacity: 0.7;
}
img.deleteicon {
	background: url('/images/sdp-icons-pack1.png') -358px -78px no-repeat;
	width: 15px;
	height: 14px;
}
img.user_icon {
	background: url('/images/sdp-icons-pack1.png') -518px -42px no-repeat;
	width: 27px;
	height: 38px;
}
img.attachment, em.attachment {
	background: url('/images/sdp-icons-pack1.png') -99px -254px no-repeat;
	width: 15px;
	height: 15px;
}
em.attachment { 
	display: inline-block;
	vertical-align: sub;
	margin: 0;
}
.tc-noattach { 
	display: inline-block;
	width: 15px;
}
img.attachfileicon {
	background: url('/images/sdp-icons-pack1.png') -491px -74px no-repeat;
	width: 12px;
	height: 15px;
}
img.overdue-rspn-icon {
	background: url('/images/sdp-icons-pack1.png') -324px -324px no-repeat;
	width: 25px;
	height: 14px;
}
img.rspn-icon {
	background: url('/images/sdp-icons-pack1.png') -324px -338px no-repeat;
	width: 25px;
	height: 14px;
}
img.rspn-icon-nospace {
	background: url('/images/sdp-icons-pack1.png') -324px -338px no-repeat;
	width: 12px;
	height: 14px;
}
img.overdue-icon {
	background: url('/images/sdp-icons-pack1.png') -324px -352px no-repeat;
	width: 25px;
	height: 14px;
}
img.overdue-icon2 {
	background: url('/images/sdp-icons-pack1.png') -337px -352px no-repeat;
	width: 15px;
	height: 14px;
}
img.replyicon {
	background: url('/images/sdp-icons-pack1.png') -262px -78px no-repeat;
	width: 16px;
	height: 14px;
}
img.noreplyicon {
	background: url('/images/sdp-icons-pack1.png') -244px -78px no-repeat;
	width: 16px;
	height: 14px;
}
img.reqreplyicon {
	background: url('/images/sdp-icons-pack1.png') -283px -78px no-repeat;
	width: 16px;
	height: 14px;
}
img.nonotesicon {
	background: url('/images/sdp-icons-pack1.png') -318px -78px no-repeat;
	width: 16px;
	height: 14px;
}
img.notesicon {
	background: url('/images/sdp-icons-pack1.png') -334px -78px no-repeat;
	width: 16px;
	height: 14px;
}
img.editicon {
	background: url('/images/ui-common-view.svg?15140') -333px -472px no-repeat;
    width: 20px;
    height: 20px;
}
img.overdueiconoff {
	background: url('/images/sdp-icons-pack1.png') -429px -74px no-repeat;
	width: 19px;
	height: 13px;
}
img.overdueicon {
	background: url('/images/sdp-icons-pack1.png') -445px -74px no-repeat;
	width: 19px;
	height: 13px;
}
img.noattachment {
	background: url('/images/sdp-icons-pack1.png') -116px -254px no-repeat;
	width: 15px;
	height: 15px;
}
img.APPR_1 {
	background: url('/images/approval-pending.gif') no-repeat;
	width: 20px;
	height: 20px;
	background-size: cover;
}
img.APPR_2 {
	background: url('/images/ui-common-view.svg?15140') -291px -541px no-repeat;
	width: 20px;
	height: 20px;
}
img.APPR_3 {
	background: url('/images/ui-common-view.svg?15140') -322px -540px no-repeat;
	width: 20px;
	height: 20px;
}
img.APPR_5{
	    background: url(/images/ui-common-view.svg?15140) -202px -381px no-repeat;
    width: 20px;
    height: 20px;
}
img.deleteMail {
	background: url('/images/sdp-icons-pack1.png') -630px -22px no-repeat;
	width: 16px;
	height: 16px;
}
img.invalidoperationicon {
	background: url('/images/sdp-icons-pack1.png') -632px -1px no-repeat;
	width: 18px;
	height: 19px;
}
img.infoicon {
	background: url('/images/sdp-icons-pack1.png') -585px -51px no-repeat;
	width: 18px;
	height: 19px;
}
img.blue-arrow {
	background: url('/images/sdp-icons-pack1.png') -401px -81px no-repeat;
	width: 16px;
	height: 14px;
}
table tr td a.linkborder1>img.blue-arrow {
	background: url('/images/sdp-icons-pack1.png') -401px -81px no-repeat;
}
img.bt-cose-icon-green {
	background: url('/images/sdp-icons-pack1.png') -653px -3px no-repeat;
	width: 11px;
	height: 11px;

}
/* Solutions List View Stylesheet Created by MGopi on 23-June-2008 */
img.listapprove {
	background: url('/images/sdp-icons-pack1.png') -839px -434px no-repeat;
	width: 11px;
	height: 11px;
	margin-left: 2px;
}
/* green */
img.listapp_pending {
	background: url('/images/sdp-icons-pack1.png') -839px -490px no-repeat;
	width: 11px;
	height: 11px;
	margin-left: 2px;
}
/* yellow */
img.listunapprove {
	background: url('/images/sdp-icons-pack1.png') -839px -471px no-repeat;
	width: 11px;
	height: 11px;
	margin-left: 2px;
}
/* grey */
img.listreject {
	background: url('/images/sdp-icons-pack1.png') -839px -453px no-repeat;
	width: 11px;
	height: 11px;
	margin-left: 2px;
}
/* red */
/* expired */
/* CSS Image Map for Solution Pages */
/*.browse-soln-icon {
	background: url('/images/sdp-icons-pack1.png') no-repeat;
	width: 25px;
	height: 23px;
	display: block;
	margin-left: 20px;
}
*/
.soln-alert-private, .soln-alert-Private {
    background-image: url('/images/ui-common-view.svg?15140');
    background-position: -470px -928px;
	width: 41px;
	height: 48px;
	display: block;
}
.soln-alert-public, .soln-alert-Public {
    background-image: url('/images/ui-common-view.svg?15140');
    background-position: -523px -928px;
	width: 41px;
	height: 48px;
	display: block;
}
.soln-approvedcmd {
	background: url('/images/sdp-icons-pack1.png') -223px -293px no-repeat;
	width: 29px;
	height: 21px;
}
img.soln-public-icon {
	background: url('/images/sdp-icons-pack1.png') -260px -416px no-repeat;
	width: 16px;
	height: 21px;
}
img.soln-private-icon {
	background: url('/images/sdp-icons-pack1.png') -282px -416px no-repeat;
	width: 16px;
	height: 21px;
}
/* Admin Icon Sets */
.purchase-default-value {
	background: url('/images/sdp-icons-pack1.png') -2px -308px no-repeat;
	width: 32px;
	height: 32px;
}
.cost-center {
	background: url('/images/sdp-icons-pack1.png') -34px -308px no-repeat;
	width: 32px;
	height: 32px;
}
.gl-code {
	background: url('/images/sdp-icons-pack1.png') -66px -308px no-repeat;
	width: 32px;
	height: 32px;
}
.purchase-additional-field {
	background: url('/images/sdp-icons-pack1.png') -98px -308px no-repeat;
	width: 32px;
	height: 32px;
}
.helptool-icon {
	background: url('/images/sdp-icons-pack1.png') -276px -254px no-repeat;
	width: 29px;
	height: 28px;
}
.exit1 {
	background: url('/images/sdp-icons-pack1.png') -668px -3px no-repeat;
	width: 11px;
	height: 11px;
	margin-top: 7px;
	cursor: var(--sdpcursor-pointer);
}
.overdue_icon {
	background: url('/images/sdp-icons-pack1.png') -425px -50px no-repeat;
	width: 16px;
	height: 16px;
}
img.viewreqstrdet {
	background-image: url('/images/ui-common-view.svg?15140');
    background-position: -328px -728px;
	width: 16px;
	height: 16px;
}
img.editreqstrdet {
	background: url('/images/sdp-icons-pack1.png') -206px -394px no-repeat;
	width: 16px;
	height: 16px;
}
img.noneditreqstrdet {
	background: url('/images/sdp-icons-pack1.png') -186px -411px no-repeat;
	width: 16px;
	height: 16px;
}
img.alert-icon-blue {
	background: url('/images/sdp-icons-pack1.png') -258px -379px no-repeat;
	width: 25px;
	height: 25px;
}
img.undo-icon-blue-arrow {
	background: url('/images/sdp-icons-pack1.png') -652px -35px no-repeat;
	width: 13px;
	height: 14px;
}
img.undo-icon-grey-arrow {
	background: url('/images/sdp-icons-pack1.png') -652px -18px no-repeat;
	width: 13px;
	height: 14px;
}
img.redo-icon-blue-arrow {
	background: url('/images/sdp-icons-pack1.png') -667px -35px no-repeat;
	width: 13px;
	height: 14px;
}
img.redo-icon-grey-arrow {
	background: url('/images/sdp-icons-pack1.png') -667px -18px no-repeat;
	width: 13px;
	height: 14px;
}
/* Workstation Requests Details Page Icons */
img.wsReqDetIcon {
	background: url('/images/sdp-icons-pack1.png') -297px -328px no-repeat;
	width: 19px;
	height: 21px;
}
img.wsProbDetIcon {
	background: url('/images/sdp-icons-pack1.png') -297px -353px no-repeat;
	width: 20px;
	height: 20px;
}
img.wsChgDetIcon {
	background: url('/images/sdp-icons-pack1.png') -296px -378px no-repeat;
	width: 20px;
	height: 20px;
}
a.showplusicon {
	background: url('/images/sdp-icons-pack1.png') -548px -63px no-repeat;
	width: 17px;
	height: 16px;
	display: block;
}
a.hideminusicon {
	background: url('/images/sdp-icons-pack1.png') -568px -63px no-repeat;
	width: 17px;
	height: 16px;
	display: block;
}
/* Support Page Icons */
img.support_sdplogo {
	background: url('/images/sdp-icons-pack1.png') -383px -248px no-repeat;
	width: 189px;
	height: 46px;
}
/* About Page */
.about-credit-top {

	width: 200px;
	height: 40px;
	position: absolute;
	z-index: 200;
}
table tr> td div.about-credit-top {
	background: url('/images/about-credit-top.png') no-repeat;
}
.about-credit-btm {

	width: 200px;
	height: 40px;
	position: absolute;
	z-index: 300;
	margin-top: -40px;
}
table tr> td .about-credit-btm {
	background: url('/images/about-credit-btm.png') no-repeat;
}
/* Home - Dashboard */
.dbrd-solnsrchbg {
	background: url('/images/sdp-icons-pack1.png') -339px -427px no-repeat;
}
.dbrd-solnsrchbtn {
	background: url('/images/sdp-icons-pack1.png') -611px -427px no-repeat;
}
.schmsrcitmtbg {
	background: url('/images/sdp-icons-pack1.png') -386px -401px no-repeat;
}
.schmsrcitmsch {
	background: url('/images/sdp-icons-pack1.png') -627px -401px no-repeat;
}
table tr td span em.bellimg {
	background: url('/images/sdp-icons-pack1.png') -127px -51px no-repeat;
}
#actionsmenu li ul a:hover, #actionsmenu1 a:hover, #actionsmenu1 li ul a:hover {
	background: url('/images/sdp-icons-pack1.png') -839px -372px no-repeat;
}
#tablemenus td a {
	background: url('/images/sdp-icons-pack1.png') -839px -372px no-repeat;
}
.alerticon {
	background: url('/images/alerticon.gif') no-repeat;
	width: 16px;
	height: 15px;
}
.dropList em {
	width: 7px;
	height: 18px;
	display: block;
}
.dropList em {
	 display: block;
    height: 22px;
    width: 23px;
}
#dropList3 em, #dropList4 em {
	width: 4px;
	height: 24px;
}
#dropList3 em, #dropList4 em {
	width: 24px;
	height: 24px;
}
#dropList2 em {
	width: 7px;
	height: 18px;
	display: block;
}
#dropList2 em.new-incident-icons-yellow {
    display: block;
    height: 22px;
    width: 24px;

}
.siteicon-small {
	background: url('/images/sdp-icons-pack1.png') -604px -122px no-repeat;
	width: 16px;
	height: 16px;
}
.script-adduserslink {
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	background: url('/images/sdp-icons-pack1.png') -837px -533px no-repeat;
}
.script-helpicon {
	background: url('/images/sdp-icons-pack1.png') -617px -185px no-repeat;
	width: 25px;
	height: 26px;
}
.script-descicon {
	background: url('/images/sdp-icons-pack1.png') -591px -185px no-repeat;
	width: 25px;
	height: 26px;
}
#dropListDC1 em {
	 display: block;
    height: 22px;
    width: 23px;
}
img.tasks-assigned {
	background:url('/images/sdp-icons-pack1.png') -672px -192px  no-repeat; 
	width:13px;
	height:17px;
}
img.tasks-inprogress {
	background:url('/images/sdp-icons-pack1.png') -693px -192px no-repeat;
	width:13px;
	height:17px;
}
img.tasks-completed {
	background:url('/images/sdp-icons-pack1.png') -651px -192px no-repeat;
	width:13px;
	height:17px;
}
img.no-tasks {
	background:url('/images/sdp-icons-pack1.png') -714px -192px no-repeat;
	width:13px;
	height:17px;
}
table tr td.Adminlinks a span.admin-projgroups, table tr td.Adminlinks a span.admin-projstage, table tr td.Adminlinks a span.adminprojtypesprojgroups {
	background-position: center;
	background-repeat: no-repeat;
}

span.admin_currencyicon {
    background-position: -304px -485px;
}
span.admin_languageicon {
    background-position: -392px -486px;
} 
.dependency-info-icon {
      border-left:1px #ccc solid;
      padding-left:10px;
      margin-left:16px;
      height:20px;
      position:relative;
      top:-2px;
}
.dependency-info-icon img {
      position:relative;
      top:3px;
}
.dependency-completed, .dependency-pending, .reqdependency{
 background-image: url('/images/sdp-icons-pack1.png');
 background-repeat: no-repeat;
 width: 15px;
 height: 15px;
 display: inline-block;
}
.reqdependency {
	background-position:-605px -506px;
	width: 15px;
	height: 15px;
}
.dependency-completed {
	background-position:-651px -508px;
	width: 15px;
	height: 15px;
}
.dependency-pending {
	background-position:-651px -478px;
	width: 15px;
	height: 15px;
}

/* common additional fields */

.common-addinalfild{
	background:#16b006;
    height: 8px;
    width: 8px;
	display:inline-block;
	border-radius:50%;
	cursor:auto;
}
img.sort-down-icon {
		background:url('/images/sort-down-icon.png') no-repeat;
}
img.sort-up-icon {
		background:url('/images/sort-up-icon.png')  no-repeat;
}

.common-compre-align{
	position: relative;
    top: 6px;
}
.wkHover .common-addinalfild{ display:block!important;}
/* common additional fields */

.replyicon a {
	background: url('/images/replyicon.gif') no-repeat center center;
	height: 16px;
	display: block
}
.replyicon a:hover {
	background: #F0F4F0 url('/images/replyicon.gif') no-repeat center center;
	border: 1px solid #616F45;
	height: 16px;
	display: block
}
.reqreplyicon a {
	background: url('/images/sendmailicon.gif') no-repeat center center;
	height: 16px;
	display: block
}
.reqreplyicon a:hover {
	background: #F0F4F0 url('/images/sendmailicon.gif') no-repeat center center;
	border: 1px solid #616F45;
	height: 16px;
	display: block
}
.noreplyicon {
	background: url('/images/replyiconoff.gif') no-repeat center center;
	height: 16px
}
