/*Stages*/
.html-element {
    position: absolute;
    background: #FFF;
    text-align: center;
    pointer-events: none;
    -webkit-user-select: none;
    border: 1px solid #B0B0B0;
    z-index: 2;
    box-shadow: 0px 0px 4px -1px #333;
    font-size: var(--fs-12);
}
/*connected circle*/
.port .available-magnet,.port-active {
	fill:#FFF;
	display: block !important;
}
.joint-link.joint-theme-default .link-tools .tool-remove circle{
	fill:#ad4d4d;
}
/*marker arrow*/
.marker-target {
    fill: #7E96A2;
    stroke-width: 0;
}
/*font in status*/
.joint-paper text {
    
	font-size: var(--fs-11);
	fill:#000;

}
.joint-paper .label {
	font-weight: normal;
	cursor: var(--sdpcursor-pointer);
}
.transition.active {
	fill: #F89009;
    stroke: #D9800D;
}
.transition.inactive.selected, .transition.active.selected {
    fill: #4588dA;
    stroke: #2066BC;
}
.transition.inactive {
    fill: #C0EFE6;
    stroke-width: 0.75;
	stroke: #A9D7CE;
}
.transition.new {
    fill: #59C54b;
    stroke: #0f8400;
}
.joint-paper .jointlabelhover text, .joint-paper .jointactivelabel text {
    fill: #FFF;
}
/*from HTML*/
.joint-paper.joint-theme-default {
	background: inherit !important;
    width: 100%;
	overflow: auto;
}
.joint-link.joint-theme-default .connection {
	stroke: #414141;
	stroke-width: 1px;
}
.html-element.html-element-start > span.truncate-ellipsis,
.html-element.html-element-end > span.truncate-ellipsis {
	background: none;
}
.html-element > span.truncate-ellipsis {
	background-color: inherit;
    border-radius: 5px;
    height: 100%;
}
.joint-cell.joint-theme-default:hover .labels text, .joint-cell.joint-theme-default:hover .labels text {
	fill: #FFF
}
.joint-cell.joint-theme-default:hover .inactive, .joint-cell.joint-theme-default:hover .transition {
    stroke: #D9800D;
}
.joint-cell.joint-theme-default:hover .marker-arrowhead, .joint-cell.joint-theme-default:hover .inactive, .joint-cell.joint-theme-default:hover .marker-target, .joint-cell.joint-theme-default:hover .transition {
	fill: #F89009;
}
.joint-cell.joint-theme-default:hover .connection {
	stroke: #D9800D;
}
.joint-cell.joint-theme-default:hover .connection-wrap {
	stroke: #F89009;
	opacity:0;
}
.joint-cell.joint-theme-default .connection-wrap {
	stroke-width:8;
}
.marker-vertex-remove-area {
	/*fill: #E25959;*/
	fill: #AD4D4D;
}
.joint-link.joint-theme-default .marker-vertex {
	fill: #20C4AF;
}
.newtransition .label text {
    font-size: var(--fs-18);
    fill: white;
}
/*sortable*/
#flyPaper {
	width: 230px !important;
	height: 30px !important;
	overflow: hidden;
	border: 1px solid #DDD;
    border-radius: 2px;
}
#wf_canvas {
	cursor: var(--sdpcursor-grab);
}
#wf_stencil svg {
	width: 230px;
}
