/*Merge Diagram css start*/
.merge-diagram {
  height: 70%;
  width: 1000px;
}
.merge-box1,
.merge-box2,
.merge-box3,
.merge-box4 {
  color: #000000;
  vertical-align: top;
  width: 24%;
  border-top: none!important;
  border: 1px solid #cccccc;
  min-width: 245px;
}
.merge-box1 {
  background: #edfdff;
}
.merge-box2 {
  background: #fefff5;
}
.merge-box3 {
  background: #ffffff;
}
.merge-box4 {
  background: #f9f9f9;
}
.merge-arrow-box {
  width: 24px;
}
.merge-diagram-img {
  background: url(/images/merge-diagram-sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
}
.mark-parent-icon {
  background-position: 1px -2px;
  width: 38px;
  height: 29px;
}
.userb-icon {
  background-position: -82px 1px;
  width: 22px;
  height: 28px;
}
.merged-value-icon {
  background-position: -46px 2px;
  width: 22px;
  height: 28px;
}
.retain-parent-icon {
  background-position: -1px -81px;
  width: 83px;
  height: 45px;
}
.retain-parent-child {
  background-position: -305px -81px;
  width: 83px;
  height: 45px;
}
.copy-parent-icon {
  background-position: -94px -81px;
  width: 83px;
  height: 45px;
}
.compare-value-icon {
  background-position: -181px -81px;
  width: 120px;
  height: 45px;
}
.mergetop-diagram {
  height: 55px;
  background: #ffffff;
  border-bottom: 1px solid #cccccc;
  margin: -1px;
  position: relative;
  width: 256px;
}
.merge-arrow-pos1,
.merge-arrow-pos2,
.merge-arrow-pos3,
.merge-arrow-pos4 {
  background-position: -170px -9px;
  width: 20px;
  height: 15px;
  position: relative;
}
.merge-arrow-pos1 {
  top: 110px;
}
.merge-arrow-pos2 {
  top: 218px;
}
.merge-arrow-pos3 {
  top: 332px;
}
.merge-arrow-pos4 {
  top: 425px;
}
.merge-arrow-text {
  position: relative;
  top: -12px;
  right: 15px !important;
}
.mergebox-minheight {
  width: 100%;
  height: 131px;
  display: table;
}
.mergebox-minheight > div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 20px;
}
ul.bullet-arrow li.libgnone:before {
  display: none;
}
.merge-diagram hr {
  border-top: 1px solid #cccccc;
}
/*Merge User css end*/
/*ESM Merge Workflow*/
.box-flot {
    background: transparent;
    display: flex;
    /*align-items: center;*/
}
  .box-innr {
    background: #fff;
    margin: 1%;
    width:170px;
    border: 1px solid #e8e8e8;
    flex: 1;
    box-shadow: 0 -2px 7px rgba(112, 112, 112, 0.2);
}
.esm-workflow-hed{
  color: #fff;
}
.esm-workflow-innr{
  padding: 0 10px;
  font-size: var(--fs-12);
}
.esm-workflow-sect{
  border-top: 1px solid #ccc;
  padding: 40px 0;
  height: 210px;
}
.esm-logoimg{
  width: 27px;
  height: 30px;
}
.prshad{
box-shadow: 0 0 7px rgba(112, 112, 112, 0.2);
border: 1px solid #e8e8e8;
height: 50px;
line-height: 50px;
width: 100%;
}
.esm-mw-flow{
  background: url('/images/esm-mw-sprite.svg?15140');
  background-repeat: no-repeat;
    display: inline-block;
}
.user-a{
  background-position:-116px -1px;
}
.user-b{
  background-position:-153px -1px;
}
.user-c{
  background-position:-195px -1px;
}
.user-inact{
  background-position:-307px 0px;
}
.portal-pro{
  background-position: -226px -1px;
}
.common-pro{
  background-position:-25px -37px;
}
.common-pro1{
  background-position:0 -37px;
}
.merge-arr{
  background-position:-354px -34px;
}
.esm-wf-cntr{
  position: relative;
    top: 50%;
    margin-top: -32px;
}
.ml-4{
  margin-right: -4px;
}
.user-it{
  background-position:0 -1px;
}
.user-hr{
  background-position: -38px -1px;
  width: 24px
}
.user-faci{
  background-position:-74px -1px;
}
.reject-icon{
  background-position:-347px 3px;
}
.merge-pos{
  text-align: center;
  padding: 3px;
  position: absolute;
  top: 45%;
  left: -18px;
  min-width: 58px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-size: var(--fs-12);
  max-width: 70px;
}
.user-merge{
    text-align: right !important;
}
.user-merge .col-md-12 {
    text-align: right !important;
}
.user-merge .widget-panel{
width: 1150px;
}
.user-merge .inner-panel{
    width: 1150px !important;
    height: auto !important;
}
.user-merge .widget-bg {
  margin: 20px auto !important;
}
.user-merge .tour-head {
    padding: 20px 0 15px 0;
    font-size: var(--fs-16);
    color: #333333;
    text-align: right;
}
.user-merge .widget-panel .inner-panel{
    background:transparent;
}
.user-merge .main-content{
    padding:5px;
}