/* ----------------------------------------------- */
/* new-classes.less */
/* ----------------------------------------------- */
/* normalize.less pre-compiled */
/* ----------------------------------------------- */
.form-horizontal optgroup,
.form-horizontal select,
.form-horizontal textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
.form-horizontal *,
.form-horizontal *::before,
.form-horizontal *::after {
  box-sizing: border-box;
}
.form-horizontal button {
  overflow: visible;
}
.form-horizontal button,
.form-horizontal select {
  text-transform: none;
}
.form-horizontal button,
.form-horizontal html input[type="button"],
.form-horizontal input[type="reset"],
.form-horizontal input[type="submit"] {
  -webkit-appearance: button;
  cursor: var(--sdpcursor-pointer);
}
.form-horizontal button[disabled],
.form-horizontal html input[disabled] {
  cursor: var(--sdpcursor-default);
}
.form-horizontal button::-moz-focus-inner,
.form-horizontal input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.form-horizontal input:not(.zinputfield__textbox) {
  line-height: normal;
}
.form-horizontal input[type="checkbox"],
.form-horizontal input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.form-horizontal input[type="number"]::-webkit-inner-spin-button,
.form-horizontal input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.form-horizontal input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
.form-horizontal input[type="search"]::-webkit-search-cancel-button,
.form-horizontal input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.form-horizontal fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
.form-horizontal legend {
  border: 0;
  padding: 0;
}
.form-horizontal textarea {
  overflow: auto;
}
.form-horizontal optgroup {
  font-weight: bold;
}
.form-control {
  height: 28px;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  padding: 2px 10px;
  border-radius: 0;
}
/* badges.less pre-compiled */
/* ----------------------------------------------- */
.badge {
  padding: 2px 6px;
  font-weight: bold;
}
/* alerts.less pre-compiled */
/* ----------------------------------------------- */
.alert {
  margin-bottom: 18px;
  border-radius: 0;
  font-size: var(--fs-13);
}
.alert .alert-link {
  font-weight: bold;
}
/* close.less pre-compiled */
/* ----------------------------------------------- */
.close {
  font-weight: bold;
}
/* utilities.less pre-compiled */
/* ----------------------------------------------- */
.show:not(tr):not(.scat-subtabon):not(.scat-subtaboff):not(.sumtab):not(.viewreqstrdet):not(table):not(^HIST) {
  display: block;
}
/* ----------------------------------------------- */
/* base-variables.less */
/* ----------------------------------------------- */
.accordion-log .panel-group .sdp-glyph.toggle:before {
  content: "\e925";
}
.accordion-log .panel-group .panel-heading .sdp-glyph.toggle {
  transition-duration: 0.3s;
}
.accordion-log .panel-group .panel-heading.collapsed .sdp-glyph.toggle {
  transform: rotate(180deg);
}
.accordion-log .panel-group .panel-heading.collapsed .sdp-glyph.toggle:before {
  content: "\e925" !important;
}
.list-unstyled {
  list-style: outside none none;
}
h3.new-header {
  font-weight: 400;
  font-size: var(--font-size-xlarge);
  color: #515151;
  margin: 5px 0;
}
h4.new-header {
  font-weight: bold;
  line-height: 1.1;
  font-size: var(--fs-14);
  color: #000;
  margin-top: 9px;
  margin-bottom: 9px;
}
.top-header .navbar-default .navbar-nav > li > a {
  color: #fff;
}
.top-header .navbar-default .navbar-nav > li > a:hover,
.top-header .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
}
.top-header .navbar-default .navbar-nav > .active > a,
.top-header .navbar-default .navbar-nav > .active > a:hover,
.top-header .navbar-default .navbar-nav > .active > a:focus {
  color: #3b3b3b;
  background-color: #fff;
}
/* Asset Loan css Code */
.divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 8px 0;
  overflow: hidden;
}
.asset-loan {
  border: 1px solid #CCC;
  display: table;
  width: 100%;
}
.asset-loan .admin-panel {
  border: none;
}
.asset-loan-table tr td {
  border-bottom: 1px solid #e1e1e1;
  padding: 15px 5px;
}
.asset-loan-table tr:hover td {
  background: #f7f7f7;
}
.content-section .h5,
.content-section h5 {
  background-color: #EEE;
  padding: 9px 15px;
  font-size: var(--fs-13);
}
.linkhoverdiv ul {
  margin: 0;
  padding: 0;
  width: 300px;
}
.linkhoverdiv ul li {
  list-style: none;
  border-bottom: 1px solid #CCC;
  padding: 10px 5px;
  line-height: 20px;
}
.linkhoverdiv ul li:first-child {
  padding-top: 0;
}
.linkhoverdiv ul li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}
.accordion-log .history-log .history-time {
  box-sizing: border-box;
}
.checkout-btn {
  border: 1px solid #CCC;
  background: #FFF;
  border-radius: 2px;
  padding: 6px;
  width: 120px;
  color: #474747;
  font-weight: bold;
}
.control-holder,
.control-actions {
  display: inline-block;
}
.aeloanform .leftdiv {
  width: 424px;
  border-right: 1px solid #CCC;
}
.aeloanform .rightdiv {
  width: 296px;
  overflow: auto;
}
.asset-detail {
  color: #333;
  line-height: 22px;
}
.newloan-inner {
  height: 500px;
  overflow: auto;
}
.asset-det-count p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.loan-ast-det {
  max-height: 447px;
  min-height: 385px;
  overflow: auto;
}
.loanrightdiv {
  border-left: 1px solid #CCC !important;
}
.asset-loan-table tr:last-child td {
  border-bottom: none;
}
/* Asset Loan css Code end */
