/* $Id$ */

/* This stylesheet is intended to use for the purpose of including old UI in the new UI */

table tr td.helptool-shadow-tl {
	background: url('/images/helptool-shadow-tl.png') no-repeat;
	width: 21px;
	height: 50px
}
table tr td.helptool-shadow-tm {
 background: url('/images/helptool-shadow-tm.png') repeat-x;
  	font-weight: normal;
}
table tr td.helptool-shadow-tm .sb {
	position:relative;
	top:3px;
}
table tr td.helptool-shadow-tm strong {
	position:relative;
	top:8px;
	display:inline-block;	
}
table tr td.helptool-shadow-tm .helptool-icon {
	position:relative;
	top:4px;
}
table tr td.helptool-shadow-tr {
	background: url('/images/helptool-shadow-tr.png') no-repeat;
	width: 21px;
	height: 50px
}
table tr td.helptool-shadow-lm {
	background: url('/images/helptool-shadow-lm.png') repeat-y;
	width: 21px
}
table tr td.helptool-shadow-rm {
	background: url('/images/helptool-shadow-rm.png') repeat-y;
	width: 21px
}
table tr td.helptool-shadow-bl {
	background: url('/images/helptool-shadow-bl.png') no-repeat;
	width: 21px;
	height: 50px
}
table tr td.helptool-shadow-bm {
 background: url('/images/helptool-shadow-bm.png') repeat-x;
}
table tr td.helptool-shadow-br {
	background: url('/images/helptool-shadow-br.png') no-repeat;
	width: 21px;
	height: 50px
}
table tr td.helptool-content {
	line-height: 16px;
	text-align: justify;
	padding: 20px 30px;
	background: #fff url('/images/helptool-icon-watermark.gif') no-repeat right bottom;
}
img.helptool-icon-thumb {
  background: url('/images/helptool-icon-thumb.png') no-repeat;
	width: 16px;
	height: 16px;
}
.helptool-icon {
	background: url('/images/sdp-icons-pack1.png') -277px -254px no-repeat;
	width: 28px;
	height: 28px;
}
.exit1 {
	background: url('/images/sdp-icons-pack1.png') -668px -3px no-repeat;
	width: 11px;
	height: 11px;
	margin-top: 7px;
	cursor: var(--sdpcursor-pointer);
}
.helptool-content td {
	color:#000;
	line-height:15px; 
	padding:3px;
}
/* Keyboard Shortcuts */
.advTcount{background-color:#eee; border-top:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3; height:40px; line-height:24px; padding: 7px 0; }
.advTcount ul, .advTcount ul li{padding:0px; margin:0px; list-style:none; color:#333;  display:inline; }
.advTcount ul li.first{font-size: var(--fs-14);}
.kbscmdiv {
	background: #fff;
	display: table;
	width: 100%;
	height: 500px;
	padding-bottom: 20px;
}
.kbscmdiv .kbschdr {
	background-color: #eee;
	border-bottom: 1px solid #e3e3e3;
	height: 38px;
	line-height: 38px;
	color: #444;
	font-size: var(--fs-14);
	padding: 0px 10px 0px 10px;
}
.kbscmdiv .kbscCnt { 
	padding: 10px;
	margin-top: 10px;
	text-align: left;
} 
div#_DIALOG_LAYER .kbscmdiv .kbscCnt .kbscname {
	font-weight: bold;
	color: #333; 
	text-align: left;
}
.kbscmdiv .kbscl {
	width: 48%; 
	float: left;
	margin-left: 20px;
}
.kbscmdiv .kbscr {
	width: 48%; 
	float: right;
}
.shctlist {
	list-style: none;
	padding: 0px;
	margin: -3px;
}
.shctlist li {
	list-style: none;
	padding: 0px;
	line-height: 33px;
	display: table;
	width: 100%;
}
.kbscmdiv span.kbscbtn {
	border: 1px solid #d4d4d4;
	border-radius: 3px;
	display: inline;
	min-width: 10px;
	text-align: center;
	height: 15px;
	line-height: 15px;
	margin: 0px 5px;
	padding: 3px 6px 3px 6px;
	color: #333;
	box-shadow: -1px 1px 1px 1px #d3d3d3;
	font-size: var(--fs-14);
	background-color: #fdfdfd;

	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #fefefe), color-stop(1.0, #fbfbfb));
}
.kbscmdiv span.kbscbtnplus {
	color: #333;
	padding: 0px 5px;
}
div#_DIALOG_LAYER .kbscmdiv span.btntext {
	color: #333; 
	display: inline-block;
	padding-left: 5px; 
}
.kbscmdiv .btnleftdiv {
	width: 100%;
	display: table-cell;
	vertical-align: top;
	text-align: right;
	float: left;
}
.kbscmdiv .btnrightdiv {
	width: 70%;
	display: table-cell;
	vertical-align: top;
	text-align: left;
}
span.kbscon-progress {
	position: relative;
	display: inline-block;
	z-index: 1;
}
.kbscon-progress {
	background: none repeat scroll 0% 0% #6ab14b;
	border: 1px solid #B3CAA0;
}
.kbscon-progress, .kbscon-progress-fill {
	width: 40px;
	height: 11px;
	border-radius: 5px;
}
.kbscon-progress-fill {
	position: absolute;
	width: 20px;
	background-color: #fff;
	border-radius: 10px;
	cursor: var(--sdpcursor-pointer);
}
.kbsc-enabled, .kbsc-disabled{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	height: 22px;
	line-height: 20px;
	padding: 0px 10px;
	display: inline-block;
	cursor: var(--sdpcursor-pointer);
}
.kbsc-disabled {
	background-color: #f6f6f6;
} 
.kbsc-enabled .kbscStatus, .kbsc-disabled .kbscStatus {
	background-color: #23b474;
	width: 12px;
	height: 12px;
	display: inline-block;
	border-radius: 10px; 
	cursor: var(--sdpcursor-pointer);
	margin: 4px 5px 0px 0px;
}
.kbsc-disabled .kbscStatus {
	background-color: #cccccc;
}
.kbscmdiv .closeicon{
	background:url('/images/ae-icons-pack1.png') no-repeat;  
	background-position:-22px -1px;
	width:16px; height:16px; cursor: var(--sdpcursor-pointer);
}
.bbotddd{border-bottom:1px solid #ddd;}
.kbsc-goreq {
	margin-left: 10px;
}
/* Keyboard Shortcuts */
div#_DIALOG_LAYER { 
	background-color:#fff;
}
.boxTL {
	width: 1px;
	height: 45px;
	background: none;
}
.boxTR {
	width: 1px;
	height: 45px;
	background: none;
}
.boxTL > img, .boxTR > img {
	width:1px;
}
.boxML {
	width: 1px;
	background:none;
}
.boxMR {
	width: 1px;
	background:none;
}
.boxBL {
	width: 1px;
	height: 1px;
	background:none;
}
.boxBR {
	width: 1px;
	height: 1px;
	background:none;
}
.boxBC {
	height: 1px;
	background:none;
}
.boxHeader, .boxCtrlButtonPane {
	background: #f5f5f5;
	border-bottom:1px #ddd solid;
	font-size: var(--fs-14);
	font-weight: bold;
	color: #5c5c5c;
}
.ie .boxHeader {
	width: 391px;
}
.boxHeader.drag {
	padding-right:20px !important;
	padding-left:5px;
}
.drag {
	cursor: var(--sdpcursor-move);
}
.boxCtrlButtonPane {
	text-align:right;
  	font-weight: bold;
	color: #000;
	width:20px;
}
.boxCtrlButtonPane a:hover {
	background: url('/images/poplayer_closeon.gif') no-repeat right top
}
#ui-framework-design1 .ui-formheaderbg1 {
	background:url('/images/ui-fw-filterbg.png') bottom repeat-x;
	height:59px;
	padding:12px 0 0 10px;
}
#ui-framework-design1 td {
	font-weight:normal;
}
#ui-framework-design1 .ui-formheader1 {
	font-size: var(--fs-16);
	font-weight: bold;
	position:relative;
	top:3px;
}
#ui-framework-design1 img.ui-formheader-icon {
	margin-right:10px;
	position:relative;
	top:-5px;
}
.proj-header-icon {
	background:url('/images/project-header-icon.png') no-repeat;
	width:35px;
	height:36px;	
}
#ui-framework-design1 .ui-editform {
	color: #424242;
  	font-weight: bold;
	padding: 3px 0;
}
#ui-framework-design1 .ui-mandatory, #ui-framework-design1 .ui-editform .ui-mandatory, #ui-framework-design1 .ui-viewform .ui-mandatory {
	color:#b13308;	
}
#ui-framework-design1 .ui-editform td {
	padding:8px 10px;
	vertical-align:top;
}
#ui-framework-design1 .ui-editform .ui-formlabel {
	text-align:right;
	padding-top:12px;
	color:#6c6c6c;
}
#ui-framework-design1 .ui-formfield input[type=text], #ui-framework-design1 .form-control, #ui-framework-design1 .ui-formcombo, #ui-framework-design1 .ui-formtextarea {
	background:#fff;
	border : 1px solid #ccc;
	font-weight:normal;
}
#ui-framework-design1 .form-control, #ui-framework-design1 .ui-formcombo {
	width:350px;
	height:22px;
	padding:0 2px;
}
#ui-framework-design1 .ui-formcombo {
	padding:0 0 0 2px;
	width:357px;
}
#ui-framework-design1 .ui-formdate {
	width:137px;
	padding:0 2px;
	height:22px;
}
#ui-framework-design1 .ui-formdate-cnt .ui-formdate {
	width:137px;
	padding:0 25px 0 2px;
	height:22px;
}
#ui-framework-design1 .ui-formtextarea {
	width:99%;
	height:56px;
	font-weight:normal;
	padding:2px;
}
img.ui-dateicon1 {
	background: url('/images/ui-common-view.svg?15140');
	width:18px;
	height:17px;	
	background-position: -267px -758px;
    opacity: 0.7;
	top: 3px !important;
	position: relative;
	right: -3px;
}
.togglebtn-holder {
    display: inline-block;
}
.togglebtn-cnt {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #959595;
    border-radius: 12px;
    display: inline-block !important;
    height: 22px;
    padding: 2px;
    position: relative;
    width: auto;
}
.toggle-btn1-on, .toggle-btn1-off {
font-size: var(--fs-12);
	font-weight: bold;	
	cursor: var(--sdpcursor-pointer);
	height:18px;
	vertical-align:text-top;
	border:1px solid transparent;
}
.left .toggle-btn1-on, .right .toggle-btn1-on{
    background:#666666;
    border-radius: 12px 12px 12px 12px;
}
.right .toggle-btn1-off{
    background: #FFFFFF;
	border-radius:0px 7px 7px 0px;

}
.left .toggle-btn1-off{
    background: #FFFFFF;
	border-radius:7px 0px 0px 7px;
}
.tgl-btn-posfix {
    left: 0px;
    position: relative;
}
.toggle-btn1-on, .toggle-btn1-off{height: 18px; vertical-align: top;}
.ganttmarkassign {
    position: relative;
    top: 2px;
}
.ganttmarkassign .toggle-btn1-on, .ganttmarkassign .toggle-btn1-off {font-size: var(--fs-12)!important; height:14px; line-height:0;}
.ganttmarkassign .togglebtn-cnt{ height:14px; padding:1px;}
.toggle-btn1-on {
	color:#fff;
	padding:0px 5px 1px 6px;

}
.toggle-btn1-off {
	color:#333;
	padding:0px 6px 0px 5px;

}
#ui-framework-design1 .ui-editform td.ui-formsubmit, div.ui-formsubmit {
	background:url('/images/ui-fw-formsubmitbg.png') top repeat-x;
	height:64px;
	text-align:center;
	vertical-align:middle;
}
#ui-framework-design1 .ui-formdate-cnt .ui-formdate {
	width:137px;
	padding:0 25px 0 2px;
	height:22px;
}
#ui-framework-design1 .ui-formdate-cnt, #ui-framework-design1 .ui-formdate-cnt2 {
	width:160px;
	padding:0 2px;
	height:24px;
	display:inline-block;
	background:#fff url('/images/ui-formshadow.png') top repeat-x;
	border-top:1px #ccc solid;
	border-left:1px #d6d6d6 solid;
	border-right:1px #d6d6d6 solid;
	border-bottom:1px #e0e0e0 solid;
}
#ui-framework-design1 #datesetting-list .ui-formdate-cnt {
	width:178px;	
}
#ui-framework-design1 #datesetting-list .ui-formdate-cnt input[type="text"] {
	width:151px;
}
#ui-framework-design1 .ui-formdate-cnt .formStyle {
	padding:0;
	color:#000;	
	height:auto;
	background:#fff;
}
#ui-framework-design1 .ui-viewform .ui-formdate-cnt a, #ui-framework-design1 .ui-viewform .ui-formdate-cnt2 a {
	display:inline-block;	
}
#ui-framework-design1 .ui-formdate-cnt2 {
	width:351px;
}
#ui-framework-design1 .ui-formdate-cnt input[type=text], #ui-framework-design1 .ui-formdate-cnt2 input[type=text],
#ui-framework-design1 .ui-formdate-cnt input.fontgray, #ui-framework-design1 .ui-formdate-cnt2 input.fontgray {
	background:none;
	border:none;
	width:130px;
	padding-right:4px;
}
#ui-framework-design1 .ui-formdate-cnt2 input[type=text], #ui-framework-design1 .ui-formdate-cnt2 input.fontgray {
	width:326px;	
	border:0 none;
}
#ui-framework-design1 .ui-formdate-cnt input:focus {
	outline:none;	
}
img.ui-dateicon1 {
	background:url('/images/ui-fw-input-calendar.png') right no-repeat;
	width:15px;
	height:16px;	
}
#ui-framework-design1 .ui-formdate-cnt .ui-input-dateicon1, #ui-framework-design1 .ui-formdate-cnt2 .ui-input-dateicon1 {
	position:relative;
	top:0;
}
#ui-framework-design1 .ui-mandatory, #ui-framework-design1 .ui-editform .ui-mandatory, #ui-framework-design1 .ui-viewform .ui-mandatory {
	color:#b13308;	
}
div.ui-formsubmit {
	height:44px;
	padding-top:14px;
}
.show:not(tr):not(.scat-subtabon):not(.scat-subtaboff):not(.sumtab) {
  display: block;
}
.sb, strong {
	font-weight:bold !important;	
}
div[elemtype=htmlarea] strong,
.ze_imgpop strong {
	font-weight: bold;
}
div[elemtype=htmlarea] hr {
	display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
fieldset legend.ze_legend {
	background:transparent;
	border:0 none;
	display:inline-block;
	line-height:16px;
	vertical-align:middle;
	text-decoration:none;
	width:auto;
}
.ze_imgpop input[type="radio"],
.ze_imgpop input[type="checkbox"] {
	margin:3px 3px 3px 4px;
}
.dropboxstrip {
  background: #f5f5f5;
}
.fontgray, .tableComponent .fontgray a, .tableComponent .fontGray a, .fontGray {
	color:#999 !important;
}
select {
  width: auto;
  display: inline-block;
  vertical-align: initial;
  padding: inherit;
}
img.mark-icon {
	background:url('/images/mark-icon-right.png') no-repeat;
	width:19px;
	height:13px;
	left:2px;
}
img.mark-icon-right {
	background:url('/images/mark-icon.png') no-repeat;
	width:19px;
	height:13px;
	position:relative;
	top:3px;
}
.tasks-for-req-pop .mark-icon-right{
	top:0px;
}
table tr td.ui-formfield img.mark-icon {
	position:relative;
	top:4px;
	right:-10px;
}
.tableComponent td img.mark-icon {
	position:relative;
	/*left:-4px;*/
	top:2px;
	padding:0 2px;
}
#ui-framework-design1 .ui-button2 {
	background:#fbfbfb;
	border:1px solid #EAEAEA;
	border-radius:4px;
	margin-right:10px;
}
#ui-framework-design1 .ui-button2 input {
	color:#585858;
	font-weight: bold;
	padding:0 5px;
}
#ui-framework-design1 .ui-button2:hover {
	border:1px solid #ddd;
	border-radius: 4px;

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
#ui-framework-design1 .ui-button2:hover input {
	color:#333;	
}
.ui-delicon {
	background: url('/images/ui-fw-delicon2.png') 0 0 no-repeat;
	width: 21px;
	height: 21px;
	margin-left: 2px;
	cursor: var(--sdpcursor-pointer);
	position:relative;
	top:-2px;
}
table tr td.box_top_right {

	width: 26px;
	height: 44px
}
table tr> td.box_top_right {
	background: url('/images/rem_box_top_right.png') no-repeat;
	width: 26px;
	height: 44px
}

table tr> td.box_right_center {
	background: url('/images/rem_box_right_center.png') repeat-y
}

table tr> td.box_bottom_right {
	background: url('/images/rem_box_bottom_right.png') no-repeat
}
table tr td.box_top_left {

	width: 13px;
	height: 44px
}
table tr> td.box_top_left {
	background: url('/images/rem_box_top_left.png') no-repeat;
	width: 13px;
	height: 44px
}
table tr td.box_bottom_left {

	height: 23px
}
table tr> td.box_bottom_left {
	background: url('/images/rem_box_bottom_left.png') no-repeat;
	height: 23px
}
table tr td a.reminderbtns {
	color: #584311;
font-size: var(--fs-12);
  	font-weight: bold;
	width: 77px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: block
}
table tr td.datelist {
	color: #be8f1f
}
table tr td span em.bellimg {
	float: left;
	margin: -10px 5px 0 0;
	width: 33px;
	height: 34px;
	display: block;
	padding: 0
}
table tr td span.reminderheader {
	margin: 15px 0 0;
	font-size: var(--fs-14);
  	font-weight: bold;
	display: block;
	padding: 0
}
table tr td a.reminderclose {
	float: right;
font-size: var(--fs-12);
  	font-weight: normal;
	color: #584311;
	cursor: var(--sdpcursor-pointer);
}
table tr td a.reminderbtns:hover, table tr td a.reminderclose:hover {
	color: #584311
}
table tr td.box_top_center {
	background: url('/images/rem_box_top_center.png') repeat-x;
}
table tr td.box_left_center {
	border-left: 3px solid #eecd7f
}

table tr> td.box_bottom_center {
	background: url('/images/rem_box_bottom_center.png') repeat-x
}
table tr td.box_left_center {
	background-color: #faf9db;
}
table tr td.remContent {
	padding: 10px 0 0;
	background-color: #faf9db;
	height: 175px;
}
a.reminderclosebtn {
	background: url('/images/sdp-icons-pack1.png') -20px -62px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
a.mytask_taskdelete {
	background: url('/images/sdp-icons-pack1.png') -200px -51px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
a.reminder_taskdone {
	background: url('/images/sdp-icons-pack1.png') -162px -52px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
a.reminder_stop {
	background: url('/images/sdp-icons-pack1.png') -181px -51px no-repeat;
	width: 15px;
	height: 15px;
	display: block;

}
.FormLabel, .formlabel, .Formlabel, .formLabel {
	font-weight: bold;
	height: 25px;
	text-align: right;
}
table[cellpadding="2"] tr td {
	padding:2px;
}
table[cellpadding="4"] tr td {
	padding:4px;
}
table[cellpadding="6"] tr td {
	padding:6px;
}
table[cellpadding="8"] tr td {
	padding:8px;
}
.freezeLayer {
	width: 100%;
	position: absolute;
	top: 0px;
	left:0px;
	background: #555;	
	opacity: .65;
	z-index: 20;
}

/* Calendar Dialog Widget */
#Calendar_small {
	background-color:#fff;
}
#Calendar_small * {
	color: #000
}
#Calendar_small	select {

	display: inline-block;
	vertical-align: initial;
	padding: inherit;
}
.left-nav-boxbrd3 {
	background-color:#fff;
	border:1px solid #4faeee;
	height:36px;
}
.left-nav-boxbrd3 th, .left-nav-boxbrd3 td {
	padding:5px 5px 5px 3px;
}
.minicalendar-brline {
	border-bottom:1px solid #cfcfcf;
     font-size: var(--fs-12);
  	font-weight: normal;
	white-space:nowrap;
}
/*** Calendar ***/
.left-nav-boxbrd3 {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #c6c6c6;
    height: 36px;
}
.left-nav-boxbrd3 th, .left-nav-boxbrd3 td {
    padding: 5px 5px 5px 3px;
}
.left-nav-boxbrd3 td.oddRow, .left-nav-boxbrd3 td.evenRow {
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding: 0 3px;
}
.minicalendar-brline{
	border-bottom:1px solid #cfcfcf;
     font-size: var(--fs-12);
  	font-weight: normal;
	white-space:nowrap;
}
span.calendarview {
	width: 94px;
     font-size: var(--fs-12);
  	font-weight: bold;
	text-align: center;
	border-left: 1px #BCB7AB solid;
	line-height: 16px;
	margin: 3px 0px 3px 0px;
	float: right;
	display: block;
}
span.currentdate {
  	font-weight: normal;
	padding-left: 6px;
}
#Calendar_smallth {
	color: #055bab;
	line-height: 22px;
}
#Calendar_small tr td.oddRow {
	background: #fff;
	border-bottom: 1px #E8E8E8 solid;
}
#Calendar_small tr td.evenRow {
	background: #F0F0F0;
	border-bottom: 1px #E8E8E8 solid;
}
#Calendar_small tr td.lastrow {
	border-bottom: none;
}
#Calendar_small tr td.offdate {
	color: #c3c3c3;
	line-height: 21px;
}
#Calendar_small tr td.currdate {
	border: 2px #008ddd solid;
	border: 2px var(--link_tab_line_color, #008ddd) solid;
	height:29px;
}
#Calendar_small tr td.holiday {
	color: #ae2856;
}
#Calendar_small tr td.inactive {
	color:#9A9A9A;
}
#Calendar_small tr td.occupied {
	text-decoration: underline;
	background: url('/images/cal/cal_small_hbg2.gif') repeat-x;
}
ul.calendarlist1 {
	margin: 0px;
	padding: 0px;
}
ul.calendarlist1 li {
	list-style: none;
	border-top: 2px #ffffff solid;
	background: url('/images/cal/calendar_libg1.gif') repeat-x;
	padding-left: 5px;
}
ul.calendarlist1 li.last {
	border-bottom: 1px #ADC2AE solid;
}
ul.calendarlist1 li a {
	line-height: 20px;
     font-size: var(--fs-12);
	color: #2e3092;
	font-weight: bold;
	vertical-align: middle;
	padding-left: 4px;
}
ul.calendarlist1 li a:hover {
	color: #ff2400;
}
.left-nav-boxbrd3 *{
            box-sizing: content-box;
}
/* Recent Items Icons */
#recentitems .ri_change_icon {
	background: url('/images/sdp-icons-pack1.png') -87px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_purchase_icon {
	background: url('/images/sdp-icons-pack1.png') -43px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_problem_icon {
	background: url('/images/sdp-icons-pack1.png') -64px -44px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_request_icon {
	background: url('/images/sdp-icons-pack1.png') -109px -46px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_asset_icon {
	background: url('/images/sdp-icons-pack1.png') -162px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_contracts_icon {
	background: url('/images/sdp-icons-pack1.png') -181px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_reports_icon {
	background: url('/images/sdp-icons-pack1.png') -203px -70px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_solution_icon {
	background: url('/images/sdp-icons-pack1.png') -224px -58px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
#recentitems .ri_workstation_icon, .ri_workstation_icon {
	background: url('/images/sdp-icons-pack1.png') -224px -75px no-repeat;
	width: 16px;
	height: 16px;
	display: block;
}
.remote_workstation_icon {
	background: url('/images/sdp-icons-pack1.png') -549px -44px no-repeat;
	width: 28px;
	height: 16px;
	display: block;
}
div.canvas_container {
	font-size: var(--fs-12);
}
div.canvas_container div, div.canvas_container div.jit-assetnode  {
	font-size:inherit;
}

.DialogBox {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 1px;
	outline: none;

    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	padding:1px;
}
.drag { 
	cursor: var(--sdpcursor-move);
}
.DialogBox .minButton, .DialogBox .maxButton {
	display: none;
}

.closebutton, .closeButton {
    background-image: url('/images/ui-common-view.png');
    background-position: -136px -21px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    border: 0 none;
    position: relative;
    opacity: .5;

	left: auto;
    right: .6em;
}

ul.dcstatus {
	padding: 0px;
	margin: 0px 10px;
}
ul.dcstatus li {
	margin: 5px 0px;
	padding: 8px 0px;
	list-style: none;
     font-size: var(--fs-12);
  	font-weight: normal;
}
ul.dcstatus li.settingOn, ul.dcstatus li.checkingOn, ul.dcstatus li.fetchingOn {
	font-size: var(--fs-14);
  	font-weight: bold;
}
ul.dcstatus li.settingOn {
	background: url('/images/dc-setting.gif') no-repeat;
}
ul.dcstatus li.checkingOn {
	background: url('/images/dc-connection.gif') no-repeat;
}
ul.dcstatus li.fetchingOn {
	background: url('/images/dc-software.gif') no-repeat;
}
ul.dcstatus li.settingOff, ul.dcstatus li.checkingOff, ul.dcstatus li.fetchingOff {
	color: #b5b5b5;
     font-size: var(--fs-12);
  	font-weight: normal;
}
.box_loading {
	background: url('/images/box_loading.gif') no-repeat;
	width: 24px;
	height: 10px;
}
ul.dcstatus li span.errormsg {
	display: block;
	border: 1px #ffde8f solid;
	margin: 5px 0px 0px 0px;
	color: #000;
     font-size: var(--fs-12);
  	font-weight: normal;
} 


ul.dcstatus li {
	padding-left: 40px;
}
ul.dcstatus li.settingOff, ul.dcstatus li.checkingOff, ul.dcstatus li.fetchingOff {
	background: url('/images/dc-settings-arrow.gif') 4px 7px no-repeat;
}
ul.dcstatus li.settingOk, ul.dcstatus li.checkingOk, ul.dcstatus li.fetchingOk {
	background: url('/images/dcstatusOK.gif') 8px 8px no-repeat;
}
ul.dcstatus li.settingFail, ul.dcstatus li.checkingFail, ul.dcstatus li.fetchingFail {
	background: url('/images/dcstatusFail.gif') 8px 8px no-repeat;
}
ul.dcstatus li span.errormsg {
	background: #feffd3 url('/images/warningicon.gif') 5px 2px no-repeat;
	padding: 5px 3px 5px 30px;
}
.cursorptr {cursor: var(--sdpcursor-pointer);}
.tableComponent td .dependencyimg {
    background: url('/images/trigger-arrow-nrml.png') no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 10px;
    margin: 0 3px;
    width: 11px;
}
.tableComponent tr.roleh td .dependencyimg {
	background:url('/images/trigger-arrow-hover.png') no-repeat;
	height:10px;
	width:11px;
}
.ui-progressbar1, .ui-progressbar1a {
	border:1px #fff solid;
	background:#e9e9e9;
	height:10px;
	display:inline-block;
	position:relative;
	z-index:1;
}
.ui-progressbar1 {
	width:70px;
}
.ui-progressbar1a {
	width:85px;
}
.progress-box .ui-progressbar1a {
	background:#cfe6b8;
}
.ui-progressbar1-fill {
	background:#b3cd83;
	height:10px;
	position:absolute;
	z-index:2;
}
.ui-progressbar1-info .label{
	color:#7B7B7B;
	font-weight:bold;
	display:block;
	overflow:hidden;
	margin-right:4px;
}
.ui-progressbar1-info .before {
	float:left;
	width:30px;
	text-align:right;
	margin-right:4px;
}
.ui-progressbar1-info .after, .ui-progressbar1-info .ui-progressbar1-after {
	width:30px;
	margin-left:4px;
	position:relative;
	top:-2px;
}
.ui-progressbar1-info .count {
	color:#999;
	display:inline-block;
	width:auto;	
}
.ui-progressbar1-pos1 {
	padding-left:0;	
}
.tableComponent .ui-progressbar1-pos1 {
	display:block;
	margin-top:2px;	
}
.ui-commenticon1 {
	background:url('/images/ui-fw-commenticon1.png') no-repeat;
	width:19px;
	height:15px;
}



.left-nav-boxbrd3 {
    border: 1px solid #c6c6c6;
    height: 36px;
    background: #fff;
}
.DashboardTableColor {
    background: url('/custom/customimages/dashboardtable-bg.png') repeat-x 0 0;
    height: 36px;
}
img.pagenav-first, input.pagenav-first, span.pagenav-first {
    background: url('/images/common-images.png') no-repeat -34px -151px;
    width: 19px;
    height: 18px;
}
img.pagenav-previous, input.pagenav-previous, span.pagenav-previous {
    background: url('/images/common-images.png') no-repeat -55px -151px;
    width: 19px;
    height: 18px;
}
img.pagenav-next, input.pagenav-next, span.pagenav-next {
    background: url('/images/common-images.png') no-repeat -75px -151px;
    width: 19px;
    height: 18px;
}
img.pagenav-lastpage, input.pagenav-lastpage, span.pagenav-lastpage {
    background: url('/images/common-images.png') no-repeat -96px -151px;
    width: 19px;
    height: 18px;
}
.left-nav-boxbrd3 td.oddRow, .left-nav-boxbrd3 td.evenRow {
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 3px;
}
.oddRow, .evenRow {
    background-color: #FFFFFF;
    font-size: var(--fs-12);
    color: #000000;
    height: 32px;
    border-bottom: 1px #e5e5e5 solid;
}
#Calendar_small tr td.hovered {
	background:#939393;
	color:#fff;	
}
#Calendar_small .DashboardTableColor td {
    white-space: inherit;
    line-height: normal;
}
#hrs, #mins {
    border: 1px #ccc solid;
    height: 22px;
    font-size: var(--fs-12);
    margin: 1px;
    width: 53px;
    vertical-align: middle;
}
#Calendar_small tr td.tr{
	text-align: right;
}
.left-nav-boxbrd3{
	border-collapse: separate;
}
.left-nav-boxbrd3 *{
    box-sizing: content-box;
}
/* PR and PO notification icons */
.pr-sprite{
	display: inline-block;
	background: url('/images/pr-sprite.png') no-repeat;
}
.pr-cart-sm,
.pr-order-sm{
	width: 16px;
	height: 16px;
}
.pr-cart-sm{
	background-position: -89px 0;
}
.pr-order-sm{
	background-position: -91px -19px;
}
div#_DIALOG_LAYER div .drag{padding:7px 20px;}
div#_DIALOG_LAYER div span.redtext{color: red;}
.fsize14 {font-size: var(--fs-14);}
ul.ze_multitoolbar li img {
	box-sizing:initial;
	vertical-align:initial;
}
ul.ze_multitoolbar li img.ze_tbg,
ul.ze_multitoolbar li img.ze_tbgsi {
	background-position:-175px -360px;
}
/*** Calendar ***/
.left-nav-boxbrd3 td.oddRow, .left-nav-boxbrd3 td.evenRow {
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding: 0 3px;
}
.minicalendar-brline{
	border-bottom:1px solid #cfcfcf;
	font-weight: normal;
	font-size: var(--fs-12);
	white-space:nowrap;
}
.left-nav-boxbrd3 *{
	box-sizing: content-box;
}
.left-nav-boxbrd3 .oddRow,.left-nav-boxbrd3 .evenRow {
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    color: #000000;
    height: 32px;
}
.left-nav-boxbrd3 .oddRow div, .left-nav-boxbrd3 .evenRow div {
    display: inline;
}
.left-nav-boxbrd3 .oddRow a img, .left-nav-boxbrd3 .evenRow a img {
    border: 0 none;
}
.left-nav-boxbrd3 .evenRow,.left-nav-boxbrd3 .oddRow {
    padding-left: 3px;
}
img.pagenav-first-off, input.pagenav-first-off {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -34px -129px;
    height: 18px;
    width: 19px;
}
img.pagenav-previous-off, input.pagenav-previous-off {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -54px -129px;
    height: 18px;
    width: 19px;
}
img.pagenav-next-off, input.pagenav-next-off {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -74px -129px;
    height: 18px;
    width: 19px;
}
img.pagenav-lastpage-off, input.pagenav-lastpage-off {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -95px -129px;
    height: 18px;
    width: 19px;
}
img.pagenav-first, input.pagenav-first {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -34px -151px;
    height: 18px;
    width: 19px;
}
img.pagenav-previous, input.pagenav-previous {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -55px -151px;
    height: 18px;
    width: 19px;
}
img.pagenav-next, input.pagenav-next {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -75px -151px;
    height: 18px;
    width: 19px;
}
img.pagenav-lastpage, input.pagenav-lastpage {
    background: rgba(0, 0, 0, 0) url('/images/common-images.png') no-repeat scroll -96px -151px;
    height: 18px;
    width: 19px;
}
.DashboardTableColor {
    background: rgba(0, 0, 0, 0) url('/custom/customimages/dashboardtable-bg.png') repeat-x scroll 0 0;
    height: 32px;
}
fieldset legend.DashboardTableColor {
    background: rgba(0, 0, 0, 0) url('/custom/customimages/dashboardtable-bg.png') repeat-x scroll center center;
    border: 1px solid #82c4f3;
    color: #000000;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
}
#Calendar_small tr td {
	text-align: center;
	font-size: var(--fs-12);
	line-height: 12px;
}
#Calendar_small tr td.lastrow {
	border-bottom: none;
}
#Calendar_small tr td.offdate {
	color: #c3c3c3;
	line-height: 21px;
}
#Calendar_small tr td.currdate {
	border: 2px #008ddd solid !important;
	border: 2px var(--link_tab_line_color, #008ddd) solid !important;
	height:29px;
}
#Calendar_small tr td.holiday {
	color: #ae2856;
}
#Calendar_small tr td.inactive {
	color:#9A9A9A;
}
#Calendar_small tr td.occupied {
	text-decoration: underline;
	background: url('/images/cal/cal_small_hbg2.gif') repeat-x;
}
#Calendar_small tr td.hovered {
    background: #939393 none repeat scroll 0 0 !important;
    color: #ffffff;
}
#Calendar_small tr td.oddRow {
    cursor: var(--sdpcursor-pointer);
}
#Calendar_small tr td.oddRow:last-child {
    border-right: none;
}
/*SMS Integration*/
.smsProvider .smsPrName
{
	border:1px solid #d8d8d8;
	border-radius:3px;
	height:30px; line-height:30px;
	display:block;
	width:250px; cursor: var(--sdpcursor-pointer);
} 
.smsProList{
	border:1px solid #d8d8d8;
	border-radius:3px; 
	width:250px;
	position:absolute; background-color:#fff; z-index:2;
	}
.smsProList a, .smsPrName a{
	display:block; 
	height:30px; 
	line-height:30px; 
	color:#333; 
	padding:0px 10px 0px 0px; 
	text-decoration:none; 
}
.smsProList a span, .smsPrName a span{
	float:left; 
	display:inline-block; 
	margin:4px 5px 0px 10px;
}
.smsProList a span.site24, .smsPrName a span.site24{
	background:url('/images/sdp-icons-pack1.png') -233px -525px no-repeat;
	height:22px; width:23px; 
  }
.smsProList a span.clickatell, .smsPrName a span.clickatell{
	background:url('/images/sdp-icons-pack1.png') -261px -525px no-repeat;
	height:22px; width:23px; 
	 }
.smsProList a span.bulksms, .smsPrName a span.bulksms{
	background:url('/images/sdp-icons-pack1.png') -287px -525px no-repeat;
	height:22px; width:23px;} 
.smsProList a span.Custom, .smsPrName a span.Custom{
	background:url('/images/ui-list-view.png') -98px -135px no-repeat;
	height:22px; width:23px;}
.smsProList a:hover{background-color:#eeeeee; display:block; text-decoration:none;} 
.freezSmsLayer{ 
	position:absolute; height:310px;
	 width:75%; 
	background: url('/images/freezelayer-bg.png');
	opacity: 0.65;
	z-index: 2;} 
.smsNotebg{background-color:#f9f9f9; border-top:1px solid #dbdbdb; padding:7px;}
.curdefault{cursor: var(--sdpcursor-default);} 
/*SMS Integration Related Style Ends*/
.boxBL > img, .boxBC > img, .boxBR > img {
    display: none;
}
.license-alert-strip {
	background:#ffe6c7;
	height:32px;
	text-align:center;
}
.license-alert-strip .msg {
	font-weight:normal;
	color:#000000;
	display:inline-block;
	border:none;
	margin-top:4px;
	padding-left:30px;
	background:url('/images/license-alert-icon.png') center left no-repeat;
}
.license-alert-strip .contact {
	background: #818181;
	border: 1px solid transparent;
	border-radius: 0;
	cursor: var(--sdpcursor-pointer);
	font-size: var(--fs-12);
	z-index: 0;
	color: #fff;
	white-space: nowrap;
	padding:0 7px;
	text-decoration:none;
	display:inline-block;
	line-height:20px;
}
/*Write custom scripts in field and for rules tabs*/
/*sdStyle.css*/
.cuScMdiv {
    background-color: #ededed;
    border: 1px solid #f1f1f1;
    padding: 10px 15px 0px 15px;
}
.cusScr-smScripts, .cusScr-codEditor {
    width: 49%;
}
.grey333 {
    color: #333;
}
.ScrCodeSec .sreditor {
    overflow: auto;
    height: 245px;
    width: 100%;
    border: 1px solid #dfdfdf;
    resize: vertical;
}
.samScrHArr {
    width: 7px;
    background: #d4d4d4 url('/images/slid-hide-arrow.png') no-repeat center center;
    float: left;
    height: 300px;
    cursor: var(--sdpcursor-pointer);
}
.samScrShArr {
    width: 7px;
    background: #d4d4d4 url('/images/slid-show-arrow.png') no-repeat center center;
    height: 300px;
    cursor: var(--sdpcursor-pointer);
}
.scicon {
    width: 37px;
    height: 100px;
    margin-top: 5px;
    background: url('/images/sl-arrow.png') no-repeat top center;
    cursor: var(--sdpcursor-pointer);
    display: inline-block;
}
.rtscTxt {

    transform: translate(1.1em,0) rotate(90deg);

    transform-origin: 0 0;



    margin: 25px 0px 0px 12px;
    display: inline-block;
    white-space: nowrap;
    width: auto;
}
.saScr {
    height: 290px;
    overflow: auto;
    background-color: #f9f9f9;
    padding: 4px;
    border: 1px solid #dfdfdf;
}
.saScrLi, .saScrLi li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: table;
    width: 100%;
}
.saScrLi li {
    margin-bottom: 1px;
    background-color: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
}
.saScrLi, .saScrLi li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: table;
    width: 100%;
}
.saScrLi li div.saScrhdr {
    padding-left: 15px;
    color: #008ddd;
    color: var(--link_tab_line_color, #008ddd);
    height: 37px;
    line-height: 37px;
    cursor: var(--sdpcursor-pointer);
}
.saScrLi li div.saScrCode {
    padding: 0px;
    margin: 0px 0px 5px 0px;
    color: #333;
    padding-left: 0px;
}
.saScrCnt {
    white-space: pre;
    padding: 0px 15px 10px 15px;
}
.cuSHdr {
    color: #333;
    font-weight: bold;
}
.ReTmpfiled {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.ReTmpfiled li.reTmHdr {
    color: #000;
    font-weight: bold;
    padding-left: 5px;
}
.ReTmpfiled li {
    list-style: none;
    border-bottom: 1px solid #fafafa;
    color: #555;
    height: 21px;
    line-height: 21px;
    padding: 0px 10px 0px 24px;
    background-color: #fafafa;
}
.ReTmpfiled li:hover {
    background-color: #e6f5fa;
    cursor: var(--sdpcursor-pointer);
}
.samPleSc {
    border: 0px solid #dfdfdf;
    background-color: #f7f7f7;
    margin: 0px;
    height: 266px;
    overflow: auto;
}
/*sdSyle_LTR.css*/
/*common-style.css*/
.cuScMdiv{direction:ltr;}
.flnrtl{float:left;}
.frnrtl{float:right;}
.alignleft-nrtl{text-align:left;}
.alignright-nrtl{text-align:right;}
/*project_filter.css*/
.flnrtl {
    float: left;
}
.reftmpbdr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdbdb -moz-use-text-color #dbdbdb #dbdbdb;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
}
.fldAlign-rtl {
    text-align: left;
}
.dyfldchange {
    background: rgba(0, 0, 0, 0) url('/images/fld-statusbg.png') repeat-x scroll left top;
    font-weight: bold;
    height: 46px;
    line-height: 45px;
    padding-left: 15px;
    white-space: nowrap;
}
.dyfldchange span {
    font-weight: normal;
    margin-right: 60px;
    white-space: nowrap;
}
/*ui-framework.css*/
.pbottom5 {
    padding-bottom: 5px;
}
.TFDisabled, .tfdisabled {
    background: url('/images/form_field_bg.gif') repeat-x scroll 50% 0 #fff;
    border-color: #999 #C3C3C3 #DDD;
    border-style: solid;
    border-width: 1px;
    font-weight: normal;
    color: #000;
}
/*overwrite*/
.cuScMdiv {
	border-collapse: unset;
}
.saScr {
	height: 300px;
}

.browsebutton{
    float:left;
    margin-right: 10px;
}
.upload-rgt, .upload-lft {
	background:url('/images/import-wizard.png') no-repeat;
	}
.upload-rgt {
	background-position: 0 -36px;
	color: #414141;
	float: left;
	font-weight: bold;
	height: 28px;
	margin: 3px 0 0;
	padding: 6px 5px 0 32px;
	text-shadow: -2px 1px #ffffff;
	}
.upload-lft {
	background-position: -486px -36px;
	float: left;
	margin-top: 3px;
	position: relative;
	width: 25px;
	height: 28px;
}
.upload-div {
	cursor: var(--sdpcursor-pointer);
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 164px;
	z-index: 99;
	height: 50px;
	}
input.upload-file {
	cursor: var(--sdpcursor-pointer);
	height: 30px;
	font-size: var(--fs-32);
	margin-left: -85px;
	opacity: 0;

	position: absolute;
	z-index: 100;
}
.cap-txt {
    clear: both;
    color: #b2b2b2;
    font-size: var(--fs-12);
    margin-top: 33px;
    position: absolute;
}
/*Write custom scripts in field and for rules tabs*/
/*sdStyle.css*/
.cuScMdiv {
    background-color: #ededed;
    border: 1px solid #f1f1f1;
    padding: 10px 15px 0px 15px;
}
.cusScr-smScripts, .cusScr-codEditor {
    width: 49%;
}
.grey333 {
    color: #333;
}
.ScrCodeSec .sreditor {
    overflow: auto;
    height: 245px;
    width: 100%;
    border: 1px solid #dfdfdf;
    resize: vertical;
}
.samScrHArr {
    width: 7px;
    background: #d4d4d4 url('/images/slid-hide-arrow.png') no-repeat center center;
    float: left;
    height: 300px;
    cursor: var(--sdpcursor-pointer);
}
.samScrShArr {
    width: 7px;
    background: #d4d4d4 url('/images/slid-show-arrow.png') no-repeat center center;
    height: 300px;
    cursor: var(--sdpcursor-pointer);
}
.scicon {
    width: 37px;
    height: 100px;
    margin-top: 5px;
    background: url('/images/sl-arrow.png') no-repeat top center;
    cursor: var(--sdpcursor-pointer);
    display: inline-block;
}
.rtscTxt {

    transform: translate(1.1em,0) rotate(90deg);

    transform-origin: 0 0;



    margin: 25px 0px 0px 12px;
    display: inline-block;
    white-space: nowrap;
    width: auto;
}
    color: #006699;
    color: var(--link_tab_line_color, #008ddd);
.cuSHdr {
    color: #333;
    font-weight: bold;
}
.ReTmpfiled {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.ReTmpfiled li.reTmHdr {
    color: #000;
    font-weight: bold;
    padding-left: 5px;
}
.ReTmpfiled li {
    list-style: none;
    border-bottom: 1px solid #fafafa;
    color: #555;
    height: 21px;
    line-height: 21px;
    padding: 0px 10px 0px 24px;
    background-color: #fafafa;
}
.ReTmpfiled li:hover {
    background-color: #e6f5fa;
    cursor: var(--sdpcursor-pointer);
}
.samPleSc {
    border: 0px solid #dfdfdf;
    background-color: #f7f7f7;
    margin: 0px;
    height: 266px;
    overflow: auto;
}
/*sdSyle_LTR.css*/
/*ui-framework.css*/
/*Write custom scripts in field and for rules tabs*/
.citype-defaulticn {
	width: 19px;
	height: 17px;
	background: url('/images/CItype_default.png') no-repeat;
}
.citype-dropmenu ul {
	margin: 0px;
	padding: 0px;
}
.citype-dropmenu ul li {
	cursor: var(--sdpcursor-default);
	list-style: none;
	width:215px;
}
.citype-dropmenu ul li a.dropmenu {
	background: url('/images/formshdw.gif') no-repeat -4px -4px;
	height: 16px;
	line-height: 16px;
	display: block;
	padding-left: 2px;
	width: 200px;
	text-decoration: none;
	border: 1px solid #616F45;
	font-weight: normal;
	color: #000;	
}
.citype-dropmenu ul>li a.dropmenu {
	height: 14px;
	line-height: 14px;
}
.citype-dropmenu ul li a.dropmenu:hover {
	color: #000;
}
.citype-dropmenu ul li a.dropmenu em {
	background: url('/images/def-drop-right.gif') no-repeat;
	width: 17px;
	height: 14px;
	display: block;
	float: right;
}
.citype-dropmenu ul>li a.dropmenu em {
	margin-top: -1px;
}
.citype-dropmenu ul li ul {
	margin: 0px;
	padding: 0px;
	z-index: 500;
}
.citype-dropmenu ul li .mnuContent {
	height: 200px;
	overflow: auto;
	overflow-x: hidden;
	border-left: 2px solid #b2b2b2;
	border-top: 1px solid #b2b2b2;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	background: #fff;
	position: absolute;
}
.citype-dropmenu ul li.mnuNormal .mnuContent {
	visibility: hidden;
}
.citype-dropmenu ul li.mnuActive .mnuContent {
	display: block;
}
.citype-dropmenu ul li ul li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.citype-dropmenu ul li ul li a {
	background: url('/images/dropcontentbullet.gif') 3px 5px no-repeat;
	display: block !important;
	text-decoration: none;
	padding: 3px 7px 3px 18px;
	color:#000;
	
	margin: 0px 1px;
	width: 100%;
	white-space: nowrap;
}
.citype-dropmenu ul li ul a:hover, .citype-dropmenu .current {
	background: #008ddd url('/images/dropcontentbullet.gif') 3px 5px no-repeat;
	color: #fff;
	background: var(--primary_button_color, #008ddd) url('/images/dropcontentbullet.gif') 3px 5px no-repeat;
	color: var(--primary_button_text, #fff);
}
.citype-dropmenu ul li ul li ul, ul.dropcontent li ul li ul, .citype-dropmenu ul li ul li ul li ul li ul, .citype-dropmenu ul li ul li ul li ul li ul li ul {
	margin: 0px;
	padding: 0px 0px 0px 15px;
}
.citype-dropmenu ul li ul li ul li, .citype-dropmenu ul li ul li ul li ul li, .citype-dropmenu ul li ul li ul li ul li ul li, .citype-dropmenu ul li ul li ul li ul li ul li ul li {
	margin: 0px;
	padding: 0px;
}
.formSubmitBG2 {
	height: 36px;
	background: #ECECEC;
}
.lcnagreehrbg {
	background: #DAE6F2 url('/images/lcnagreehrbg.gif') repeat-x;
	height: 42px;
	padding: 0px 15px;
	font-size: var(--fs-15);
	color: #000;
}
.closebtnr3 {
    background: url('/images/closebtnr3.gif') no-repeat;
    width: 14px;
    height: 14px;
    cursor: var(--sdpcursor-pointer);
}
span.pagenav-first, span.pagenav-previous, span.pagenav-next, span.pagenav-lastpage { 
	display:inline-block;
}

.ScrCodeSec { }

ul.dcstatus li.settingOk, ul.dcstatus li.checkingOk, ul.dcstatus li.fetchingOk,
ul.dcstatus li.settingOff, ul.dcstatus li.checkingOff, ul.dcstatus li.fetchingOff,
ul.dcstatus li.settingFail, ul.dcstatus li.checkingFail, ul.dcstatus li.fetchingFail,
ul.dcstatus li span.errormsg, ul.dcstatus li.checkingOn, ul.dcstatus li.fetchingOn, ul.dcstatus li.settingOn {
	background-image: none;
	position: relative;
}
ul.dcstatus li.settingOk:before, 
ul.dcstatus li.checkingOk:before, 
ul.dcstatus li.fetchingOk:before,
ul.dcstatus li.settingOff:before, 
ul.dcstatus li.checkingOff:before, 
ul.dcstatus li.fetchingOff:before,
ul.dcstatus li.settingFail:before, 
ul.dcstatus li.checkingFail:before, 
ul.dcstatus li.fetchingFail:before,
ul.dcstatus li span.errormsg:before,
ul.dcstatus li.fetchingOn:before{
	content: "";
	background-image: url('/images/ui-common-view.svg?15140');
	position: absolute;
    width: 20px;
    height: 20px;
}
ul.dcstatus li.settingOn:before{
	content: "";
	background-image: url('/images/ui-admin-module.svg?15140');
	position: absolute;
    width: 24px;
    height: 25px;
}
ul.dcstatus li.settingOk:before, 
ul.dcstatus li.checkingOk:before, 
ul.dcstatus li.fetchingOk:before{
    background-position: -291px -540px;
    top: 6px;
	left: 8px;
}
ul.dcstatus li.settingOff:before, 
ul.dcstatus li.checkingOff:before, 
ul.dcstatus li.fetchingOff:before{
    background-position: -291px -540px;
    top: 6px;
	left: 8px;
	filter: grayscale(1);
}
ul.dcstatus li.settingFail:before, 
ul.dcstatus li.checkingFail:before, 
ul.dcstatus li.fetchingFail:before{
    background-position: -119px -24px;
    top: 9px;
	left: 8px;
}
ul.dcstatus li span.errormsg:before{
    background-position: -171px -900px;
    top: 6px;
	left: 5px;
}
ul.dcstatus li.checkingOn:before{
	content: "";
	border: 3px solid #f1f1f1;
    border-radius: 50%;
    border-top: 3px solid #3498db;
	position: absolute;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
	top: 10px;
	left: 6px;
}
ul.dcstatus li.fetchingOn:before{
	background-position: -529px -219px;
	top: 10px;
	left: 8px;
	width: 16px;
	height: 16px;
	transform: scale(1.3);
	filter: grayscale(1);
}
ul.dcstatus li.settingOn:before{
	background-position: -549px -630px;
	top: 5px;
	left: 5px;
	transform: scale(0.63);
	filter: grayscale(1);
}
