/* $Id$ */
#pocycle #closedpo1 {
    position: absolute;
    width: auto;
    top: 68px;
}
#pocycle #closedpo1 #closedpobtn1 {
    background: url('/images/pobtn1m.gif') repeat-x;
    padding: 0px 10px;
  
  	font-weight: normal;
    color: #000;
    text-decoration: none !important;
    line-height: 27px;
    display: block;
    width: auto;
    white-space: nowrap;
    z-index: 11;
}
#paymentbtn, .gecko #pocycle #closedpo1 #closedpobtn1 {
    position:relative;
} 

#poblock {
	position: relative;
	width: 700px;
	z-index: 9;
	margin:20px 0px 20px 0px; border:1px solid transparent;
	
}

#pocyclebg {
	width:705px;
	height: 232px;
	position: absolute;
	z-index: 10;
	margin-top: 25px;
}
#pocyclefix {
	margin: 0px 0px 45px 0px;
}

table tr td div>div#pocyclebg {
	margin-top: 0px;
}
#pocycle {
	width: 700px;
	height: 232px;
	margin: 0px;
	padding: 0px;
	position: relative;
	z-index: 11;
}
table tr td div>div#pocycle {
	height: 207px;
}
#pocycle #createpo {
	position: absolute;
	width: auto;
}
#pocycle #createpo #createpobtn {
	background: url('/images/pobtn1m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 27px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #submitapprove {
	position: absolute;
	width: auto;
	top: 7px;
}
#pocycle #submitapprove #submitapprovebtn {
	background: url('/images/pobtn1m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 27px;
	display: block;
	width: auto;
	min-width:110px;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #porejected, #pocycle #canceled {
	position: absolute;
	width: auto;
	top: 68px;
}
#pocycle #porejected #rejectedbtn, #pocycle #canceled #canceledbtn{	
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 29px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #canceled #canceledbtn{
	background: url('/images/potbtngrc.png') repeat-x;
}
#pocycle #porejected #rejectedbtn{
	background: url('/images/potbtnr1m.gif') repeat-x;
}

#pocycle #poapproved {
	position: absolute;
	width: auto;
	top: 68px;
}
#pocycle #poapproved #approvedbtn {
	background: url('/images/potbtng1m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 29px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #poordered {
	position: absolute;
	width: auto;
	top: 140px;
}
#pocycle #poordered #orderedbtn {
	background: url('/images/pobtn1m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 27px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #partialreceive {
	position: absolute;
	width: auto;
	top: 196px;
}
#pocycle #partialreceive #partialreceivebtn {
	background: url('/images/pobtn1m.gif') repeat-x;
	padding: 0px 4px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 27px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #partialreceive2 {
	position: absolute;
	width: auto;
	top: 196px;
}
#pocycle #partialreceive2 #partialreceivebtn2 {
	background: url('/images/pobtn1m.gif') repeat-x;
	padding: 0px 4px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 27px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #invoicereceived {
	position: absolute;
	width: auto;
	top: 204px;
}
#pocycle #invoicereceived #receivebtn {
	background: url('/images/pobtn2m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 15px;
	height: 42px;
	padding-top: 5px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #paymentdone {
	position: absolute;
	width: auto;
	top: 178px;
}
#pocycle #paymentdone #paymentbtn {
	background: url('/images/pobtn2m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 15px;
	height: 42px;
	padding-top: 5px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
#pocycle #closedpo {
	position: absolute;
	width: auto;
	top: 120px;
}
#pocycle #closedpo #closedpobtn {
	background: url('/images/pobtn1m.gif') repeat-x;
	padding: 0px 10px;
  	font-weight: normal;
	color: #000;
	text-decoration: none !important;
	line-height: 27px;
	display: block;
	width: auto;
	white-space: nowrap;
	z-index: 11;
}
.gecko #pocycle #createpo #createpobtn, .gecko #pocycle #submitapprove #submitapprovebtn, .gecko #pocycle #porejected #rejectedbtn, .gecko #pocycle #poapproved #approvedbtn, .gecko #pocycle #poordered #orderedbtn, .gecko #pocycle #partialreceive #partialreceivebtn, .gecko #pocycle #partialreceive2 #partialreceivebtn2, .gecko #pocycle #invoicereceived #receivebtn, .gecko #pocycle #paymentdone #paymentbtn, .gecko #pocycle #closedpo #closedpobtn {
	position:relative;
}
.headerboldfont {
	color: #fff;
  	font-weight: bold;
}
.textStyle {
	border: 1px solid #616F45;
  	font-weight: normal;
	color: #000000;
	background: url('/images/formshdw.gif') no-repeat -4px -4px #fff;
}
table.POformHeader {
	background: #c8e0f2;
	border-left: 2px #fff solid;
	border-right: 2px #fffsolid;
}
table.POformHeader tr td strong {
	font-size: var(--fs-15);
  	font-weight: bold;
	color: #000;
}
table.POformHeader tr td input {
	padding: 2px;
	border: 1px #17478f solid;
	height: 18px;
}
span.POvendorName {
	color: #305086;
	font-size: var(--fs-16);
  	font-weight: bold;
}
span.POvendorAddress {
  	font-weight: normal;
}
.tbox2 {
	height: 16px;
  	font-weight: normal;
	border: 1px #757575 solid;
}
.priceBox1 {
	padding: 2px;
	border: 1px #c5c5c5 solid;
	height: 18px;
}
.priceBox2 {
	padding: 2px;
	border: 1px #17478f solid;
	height: 18px;
}
div.POaddItemsBtn {
	position: relative;
	top: 19px;
}
div>.POaddItemsBtn {
	top: 16px;
}
table.POitemAddHeader {
	background: #8db5e0;
	margin-top: 3px;
}
table.POitemAddHeader tr td {
	background: #c8e0f2;
	padding: 5px;
}
table.POitemAddList {
	background: #c5c5c5;
}
table.POitemAddList     tr td {
	height: 18px;
	background: #ffffff;
}
div#add_new_product table.POitemAddList     tr.rowEven {
	height: 18px;
	background: #ffffff;
}
div#add_new_product table.POitemAddList     tr.rowOdd {
	height: 18px;
	background: #cccccc;
}
table.AllPOItemList {
	background: #c5c5c5;
}
table.AllPOItemList tr.normal td {
	background: #ccc;
}
table.AllPOItemList tr.rowHighlight td {
	background: #fcfcce;
	height: 18px;
  	font-weight: normal;
	border: 0px solid none !important;
}
.graybg2 {
	background: #cccccc !important;
}
.fontstyle1 {
  	font-weight: normal;
}
.poapproverlist-added {
	border:1px #757575 solid;
	border-left:1px #cacccb solid;
	border-right:1px #cacccb solid;
	border-bottom:1px #cacccb solid;
	padding:4px;
	width:300px;

	overflow:auto;
	display:block;
	min-height:34px;
	height: expression( this.scrollHeight < 35 ? "36px" : "auto" );
	margin-left:20px; 
}
.poapproverlist-added span {
	border:1px #f1f1f1 solid;
	border-radius:3px;
	margin:4px 0;
	display:inline-block;
	position:relative;  
	padding:5px;
  	background:#F1F1F1;
}
.poapproverlist-added strong {
	font-weight:normal;
	display:inline-block;
	padding:0 8px;
	height:20px;
	position:relative;
	top:-3px;
	color:#777;
}
.poapproverlist-added img {
	position:absolute;
	right:-7px;
	top:-6px;
	cursor: var(--sdpcursor-pointer);
	visibility:hidden;
}
.closebtn-circle {
	background:url('/images/closebtn-circle.png') no-repeat;
	width:15px;
	height:14px;
}
table.POitemAddHeader .poapproverlist td {
	background:#fff;	
}
.poapproverlist .label {
	font-weight: bold;
}
.poapproverlistitems {
	padding:10px 0;
	clear:both;
}
.poapproverlist-label {
	width:96px;
	display:inline-block;
}
.poapproverlist-value {
	display:block;
}
.po-approval-rowcnt {
	padding:8px 17; 
}
.po-approval-inforow .approvar-name { 
	color:#484848;
	font-size: var(--fs-14);
	font-weight: bold;	
	display:inline-block;
	width:30%;
	padding:0;
}
.po-approval-inforow .approve-info {
	padding:2px 0 0 0;
}
.po-approval-inforow .approval-status-approved,
.po-approval-inforow .approval-status-rejected,
.po-approval-inforow .approval-status-pending { 
	color:#585858;
	font-weight: bold;
	display:inline-block;
}
.po-approval-inforow .approval-status-pending{
	 font-weight:normal;
	 color:#818181 
}
.po-approval-inforow .approval-desc { 
	color:#737373;
	font-weight:normal;
	padding:0;
	clear:both;
}
.approval-separator { 
	background:url('/images/blackdot-bdr.gif') center repeat-x;
	height:16px;
}
.approval-separator .box { 
	background:#e3e3e3;
	color:#737373;
	font-weight:normal;
	border-bottom:1px #bfbfbf solid;
	border-radius:3px;
	padding:4px 5px;
}
.poapprover-configmsg {
	color:#7b7b7b;
	position:relative;
	top:5px;	
}
.poapprovalhdr {
	background-color:#ebebeb;
	border-bottom:1px solid #cecece;
	height:26px;
}
.poapprovelevels {
	color:#333;
	width:29%;
	margin-top:2px;
}
.poapprovel-nfydate {
	color:#505050;
	margin-top:2px;
}
.poapproval-nfyagain {
	color: #008ddd;
	color:var(--link_tab_line_color, #008ddd);
	text-decoration:none;
}

.po-reject-info-icon-xs, .po-cancel-info-icon-xs {
	background-image:url('/images/ui-purchase-module.png');
	background-repeat:no-repeat;
	width:12px;
	height:12px;
}
.po-reject-info-icon-xs {
	background-position:-1px -1px;
}
.po-cancel-info-icon-xs {
	background-position:-15px -1px;
}
