/* $Id$ */
#pocycle #closedpo1 {
    right: 667px;
}
#pocycle #closedpo1 #closedpobtn1 {
    float: right;
} 
#pocyclebg {
	background: url('/images/pocyclebg-RTL.png') no-repeat;
	right:9px;

}
table tr td div>div#pocyclebg {
	background-img: url('/images/pocyclebg-RTL.png') no-repeat;
}
#pocycle #createpo {
	left:578px;
	top: 25px;
}
#pocycle #createpo #createpobtn {
	float: left;
}
#pocycle #submitapprove {
	right: 237px;
}
#pocycle #submitapprove #submitapprovebtn {
	float: left;
}
#pocycle #porejected {
	right:482px;
}
#pocycle #porejected #rejectedbtn {
	float: left;
}
#pocycle #canceled {
	right:670px;
}
#pocycle #canceled #canceledbtn {
	float: left;
}
#pocycle #poapproved {
	left: 309px;
}
#pocycle #poapproved #approvedbtn {
	float: left;
}
#pocycle #poordered {
	right: 458px;
}
#pocycle #poordered #orderedbtn {
	float: left;
}
#pocycle #partialreceive {
	left: 316px;
	top:203px;
}
#pocycle #partialreceive #partialreceivebtn {
	float: left;
}
#pocycle #partialreceive2 {
	right: 460px;
}
#pocycle #partialreceive2 #partialreceivebtn2 {
	float: left;
}
#pocycle #invoicereceived {
	left: 488px;
}
#pocycle #invoicereceived #receivebtn {
	float: left;
}
#pocycle #paymentdone {
	left: 627px;
}
#pocycle #paymentdone #paymentbtn {
	float: left;
}
#pocycle #closedpo {
	left:691px;
}
#pocycle #closedpo #closedpobtn {
	float: left;
}
.textStyle {
	padding-left: 2px;
}
table.AllPOItemList tr.rowHighlight td {
	padding-left: 3px;
}
.poapproverlist-added {
	margin-right:20px;
	float:right;
}
.poapproverlist-added img {
	left:-7px;
}
.poapproverlist-label {
	float:right;
}
.poapproverlist-value {
	margin-right:106px;
}
.po-approval-inforow .approval-status-approved,
.po-approval-inforow .approval-status-rejected,
.po-approval-inforow .approval-status-pending { 
	 padding:5px 25px 5px 0px;
}
.po-approval-inforow .approval-status-rejected { 
	background:url('/images/servicecat-delete.gif') right no-repeat;
}
.po-approval-inforow .approval-status-pending { 
	padding:5px 5px 5px 0px;
}
.po-approval-inforow .approval-status-approved { 
	background:url('/images/approve-btn.png') right no-repeat; 
}
.po-approval-inforow .approval-controls{margin-right:7px;}
.approval-separator { 
	margin:10px 30px 10px 0;
}
.po-approval-inforow { 
	margin:4px 30px 4px 10px;
}
.poapproval-darrow { 
	margin-left:24px; 
	float:right;
}
.poapprovelevels {
	float:right;
	
}
.poapprovel-nfydate {
	float:right; 
	margin-left:6px;
}
