/*$Id$*/

body{
	background:#fff;
	}		
body, div {
	font-size: var(--fs-13);
	padding: 5px;
}
#ProDetails div {
	padding:0;
	background:transparent;	
}
#ProDetails td {
	vertical-align:middle;	
}
/*
a:link, a:visited {
	color: #000;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
}
*/
.mainheading {
	border-top: 4px solid #222;
	border-bottom: 1px solid #888;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 5px 5px 5px 5px;
	font-weight: bold;
}
.heading {
	font-weight: bold;
	border-bottom: 3px solid #888;
	padding-top: 20px;
}
.subheading {
	padding-top: 10px;
	font-size: 10pt;
	font-weight: bold;
	border-bottom: 1px solid #888;
}
td {	
	font-size: 9.8pt;	/* #106681 */
}
.requestDescription {
	padding: 5px 5px 20px 5px;
	border-bottom: 4px solid #222;
}
.mastertableitem {
	padding-bottom: 15px;
	border-bottom: 1px solid #000;
}
fieldset {
	border: 1px solid #ECF3F8;
	background: #fff;
	padding: 10px;
	display: block;
	margin: 0px 2px;
}
fieldset legend {
	font-weight: bold;
	color: #000;
	background-color: #ECF3F8;
	border-color: #ECF3F8;
	border-width: 2px;
	border-style: solid;
	padding: 2px 8px;
	vertical-align: middle;
}
fieldset div {
	display: block;
	padding: 3px 10px 10px 18px;
}
.tableGrid, #AssociatedIncidents_TABLE {
	border: 1px solid #000;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
}
#AssociatedIncidents_TABLE input {
	display: none;
}
.tableGrid td, #AssociatedIncidents_TABLE tr td {
	background-color: #FFFFFF;
	border-top: 1px solid #000;
	border-right: 1px dotted #000;
	border-bottom: 1px solid #000;
	border-left: 1px dotted #000;
	padding: 3px;
}
.tableGrid #tableheading td, #AssociatedIncidents_TABLE tr th {
	border-top: 2px solid #000;
	border-right: 1px dotted #000;
	border-bottom: 2px solid #000;
	border-left: 1px dotted #000;
	font-weight: bold;
	font-size: 10pt;
}
.tableGrid #columns {
	background-color: #ECF3F8;
	border: 1px solid #666666;
	padding: 1px;
	width: 30px;
}
.tableGrid #nostyle td {
	border: 0px solid #666666;
}
.grayheaderfnt1 {
	background-color: #ECECEC;
	border-bottom: 1px #C8C8C8 solid;
	font-size: var(--fs-13);
	font-weight: bold;
	padding: 5px 4px;
}
.printheaderfnt1 {
	color: #000;
	font-size: var(--fs-18);
	font-weight: bold;
	padding: 4px;
}
.printheaderfnt2 {
	color: #000;
	font-size: var(--fs-13);
	font-weight: bold;
	background: #f5f5f5;
	padding: 4px;
}
.printheaderfnt3 {
	color: #3566A9;
	border-bottom: 2px #BEBEBE solid;
	font-size: var(--fs-15);
	font-weight: bold;
}
.m5px0px10px0px {
	margin: 5px 0px 10px 0px;
}
.mtop16 {
	margin-top: 16px;
}
.mbottom1 {
	margin-bottom: 1px;
}
.recent-conversation div.clear {
	padding:0;      
}
.recent-conversation .row div {
    background:transparent; 
}
div.nopadprint {
	padding:0;      
}
div.gotoTopdiv {
	display:none;   
}
div.recent-conversation div.row div {
	padding:0;      
} 
.change-formdata1{
	margin-top:0;
}
.change-formdata1 div{
	padding:0;
}
.hide {		
	display: none!important		
}       
@media print{      
body[theme="dark-mode"]{
	background: #fff;
}
}