/*$Id :$ */
.proj-tab-container {
	padding:24px;
}
.proj-project-tab-icon,.proj-recent-update-tab-icon,.proj-gantt-view-tab-icon {
	border:none;
	width:48px;
	height:48px;
}
.proj-tab-container-tabs {
	background:#d8d8d8 url('/images/proj-tab-container-tabs-bg.gif') repeat-x;
	height:39px;
}
#ui-framework-design1 .proj-tab-container-tabs {
	padding-right:10px;
}
.proj-tab-container-tabs a { 
	color:#5b5b5b;
	font-size: var(--fs-14);
	font-weight: bold;
	padding:2px 31px 4px 0;
	text-transform:uppercase;
	margin:9px 0 0 26px;
	display:inline-block;
	position:relative;
}
.proj-tab-container-tabs a em {
	display:none;	
}
.proj-tab-container-tabs a.active { 
	color:#323232;
}
.proj-tab-container-tabs a.active em {
	background:url('/images/proj-navbar-active-arrow.png') no-repeat;
	height:7px;
	bottom:-7px;
	right:50%;
	width:100%;
	display:block;
	position:absolute;
}

.proj-tab-container { z-index:1; }
.proj-tab-container .proj-tab-container-content { height:auto; background:#fff; border:1px #ccc solid; border-radius:5px; }
.proj-tab-container .proj-tab-container-content .inner { height:auto; background:#fff; margin-right:14px; padding-left:14px; }
.proj-tab-container .proj-tab-container-content .inner .proj-details-content { margin:10px 0; }

.tasksPercentage {
	color:#000;
	font-size: var(--fs-19);
	font-weight: normal;
}
.tasks-header-icon {
	background:url('/images/tasks-header-icon.png') no-repeat;
	width:36px;
	height:36px;	
}
.tasksdetail-header-row {
	background:url('/images/tasksdetail-header-row.gif') top repeat-x;	
	height:36px;
	padding-right:40px;
}
.tasksdetails-scroll {
	height:350px;
	overflow-y:auto;
	padding:14px 10px 10px 10px;	
	position:relative;
	border-bottom:1px #808080 solid;
	background:url('/images/tasksdetails-scrollbg.gif') top repeat-x;
}
.pleft44 {
	padding-left:44px;	
}
.comments-tabs-container {
	padding:36px 68px 0 0;
	border-top:7px #e6e7e8 solid;
}
.clear-tabs {
	border-top:1px #b2b2b2 solid;
}
.comments-tabs-container a {
	display:inline-block;
	position:relative;	
	font-size: var(--fs-12);
	font-weight: bold;
	height:25px;
	text-decoration:none;
	color:#818181;
	margin:0 1px;
}
.comments-tabs-container .active {
	color:#000;	
}
.comments-tabs-container span {
	padding:0 14px;
	display:inline-block;	
	line-height:25px;
	margin:0;
	background:url('/images/comments-tab-bg.gif') repeat-x;
	border-left:1px #999 solid;
	border-right:1px #999 solid;
	cursor: var(--sdpcursor-pointer);
}
.comments-tabs-container .active span {
	background:#fff url('/images/comments-tab-active-bg.gif') repeat-x;
	border-left:1px #b2b2b2 solid;
	border-right:1px #b2b2b2 solid;	
	height:26px;
}
.comments-tabs-container em, .comments-tabs-container em {
	width:4px;
	height:4px;
	position:absolute;
}
.comments-tabs-container em {
	background:url('/images/comments-tab-tl.gif') no-repeat;
	right:0;
}
.comments-tabs-container em {
	background:url('/images/comments-tab-tr.gif') no-repeat;
	left:0;
}
.comments-tabs-container .active em {
	background:url('/images/comments-tab-active-tl.gif') no-repeat;
}
.comments-tabs-container .active em {
	background:url('/images/comments-tab-active-tr.gif') no-repeat;
}
.proj-tab-container .tasks-history-details { 
	margin:0px 95px 0px 60px; 
	padding:20px 0 10px 0; 
}
.proj-tab-container .tasks-history-details .history-toggleheader { 
	border-bottom:1px #ccc solid; 
	padding-bottom:4px; 
}
.proj-tab-container .tasks-history-details .history-toggleheader .history-date-curve { 
	display:inline-block; 
	position:relative; 
	vertical-align:top; 
	margin-top:1px; 
	background:#3566a9;
}
.proj-tab-container .tasks-history-details .history-toggleheader .history-date-curve .count { 
	height:14px;

	float:right; 
	padding:5px 13px 5px 26px; 
	background:#3566a9; 
	position:relative; 
	z-index:1;
	margin-bottom:-1px; 
	color:#fff; 
	font-size: var(--fs-12);
	font-weight: bold;
}
.proj-tab-container .tasks-history-details .history-toggleheader .history-date-curve .count em { 
	background:url('/images/proj-tasks-history-showarrow.png') no-repeat; 
	width:15px;
	height:14px; 
	display:inline-block; 
	position:absolute; 
	left:4px; 
	top:5px;

	cursor: var(--sdpcursor-pointer); 
}
.proj-tab-container .tasks-history-details .history-toggleheader .history-date-curve .count em.collapse { 
	background:url('/images/proj-tasks-history-hidearrow.png') no-repeat; 
}
.proj-tab-container .tasks-history-details .history-toggleheader .toggleControl { 
	display:inline-block;
	position:relative;
	margin-right:640px; 
	vertical-align:top;
}
.proj-tab-container .tasks-history-details .history-toggleheader .toggleControl a { 
	display:inline-block; 
	border:1px #999 solid; 
	border-bottom:1px #888 solid; 
	background:url('/images/proj-tasks-history-btnui1.gif') bottom repeat-x; 
	height:22px; 
	padding:0 10px; 
	line-height: 22px; 
	font-size: var(--fs-12);
	font-weight: normal;
	text-decoration:none; 
	vertical-align:top; 
}
.proj-tab-container .tasks-history-details .tasks-history-list { }
.proj-tab-container .tasks-history-details .tasks-history-list .tasks-history-list-row { 
	background:#F0F0F0; 
	border-bottom:1px #ccc solid; 
}
.proj-tab-container .tasks-history-details .tasks-history-list .tasks-history-list-row .history-time { 
	text-align:center; 
	float:right; 
	padding:11px 0 0 0; 
	width:120px; 
}
.proj-tab-container .tasks-history-details .tasks-history-list .tasks-history-list-row .history-row-info { 
	margin-right:120px; 
	padding:11px 0 13px 0;
	background:#fff; 
}
.proj-tab-container .tasks-history-details .tasks-history-list .tasks-history-list-row .history-row-info .log { 
	background:url('/images/history-row-info-bullet.gif') no-repeat 11px 2px; 
	padding:0 26px 4px 0; 
}
.proj-tab-container .tasks-history-details .tasks-history-list .tasks-history-list-row .history-row-info .owner { 
	padding-right:26px;

	color:#7e7e7e; 
}
.proj-tab-container .tasks-history-details .tasks-history-list .tasks-history-list-row .history-row-info .name { 
	color:#3565a5; 
}
.proj-tab-container .tag{  
	color:#6d6e70; 
	font-size: var(--fs-12);
	font-weight: normal;
	margin-left:10px; 
	display:inline-block; 
	vertical-align:top; 
	padding:1px 5px;
	border-radius:5px;
	background:#eee;
}
.browsefile {
	opacity: 0;
	z-index:2;
	position:absolute;
	left:0px;
	height:24px;
}
.projects-listview .tableComponent .evenRow, .projects-listview .tableComponent .oddRow {
	padding:13px 12px 13px 5px;
}
.projects-listview .tasksPercentage {
	font-size: var(--fs-12);
	font-weight: bold;
}
.listNormal4 {
	background:#fff;
	border-bottom:1px #B2B2B2 solid;	
}
.tableComponent td.timesheet-cell,.timesheet-cell {
	line-height: 37px;
	font-size: var(--fs-20);
	font-weight: normal;
	color:#696969;
	padding-right:3px;
}
.timesheet-timer {
	background:#fff url('/images/proj-tasks-history-btnui1.gif') repeat-x center 120%;	
	height:37px;
	border:1px #bdbcbd solid;
	border-radius: 3px;
	display:inline-block;
	padding:0 16px;
}
.tasksdetails-scrollbg {
	background:url('/images/tasksdetails-scrollbg.gif') top repeat-x;
}
.evenRow div.tr, .oddRow div.tr {
	display:block;
}
.gantt-controls { 
	background:url('/images/proj-gantt-controlsbg.png') top repeat-x; 
	height:74px; 
}
.gantt-controls label.h { 
	font-size: var(--fs-12);
	font-weight: bold;
	color:#555; 
	display:inline-block; 
	padding-bottom:7px; 
}
.btnswitch2-label,.btnswitch2,.btnswitch2-active {
	display:inline-block; 
}
#ui-framework-design1 label.btnswitch2-label { 
	border:1px #D0D0D0 solid;
	margin:0 -3px; 
}
.btnswitch2,.btnswitch2-active { 
	padding:0px 10px;
	margin:0; /* Required to specify for Chrome browser */
	overflow:visible; /* IE default horizontal (double) padding removal fix */
	line-height: 21px;
	font-size: var(--fs-12);
	font-weight: normal;
	text-decoration:none;
	border:0;
	vertical-align:middle;
	cursor: var(--sdpcursor-pointer);
	width:42px;
	text-align:center;
}
.btnswitch2,.btnswitch2:hover {
	color:#000;
	background:url('/images/btn-switch2-normalbg.png') bottom repeat-x;	
}
a.btnswitch2-active, .btnswitch2-active, .btnswitch2-active:hover {
	background: #008ddd;
	color: #fff;
	background: var(--primary_button_color, #008ddd);
	color: var(--primary_button_text, #ffffff);
}
#ui-framework-design1 label.btnswitch2-first {
	border-radius: 3px 0 3px 0; 
}
#ui-framework-design1 label.btnswitch2-last {
	border-radius: 0 3px 0 3px; 
}
.barsetting1, .barsetting2, .barsetting3 { 
	border:1px #666 solid; 
	border-radius:3px;
	width:33px;
	height:20px;
	display:inline-block; 
}
.barsetting1 { 
	background:url('/images/barsetting-drop1.png') no-repeat; 
}
.barsetting2 { 
	background:url('/images/barsetting-drop2.png') no-repeat; 
}
.barsetting3 { 
	background:url('/images/barsetting-drop3.png') no-repeat; 
}
.ui-datesetting-dd {
	 background:url('/images/ui-fw-datesettingicon.png') center right no-repeat;
    padding:0 38px 0 7px;
	width:auto;
	height:23px;
	display:inline-block;
	border-radius:3px;
}
.ui-ganttsetting-dd {
	background:url('/images/ui-fw-ganttsettingicon.png') no-repeat;
	width:33px;
	height:23px;
	display:inline-block;
	border:1px #dbdbdb solid;
	border-radius:3px;
}
.barsettinglist-ui1 {
	padding:0;	
	position:relative;
	bottom:-3px;
	margin:-2px 1px -2px 5px;
	top:-12px;
}
.barsettinglist-ui1 {
	background-color:#fff;	
}
.barsettinglist-ui1 li {
	list-style:none;
	font-weight: bold;
	white-space:normal;
}
.barsettinglist-ui1 li a, .barsettinglist-ui1 li .padfix {
	text-decoration:none;
	display:block;	
	font-size: var(--fs-12);
	font-weight: normal;
	color:#585858;
	white-space:normal;
	padding:2px 6px 10px 5px;

}
.barsettinglist-ui1 li a:hover {
	color: #008ddd !important;
  	color: var(--link_tab_line_color, #008ddd) !important;
}
.barsettinglist-ui1 li .padfix .radio {
	position:relative;
	top:-5px;
	float:right;
	right:-10px;

}
.barsettinglist-ui1 .optgroup {
	background:#9C9C9C;
	color:#fff;
	padding-right:8px;
	display:block;
	position:relative;
	line-height: 28px;
	font-size: var(--fs-12);
	font-weight: bold;
}
.barsettinglist-ui1 .optgroup .padfix {
	font-weight: bold;
}
#ui-framework-design1 .tasksdetail-header-row4 {
	background:#FFF;	
	height:30px;
	border-bottom:1px #e8e6e7 solid;
	border-left:1px #e8e8e8 solid;
}
#ui-framework-design1 .timeHeader {
	color:#c1c1c1;	
	font-size: var(--fs-12);
	font-weight: bold;
	text-transform:uppercase;
	text-align:right;
	padding-right:12px;
}
#ui-framework-design1 .subtimeheader {
	padding:0;	
	font-size: var(--fs-12);
	color:#585858;
}
#ui-framework-design1 .subtimeheader img {
	display:none;
}
.ganttfiltermenu{
	height:24px;
	padding-left:4px;
	position:relative;	
	margin-top:8px;
	margin-right:10px;
	display:inline-block;
}
#ui-framework-design1 .ganttfiltermenu-anchor {
	color:#585858;
	padding:0 30px 0 0;
	white-space:nowrap;
	display:inline-block;
	font-size: var(--fs-14);
	font-weight: bold;
	line-height:22px;
	height:25px;
	position:relative;
	text-decoration:none;
	z-index:1;	
}
#ui-framework-design1 .ganttfiltermenu-anchor span {
	color:#585858;
	font-size: var(--fs-14);
	font-weight: bold;
	display:inline-block;
	margin-top:0;
}
.ganttfiltermenu-anchor em {
	background:url('/images/downarrowsquare.png') 10% center no-repeat;	
	height:20px;
	width:23px;
	position:absolute;
	right:0;
}
.menulist-ui2 {
	border:1px solid #b5b5b5;
	height:287px;
	margin:2px 6px 12px 10px;
	overflow-y:auto;
	overflow-x:hidden;
	position:relative;
	bottom:-3px;	
	padding:0;
}
.menulist-ui2 li {
	border-bottom:1px solid rgba(0, 141, 221, 0.3);
	border-bottom:1px solid var(--input_border_shadow, rgba(0, 141, 221, 0.3));
	list-style:none;	
	white-space:normal;
}
.menulist-ui2 li a,.menulist-ui2 li .padfix {
	color:#000;
	display:block;
	font-weight: normal;
	padding:8px 5px;
	text-decoration:none;
	white-space:normal;	
}
.gantt-font-ui1 {
	color:#000;
	font-weight: bold;
	padding:2px 10px 0 12px;
	display:block;
	overflow:hidden;
}
#ui-framework-design1 .gantt-grid-separator {
	background:#f5f5f5;
	border-left:1px #999 solid;	
}
div#gantt-left-section { 
	overflow-y:scroll;
	height:474px;
	margin-top:35px;
	background:#f5f5f5;
}
#ui-framework-design1 #gantt-left-section a {
	color:#4a4a4a;		
}
div#GanttMainDiv { 
	overflow:hidden; 
}
div#gantt-timeline { 
	height:488px; 
	overflow-x:visible;
	overflow-y:scroll; 
	position:relative;
	z-index:2;
	border:1px solid #e8e8e8;
}
#gantt-headerrow table { 
	margin-left:10px; 
	table-layout:fixed; 
}
.color-indicator-ui1 {
	margin-top:12px;
}
.color-indicator-ui1 span {
	display:inline-block;
	width:auto;
	margin-left:10px;
	overflow:visible;
	padding:5px 5px 2px 5px;
	border:1px #dcdcdc solid;
	border-radius:5px;
}
.color-indicator-ui1 em {
	display:inline-block;
	margin:4px;
	font-size: var(--fs-5);
	padding:5px;
	float:right;
	position:relative;
	top:-2px;
}
.ie7 .color-indicator-ui1 em { 
	padding:0 5px;
	height:10px;
}
.color-indicator-ui1 strong {
	font-weight:normal;
	color:#656565;
}
.recentupdatecnt .tasks-history-details {
	margin-right:0;
	margin-top:0;
}
.recentupdatecnt .proj-tab-container {
	padding-top:10px;
	margin-top:10px;
}
.gantt-barview-div {
    right: 10px;
	/*z-index:1;	*/
}
.timeline {
	display:inline-block;
	position:absolute;
}
.proj-gantt-infopop {
	position:relative;	
	display:inline-block;
	float:right;
	padding-top:14px;
	z-index:9;
}
.gandd-bg-grid {
	z-index:1;	
}
#proj-gantt-infopop {
	z-index:9;	 
}
#gantt-timeline .description_panel {
	width:auto;	
	z-index:8;
	border-radius:5px;
}
.proj-gantt-infopop .description_panel {
	width:auto;	
	display:inline-block;
	border:1px #dadada solid;
	border-radius:0.1em;
	background:#fff;
}
.desc_title {
	color:#000;	
	padding:3px 0 3px 10px;
	background:#F0F0F0;
	border-bottom:1px #E7E7E7 solid;
	margin:0;
}
#ASSET_DESC_PANEL .desc_title {
	background:#fff;	
	padding:10px 0 10px 10px;
	position:static;
}
.desc_button_panel {
	white-space:nowrap;
	background-color: #f5f5f5;
	
	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(50%,#f8f8f8), color-stop(100%,#fcfcfc));
	
	background-image: linear-gradient(to bottom,  #f5f5f5 0%,#f8f8f8 50%,#fcfcfc 100%);
	
	border-top:1px #fff solid;
	padding:3px 10px 5px 10px;
}

.desc_title h2 {
	color:#7b7b7b;	
	font-size: var(--fs-12);
	padding:1px 0 1px 10px;
}
.desc_title h2.title, .desc_title h2.title span {
	color:#4a4a4a;
	font-weight: bold;
	white-space:normal;
	padding:2px 10px 1px 0;
	margin-left:40px;
}
#ui-framework-design1 .desc_title h2.title span {
	font-size: var(--fs-12);
	font-weight: bold;
	padding:0;	
}
.desc-short {
	color:#a1a1a1;
}
.proj-gantt-infopop .auth-status .st em {
	display:inline-block;
	height:10px;
	top:3px;
	*top:0px;
	padding:2px 3px 2px 2px;
	position:relative;	
	margin-right:5px;
}
.proj-gantt-infopop .ci-desc-count {
	clear:both;
	padding:0px 0 2px 0;	
	margin:0;
	border-top:0 none;
}
.proj-gantt-infopop .ci-desc-count .subheader {
	color:#333;
	display:block;	
	padding-bottom:3px;
	font-weight: bold;
}
.proj-gantt-infopop .ci-desc-count td {
	font-weight:normal;
	font-size: var(--fs-12);
	color:#6B6B6B;
}
.proj-gantt-infopop .ci-desc-count .label {
	display:inline-block;
	width:45px;
	font-weight: bold;
}
.ui-panel-button {
	padding:0.4em 0.7em;
	margin:0 1px 0 4px;
	font-size: var(--fs-12);
	font-weight:normal;
	color:#6C6767;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fbfbfb;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f7f7f7));
	
	background-image: linear-gradient(to bottom, #ffffff, #f7f7f7);
	
	background-repeat: repeat-x;
	border: 1px solid #E7E3E3;
	border-bottom:1px #D7D7D7 solid;
	border-radius: 3px;
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ui-panel-button:last-child {
	margin:0 1px;	
}
.ui-panel-button:hover {
	color: #000;
 	text-decoration: none;
  	background-color: #fafafa;
	
  	background-position: 0 -10px;
	background-repeat:repeat-x;

    transition: background-position 0.1s linear;
}
.ci-desc-count {
	border-bottom:1px #c3c3c3 dotted;
}
.proj-gantt-infopop .ci-desc-count .left-column {
	border-left:1px #C5C5C5 solid;
}
.proj-gantt-infopop .ci-desc-count .right-column {
	border-right:1px #EFEFEF solid;
}
.desc_title .desc-cnt {
	font-size: var(--fs-12);
	color:#767676;
	padding:2px 10px 2px 0;
	white-space:normal;
}
.desc_title .desc-cnt .more {
	color:#e06400;	
	display:block;
	padding:5px 0;
}
.dependency-controls {
	padding:1px 8px 4px 8px;	
}
.dependency-controls .left, .dependency-controls .right {
	display:inline-block;
	float:right;
}
.dependency-controls .left {
	border-left:1px #a6b3d3 solid;
	padding-left:8px;
}
.dependency-controls .right {
	border-right:1px #526fa9 solid;
	padding-right:14px;
	padding-top:4px;
}
.dependency-controls .right .label {
	float:right;
	color:#fff;
	padding-left:2px;
	padding-top:11px;	
}
a.task-add-dependency, a.task-rem-dependency, a.task-mark-parent, a.task-mark-child {
	border:1px solid transparent;
	display:inline-block;
	margin:5px 0 5px 0;
	padding:10px 36px 7px 6px;
	background-repeat:no-repeat;
	background-position:99% center;
	font-weight:normal;
	color:#393838;
	opacity: 0.7;
	text-shadow: 0 1px 1px rgba(152, 151, 148, 0.75);
}
a.task-add-dependency:hover, a.task-rem-dependency:hover, a.task-mark-parent:hover, a.task-mark-child:hover {
	background-color:#f9f9f9;
	border:1px #d9d9d9 solid;
	border-radius:2px;
	color:#333;
	opacity: 1;
	text-shadow:0 1px 1px rgba(215, 214, 212, 0.75);
}
a.task-add-dependency {
	background-image:url('/images/task-add-dependency-icon.png');
}
a.task-rem-dependency {
	background-image:url('/images/task-rem-dependency-icon.png');
}
a.task-mark-parent {
	background-image:url('/images/task-mark-parent-icon.png');
}
a.task-mark-child {
	background-image:url('/images/task-mark-child-icon.png');		
}
#ui-framework-design1 div.ui-headericon-bg {
	background:url('/images/ui-headericon-bg-rtl.png') center no-repeat;
	width:53px;
	height:52px;
	position:relative;
	top:-6px;
	margin-left:7px;
}
.ui-headericon-bg img {
	margin:15px 17px 0 0;	
}
.ui-milestoneicon1, .ui-taskicon1, .ui-projecticon1{
	width:24px;
	height:29px;
}
.ui-milestoneicon1 {
	background-image:url('/images/milestone-icon-ui1.png');
	background-position:center;
	background-repeat:no-repeat;	
}
.ui-taskicon1 {
	background-image:url('/images/task-icon-ui1.png');
	background-position:center;
	background-repeat:no-repeat;	
}
.ui-projecticon1 {
	background-image:url('/images/project-icon-small.png');
	background-position:center;
	background-repeat:no-repeat;	
}
#ui-framework-design1 .ui-dateicon1 img {
	background-image:url('/images/date-icon-ui1.png');
	background-position:center;
	background-repeat:no-repeat;	
	width:30px;
	height:35px;
	margin:0 12px;
}
#ui-framework-design1 .ui-header-box-status1 {
	background:#F8F8F8;
	color:#585858;
	border:1px #e3e3e3 solid;
	border-top:1px #cecece solid;
	border-radius:3px;
	margin-top:-18px;
}
#ui-framework-design1 .ui-header-box-status1 td {
	color:#7B7B7B;
	border-top:1px solid #E5E5E5;
}
#ui-framework-design1 .ui-header-box-status1 .date {
	padding:10px 0 10px 16px;	
	border-right:1px solid #fbfbfb;
}
#ui-framework-design1 .ui-header-box-status1 .row:first-child {
	padding-bottom:2px;
}
#ui-framework-design1 .ui-header-box-status1 .count {
	display:inline-block;
	float:none;
	width:auto;
}
#ui-framework-design1 .ui-header-box-status1 .label {
	font-weight: bold;	
}
#ui-framework-design1 .ui-header-box-status1 .count {
	color:#018507;
}
.dependencyicon {
	background:url('/images/dependency-icon1.png') center no-repeat;	
	width:15px;
	height:16px;
}
#ui-framework-design1 .ui-button2 input.ui-button-templates {
	display:inline-block;
	background-image:url('/images/template-icon1.png');
	background-repeat:no-repeat;
	background-position:98% center;	
	background-color:transparent;
	color:#585858;
	padding:0 30px 0 10px;
}
#ui-framework-design1 .ui-button2 input.ui-button-dependency {
	display:inline-block;
	background-image:url('/images/dependency-icon1-xs.png');
	background-repeat:no-repeat;
	background-position:90% center;	
	background-color:transparent;
	color:#585858;
	padding:0 31px 0 10px;
}
#ui-framework-design1 .ui-button2 input.ui-button-organize {
	display:inline-block;
	background-image:url('/images/organize-icon1.png');
	background-repeat:no-repeat;
	background-position:90% center;	
	background-color:transparent;
	color:#585858;
	padding:0 25px 0 10px;
}
.ui-button-dependency::-moz-focus-inner, .ui-button-organize::-moz-focus-inner {
	border:0;
	padding:0;
}
.proj-header-icon {
	background:url('/images/project-header-icon.png') no-repeat;
	width:35px;
	height:36px;	
}
#ui-framework-design1 div.proj-add-commenthdr {
	color:#585858;
	font-weight: bold;
	width:auto;
	margin-bottom:6px;
}
.proj-comment-form {
	background:#f5f5f5;
	padding:15px 20px;
}
.proj-comment-remcolumn {
	padding:13px 10px 0 0;	
}
.proj-comment-row {
	border-bottom:1px #f5f5f5 solid;
	width:100%;	
}
.proj-comment-row a {
	color: #008ddd;	
	color:var(--link_tab_line_color, #008ddd);	
}
.proj-comment-owner {
	padding:8px 0;	
}
.proj-comment-detail {
	color:#787878;
	margin-right:39px;
	padding:12px 0 10px 0;
}
.proj-comment-detail .name {
	color:#555;	
}
.proj-comment-desc {
	color:#131313;
	padding-top:3px;
	line-height:19px;
}
.tableComponent td.evenRow a.proj-membername-link1, .tableComponent td.oddRow a.proj-membername-link1 {
	font-size: var(--fs-14);
	color: #008ddd;	
	color:var(--link_tab_line_color, #008ddd);	
}
#ui-framework-design1 div.proj-timesheet-timer {
	font-size: var(--fs-15);
	font-weight:normal;	
}
#ui-framework-design1 div.proj-timesheet-total {
	font-size: var(--fs-16);
	color:#585858;
	padding-top:14px;
	padding-left:10px;
}
#ui-framework-design1 div.proj-timesheet-count {
	display:inline-block;
	background:#f5f5f5;
	border:1px #e8e8e8 solid;
	border-radius:5px;
	padding:8px 20px;
	color:#585858;
	font-size: var(--fs-16);
	font-weight: bold;
	margin:4px 2px 0 0;
}
.ie #ui-fw div.proj-timesheet-count {
	float:right;	
}
.proj-member-email {
	display:block;
	margin-top:3px;	
}

/* task-history-details styles moved to ui-framework_RTL.css */

.jit-assetnode .completednode {
	background-image:url('/images/ui-fw-addicon3.png');
	background-repeat:no-repeat;
	background-position:99% top;
	padding:2% 28px 2% 1% !important
}
.timesheet-totalcounntpos {
	width:549px;	
}
#ui-framework-design1 .gantt-breadcrumb-row {
	padding:10px 0;	
	position:relative;
	z-index:2;
}
:root #ui-framework-design1 .gantt-breadcrumb-row {
	position:static;
	z-index: auto;
}
#ui-framework-design1 .gantt-breadcrumb-row .breadcrumb {
	padding:4px 0 0 0;
	margin:0;
	color:#585858;	
}
#ui-framework-design1 .gantt-breadcrumb-row .breadcrumb strong {
	font-size: var(--fs-14);
}
.listview-dateinfo {
	color:#7B7B7B;
	font-size: var(--fs-12);
	padding-top:2px;	
}
.listview-dateinfo-delay {
	color:#F77373;
	font-size: var(--fs-12);
	padding-top:2px;	
}


.ui-header-box-status2 .listview-dateinfo {
	color:#585858;
}
a.update-nav, a.gantt-nav, a.project-nav {
    color:#5b5b5b;
	cursor: var(--sdpcursor-pointer);
    display:inline-block;
    font-size: var(--fs-14);
    font-weight: bold;
    margin:-2px 10px 0 0;
    width:auto;
    height:23px;
	padding:3px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-bottom:1px #a2a2a2 solid;
	border-radius: 4px;
	
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
a.update-nav:hover, a.gantt-nav:hover, a.project-nav:hover {
	background-color: #e6e6e6;
  	/* Buttons in IE7 don't get borders, so darken on hover */
  	background-position: 0 -15px;

    transition: background-position 0.1s linear;

}
.update-nav em, img.update-nav {
	background:url('/images/updates-icon-small.png') center no-repeat;
	display:inline-block;
	width:26px;
	height:23px;
}
.gantt-nav em, img.gantt-nav {
	background:url('/images/gantt-icon-small.png') center no-repeat;
	display:inline-block;
	width:26px;
	height:23px;
}
.project-nav em, img.project-nav {
	background:url('/images/project-icon-small.png') center no-repeat;
	display:inline-block;
	width:26px;
	height:23px;
}
img.project-nav {
	margin:-2px 0 0 10px;
	padding:3px;	
}
.update-nav-active {
	background:url('/images/updates-icon-small.png') right center no-repeat;
	color:#000;
	display:inline-block;
	font-size: var(--fs-16);
	font-weight: bold;
	margin:0 4px 0 14px;
	padding:4px 40px 4px 0;
}
.gantt-nav-active {
	background:url('/images/gantt-icon-small.png') right center no-repeat;
	color:#000;
	display:inline-block;
	font-size: var(--fs-16);
	font-weight: bold;
	margin:0 4px 0 14px;
	padding:4px 40px 4px 0;
}
#ui-framework-design1 #ui-tablelist1 .tableComponent #ProjectWorkLogListView_TECHNICIANID {
	width:550px;	
}
#ui-framework-design1 span.proj-membername-text1 {
	color:#000;
	font-size: var(--fs-14);	
}
.proj-timesheetpop-pos1 {
	margin-right:173px;
}
.proj-timesheetpop-pos2 {
	margin-right:145px;
}	
.gantt-controls-left {
	background:#f5f5f5;
	height:36px;
	border-bottom:1px #ddd solid;
	border-left:1px #ddd solid;
	border-top:1px #ddd solid;
}
.gantt-controls-right {
	background:#f5f5f5;
	height:36px;
	border-bottom:1px #ddd solid;
	border-top:1px #ddd solid;
	position:relative;
	z-index:9;
}
#ui-framework-design1 span.gantt-datelabel {
	font-size: var(--fs-14);
	color:#585858;	
	padding:4px 3px 0 0;
}
#ui-framework-design1 .project-bc, #ui-framework-design1 .milestone-bc, #ui-framework-design1 .task-bc  {
	background:url('/images/breadcrumb-bg-rtl.png') left center no-repeat;
	width:31px;
	height:25px;
	display:inline-block;	
	float:right;
	position:relative;
	margin-left:5px;
	top:-4px;
}
#ui-framework-design1 .project-bc em, #ui-framework-design1 .milestone-bc em, #ui-framework-design1 .task-bc em {
	width:19px;
	height:19px;
	display:inline-block;
	margin:3px 4px 0 0;
}
#ui-framework-design1 .project-bc em {
	background:url('/images/project-icon-s-n.png') center no-repeat;
}
#ui-framework-design1 .milestone-bc em {
	background:url('/images/milestone-icon-s-n.png') center no-repeat;
}
#ui-framework-design1 .task-bc em {
	background:url('/images/task-icon-s-n.png') center no-repeat;
}
#ui-framework-design1 .project-bc:hover em {
	background:url('/images/project-icon-s-h.png') center no-repeat;
}
#ui-framework-design1 .milestone-bc:hover em {
	background:url('/images/milestone-icon-s-h.png') center no-repeat;
}
#ui-framework-design1 .task-bc:hover em {
	background:url('/images/task-icon-s-h.png') center no-repeat;
}
.editoff,
#ui-framework-design1 .tableComponent tr.hover td.evenRow.editoff, 
#ui-framework-design1 .tableComponent tr.hover td.oddRow.editoff
{
	background-color:#fff;	
}
.editon,
#ui-framework-design1 .tableComponent tr.hover td.evenRow.editon, 
#ui-framework-design1 .tableComponent tr.hover td.oddRow.editon,
tr.tc-row:hover .editon
{
	/*background-color:#F8F8F8 !important;*/
	background-image:url('/images/ui-formediticon1.png') !important;
	background-repeat:no-repeat !important;
	background-position:99% center !important;
	cursor: var(--sdpcursor-pointer);
}
.ie #ui-fw #ui-framework-design1 .ui-header-box-status1 {
	margin-top:0;
}
#ui-framework-design1 ul.gantt-grid-ul {
    position:absolute;
    width:100%;
    padding-right: 10px;
    z-index:0;
	white-space:nowrap;
	margin: 0;
}
#ui-framework-design1 ul.gantt-grid-ul li {
    border-left:1px #e9e9e9 solid;
    list-style:none;
	display:inline-block;
}
#ui-framework-design1 .gantt-barview-span {
    position:absolute;
    display:block;
	border: 1px transparent solid;
	cursor: var(--sdpcursor-pointer);
}
#ui-framework-design1 .gantt-barview-h {
	border: 1px #4E4E4E solid;
	box-shadow: 0px 0 5px #000;
}
.viewmore-block {
	padding:8px 6px;	
	background:#eee;
	text-align:center;
}
.viewmore-block a {
	color: #008ddd;
	color:var(--link_tab_line_color, #008ddd);
	display:block;
}
#ui-framework-design1 .gantt-barview-span-ownerinfo, .gantt-barview-span-ownerinfo {
	color:#6A6A6A;
	font-size: var(--fs-12);
	margin-top:6px;
	display:block;
	position:absolute;
	border:1px solid transparent;
}
#ui-framework-design1 .gantt-barview-span-taskinfo, .gantt-barview-span-taskinfo {
	color:#6A6A6A;
	font-size: var(--fs-12);
	display:block;
	position:absolute;
	border:1px solid transparent;
	cursor: var(--sdpcursor-pointer);
}
.gantt-barview-taskinfo-h{
	background-color: #ffe3d4;
}
.has-dependency{
	margin-right: 18px;	
}
.has-dependency:before{
	position: absolute;
	right: -18px;
	content: '';
	display: inline-block;
	width: 13px;
	height: 9px;
	background:url('/images/cmdb-rship-icon.gif') no-repeat;
	opacity: 0.5;
}
.gantt-barview-taskinfo-h.has-dependency:before{ opacity: 1; }
#ui-framework-design1 .gantt-barview-span-taskinfo>span,
.gantt-barview-span-taskinfo>span{
	font-size: var(--fs-12);
	color: #000;
	font-weight: bold;
}
.ie .rleftclear {
	margin-right:8px;	
}
#ui-framework-design1 .proj-listnav-topspace {
	height:11px;
}
.ui-header-box-cnt {
	position:relative;
	top:-10px;	
}
#ui-framework-design1 .description_panel .breadcrumb-link-ui1 {
	font-size: var(--fs-12);
}
#ui-framework-design1 .description_panel select, #ui-framework-design1 .description_panel .subheader,
#ui-framework-design1 .description_panel .ci-desc-count span, #ui-framework-design1 .ui-textlink1 {
	font-size: var(--fs-12);
	font-weight:normal;
}
.dpmapheader {
	color:#333;
	font-size: var(--fs-20);
	text-decoration:underline;
	position:absolute;
	height:20px;
	right:1%;
	z-index:8;
	margin-top:15px;
	margin-right:30px;	
}
.graphactionspop {
	background:#f8f8f8;
	border:1px #e3e3e3 solid;
	border-radius:5px;
	padding:10px 14px 8px 14px;
}
.graphactions .zoomfit {
	margin-left:0;	
	background-image:url('/images/ui-common-view.svg?15140');
	background-position: -368px -904px;
}
.graphactions .zoomin {
	background-image:url('/images/ui-common-view.svg?15140');
	background-position: -13px -900px;
}
.graphactions .zoomout {
	background-image:url('/images/ui-common-view.svg?15140');
	background-position: -41px -900px;
}
#ui-framework-design1 .ui-formfield div.proj-duration {
	padding-top:2px;
	color:#B3AFAF;	
	font-size: var(--fs-12);
}
#ui-framework-design1 div.gantt-barview-div em.timeline-tick,
#ui-framework-design1 div.gantt-barview-div em.timeline-clock {
	width:14px;
	height:16px;
	float:right;
	position:relative;
	top:-3px;
	margin-left:5px;
	right: -1px;
}
#ui-framework-design1 div.gantt-barview-div em.timeline-tick {
	background:url('/images/timeline-tick.png') no-repeat #fff;
}
#ui-framework-design1 div.gantt-barview-div em.timeline-clock {
	background:url('/images/timeline-clock.png') no-repeat #fff;
}
#ui-framework-design1 div.gantt-barview-div em.timeline-before,
#ui-framework-design1 div.gantt-barview-div em.timeline-after {
	width:10px;
	height:8px;
	margin-left:5px;
}	
#ui-framework-design1 div.gantt-barview-div em.timeline-before {
	background:url('/images/timeline-before.png') no-repeat;
	float:right;
}
#ui-framework-design1 div.gantt-barview-div em.timeline-after {
	background:url('/images/timeline-after.png') no-repeat;
	float:left;
}
.ui-list-header-pl {
	padding-right:13px;	
}
#ui-framework-design1 .timesheetrows .tableComponent .evenRow, #ui-framework-design1 .timesheetrows .tableComponent .oddRow {
	padding-bottom:11px;
}
.ganttsettingfloatpos {
	padding-left:170px;	
}
.togglebtn-holder {
    display: inline-block;
}
.togglebtn-cnt {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #959595;
    border-radius: 12px;
    display: inline-block !important;
    height: 18px;
    padding: 2px;
    position: relative;
    width: auto;
}
.layermargin{
	margin:-6px 0 0 -10px;
}
#ui-framework-design1 div.proj-timesheet-count span {
      font-weight: bold;
      font-size: var(--fs-16);
}
.comment-box-cnt{
	width:70%;
}
.proj-comment-row .comment-box-cnt {
      width:100%;
}
#ui-framework-design1 div.proj-timesheet-count span {
      font-weight: bold;
      font-size: var(--fs-16);
}
#ui-framework-design1 .line {
    border-right: 1px solid #D5D5D5;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
}
#ui-framework-design1 .line .before, #ui-framework-design1 .line .after {
    border-top: 1px solid #D5D5D5;
    display: inline-block;
    height: 0;
    position: absolute;
}
#ui-framework-design1 .line:not(.turn-line) .before, #ui-framework-design1 .turn-line .after {
    top: 0;
}

#ui-framework-design1 .line:not(.turn-line) .after, #ui-framework-design1 .turn-line .before {
    bottom: 0;
}

#ui-framework-design1 span > em.line.line-hover, #ui-framework-design1 span em.line.line-hover {
    border-right-color: #252525;
    z-index: 2;
}
#ui-framework-design1 span > em.line-hover > .before, #ui-framework-design1 span > em.line-hover > .after, #ui-framework-design1 span em.line-hover > .before, #ui-framework-design1 span em.line-hover > .after {
    border-top-color: #252525;
    z-index: 1;
}
#ui-framework-design1 .data-progress {
    background: rgba(255, 255, 255, 0.4) url('/images/stripes.png');
    background-size: 8px 10px;
    display: inline-block;
    height: 100%;
    position: absolute;
    z-index: 1;
    right: 0;
}
#ui-framework-design1 .data-progress > em {
    font-size: var(--fs-11);
    font-weight: bold;
    right: 50%;
    position: absolute;
    top: -1px;
}
/*.import-project-icon {
	background-image: url('/images/import-project-icon.png');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: var(--sdpcursor-pointer);
    float: right;
    height: 16px;
    padding: 0px;
    width: 16px;
}*/
/* Task Dependencies */
.ui-loading {
	top: 18px;
}
.jit-assetnode span.jit-ciname {
	font-size: 130%;
}
.nocirelmsg {
    right: 25%;
}
.ui-loading.nocirelmsg{
	position: fixed;
border: 1px solid #FFF17D;
background: none repeat scroll 0 0 #FFC;
color: #000;
}

.ui-loading-rdm.nocirelmsg {
    background: none repeat scroll 0 0 #FFC;
    border: 1px solid #fff17d;
    color: #000;
}

/* Project Comments css started */
.proj-comment-editsect a{
	color:#7a7a7a;
	padding:0 10px 5px 10px;
	display: table-cell;
}
.proj-comment-rowinner .proj-comment-editsect{
	opacity: 0.7;
}
.proj-comment-rowinner:hover .proj-comment-editsect, .proj-comment-rowinner:hover .hoverstyle{
	opacity: 1;
}
.proj-comment-editsect span{
	font-weight: bold;
	white-space: nowrap;
}
.proj-reply-row{
	border-right: 1px solid #ccc;
	padding:0 10px; 
}
hr{
	border:none;
	border-bottom: 1px solid #ccc;
}
.hoverstyle, .replyEdit a{
	display: none;
}
.proj-comment-rowinner:hover .hoverstyle, .reply-row:hover .replyEdit a{
	display: inline;
}
.replyEdit{
	height: 20px;
}
.img-circle{
	background:#ccc;
	border-radius: 50%;
	vertical-align: middle;
	margin-left: 10px;
}
.textcomplete-dropdown {
	background-color: white;
	max-height: 300px;
	overflow: auto;
	width: 400px;
	list-style: none;
    padding: 0 !important;
    margin: 0;	
}
.textcomplete-dropdown li:hover,
.textcomplete-dropdown .active {
    background-color: #6eb7db;
}
.limit-height {
	overflow:hidden;
	max-height: 135px;
}
.see-more {
	font-size: var(--fs-12);
	color: #008ddd;
	color: var(--link_tab_line_color, #008ddd);
	position: absolute;
	width: 100%;
	line-height: 70px;
	height: 45px;
	display: block;
	bottom: 0px;
	background: linear-gradient(to bottom,rgba(255,255,255,0),#fff 63%,#fff);
	
	cursor: var(--sdpcursor-pointer);
	z-index: 2;
}
/* Project Comments css end */
