/*$Id $ */
#ui-framework-design1 .delete-icon input[type="button"]:disabled {
    cursor: var(--sdpcursor-default);
    opacity: 0.5;
}
#ui-framework-design1 .filterwrapper .criteriavaldiv input {
    width: 100%;
}
#ui-framework-design1 .filterwrapper .criteriavaldiv input.dateFieldForceLTR {
    color: #515151;
    padding: 5px 4px;
    width: 98%;
}
#ui-framework-design1 .tableComponent tr.hover a.buli_hdr, #ui-framework-design1 .tableComponent tr.normal a.buli_hdr {
    font-weight: bold;
}
#ui-framework-design1 .row0 {
    padding: 8px 4px 8px 10px;
    white-space: normal;
}
.mar0 {
    margin: 0 !important;
}
.hidden {
    display: none !important;
    visibility: hidden !important;
}
.ui-formlabel .control-label.tl {
    cursor: var(--sdpcursor-pointer);
    float: left;
}
ol.filterwrapper {
    list-style: outside none none;
    margin: 0;
    min-width: 1024px;
    padding: 22px 10px 0 0;
    width: 100%;
}
ol.filterwrapper li {
    cursor: var(--sdpcursor-default) !important;
    list-style: outside none none;
    margin: 0;
    padding: 6px 3px;
}
ol.filterwrapper.ui-sortable li:hover {
    background-color: #f5f5f5;
    cursor: var(--sdpcursor-grab) !important;
}
.ui-state-highlight {
    background: #fffff1 none repeat scroll 0 0;
    border: 1px dotted #d7d3d3;
    color: #363636;
    visibility: visible;
}
ol.filterwrapper .common-add-icon2 {
    background-position: -17px -23px;
}
ol.filterwrapper .common-remove-icon2 {
    background-position: -89px -23px;
}
ol.filterwrapper .actionsdiv button.addrowbtn {
	margin-right:10px;
}
ol.filterwrapper .actionsdiv button.addrowbtn:hover {
    background-color: #008ddd;
    border:1px #008ddd solid !important;
    background-color: var(--primary_button_color, #008ddd);
    border:1px var(--primary_button_color, #008ddd) solid !important;
}
ol.filterwrapper .actionsdiv button.addrowbtn:hover .common-add-icon2 {
    background-position: -49px -23px;
}
ol.filterwrapper .actionsdiv button.removerowbtn:hover {
    background-color: #ac3d3d;
    border: 1px solid #962424 !important;
}
ol.filterwrapper .actionsdiv button.removerowbtn:hover .common-remove-icon2 {
    background-position: -121px -23px;
}
ol.filterwrapper .actionsdiv button.addrowbtn .icon-xs,
ol.filterwrapper .actionsdiv button.removerowbtn .icon-xs {
	top:0;
}
ol.filterwrapper .operatorsdiv {
    float: left;
    min-height: 1px;
    padding: 0 15px;
    width: 110px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    background-clip: padding-box;
    background-color: #e9e9e9;
    background-image: none;
    border: 0 none;
    border-radius: 10px;
    box-shadow: none;
    color: #515151;
    padding: 4px 30px 4px 14px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 12px;
}
.select2-container-multi .select2-search-choice-close {
    left: auto;
    right: 7px;
    top: 2px;
}
.placeholder {
    background: #fffff1 none repeat scroll 0 0;
    border: 1px dotted #d7d3d3;
    color: #363636;
    visibility: visible;
}
.soln-private-icon, .soln-public-icon {
    cursor: var(--sdpcursor-pointer);
}
.hover .previewicon a {
    visibility: visible;
}
.previewicon a {
    background-image: url('/images/common-images.png');
    background-position: -176px -130px;
    background-repeat: no-repeat;
    cursor: var(--sdpcursor-pointer);
    display: inline-block;
    height: 18px;
    visibility: hidden;
    width: 28px;
}
img.previewicon {
    background-image: url('/images/common-images.png');
    background-position: -176px -130px;
    background-repeat: no-repeat;
    cursor: var(--sdpcursor-pointer);
    display: inline-block;
    height: 18px;
    width: 28px;
}
.editicon span {
    background: rgba(0, 0, 0, 0) url('/images/request_editicon1.gif') no-repeat scroll center center;
    display: block;
    height: 16px;
}
.ui-formheaderbg1 .grey999 {
    float: left;
    width: 96%;
}
tr.projfilterplaceholder td {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px dotted #e5e5e5 !important;
}
.filterwrapper {
    display: inline-block;
    margin: 10px 10px 10px 0;
    width: 1385px;
}
.filterwrapper .select2-container {
    width: 100%;
}
.filterwrapper .singlefilterwrapper {
    display: inline-block;
    width: 100%;
}
.filterwrapper .actionsdiv {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0 !important;
    position: relative;
    top: 4px;
    width: 70px;
}
.filterwrapper .columnnamediv {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 20%;
}
.filterwrapper .criteriadiv {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 16%;
}
.filterwrapper .criteriavaldiv {
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 30%;
}
.filterwrapper .criteriavaldiv input {
    overflow: visible;
    padding: 4px;
}
.filterwrapper .criteriavaldiv input.disabled {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #aaa;
}
.filterwrapper .singlefilterwrapper select, .filterwrapper .singlefilterwrapper textarea {
    min-height: 30px;
    width: 100%;
}
.filterwrapper .singlefilterwrapper input {
    border: 1px solid #999999;
    box-sizing: border-box;
    min-height: 30px;
    width: 100%;
}
.filterwrapper .singlefilterwrapper input[type="checkbox"] {
    float: none;
    margin-right: 0;
    min-height: 0 !important;
    width: auto !important;
}
.filterwrapper .singlefilterwrapper label.tags {
    background: #ececec none repeat scroll 0 0;
    border-radius: 5px;
    color: #5d5d5d;
    display: inline-block;
    margin: 3px;
    padding: 5px;
}
.filterwrapper .singlefilterwrapper div p {
    padding: 6px 0;
    text-align: center;
}
.filterwrapper div.operatorsdiv .select2-container {
    width: 60px;
}
.filterwrapper {
    padding-left: 0;
}
.filterwrapper div.operatorsdiv .select2-container {
    float: right;
}
.dyfldchange span {
    font-weight: normal;
    margin-right: 60px;
    white-space: nowrap;
}
.dyfldchange {
    background: rgba(0, 0, 0, 0) url('/images/fld-statusbg.png') repeat-x scroll left top;
    font-weight: bold;
    height: 46px;
    line-height: 45px;
    padding-left: 15px;
    white-space: nowrap;
}
.reftmpbdr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdbdb -moz-use-text-color #dbdbdb #dbdbdb;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
}
.flnrtl {
    float: left;
}
.frnrtl {
    float: right;
}
.alignleft-nrtl {
    text-align: left;
}
.alignright-nrtl {
    text-align: right;
}
.scriptAlign {
}
.fldAlign-rtl {
    text-align: left;
}
.grbgdiv {
    float: left;
}
