/*$Id$ */
.reportwizardheader {
	background: url('/images/accountdetbg.gif') repeat-x left top;
	background-color: #ffffff;
	border-top: 3px solid #7992B8;
	border-left: 0px solid #7992B8;
	border-right: 0px solid #7992B8;
	padding-bottom: 0px;
}
#reportstep {
	height: 23px;
	background: #ECECEC;
	position: relative;
	cursor: var(--sdpcursor-pointer);
	margin: 0px;
	padding-left: 20px;
}
#rcstep1, #rcstep2, #rcstep3, #rcstep4, #rcstep5 {
	float: left;
	margin: 10px;
	margin-left: 12px;
	padding-bottom: 10px;
	width: auto;
}
.reportsOutline {
	padding: 1px;
	border: 1px #DBDBDB solid;
}
.whitebgBorderreport {
	border: 1px solid #CCD3DA;
	border-bottom:none;
}
table.whitebgBorderreport .oddRow, 
table.whitebgBorderreport .evenRow {
	height:35px;
}
.reportsHeading {
	border: 1px solid #e0e0e0;
	height: 24px;
	padding:6px 2px 6px 14px;
	border-bottom:none;
}
.reportsHeading #heading a {
	color:#444;
	font-weight: bold;
	display: block;
	text-decoration: none;
}
.reportsHeading #heading a:hover {
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
}
.reportsEditLink {
	position: relative;
	display: block;
	height: 18px;
	width: auto;
	float: left;
	padding: 5px 10px 0 0;
}
.reporttablelist div.reportsEditLink a {
	text-decoration: underline;
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
}
.calendar-req-innertl {
	background:url('/images/calendar-req-innertl.gif') no-repeat;
	width:6px;
	height:6px;
}
.calendar-req-innertr {
	background:url('/images/calendar-req-innertr.gif') no-repeat;
	width:6px;
	height:6px;
}
.calendar-req-innerbl {
	background:url('/images/calendar-req-innerbl.gif') no-repeat;
	width:6px;
	height:6px;
}
.calendar-req-innerbr {
	background:url('/images/calendar-req-innerbr.gif') no-repeat;
	width:6px;
	height:6px;
}
.lineh18 {
	line-height:18px;
}
.infoicon {
	background:url('/images/infoicon.gif') no-repeat;
	width:18px;
	height:19px;
}
.p30px10px10px10px {
	padding:30px 10px 10px 10px;	
}
.p10px0pt0pt28px {
	padding:10px 0 0 28px;	
}
.p0px25px70px0px {
	padding:0 25px 70px 0;	
}
.matrixviewgroup {
	background:url('/images/matrixviewgroup.gif') no-repeat;	
}
.query-sample-headertxt{
	 height:32px;
  	 color: #333;
	 font-weight: normal;
	 line-height: 31px;
	 border-top:1px solid #d6d6d6;
	 vertical-align:middle;
	 padding:0 0 0 30px;
	 position:relative;
	 cursor: var(--sdpcursor-pointer);
}
.query-sample-headertxt:hover{
	color: #008ddd;
  	color: var(--link_tab_line_color, #008ddd);
}
.query-sample-headertxt:not(.query-sample-headertxt-active)::before{
	content: '';
    position: absolute;
    left: 8px;
    top: 10px;
    width: 10px;
    border-width: 5px;
    border-color: transparent transparent transparent #333;
    border-style: solid;
}
.query-sample-headertxt:not(.query-sample-headertxt-active):hover::before{
    border-color: transparent transparent transparent #008ddd;
    border-color: transparent transparent transparent var(--link_tab_line_color, #008ddd);
}
.query-sample-headertxt-inner{
	 color:#000;
	 font-size: var(--fs-12);
	 font-weight: normal;
	 line-height: 20px;
	 padding:10px 50px;
}
.query-sample-headertxt-active{
	 height:32px;
	 color:#000;
	 font-weight: bold;
	 line-height: 30px;
	 vertical-align:middle;
	 background:url('/images/columnheadbg1.gif') repeat-x left top;
	 padding:0 0 0 30px;
	 cursor: var(--sdpcursor-pointer);
}
.query-sample-headertxt-active:hover{
	color:#000;
}	
.query-sample-headertxt-active em {
	height: 6px;
    position: absolute;
    left: 8px;
    top: 12px;
    width: 10px;
	background:url('/images/actionsdroparw-expand.png') no-repeat 0 0;
}
#ui-framework-design1 div.zreport-user{
        font-weight: bold;
        color:#000;
        padding:10px 0 3px 0;
}
#ui-framework-design1 table.clrpic tr td {
        color:#636363;
}
#ui-framework-design1 div.zreport-hdrtitl,
#ui-framework-design1 span.zreport-hdrtitl {
        font-weight: bold;
}
.zrpt-cntdiv{
        padding:4px 0;
        margin-bottom:5px;
}
.zreptuser-hedrt{
		font-weight: normal !important;
        padding:3px 5px;
        text-align:center;
        border-right:1px solid #ddd;
}
.zreport-usericn{
        background:url('/images/zreport-usericn.png') no-repeat;
        height:32px;
        width:38px;
}
.zreport-dbownricn{
        background:url('/images/zreport-dbownricn.png') no-repeat;
        height:32px;
        width:38px;
}
.zreport-noteslist ul li, ul.secur-infolist li {
		font-weight: normal;
        padding:4px 3px;
        list-style:disc;
}
/* Advance Analytics Report Page */

.mTB15 {
	margin-bottom: 15px;
	margin-top: 15px;
}
.zrept-integrationbg {
	background: #fff;
}
.mr-list li {
	padding: 10px 0;
}

/* Reports Promotion Page */
.mr-container {
	width:99%;
	margin:0 auto;
	padding:25px 0 0;
}
.mr-divLeft {
	width:36%;
	padding:0 2%;
	float:left;
}
.mr-divRight {
	width:56%;
	padding:0 2%;
	float:right;
	position:relative;
}

.mr-divLeft h1 {
	font-size: var(--fs-24);
	font-weight:100;
	color:#2a3c3e;
	line-height:30px;
	margin:0 0 25px;
	position:relative;
}
.mr-divLeft h1:after {
	content:'';
	position:absolute;
	display:block;
	border-bottom:4px solid #00b0ae;
	width:47px;
	bottom:-10px;
}
.mr-divLeft p,.mr-slider li p {
	font-size: var(--fs-14);
	font-weight:100;
	color:#53595c;
	line-height:22px;
	text-align:left;
	padding:10px 0;
}

.mr-mTB {
	margin:20px 0;
}

.mr-list li {
	padding:5px 0;
	margin:0;
	color:#53595c;
	font-size: var(--fs-14);
	font-family:inherit;
	line-height:20px;
}
.mr-container p a {
	color: #008ddd !important;
	color: var(--link_tab_line_color, #008ddd) !important;
	text-decoration: none;
	cursor: var(--sdpcursor-pointer);
}
.mr-reports-img img{
	border:5px solid #f3f3f3;
	width:90%;
	float:right;
	margin:30px 0 0;
}
.mr-container p a.green-disabled {
	cursor: var(--sdpcursor-default);
	opacity:.5;
}
.mr-butSec {
	padding:20px 0 0;
	text-align:center;
	clear:both;
}
.mr-butSec > p {
	font-size: var(--fs-14);
	color:#53595c;
}
.mr-butSec > div {
	display:inline-block;
	text-align:center;
	padding:0 5%;
	border-right:1px solid #e3e3e3;
	position:relative;
	width:35%;
	vertical-align:top;
	height:200px;
	margin-top:10px;
}
.mr-butSec div:last-child {
	border-right:0;
	padding-right:0;
}
.mr-butSec a img {
	vertical-align:middle;
	display:inline-block;
	padding:0 0 10px 10px;
}
.mr-but {
	 padding: 8px 20px 3px;
	 margin: 0 auto;
			 font-size: var(--fs-15);
	 font-weight: 300;
	 color: #fff;
	 display: block;
	 text-decoration: none;
	 text-transform: uppercase;
	 max-width: 140px;
}
.mr-but.red {
	background:#e9142b;
}
.mr-but.green {
	background:#7bbb2a;
}
.mr-small {
	color:#777;
	padding:10px 0;
}
.mr-butSec > div:last-child:before { 
	position: absolute; 
	content: '(OR)'; 
	display: block; 
	left: -24px; 
	top: 33%; 
	width: 50px; 
	height: 63px; 
	background: #fff; 
	line-height: 63px; 
	font-size: var(--fs-16); 
	font-weight: 300; 
	color: #777; 
}
.mr-butSec div img{
   display:inline-block;
   text-align:center;
   padding:0 15% 10px;
   max-width: 80%;
}
.mr-butSec a img {
   vertical-align:middle;
   display:inline-block;
   padding:0 0 0 10px;
}
.mr-butSec div > img {
  display: block; 
  text-align: center; 
  padding: 0 0 10px 0; 
  max-width: 80%; 
  margin: 0 auto;
}
.reportsHeading.active, .reportsHeading.active a{
	background-color: #f5f5f5;
	color : #008ddd !important;
        color : var(--link_tab_line_color, #008ddd) !important;
}
.managefolder .headligreenBg{
	background-color: #f5f5f5;
	height: 33px;
}
.managefolder .headligreenBg:hover td{
	background-color: #f5f5f5;
}
.managefolder tr td{
	border-bottom: 1px solid #f1f1f1;
	padding:10px 7px !important;
}
.managefolder tr:hover{
	background:#fafafa;
}
.managefolder tr:hover a{
	color : #008ddd !important;
        color : var(--link_tab_line_color, #008ddd) !important;
}
/*Advance matrix revamp start*/
td.matrix-header.fontHead {
    padding: 7px 0px 7px 17px !important;
    color:#000;
}
.matrixreport .columnheader{
    background: #F4F4F4;
    padding: 8px 0px 8px 8px !important;
    border-bottom: 1px solid #CECECE;
    border-radius: 5px 5px 0px 0px;
}
.matrixreport .columngroup1{
    padding: 22px 25px 0px 32px;
}
.matrixreport .columngroup1 div.columndiv,.matrixreport .columngroup2 div.columndiv,.matrixreport .columngroup3 div.columndiv{
    border: 1px solid #CECECE;
    border-radius: 5px;
    padding-bottom: 10px;
}
.matrixreport .columngroup1 div.columndiv,.matrixreport .columngroup2 div.columndiv{
    min-height:250px;
}
.matrixreport .columngroup1 table td,.matrixreport .columngroup2 table td,.matrixreport .columngroup3 table td{
    padding: 5px 15px !important;
}
.matrixreport .columngroup1 table tr:nth-child(odd) td,.matrixreport .columngroup2 table tr:nth-child(odd) td,.matrixreport .columngroup3 table tr:nth-child(odd) td{
    padding-top: 10px !important;
}
.matrixreport .columngroup2{
    padding: 32px 22px 0px 30px;
}
.matrixreport .columngroup3{
    padding: 0px 30px 0px 225px;
}
.adv-matrix-img{
    vertical-align: top;
    text-align:right;
    padding: 100px 20px 0px 0px !important;
}
.adv-matrix-img img{
    width: 435px;
	display: block;
    margin-left: 83px;
}
.adv-matrix-img .connector1 {
    width: 264px;
    left: -20px;
    margin-top: 10px;
    white-space: nowrap;
	font-family: initial;
}
.adv-matrix-img .connector1 span:nth-child(odd) {
    display: inline-block;
    height: 54px;
    border-left: 2px solid #e3e3e3;
}
.adv-matrix-img .connector1 span:nth-child(even) {
    margin: 27px -4px;
    display: inline-block;
    width: 260px;
    border-bottom: 2px solid #e3e3e3;
}
.adv-matrix-img .connector2{
    margin: -7px 0px 0px -39px;
    height:95%;
}
.adv-matrix-img .connector2 span:nth-child(1){
    display: inline-block;
    width: 54px;
    border-bottom: 2px solid #e3e3e3;
    position: absolute;
    left: 147px;
    margin-top: 9px;
}
.adv-matrix-img .connector2 span:nth-child(2){
    position: absolute;
    display: block;
    height:calc(100% - 150px);
    margin: 10px 27px;
    border-right: 2px solid #e3e3e3;
    width: 186px;
    border-bottom: 2px solid #e3e3e3;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .adv-matrix-img .connector2 span:nth-child(2) { height:calc(100% - 310px); }
} 
.adv-matrix-img .connector2 span:nth-child(2) span{
    position: absolute;
    left: -2px;
    bottom: -27px;
    display: inline-block;
    height: 54px;
    border-left: 2px solid #e3e3e3;
    border-bottom:none;
}
/*Advance matrix revamp end*/

/* Drilldown Reports begins */
.drilldown-body{
  width: 100%;
  min-height: calc(100vh - 190px );
  border: 1px solid #ddd;
  background-image: url(/images/editor_bg.svg);
  background-size: 50px;
  background-repeat: repeat;
}
.gs-w .page-bg{
	height: 100%;
}
.gs-w .dd-container{
	height: 100%;
}
.gs-w .drilldown-body{
	height: calc(100% - 60px);
}
.new-dialog{
  top:10px
}
#dd_reports .dd-criteria.new-dialog{
  width:350px;
  top:22px
}
#dd_reports .dd-criteria.new-dialog .ml-1{
	margin-left: -1px;
}
.drilldown-tabhead{
 padding: 10px;
}
.drilldown-tabhead ul{
 list-style: none;
 padding-left: 0px;
 margin-bottom: 0px;
}
.drilldown-tabhead ul li {
 display: inline-block;
 padding: 0px 15px;
 border-right: 1px solid #ccc;
}
.drilldown-tabhead ul li:last-child{
	border: 0px;
}
.drilldown-tabhead ul li a{
 color: #008ddd;
 color: var(--link_tab_line_color, #008ddd);
 cursor: var(--sdpcursor-pointer);
}
.drilldown-tabhead ul li.active a{
 color: #000;
}
.dd-criteria.new-dialog .pointer{
  right:70px;
  left:inherit
}
.drilldown-body .new-dialog .pointer::after{
  border-bottom: 12px solid #f1f1f1!important;
}
.drilldown-body ul.sdmenu-dd > li  li a{
 color: #515151;
 padding: 5px 12px;
 white-space: normal;
 display: block;
}
.drilldown-body ul.sdmenu-dd > li  li:hover{
  background-color: #f1f1f1;
}
.drilldown-body ul.sdmenu-dd > li  li:hover a{
  color: #008ddd;
  color: var(--link_tab_line_color, #008ddd);
}
.dd-label{
  display: inline-block;
  min-width: 150px;
  color:#333
}
.dd-label-left{
  margin-left:70px
}
.dd-link{
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}
.dd-list-header.new-dialog{
  width:215px;
  top:0;
  background-color: #F1F1F1;
  box-shadow: 0px 0px;
  position:relative;
  padding: 8px;
  box-sizing: border-box;
}
.dd-list-body{
 width:200px;
 max-height: 40vh;
 overflow: hidden;
}
.dd-list-body ul{
 overflow:hidden
}
.dd-node-hover:hover{
 fill:#008ddd!important
}
path.link{
 fill:none;
 stroke: #ddd
}
.drilldown-canvas .node{
 cursor: var(--sdpcursor-pointer);
}
.drilldown-body .content-list li{
 padding: 0px!important;
}
.drill-tooltip{
  padding: 5px 10px;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #ddd;
  z-index: 99;
}
.drill-list a{
	width: calc(100% - 24px);
	white-space:nowrap !important;
	text-overflow: ellipsis;    
	max-width: 190px;
    overflow: hidden;
}
#criteria_content .calendaricon{
	background-image: url(/images/ui-common-view.svg?15140);
	background-position: -267px -752px;
    width: 20px;
}
.dd-title{
	background-color: #f5f5f5;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: 57px;
    border: 1px solid #ececec;
    margin-left: 15px;
    font-size: var(--fs-13);
    color: #333;
    left: 0px;
	z-index:1;
}
.drilldown-header{
	position: relative;
	margin-bottom: 10px;
	padding-bottom: 15px;
}
.dd-container{
	padding: 10px 15px;
	padding-top: 0px;
}
/* Drilldown Reports ends */

.zrept-integration ul, .ul-property ul { 
	margin-block-start: 1em;
	margin-block-end: 1em;  
	padding-inline-start: 40px;
}
.zrept-integrationbg{ 
	padding:10px 20px;
	box-sizing: border-box;
 }
 .zrept-integrationbg .zrept-integration{ 
		font-weight: normal;
	 line-height: 22px;
	border-radius:4px;
	color:#3d3d3d ;
 }
 .zrept-integrationbg .zrept-integration a, .zrept-integrationbg .zrept-integration a:hover{
	color: #008ddd;
	color:var(--link_tab_line_color, #008ddd);
	font-weight: normal!important;
	 line-height: 22px!important;
	text-decoration:none;
 }
.zrept-integration ol{
 color:#000;
}
