.lsprite.li-clmchooser1{
        background-image: url('/images/ui-common-view.svg?15140');
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: sub;
        vertical-align: top !important;
        background-position: -368px -474px;
        margin:05px;
}
.truncate-ellipsis .truncate-wrapper {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}
.truncate-ellipsis {
    display: table !important;
    table-layout: fixed;
    width: auto;
    white-space: nowrap;
}
.disp-c{
    display: table-cell !important;
}
.vmiddle {
    vertical-align: middle !important;
}
.disp-t {
    display: table;
}
.cur-ptr{
    cursor: var(--sdpcursor-pointer);
}
.icon-sm{ 
    width: 16px; 
    height:16px; 
}
