/* SDPOutlookAddIn.jsp */
*{
	box-sizing: border-box;
}
iframe.outlk-frame {
    width :320px;
    border: none;
}
.outlk-center {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 50%;
    width: 100%;
    top: 50%;
    text-align: center;
}
.welcomeIcon{
    width: auto;
    height: 140px;
    margin: 0 auto;
}
.outlookaddin,.outlookaddin .tc-kanban{
    direction: ltr;
}
.outlookaddin>*,.outlookaddin .tc-kanban>*{
    direction: rtl;
}
.outlookaddin{
    overflow: hidden !important;
}
/* SDPOutlookAddIn.jsp */

/* WORequestListView.jsp */
@font-face {
    font-family: "sdpAddin";
    src: url("https://css.zohostatic.com/connects/v82/fonts/outlook/SDPOnDemand/sdpAddin.eot?ddx7ul");
    src: url("https://css.zohostatic.com/connects/v82/fonts/outlook/SDPOnDemand/sdpAddin.eot?ddx7ul#iefix")
   format("embedded-opentype"),
   url("https://css.zohostatic.com/connects/v82/fonts/outlook/SDPOnDemand/sdpAddin.ttf?ddx7ul")
   format("truetype"),
   url("https://css.zohostatic.com/connects/v82/fonts/outlook/SDPOnDemand/sdpAddin.woff?ddx7ul")
   format("woff"),
   url("https://css.zohostatic.com/connects/v82/fonts/outlook/SDPOnDemand/sdpAddin.svg?ddx7ul#icomoon")
   format("svg");
    font-weight: normal;
    font-style: normal;
    }
[class^="sdpIcon-"], [class*=" sdpIcon-"]{
    font-family: 'sdpAddin' !important;
    color: #666;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: var(--fs-16);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sdpIcon-plus:before {
    content: "\e90b";
}
.sdpIcon-arrow:before{
    content: "\e901";
    font-size: var(--fs-6);
}
.sdpIcon-search:before {
    content: "\e90d";
}
.sdpIcon-more:before {
    content: "\e913";
}
.sdpIcon-leftarrow:before {
    content: "\e901";
    font-size: var(--fs-10);
    transform: rotate(90deg);
    display: inline-block;
    margin: 0 7px 7px 0;
}
.sdpIcon-note:before {
    content: "\e909";
}
.sdpIcon-forward:before {
    content: "\e907";
}
.sdpIcon-FormReset:before, .sdpIcon-mailFetch:before {
    font-size: var(--fs-20);
    margin-right: 5px;
    font-weight: bold;
    box-shadow: 0 0 black;
}
.sdpIcon-mailFetch:before {
    content: "\e911";
}
.sdpIcon-FormReset:before {
    content: "\e910";
}
.worequestlistview *{
box-sizing: border-box;
}
.inactive {
    opacity: 0.2;
    color: inherit;
    cursor: var(--sdpcursor-default);
}
.btn-addIn span{
  color: #fff;
  margin-bottom: 5px;
}
.btn-addIn{
  display: table-cell;
  text-align: center;
  font-size: var(--fs-14);
  border: none;
  border-right: 1px solid #14B1FB;
  padding: 15px 0px;
  background: #0BA3EC;
  color: #fff;
  cursor: var(--sdpcursor-pointer);
  transition: all 0.15s;
  width: 100%;
  margin:0;
}
.btn-addIn:hover{
  background: #0d97d9;
  color: #fff;
}
.addIn-footer{
  display: table;
  padding:0;
}
.sdpIcon-reply:before{
  content: "\e90c";
}
.sdpIcon-addLog:before {
  content: "\e900";
}
.sdpIcon-edit:before {
    content: "\e906";
}
.outlookaddin .form-horizontal.four-col .left-col{
    padding-right: 10px;
}
.outlookaddin .tc-kanban{
    height : calc(100vh - 47px) !important
}
.outlookaddin .filter-menu.req-ctrl{
    margin-right : 10px !important;
}
/* WORequestListView.jsp */

/* WOForm.jsp */
.outlookaddin.req-temp{
    overflow: auto !important;
    height: calc(100vh - 86px) !important;
}
.outlookaddin .detailview.req-temp {
    width: 100%;
    padding: 0!important;
}
.outlookaddin .form-requesterdetails {
    padding: 0 10px;
}
.req-temp .addin-asset, 
.form-section>.form-section.pb20,
.req-temp .form-wrapper.pb25{
    padding-bottom: 0 !important;
}
.outlookaddin .addin-user .col-fields .left-col,
.outlookaddin .addin-asset .col-fields .left-col,
.outlookaddin .addin-user .col-fields .right-col,
.outlookaddin .addin-asset .col-fields .right-col {
    display: block;
    width: 100%;
    padding: 0!important;
}
.outlookaddin .addin-user .col-fields .left-col,
.outlookaddin .addin-asset .col-fields .left-col,
.outlookaddin .form-horizontal.four-col.form-edit .left-col {
    text-align: right!important;
}
.outlookaddin .addin-user .col-fields .right-col,
.outlookaddin .addin-asset .col-fields .right-col {
    float: right;
}
.addin-user .col-xs-12,
.addin-asset .col-xs-12{
    padding: 0;
}
.req-temp.outlookaddin .form-footer, 
.addin-user .col-xs-12>div:first-child,
.addin-asset .col-xs-12>div:first-child{
    width:  100% !important;
}
.outlookaddin span.mandatory:empty {
    display: none;
}
.outlookaddin .addin-asset .col-fields {
    padding: 0 10px 10px;
}
.outlookaddin .addin-user .user-info label {
    width: 100%;
    border-left: none;
    margin-bottom: 5px!important;
}
.outlookaddin .req-temp-list>span,
.outlookaddin .addin-user .col-fields .right-col .user_req_detail,
.outlookaddin .addin-user .col-fields .right-col>div>a,
.outlookaddin .addin-asset .col-fields .right-col>div>a,
.outlookaddin .addin-user .user-info a,
.outlookaddin .right-col .helpText {
    display: none !important;
}

.outlookaddin .fafr-label.control-label,
.outlookaddin .right-col.spot-field {
    padding-right: 10px !important;
    padding-left: 10px !important;
}
.form-template .form-horizontal.four-col.form-edit .right-col{
    padding-right: 10px;
    padding-left: 10px;
}
.outlookaddin .ui-dialog .fafr-label.control-label,
.outlookaddin .ui-dialog .right-col.spot-field {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.outlookaddin .answer-block.radio-blk .block-bordered {
    min-width: 200px;
}
.outlookaddin .addresource .addresourceul {
    width: 100%;
}
.outlookaddin .detailview .content-panel{
    border-right: 0;
    border-left: 0;
}
.addin-asset{
    padding-bottom: 15px;
    margin-top: -10px;
}
/*  SD-95148 */
.ol-res-dw{
    width: 50% !important;
}
#select2-drop .select2-result-label span div.ol-res-dw {
    width: 45% !important;
    padding-right: 5px !important;
}
.addresourceul.addresourcecontent>div{
    padding-right: 10px !important;
    padding-left: 10px !important;
}
/*  SD-95148 */
/* WOForm.jsp */

/* WOPropertyDetails.jsp */
.addIn-lhnormal{
    line-height: normal;
}
.outlookaddin .form-horizontal.four-col.form-edit .pro-detail .form-section:not(:last-child){
    margin-bottom: 0;
}
.outlookaddin .form-horizontal.four-col.form-edit .pro-detail .section-title+.form-section .col-fields{
    border-top : 1px solid #eee;
}
.outlookaddin .form-horizontal.four-col.form-edit .col-group .col-fields{
    margin-bottom: 0; 
    border-bottom : 1px solid #eee;
}
body.outlookaddin{
    position : relative;
}
.outlookaddin .uitooltip-track,.outlookaddin .uitooltip-popover{
    max-width: 75%;
}
.outlookaddin .form-horizontal.four-col .pro-detail .left-col{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.outlookaddin #detailview{
    overflow: auto;
    height: calc(100vh) !important;
}
/* WOPropertyDetails.jsp */