/*Select Template Plugin*/ 
.AcnTemplate .ea-filter{ 
    border:1px solid #dfdfdf;
    width:314px; height:19px;
    background:none;
    line-height:19px; 
    padding:0px 10px 0px 23px;
    margin:4px 10px 4px 10px; 
} 
.AcnTemplate .extmptftr{
    margin-top:0px; border:none;
    overflow:auto;
    width:348px; height:245px; background:none; line-height:19px;
} 
.AcnTemplate .extmptftr ul.stmpt {padding-left:0px;}
.AcnTemplate .extmptftr .stmpt li{
    padding:3px 10px 3px 10px; list-style:none;
    font-weight:normal;
}
.AcnTemplate .extmptftr .stmpt li:hover{
    background-color:#f5f5f5;
}
.AcnTemplate .extmptftr .stmpt li label{cursor: var(--sdpcursor-pointer);}
.AcnTemplate .FTemDiv{
    position: relative; 
    min-height: 170px;
    height: auto;
    width:350px;
    box-shadow:none;
    border:1px solid #ccc; clear:both;
    background-color:#fff;
    z-index:10;
 }
.AcnTemplate .tmtHdr{background-color:#f5f5f5; padding-bottom:7px; border-bottom:1px solid #e8e8e8; padding-top:10px;} 
 
.AcnTemplate .mTLi{cursor: var(--sdpcursor-pointer);}  #SelectedTemplates .mTLi{cursor: var(--sdpcursor-pointer);} 
.AcnTemplate .stmpt .tmpthdr, .AcnTemplate .extmptftr .stmpt li.tmpthdr .inrHtml {font-weight: bold;}
.overTooltip {
        display:none;
        position:absolute;
        border:1px solid #000;
        background-color:#333;
        border-radius:5px;
        padding:5px;
        color:#fff;
        z-index:100;
        width:300px;
        margin-top:7px;
}  
#shSrcIcon.bdrbe8, #selTmpSh.bdrbe8{border-bottom:1px solid #e8e8e8;} 
.AcnTemplate .FTemDiv{
  margin:10px 0px 0px 0px;
} 
.selHdrBr {
    border-bottom: 2px solid #5ec2eb;
    color: #555555;
    cursor: var(--sdpcursor-pointer);
    font-weight: bold;
    padding: 0px 4px 5px 4px;
}
.selHdrBrn {
    cursor: var(--sdpcursor-pointer);
    color: #555555;
    padding: 0px 4px 0px 4px;
}
.bgdiv{background-color:#fcf8e3; border:1px solid #faebcc; line-height:19px;}
/*Select Tempalte Plugin*/
