/*$Id :$ */

.sugs-tabs .sdtab-content {
	padding: 8px 10px;
}

/* Suggest Solutions  */
#resolutionDetails_tab {
    position: relative;
}
#resolutionDetails_tab a {
    padding-right: 30px;
}
#resolutionDetails_tab span {
    position: absolute;
    right:5px;
    cursor: var(--sdpcursor-pointer);
}
.solutn-sugges ul {
    padding: 0;
    margin: 0;
}
.solutn-sugges ul li {
    padding: 10px 12px;
    list-style: none;
    border-bottom: 1px solid #e7e7e7;
}
.solutn-sugges ul li:hover {
    background: #f9f9f9;
}
.sdtab-content .header {
    background: #f5f5f5;
    font-weight: normal;
    padding: 8px 10px;
}
.sugessolution-searchrow {
    margin-right: 10px;
    position: relative;
}
.sugessolution-searchrow .sugessolution-searchicon {
    background-image: url('/images/sdp-icons-pack1.png');
    background-position: -792px -462px;
    height: 13px;
    left: 9px;
    position: absolute;
    top: 6px;
    width: 13px;
    cursor: var(--sdpcursor-pointer);
}
.sugessolution-searchrow .admin-searchbar {
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 4px;
    height: 19px;
    outline: medium none;
    padding: 2px 28px 1px 29px;
    width: 175px;
    box-sizing: inherit;
}
.searchdrop-arrow,
#ui-framework-design1 .searchdrop-arrow {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid #a5a5a5;
    display: inline-block;
    height: 0;
    margin-left: 12px;
    vertical-align: middle;
    width: 0;
}
#ui-framework-design1 .sug-serch-menu {
    top: 16px;
    width: 295px;
}
.sugesn-linkstyle a {
    padding: 8px;
    color:#008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
.sdtab-pane .sugesn-linkstyle {
    opacity: 0;
    white-space: nowrap;
    padding: 8px 14px 0;
    color: #ccc
}
.sdtab-pane ul li:hover .sugesn-linkstyle {
    opacity: 1;
}
.sugsolutin-sprite-img {
    background: url('/images/common-images.png') no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
    position: relative;
    top: 4px;
    z-index: 9;
}
.sugsolutn-marked-icon {
    background-position: -436px -615px;
    width: 16px;
}
.sugsolutn-applied-icon {
    background-position: -416px -615px;
}
.inference-solutn-icon {
    background-position: -457px -616px;
}
.remove-applied-icon {
    background-position: -480px -615px;
}
.sdtab-pane.solutn-sugges ul li .solutn-request .applie-remove {
    visibility: hidden;
}
.sdtab-pane.solutn-sugges ul li:hover .solutn-request .applie-remove {
    visibility: visible;
    cursor: var(--sdpcursor-pointer);
}
.triedsolutn {
    width: auto;
    display: inline-block;
    cursor: var(--sdpcursor-pointer);
    color:#008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
.infertxt-clr {
    color: #444;
    font-style: normal;
}
.addinference-popup {
    background: #f7f7f7;
    border: 1px solid #d1d1d1;
    width: 600px;
}
#SlnPopUp.addinference-popup, #appliedSlnPopUp.addinference-popup{
    position: absolute;
    bottom: 1px;    
}
#SlnPopUp.addinference-popup{
    right: 1px;
}
#appliedSlnPopUp.addinference-popup{
   left: 1px;    
}
.addinference-popup h3 {
    color: #505050;
    font-weight: normal;
    margin: 0;
    padding: 10px 13px 7px;
    white-space: normal;
}
.addinference-comntbg {
    padding: 0px 13px;
}
.addinference-comntbg .addinference-formStyle {
    border: 1px solid #e5e5e5;
    height: 68px;
    padding: 2px;
    width: 565px;
    font-weight: normal;
    resize: none;
}
.addinference-cmnt-innrpad {
    padding: 15px 0;
}
.resolve-request,
.resolve-request a {
    color: #6c6c6c;
    display: inline-table;
    line-height: 22px;
}
.solutn-sugges ul li:last-child {
    border-bottom: none;
}
.sug-serch-menu {
    background: #fff;
    border: 1px solid #dfdfdf;
    list-style: none;
    padding: 0;
    display: none;
    position: absolute;
    top: 13px;
    min-width: 232px;
    white-space: nowrap;
    z-index: 9;
}
.sug-serch-menu li {
    cursor: var(--sdpcursor-pointer);
    display: block;
    font-size: 100%;
    margin: 0;
    overflow: hidden;
    padding: 7px 20px;
    position: relative;
    white-space: nowrap;
}
.sug-serch-menu li:hover {
    background-color: #f9f9f9;
    color: #008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
#ui-framework-design1 .form-element .sugessolution-searchrow .admin-searchbar {
    padding: 4px 30px;
}
.checkmark:after {
    content: '';
    display: block;
    width: 3px;
    height: 6px;
    border: solid #000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 7px;
    top: 8px;
}
.solution-tabpad {
    padding: 8px 28px;
}
.sug-serch-menu .divider,
#ui-framework-design1 .sug-serch-menu .divider {
    border-top: 1px solid #e5e5e5;
    padding: 0;
}
.marked-requst {
    border-top: 1px solid #ddd;
    font-weight: bold;
}
.marked-solutn {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    color: #515151;
    font-weight: bold;
}
.marked-link > a {
    color: #069;
    display: table;
    line-height: 22px;
    text-decoration: none;
}
.sugesn-applied {
    color: #787878;
}
.applie-remove {
    position: relative;
}
.editsolutn {
    color:#008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
.appiled-sug-list {
    display: block!important;    
}
#suggested_sln_list li:hover a,
#sln_list li:hover a,
#appliedDiv:hover a,
#req_list li:hover a {
    color:#008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
.resolve-request .search-list-hedr {
    margin-left: 0;
}
#suggested_sln_list li:hover a, #sln_list li:hover a, #appliedDiv:hover a, #req_list li:hover a{
    color:#008ddd;
    color: var(--link_tab_line_color, #008ddd);
}
#resolutionDetails_tab div .rslnDetails{
    border-right: 1px solid #b3b3b5;
}
.sdtab-pane .search-list-hedr{
    margin-left: 7px;
}
.solutn-sugges .search-list-hedr{
    width: 90%;
}
/* Suggest Solutions  */
/* solution review css */
.solutions_content .approved{
    border:2px solid #40aa36;
    color: #40aa36;
}
.solutions_content .unapproved{
    border:2px solid #fcb160;
    color:#fbb66d;
}
.solutions_content .rejected{
     border:2px solid #fe001b;
    color:#fe001b;
}
.solutions_content .expired{
     border:2px solid #cb0013;
    color: #ce232b;
}
.solutions_content .pending{
     border:2px solid #d0d0d0;
    color: #555;
}
/* solution review css end*/