zia-chat-bot .ziapfUI .ziaComp_checkbox .lyteCheckbox span:before {
	background: url("./icons.svg") no-repeat -367px -112px;
    width: 19px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

zia-chat-bot .ziaChatPop .ziaComp_checkbox .lyteCheckbox span:before {
	background: url("./icons.svg") no-repeat -367px -112px;
    width: 19px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

zia-chat-bot .ziaChatPop .chatellipsisShapediv {
    background: url('./icons.svg') no-repeat -24px -235px;
    width: 100%;
    height: 147px;
    left: 0;
    position: absolute;
    transform: scaleX(1.02);
}
.disable_element{
    pointer-events: none;
}
.cancelled_wrapper{
    padding:8px;
    color: #939393;
    width: 100%;
    background: #FFFFFF;
    z-index: 6;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.skippable_btn,.stoppable_btn{
    margin: 0px 8px;
    cursor: pointer;
    display: block;
    transition: .2s;
}
.skippable_btn{
    color: #4AABFF;
}
.stoppable_btn{
    color: #FF9300;
}
.skippable_btn:hover{
    color: #088CFF;
    text-decoration: underline;
}
.stoppable_btn:hover{
    color: #FF4F4F;
    text-decoration: underline;
}
/*Markdown Tools Css Start here*/
.zia_blockquote{
    background:#EDF4FD;
    padding:10px 20px;
    border-left:3px solid #92CCFD;
    word-break: break-all;
    display: inline-block;
    margin-block-start:0.5em !important;
    margin-block-end:0.5em !important;
    margin-inline-start:0px !important;
}
.zia_orderlist{
    padding-inline-start:0em;
}
.zia_enterSpace{
    margin-bottom:10px;
}
.zia_highlight{
    background:#CAFFA9;
}
.zia_table{
    border-collapse:collapse;
}
.zia_table,.zia_table_head,.zia_table_rows,.zia_table_value{
    border:1px solid #E1E1E1;
}
.zia_table_head{
    background:#F1F1F1;
    padding:15px;
    padding-left:10px;
}
.zia_table_value{
    padding:10px;
    background:#ffffff;
}
.zia_markdown_image{
    max-width:250px;
}
.zia_orderList,.zia_unorderList{
    padding-inline-start:15px;
}
.markdown_preview a{
    text-decoration:none;
    color:#39A4FF;
}
.zia_paragraph{
    margin-block-start:0em;
    margin-block-end:0em;
}
.zia_paragraph:empty{
    padding-bottom:1.1em;
}
.markdownImage{
    max-width:250px !important;
    min-height: 100px !important;
    position:relative;
}
.imageDisplay{
    display:none !important;
}
.imageBorder{
    border:none !important;
}
.loadingDiv{
    margin:auto;
    position:absolute;
    left:0px;
    right:0px;
    text-align:center;
}   
.loadingImg{
    margin:auto;
    display:block;
}
.loadingAlt{
    margin-top: 10px;
}

/*Markdown Tools Css End here*/
/*Chat Responsive Css Start*/
@media (max-width: 425px){
    .zia-responsive-chat{
        width: 100%;
        height: 100%;
        max-width: 100%;
        right:0px;
    }
    .fullViewContainer{
        width: 100% !important;
        height: 100% !important;
    }
    .zvoice-col-md-12{
        float: left;
        width: 100%;
    }
} 
/*Chat Responsive Css ends*/