.zia_icons_feedback_primary{
	background: url('./icons.svg') no-repeat -31px -42px;
	width: 20px;
	height: 21px;
	display: inline-block;
}

.zia_icons_zia_chatHeader{
	background: url('./icons.svg') no-repeat -77px -40px;
	width: 30px;
	height: 23px;
	display: inline-block;
}

.zia_icons_gallery{
	background: url('./icons.svg') no-repeat -123px -37px;
	width: 27px;
	height: 28px;
	display: inline-block;
}

.zia_icons_phone{
	background: url('./icons.svg') no-repeat -173px -42px;
	width: 18px;
	height: 19px;
	display: inline-block;
}

.zia_icons_online{
	background: url('./icons.svg') no-repeat -211px -47px;
	width: 9px;
	height: 9px;
	display: inline-block;
}

.zia_icons_selected_round{
	background: url('./icons.svg') no-repeat -240px -41px;
	width: 21px;
	height: 21px;
	display: inline-block;
}

.zia_icons_close_large{
	background: url('./icons.svg') no-repeat -272px -43px;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.zia_icons_close{
	background: url('./icons.svg') no-repeat -299px -46px;
	width: 10px;
	height: 10px;
	display: inline-block;
}

.zia_icons_download{
	background: url('./icons.svg') no-repeat -319px -41px;
	width: 19px;
	height: 21px;
	display: inline-block;
}

.zia_icons_sheet{
	background: url('./icons.svg') no-repeat -26px -94px;
	width: 23px;
	height: 24px;
	display: inline-block;
}

.zia_icons_view{
	background: url('./icons.svg') no-repeat -63px -99px;
	width: 20px;
	height: 14px;
	display: inline-block;
}

.zia_icons_feedback_default{
	background: url('./icons.svg') no-repeat -98px -95px;
	width: 20px;
	height: 22px;
	display: inline-block;
}

.zia_icons_skip{
	background: url('./icons.svg') no-repeat -129px -102px;
	width: 10px;
	height: 9px;
	display: inline-block;
}

.zia_icons_stop{
	background: url('./icons.svg') no-repeat -150px -101px;
	width: 9px;
	height: 10px;
	display: inline-block;
}
.zia_icons_circlearrow_downprimary{
	background: url('./icons.svg') no-repeat -171px -96px;
	width: 21px;
	height: 20px;
	display:inline-block;
}
.zia_icons_circlearrow_up{
	background: url('./icons.svg') no-repeat -202px -96px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.zia_icons_stop_action{
	background: url('./icons.svg') no-repeat -232px -96px;
	width: 20px;
	height: 20px;
	display: inline-block;
}

.zia_icons_right_primary{
	background: url('./icons.svg') no-repeat -267px -99px;
	width: 20px;
	height: 14px;
	display: inline-block;
}

.zia_icons_attachment{
	background: url('./icons.svg') no-repeat -299px -96px;
	width: 10px;
	height: 20px;
	display: inline-block;
}

.zia_icons_notes_outline{
	background: url('./icons.svg') no-repeat -320px -97px;
	width: 15px;
	height: 18px;
	display: inline-block;
}
.zia_icons_triangle_dropdown{
	background: url('./icons.svg') no-repeat -348px -100px;
	width: 10px;
	height: 8px;
	display:inline-block;
}
.zia_icons_doc{
	background: url('./icons.svg') no-repeat -369px -53px;
	width: 31px;
	height: 40px;
	display: inline-block;
}

.zia_icons_pdf{
	background: url('./icons.svg') no-repeat -420px -50px;
	width: 31px;
	height: 40px;
	display: inline-block;
}

.zia_icons_unchecked{
	background: url('./icons.svg') no-repeat -367px -112px;
	width: 19px;
	height: 18px;
	display: inline-block;	
}

.zia_icons_checked{
	background: url('./icons.svg') no-repeat -397px -112px;
	width: 19px;
	height: 18px;
	display: inline-block;	
}

.zia_icons_zia{
	background: url('./icons.svg') no-repeat -429px -106px;
	width: 31px;
	height: 31px;
	display: inline-block;	
}

.zia_icons_tick{
	background: url('./icons.svg') no-repeat -27px -158px;
	width: 50px;
	height: 51px;
	display: inline-block;
}

.zia_icons_zia_whitebg_small{
	background: url('./icons.svg') no-repeat -93px -177px;
	width: 18px;
	height: 13px;
	display: inline-block;
}

.zia_icons_minimize{
	background: url('./icons.svg') no-repeat -129px -183px;
	width: 15px;
	height: 2px;
	display: inline-block;
}

.zia_icons_chat_ellipsis{
	background: url('./icons.svg') no-repeat -24px -235px;
	width: 433px;
	height: 139px;
	display: inline-block;
}

.ziasdk_icons_info_primary{
	background: url('./icons.svg') no-repeat -18px -386px;
	width: 18px;
	height: 18px;
	display: inline-block;
}
.ziasdk_icons_datepicker_calendar{
	background: url('./icons.svg') no-repeat -72px -386px;
	width: 16px;
	height: 16px;
	display:inline-block;
}
.ziasdk_icons_datepicker_clock{
	background: url('./icons.svg') no-repeat -98px -386px;
	width: 16px;
	height: 16px;
	display:inline-block;
}
.ziasdk_icons_fileupload_doc{
	background: url('./icons.svg') no-repeat -126px -387px;
	width: 23px;
	height: 30px;
	display:inline-block;	
}
.ziasdk_icons_fileupload_processing{
	background: url('./icons.svg') no-repeat -162px -391px;
	width: 18px;
	height: 16px;
	display:inline-block;	
}
.ziasdk_icons_fileupload_done{
	background: url('./icons.svg') no-repeat -194px -388px;
	width: 30px;
	height: 30px;
	display:inline-block;	
}
.ziasdk_icons_fileupload_close{
	background: url('./icons.svg') no-repeat -236px -386px;
	width: 30px;
	height: 31px;
	display:inline-block;
}
.ziasdk_icons_fileupload_closeerror{
	background: url('./icons.svg') no-repeat -280px -386px;
	width: 30px;
	height: 31px;
	display:inline-block;
}

.ziasdk_consent_accounts{
	background: url('./icons.svg') no-repeat -346px -392px;
	width: 14px;
	height: 19px;
	display:inline-block;
}

.ziasdk_consent_link{
	background: url('./icons.svg') no-repeat -374px -396px;
	width: 15px;
	height: 15px;
	display:inline-block;
}

.ziasdk_consent_tasks{
	background: url('./icons.svg') no-repeat -402px -387px;
	width: 17px;
	height: 24px;
	display:inline-block;
}
.ziasdk_error_throw{
	background: url('./icons.svg') no-repeat -20px -429px;
	width: 87px;
	height: 62px;
	display: inline-block;
}