.zvoice-container,
.zvoice-container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:768px) {
    .zvoice-container {
        width: 750px
    }
}

@media (min-width:992px) {
    .zvoice-container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .zvoice-container {
        width: 1170px
    }
}

.zvoice-row {
    margin-left: -15px;
    margin-right: -15px
}

.zvoice-col-lg-1,
.zvoice-col-lg-10,
.zvoice-col-lg-11,
.zvoice-col-lg-12,
.zvoice-col-lg-2,
.zvoice-col-lg-3,
.zvoice-col-lg-4,
.zvoice-col-lg-5,
.zvoice-col-lg-6,
.zvoice-col-lg-7,
.zvoice-col-lg-8,
.zvoice-col-lg-9,
.zvoice-col-md-1,
.zvoice-col-md-10,
.zvoice-col-md-11,
.zvoice-col-md-12,
.zvoice-col-md-2,
.zvoice-col-md-3,
.zvoice-col-md-4,
.zvoice-col-md-5,
.zvoice-col-md-6,
.zvoice-col-md-7,
.zvoice-col-md-8,
.zvoice-col-md-9,
.zvoice-col-sm-1,
.zvoice-col-sm-10,
.zvoice-col-sm-11,
.zvoice-col-sm-12,
.zvoice-col-sm-2,
.zvoice-col-sm-3,
.zvoice-col-sm-4,
.zvoice-col-sm-5,
.zvoice-col-sm-6,
.zvoice-col-sm-7,
.zvoice-col-sm-8,
.zvoice-col-sm-9,
.zvoice-col-xs-1,
.zvoice-col-xs-10,
.zvoice-col-xs-11,
.zvoice-col-xs-12,
.zvoice-col-xs-2,
.zvoice-col-xs-3,
.zvoice-col-xs-4,
.zvoice-col-xs-5,
.zvoice-col-xs-6,
.zvoice-col-xs-7,
.zvoice-col-xs-8,
.zvoice-col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

.zvoice-col-xs-1,
.zvoice-col-xs-10,
.zvoice-col-xs-11,
.zvoice-col-xs-12,
.zvoice-col-xs-2,
.zvoice-col-xs-3,
.zvoice-col-xs-4,
.zvoice-col-xs-5,
.zvoice-col-xs-6,
.zvoice-col-xs-7,
.zvoice-col-xs-8,
.zvoice-col-xs-9 {
    float: left
}

.zvoice-col-xs-12 {
    width: 100%
}

.zvoice-col-xs-11 {
    width: 91.66666667%
}

.zvoice-col-xs-10 {
    width: 83.33333333%
}

.zvoice-col-xs-9 {
    width: 75%
}

.zvoice-col-xs-8 {
    width: 66.66666667%
}

.zvoice-col-xs-7 {
    width: 58.33333333%
}

.zvoice-col-xs-6 {
    width: 50%
}

.zvoice-col-xs-5 {
    width: 41.66666667%
}

.zvoice-col-xs-4 {
    width: 33.33333333%
}

.zvoice-col-xs-3 {
    width: 25%
}

.zvoice-col-xs-2 {
    width: 16.66666667%
}

.zvoice-col-xs-1 {
    width: 8.33333333%
}

.zvoice-col-xs-pull-12 {
    right: 100%
}

.zvoice-col-xs-pull-11 {
    right: 91.66666667%
}

.zvoice-col-xs-pull-10 {
    right: 83.33333333%
}

.zvoice-col-xs-pull-9 {
    right: 75%
}

.zvoice-col-xs-pull-8 {
    right: 66.66666667%
}

.zvoice-col-xs-pull-7 {
    right: 58.33333333%
}

.zvoice-col-xs-pull-6 {
    right: 50%
}

.zvoice-col-xs-pull-5 {
    right: 41.66666667%
}

.zvoice-col-xs-pull-4 {
    right: 33.33333333%
}

.zvoice-col-xs-pull-3 {
    right: 25%
}

.zvoice-col-xs-pull-2 {
    right: 16.66666667%
}

.zvoice-col-xs-pull-1 {
    right: 8.33333333%
}

.zvoice-col-xs-pull-0 {
    right: auto
}

.zvoice-col-xs-push-12 {
    left: 100%
}

.zvoice-col-xs-push-11 {
    left: 91.66666667%
}

.zvoice-col-xs-push-10 {
    left: 83.33333333%
}

.zvoice-col-xs-push-9 {
    left: 75%
}

.zvoice-col-xs-push-8 {
    left: 66.66666667%
}

.zvoice-col-xs-push-7 {
    left: 58.33333333%
}

.zvoice-col-xs-push-6 {
    left: 50%
}

.zvoice-col-xs-push-5 {
    left: 41.66666667%
}

.zvoice-col-xs-push-4 {
    left: 33.33333333%
}

.zvoice-col-xs-push-3 {
    left: 25%
}

.zvoice-col-xs-push-2 {
    left: 16.66666667%
}

.zvoice-col-xs-push-1 {
    left: 8.33333333%
}

.zvoice-col-xs-push-0 {
    left: auto
}

.zvoice-col-xs-offset-12 {
    margin-left: 100%
}

.zvoice-col-xs-offset-11 {
    margin-left: 91.66666667%
}

.zvoice-col-xs-offset-10 {
    margin-left: 83.33333333%
}

.zvoice-col-xs-offset-9 {
    margin-left: 75%
}

.zvoice-col-xs-offset-8 {
    margin-left: 66.66666667%
}

.zvoice-col-xs-offset-7 {
    margin-left: 58.33333333%
}

.zvoice-col-xs-offset-6 {
    margin-left: 50%
}

.zvoice-col-xs-offset-5 {
    margin-left: 41.66666667%
}

.zvoice-col-xs-offset-4 {
    margin-left: 33.33333333%
}

.zvoice-col-xs-offset-3 {
    margin-left: 25%
}

.zvoice-col-xs-offset-2 {
    margin-left: 16.66666667%
}

.zvoice-col-xs-offset-1 {
    margin-left: 8.33333333%
}

.zvoice-col-xs-offset-0 {
    margin-left: 0
}

@media (min-width:768px) {
    .zvoice-col-sm-1,
    .zvoice-col-sm-10,
    .zvoice-col-sm-11,
    .zvoice-col-sm-12,
    .zvoice-col-sm-2,
    .zvoice-col-sm-3,
    .zvoice-col-sm-4,
    .zvoice-col-sm-5,
    .zvoice-col-sm-6,
    .zvoice-col-sm-7,
    .zvoice-col-sm-8,
    .zvoice-col-sm-9 {
        float: left
    }
    .zvoice-col-sm-12 {
        width: 100%
    }
    .zvoice-col-sm-11 {
        width: 91.66666667%
    }
    .zvoice-col-sm-10 {
        width: 83.33333333%
    }
    .zvoice-col-sm-9 {
        width: 75%
    }
    .zvoice-col-sm-8 {
        width: 66.66666667%
    }
    .zvoice-col-sm-7 {
        width: 58.33333333%
    }
    .zvoice-col-sm-6 {
        width: 50%
    }
    .zvoice-col-sm-5 {
        width: 41.66666667%
    }
    .zvoice-col-sm-4 {
        width: 33.33333333%
    }
    .zvoice-col-sm-3 {
        width: 25%
    }
    .zvoice-col-sm-2 {
        width: 16.66666667%
    }
    .zvoice-col-sm-1 {
        width: 8.33333333%
    }
    .zvoice-col-sm-pull-12 {
        right: 100%
    }
    .zvoice-col-sm-pull-11 {
        right: 91.66666667%
    }
    .zvoice-col-sm-pull-10 {
        right: 83.33333333%
    }
    .zvoice-col-sm-pull-9 {
        right: 75%
    }
    .zvoice-col-sm-pull-8 {
        right: 66.66666667%
    }
    .zvoice-col-sm-pull-7 {
        right: 58.33333333%
    }
    .zvoice-col-sm-pull-6 {
        right: 50%
    }
    .zvoice-col-sm-pull-5 {
        right: 41.66666667%
    }
    .zvoice-col-sm-pull-4 {
        right: 33.33333333%
    }
    .zvoice-col-sm-pull-3 {
        right: 25%
    }
    .zvoice-col-sm-pull-2 {
        right: 16.66666667%
    }
    .zvoice-col-sm-pull-1 {
        right: 8.33333333%
    }
    .zvoice-col-sm-pull-0 {
        right: auto
    }
    .zvoice-col-sm-push-12 {
        left: 100%
    }
    .zvoice-col-sm-push-11 {
        left: 91.66666667%
    }
    .zvoice-col-sm-push-10 {
        left: 83.33333333%
    }
    .zvoice-col-sm-push-9 {
        left: 75%
    }
    .zvoice-col-sm-push-8 {
        left: 66.66666667%
    }
    .zvoice-col-sm-push-7 {
        left: 58.33333333%
    }
    .zvoice-col-sm-push-6 {
        left: 50%
    }
    .zvoice-col-sm-push-5 {
        left: 41.66666667%
    }
    .zvoice-col-sm-push-4 {
        left: 33.33333333%
    }
    .zvoice-col-sm-push-3 {
        left: 25%
    }
    .zvoice-col-sm-push-2 {
        left: 16.66666667%
    }
    .zvoice-col-sm-push-1 {
        left: 8.33333333%
    }
    .zvoice-col-sm-push-0 {
        left: auto
    }
    .zvoice-col-sm-offset-12 {
        margin-left: 100%
    }
    .zvoice-col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .zvoice-col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .zvoice-col-sm-offset-9 {
        margin-left: 75%
    }
    .zvoice-col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .zvoice-col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .zvoice-col-sm-offset-6 {
        margin-left: 50%
    }
    .zvoice-col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .zvoice-col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .zvoice-col-sm-offset-3 {
        margin-left: 25%
    }
    .zvoice-col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .zvoice-col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .zvoice-col-sm-offset-0 {
        margin-left: 0
    }
}

@media (min-width:992px) {
    .zvoice-col-md-1,
    .zvoice-col-md-10,
    .zvoice-col-md-11,
    .zvoice-col-md-12,
    .zvoice-col-md-2,
    .zvoice-col-md-3,
    .zvoice-col-md-4,
    .zvoice-col-md-5,
    .zvoice-col-md-6,
    .zvoice-col-md-7,
    .zvoice-col-md-8,
    .zvoice-col-md-9 {
        float: left
    }
    .zvoice-col-md-12 {
        width: 100%
    }
    .zvoice-col-md-11 {
        width: 91.66666667%
    }
    .zvoice-col-md-10 {
        width: 83.33333333%
    }
    .zvoice-col-md-9 {
        width: 75%
    }
    .zvoice-col-md-8 {
        width: 66.66666667%
    }
    .zvoice-col-md-7 {
        width: 58.33333333%
    }
    .zvoice-col-md-6 {
        width: 50%
    }
    .zvoice-col-md-5 {
        width: 41.66666667%
    }
    .zvoice-col-md-4 {
        width: 33.33333333%
    }
    .zvoice-col-md-3 {
        width: 25%
    }
    .zvoice-col-md-2 {
        width: 16.66666667%
    }
    .zvoice-col-md-1 {
        width: 8.33333333%
    }
    .zvoice-col-md-pull-12 {
        right: 100%
    }
    .zvoice-col-md-pull-11 {
        right: 91.66666667%
    }
    .zvoice-col-md-pull-10 {
        right: 83.33333333%
    }
    .zvoice-col-md-pull-9 {
        right: 75%
    }
    .zvoice-col-md-pull-8 {
        right: 66.66666667%
    }
    .zvoice-col-md-pull-7 {
        right: 58.33333333%
    }
    .zvoice-col-md-pull-6 {
        right: 50%
    }
    .zvoice-col-md-pull-5 {
        right: 41.66666667%
    }
    .zvoice-col-md-pull-4 {
        right: 33.33333333%
    }
    .zvoice-col-md-pull-3 {
        right: 25%
    }
    .zvoice-col-md-pull-2 {
        right: 16.66666667%
    }
    .zvoice-col-md-pull-1 {
        right: 8.33333333%
    }
    .zvoice-col-md-pull-0 {
        right: auto
    }
    .zvoice-col-md-push-12 {
        left: 100%
    }
    .zvoice-col-md-push-11 {
        left: 91.66666667%
    }
    .zvoice-col-md-push-10 {
        left: 83.33333333%
    }
    .zvoice-col-md-push-9 {
        left: 75%
    }
    .zvoice-col-md-push-8 {
        left: 66.66666667%
    }
    .zvoice-col-md-push-7 {
        left: 58.33333333%
    }
    .zvoice-col-md-push-6 {
        left: 50%
    }
    .zvoice-col-md-push-5 {
        left: 41.66666667%
    }
    .zvoice-col-md-push-4 {
        left: 33.33333333%
    }
    .zvoice-col-md-push-3 {
        left: 25%
    }
    .zvoice-col-md-push-2 {
        left: 16.66666667%
    }
    .zvoice-col-md-push-1 {
        left: 8.33333333%
    }
    .zvoice-col-md-push-0 {
        left: auto
    }
    .zvoice-col-md-offset-12 {
        margin-left: 100%
    }
    .zvoice-col-md-offset-11 {
        margin-left: 91.66666667%
    }
    .zvoice-col-md-offset-10 {
        margin-left: 83.33333333%
    }
    .zvoice-col-md-offset-9 {
        margin-left: 75%
    }
    .zvoice-col-md-offset-8 {
        margin-left: 66.66666667%
    }
    .zvoice-col-md-offset-7 {
        margin-left: 58.33333333%
    }
    .zvoice-col-md-offset-6 {
        margin-left: 50%
    }
    .zvoice-col-md-offset-5 {
        margin-left: 41.66666667%
    }
    .zvoice-col-md-offset-4 {
        margin-left: 33.33333333%
    }
    .zvoice-col-md-offset-3 {
        margin-left: 25%
    }
    .zvoice-col-md-offset-2 {
        margin-left: 16.66666667%
    }
    .zvoice-col-md-offset-1 {
        margin-left: 8.33333333%
    }
    .zvoice-col-md-offset-0 {
        margin-left: 0
    }
}

@media (min-width:1200px) {
    .zvoice-col-lg-1,
    .zvoice-col-lg-10,
    .zvoice-col-lg-11,
    .zvoice-col-lg-12,
    .zvoice-col-lg-2,
    .zvoice-col-lg-3,
    .zvoice-col-lg-4,
    .zvoice-col-lg-5,
    .zvoice-col-lg-6,
    .zvoice-col-lg-7,
    .zvoice-col-lg-8,
    .zvoice-col-lg-9 {
        float: left
    }
    .zvoice-col-lg-12 {
        width: 100%
    }
    .zvoice-col-lg-11 {
        width: 91.66666667%
    }
    .zvoice-col-lg-10 {
        width: 83.33333333%
    }
    .zvoice-col-lg-9 {
        width: 75%
    }
    .zvoice-col-lg-8 {
        width: 66.66666667%
    }
    .zvoice-col-lg-7 {
        width: 58.33333333%
    }
    .zvoice-col-lg-6 {
        width: 50%
    }
    .zvoice-col-lg-5 {
        width: 41.66666667%
    }
    .zvoice-col-lg-4 {
        width: 33.33333333%
    }
    .zvoice-col-lg-3 {
        width: 25%
    }
    .zvoice-col-lg-2 {
        width: 16.66666667%
    }
    .zvoice-col-lg-1 {
        width: 8.33333333%
    }
    .zvoice-col-lg-pull-12 {
        right: 100%
    }
    .zvoice-col-lg-pull-11 {
        right: 91.66666667%
    }
    .zvoice-col-lg-pull-10 {
        right: 83.33333333%
    }
    .zvoice-col-lg-pull-9 {
        right: 75%
    }
    .zvoice-col-lg-pull-8 {
        right: 66.66666667%
    }
    .zvoice-col-lg-pull-7 {
        right: 58.33333333%
    }
    .zvoice-col-lg-pull-6 {
        right: 50%
    }
    .zvoice-col-lg-pull-5 {
        right: 41.66666667%
    }
    .zvoice-col-lg-pull-4 {
        right: 33.33333333%
    }
    .zvoice-col-lg-pull-3 {
        right: 25%
    }
    .zvoice-col-lg-pull-2 {
        right: 16.66666667%
    }
    .zvoice-col-lg-pull-1 {
        right: 8.33333333%
    }
    .zvoice-col-lg-pull-0 {
        right: auto
    }
    .zvoice-col-lg-push-12 {
        left: 100%
    }
    .zvoice-col-lg-push-11 {
        left: 91.66666667%
    }
    .zvoice-col-lg-push-10 {
        left: 83.33333333%
    }
    .zvoice-col-lg-push-9 {
        left: 75%
    }
    .zvoice-col-lg-push-8 {
        left: 66.66666667%
    }
    .zvoice-col-lg-push-7 {
        left: 58.33333333%
    }
    .zvoice-col-lg-push-6 {
        left: 50%
    }
    .zvoice-col-lg-push-5 {
        left: 41.66666667%
    }
    .zvoice-col-lg-push-4 {
        left: 33.33333333%
    }
    .zvoice-col-lg-push-3 {
        left: 25%
    }
    .zvoice-col-lg-push-2 {
        left: 16.66666667%
    }
    .zvoice-col-lg-push-1 {
        left: 8.33333333%
    }
    .zvoice-col-lg-push-0 {
        left: auto
    }
    .zvoice-col-lg-offset-12 {
        margin-left: 100%
    }
    .zvoice-col-lg-offset-11 {
        margin-left: 91.66666667%
    }
    .zvoice-col-lg-offset-10 {
        margin-left: 83.33333333%
    }
    .zvoice-col-lg-offset-9 {
        margin-left: 75%
    }
    .zvoice-col-lg-offset-8 {
        margin-left: 66.66666667%
    }
    .zvoice-col-lg-offset-7 {
        margin-left: 58.33333333%
    }
    .zvoice-col-lg-offset-6 {
        margin-left: 50%
    }
    .zvoice-col-lg-offset-5 {
        margin-left: 41.66666667%
    }
    .zvoice-col-lg-offset-4 {
        margin-left: 33.33333333%
    }
    .zvoice-col-lg-offset-3 {
        margin-left: 25%
    }
    .zvoice-col-lg-offset-2 {
        margin-left: 16.66666667%
    }
    .zvoice-col-lg-offset-1 {
        margin-left: 8.33333333%
    }
    .zvoice-col-lg-offset-0 {
        margin-left: 0
    }
}

.zvoice-clearfix:after,
.zvoice-clearfix:before,
.zvoice-container-fluid:after,
.zvoice-container-fluid:before,
.zvoice-container:after,
.zvoice-container:before,
.zvoice-row:after,
.zvoice-row:before {
    content: " ";
    display: table
}

.zvoice-clearfix:after,
.zvoice-container-fluid:after,
.zvoice-container:after,
.zvoice-row:after {
    clear: both
}

.zvoice-center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.zvoice-pull-right {
    float: right!important
}

.zvoice-pull-left {
    float: left!important
}

.zvoice-hide {
    display: none!important
}

.zvoice-show {
    display: block!important
}

.zvoice-invisible {
    visibility: hidden
}

.zvoice-text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}

.zvoice-hidden {
    display: none!important
}

.zvoice-affix {
    position: fixed
}